<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">Change password</ui:define>

	<ui:define  name="page-content">
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">Change password for user #{loginBean.userDescription}</h:panelGroup>
		    <h:form>
				<br/>
				<h:panelGrid  columns="1">
	    			<h:outputText style="font-size: 12px; font-weight: bold;" value="Please specify a new password or leave the field blank for no change."></h:outputText>
	    			<h:inputSecret id="new_password" style="width: 300px;" value="#{loginBean.newPassword}" />
		    	</h:panelGrid>
				<br/>
				<br/>
		       	<p:commandButton actionListener="#{loginBean.changePassword}" value="Change Password"/>
	
		    </h:form>
	    </h:panelGroup>
	</ui:define>

</ui:composition>