<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">

	
	<ui:define  name="page-content">
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['groups_management']}</h:panelGroup>
	    	<h:form id="form">
			<br/>
			
			<p:panel header="#{msgs['search']}">
	    		<table>
	    			<tr>
	    				<td><h:outputLabel for="searchBox" value="#{msgs['groups.name']}"></h:outputLabel></td>
	    				<td><h:inputText id="searchBox" style="width: 250px;" value="#{manageGroupsBean.nameFilter}"></h:inputText></td>
	    			</tr>
	    			<tr>
	    				<td>
							<p:commandButton action="#{manageGroupsBean.search}" value="#{msgs['search']}"/>
						</td>
	    			</tr>
	    		</table>
	    	</p:panel>
	    
	    	<br />
	    	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,ROLE_GRO_MAN_W,ROLE_GRO_MAN_R"> -->
	    	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('groups_management')}">
	    		<p:commandButton 
	    			disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('groups_management_1'))}"
	    			action="#{manageGroupsBean.newGroup}" 
	    			value="#{msgs['groups.add']}" 
	    			immediate="true"/>
	    	</sec:authorize>

	       	 <p:dataTable id="table_g" width="98%" rows="10" var="group" value="#{manageGroupsBean.groups}" >

	       	 	
	       	 	<p:column headerText="Nome" sortBy="#{group.name}" filterBy="#{group.name}" filterMatchMode="contains">
	       	 		<h:outputText value="#{group.name}"/>
	       	 	</p:column>
	       	 	
	       	 	<p:column headerText="Numero Utenti" sortBy="#{group.numeroUtenti}" filterBy="#{group.numeroUtenti}" filterMatchMode="contains">
	       	 		<h:outputText value="#{group.numeroUtenti}"/>
	       	 	</p:column>
	       	 	
	       	 	<p:column headerText="Azioni">				       	 	
		       	 	<h:link 
		       	 		styleClass="imageButton" 
		       	 		outcome="modify_group"
		       	 		disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('groups_management_1'))}"
		       	 		>
                    	<p:graphicImage  url="/resources/images/decoration/edit.png" />
                    		<f:param name="groupId" value="#{group.id}"></f:param>
                    </h:link>
                    <p:commandLink
						oncomplete="PF('dialogDelWdgt').show()" 
						disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('groups_management_1'))}"
						styleClass="imageButton" 
						actionListener="#{manageGroupsBean.confirmDelete}">
                    	<p:graphicImage  url="/resources/images/decoration/delete.gif" />
                    		<f:param name="groupId" value="#{group.id}"></f:param>
                    </p:commandLink> 
	       	 	</p:column>
	       	</p:dataTable>
		   </h:form>
		    
		    <p:dialog id="dialogDel" styleClass="detailsBookingDlg_class" header="Group delete" 
					  widgetVar="dialogDelWdgt" modal="true" fitViewport="true" responsive="true" 
			          showEffect="clip" hideEffect="clip" draggable="false" appendTo="@(body)" positionType="absolute" position="center top" resizable="false" >  
      
			        <h:panelGroup styleClass="popupBody">
			        	<h:form>  
			            <center>
				        	<br/>
				       	  	<h:outputText value="Are you sure that you want to permanently delete the group?"></h:outputText>
				       	  	<br/><br/>
				       	  	<p:commandButton update=":dialogDel :form:table_g" oncomplete="PF('dialogDelWdgt').hide()"  actionListener="#{manageGroupsBean.delete}" value="Confirm" ></p:commandButton>
				       	  	<h:outputText value="  "/>
					        <p:commandButton update=":dialogDel" oncomplete="PF('dialogDelWdgt').hide()" actionListener="#{manageGroupsBean.cancelDelete}" value="Cancel" />
					        <br/><br/>
					    </center>
					    </h:form>
			        </h:panelGroup>
			</p:dialog>
	    
	    </h:panelGroup>
	 </ui:define>

</ui:composition>