<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">

	
	<ui:define  name="page-content">
		<f:metadata>
		    <f:viewParam name="groupId" value="#{modifyGroupBean.groupId}" />
		    <f:event type="preRenderView" listener="#{modifyGroupBean.modifyGroup}"/>
		</f:metadata>
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['groups_management']}</h:panelGroup>
	    <h:form id="form">
				<br />
		    	<h:outputLabel for="group_name_a" value="#{msgs['groups.name']}"></h:outputLabel>
		    	<h:inputText id="group_name_a" size="80" value="#{modifyGroupBean.group.name}" required="true"></h:inputText>
		    	
		    	<br /><br /><br/>
					<p:panel 
						id="basic" 
						header="Selezionare i ruoli per il gruppo:" 
						footer="Selezionare dapprima i ruoli di processo sulla sinistra. Al termine dell'aggiornamento le funzionalità stettamente correlate ai processi selezionati, verranno automaticamente aggiunte. Le funzionalità possono essere abilitate per la Modifica delle informazioni o per la sola Visualizzazione. Il segno di spunta &#8730; abilita la funzionalità in modifica mentre il segno  X la abilita in sola lettura." 
						style="margin-bottom:20px;">
						<h:panelGrid columns="2" columnClasses="columnTop,columnTop" cellpadding="10px" style="width:100%;" >
							<h:panelGroup layout="block" style="border-right: ridge;" >
					    		<h:outputLabel  value="Processo" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
				                <pe:triStateManyCheckbox 
				                	layout="pageDirection"
				                	id="rolesSelection1"  
				                	value="#{modifyGroupBean.selectedOptionsTriStateRole[0]}"
				                	>
				                    	<f:selectItems value="#{modifyGroupBean.optionRoles[0]}" /> 
				                </pe:triStateManyCheckbox>
			                 </h:panelGroup>
			                 <h:panelGrid columns="7" columnClasses="columnTop,columnTop,columnTop,columnTop,columnTop,columnTop,columnTop" style="width:100%;">
			                 	<h:panelGroup layout="block" style="vertical-align:top;"  >
					                <h:outputLabel value="Produzione" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection2"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[1]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[1]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">
					                <h:outputLabel  value="Configurazione Layout" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection3"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[2]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[2]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">			              
					                <h:outputLabel  value="Ingresso Pubblico" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection4"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[3]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[3]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">			             
					                <h:outputLabel value="Sicurezza" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection5"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[4]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[4]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">			               
					                <h:outputLabel  value="Elenco Pubblico" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection6"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[5]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[5]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">			             
					                <h:outputLabel value="Utilità" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection7"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[6]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[6]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>
			               		<h:panelGroup layout="block">			           
					                <h:outputLabel value="Utenti" style="font-weight: bold; padding-bottom:10px; display:block;"></h:outputLabel>
					                <pe:triStateManyCheckbox 
					                	layout="pageDirection"
					                	id="rolesSelection8"  
					                	value="#{modifyGroupBean.selectedOptionsTriStateRole[7]}"
					                	>
					                    	<f:selectItems value="#{modifyGroupBean.optionRoles[7]}" />
					                </pe:triStateManyCheckbox>
			               		</h:panelGroup>			                 
			                 </h:panelGrid>
						</h:panelGrid>
					</p:panel>
    	
		    	<br/>
		    	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,GRO_MAN_W,GRO_MAN_R"> -->
		    	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('groups_management')}">
		        	<p:commandButton update=":form" style="display: inline-block;"  rendered="#{modifyGroupBean.group.id==null}" actionListener="#{modifyGroupBean.addAsNew}" value="#{msgs['add']}"/>
		       		<p:commandButton update=":form" style="display: inline-block;"  rendered="#{modifyGroupBean.group.id!=null}" actionListener="#{modifyGroupBean.updateGroup}" value="#{msgs['update']}"/>
		       </sec:authorize>
		       <p:commandButton  style="display: inline-block;" action="groups_list" value="#{msgs['cancel']}" immediate="true"/>
	</h:form>
	</h:panelGroup>
	</ui:define>
</ui:composition>