<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view locale="#{languageBean.currentLocale}">

	<h:head>
		<!-- Mobile a tutto schermo -->
		<meta name="apple-mobile-web-app-capable" content="yes"></meta>
		<meta name="mobile-web-app-capable" content="yes"></meta>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> -->
		<!-- <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>  -->
		<meta name="viewport"
			content="width=device-width, height=device-height,  initial-scale=0.6, maximum-scale=1.0; minimum-scale=0.5" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>


		<!-- NO CACHE -->
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-store" />


		<title>MediasetStudios - <ui:insert name="page-title"></ui:insert>
		</title>


		<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="responsive.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="custom.css"></h:outputStylesheet>


		<!-- <h:outputScript library="js" name="jquery.js"></h:outputScript>  -->

		<script type="text/javascript">
        // <![CDATA[ 
                //var myJQuery = jQuery.noConflict();
				//var $ = myJQuery;
				var myJQuery = $;
          // ]]> 
        </script>

		<h:outputScript library="js" name="myScript.js"></h:outputScript>


	</h:head>
	<h:body>
		<p:layout id="layout_elemento" styleClass="" fullPage="true"
			widgetVar="layout_elemento">

			<p:layoutUnit id="layout_elemento_centro"
				styleClass="baseTemplateSingleRowCls" position="center"
				style="border: 0 !important;">
				<ui:insert name="page-menu"></ui:insert>

				<ui:insert name="page-content"></ui:insert>
			</p:layoutUnit>

			<p:layoutUnit position="south" size="30" resizable="false"
				collapsible="false">
				<ui:insert name="footer">
					<ui:include src="/WEB-INF/templates/footer.xhtml" />
				</ui:insert>
			</p:layoutUnit>
		</p:layout>
	</h:body>
</f:view>
</html>





