<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sec="http://www.springframework.org/security/tags">

<f:view locale="#{languageBean.currentLocale}">
	<h:head>
		<!-- Mobile a tutto schermo -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> -->
		<!-- <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>  -->
		<meta name="viewport"
			content="width=device-width, height=device-height,  initial-scale=0.6, maximum-scale=1.0, minimum-scale=0.5" />

		<ui:insert name="page-head_metas" />

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

		<!-- NOT CACHE -->
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" /> 
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-store" />

		<title>MediasetStudios<ui:insert name="page-title" />
		</title>
		<h:outputStylesheet library="css" name="style.css" />
		<h:outputStylesheet library="css" name="responsive.css" />
		<h:outputStylesheet library="css" name="custom.css" />
		<!-- <h:outputScript library="js" name="jquery.js"></h:outputScript> -->

		<!-- <h:outputScript rendered="#{!navigationBean.mobileBrowser}" library="js" name="jquery.mousewheel.js"></h:outputScript>
        <h:outputScript rendered="#{!navigationBean.mobileBrowser}" library="js" name="jquery.panzoom.js"></h:outputScript>
        
        <h:outputScript rendered="#{navigationBean.mobileBrowser}" library="js" name="jquery.panzoom_mob.js"></h:outputScript>  -->

		<h:outputScript library="js" name="myScript.js" />
		<script type="text/javascript">			
			
			window.onresize = function(event) {
				//alert(event.target.outerWidth);
				resizeMenuPanel(event.target.outerWidth);
			}

			function resizeMenuPanel(contentWidth) {
				if (contentWidth &gt; 1000){
					if (PF('layout_elemento')) PF('layout_elemento').layout.sizePane('west',180,false,false,true);
				}
				else{
					if (PF('layout_elemento')) PF('layout_elemento').layout.sizePane('west',50,false,false,true);
				}
			}

			$(window).on("load", function(){
			//window.onload = function()  {
				resizeMenuPanel($(window).width());
				
				$('#slideoutContact').css("visibility", "visible"); // !!!!!!!!!!!!!! rende visibile lo slideout dopo aver finito, altrimenti compare prima di aver finito di caricare la pagina
				
				// PF('statusDialogLoading').show(); // TEST
			});

			// Localizzazione Timeline
			if (typeof links === 'undefined') {
			    links = {};
			    links.locales = {};
			} else if (typeof links.locales === 'undefined') {
			    links.locales = {};
			}
			
			links.locales['it'] = { 'MONTHS': ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"], 'MONTHS_SHORT': ["Gen", "Feb", "Mar", "Apr", "Mag", "Giu", "Lug", "Ago", "Set", "Ott", "Nov", "Dic"], 'DAYS': ["Domenica", "Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato"], 'DAYS_SHORT': ["Dom", "Lun", "Mar", "Mer", "Gio", "Ven", "Sab"], 'ZOOM_IN': "Aumentare lo zoom", 'ZOOM_OUT': "Diminuire lo zoom", 'MOVE_LEFT': "Muovere a sinistra", 'MOVE_RIGHT': "Muovere a destra", 'NEW': "Nuovo", 'CREATE_NEW_EVENT': "Creare nuovo evento" };
			
			</script>
		

	</h:head>
	<h:body>
	
		<h:form 
			rendered="#{(loginBean.userLoggedIn and loginBean.disableMultipleUserAccess)}">
			<p:poll 
				async="true" 
				global="false" 
				ignoreAutoUpdate="true" 
				interval="4" 
				listener="#{loginBean.userLoggedAndAlive}">
			</p:poll>
		</h:form>
	    	
		<pe:slideout 
			id="slideoutContact" 
			panelStyle=" visibility: hidden;"
			offsetReverse="true" 
			handleOffsetReverse="true" 
			icon="fa fa-user"
			location="top" 
			widgetVar="slideout" 
			handleStyleClass="contact-handle"
			panelStyleClass="contact-panel" 
			offset="0px" 
			bounceTimes="5"
			rendered="#{loginBean.userLoggedIn}">

			<h:form id="form__header_options">	
				<h:panelGrid columns="1" id="user_settings">
					<p:spacer width="10" height="12" />
					<sec:authorize ifAnyGranted="ROLE_ADMIN">
						<p:themeSwitcher value="#{styleBean.theme}"
							label="#{msgs['theme']}" style="width: 83%;" effect="fade">
							<f:selectItem itemLabel="#{msgs['chooseTheme']}" itemValue="#{null}" />
							<!-- 
							<f:selectItem itemLabel="afterdark" itemValue="afterdark" />
							<f:selectItem itemLabel="aristo" itemValue="aristo" />
							<f:selectItem itemLabel="anywall" itemValue="anywall" />
							<f:selectItem itemLabel="casablanca" itemValue="casablanca" />
							<f:selectItem itemLabel="cruze" itemValue="cruze" />
							<f:selectItem itemLabel="overcast" itemValue="overcast" />
							<f:selectItem itemLabel="themes-project" itemValue="themes-project" />
							<f:selectItem itemLabel="cupertino" itemValue="cupertino" />
							<f:selectItem itemLabel="dark-hive" itemValue="dark-hive" />
							<f:selectItem itemLabel="excite-bike" itemValue="excite-bike" />
							<f:selectItem itemLabel="flick" itemValue="flick" />
							<f:selectItem itemLabel="glass-x" itemValue="glass-x" />
							<f:selectItem itemLabel="home" itemValue="home" />
							<f:selectItem itemLabel="hot-sneaks" itemValue="hot-sneaks" />
							<f:selectItem itemLabel="humanity" itemValue="humanity" />
							 -->
						</p:themeSwitcher>
					</sec:authorize>

					<p:selectOneMenu style="width: 83%;" label="#{msgs['language']}"
						labelPosition="top" value="#{languageBean.localeCode}"
						valueChangeListener="#{languageBean.countryLocaleCodeChanged}">
						<f:selectItems value="#{languageBean.countriesInMap}" />
						<p:ajax
							oncomplete="window.location.replace(window.location.href);">
						</p:ajax>
					</p:selectOneMenu>
					
					<p:spacer width="10" height="12" />
					
					<h:commandLink style="font-size: 83%;"
						value="#{msgs['change_password']}"
						rendered="#{loginBean.localUser}" action="userSettings">
						<p:ajax update="form__header_options" />
					</h:commandLink>
					
					<p:separator />
					
					<h:commandLink
						style="font-weight:bold; font-size: 90%;margin-right: 5px;"
						actionListener="#{loginBean.logout}" value="#{msgs['logout']}">
						<p:ajax update="form__header_options" />
					</h:commandLink>
					
				</h:panelGrid>
			</h:form>
			<h:panelGrid 
				columns="1" 
				style="
					position: relative;
				    float: left;
				    left: -110px;
				    top: 70px;
				    color: ghostwhite;
				    width: 320px;
				    font-size: medium;
				    
				    ">
<!-- 
				<h:outputText rendered="#{loginBean.userLoggedIn}" value="#{msgs['login.groupsUserLogged']} #{loginBean.userDescription}" />
 -->
				<h:outputText rendered="#{loginBean.userLoggedIn}" value="#{msgs['login.userlogged']} #{loginBean.getUserLoginName()}" />
				<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agencyUser_management')}">
					<h:form id="form_agencyuser">
						<h:outputText 
							id="selectedAgencyUsername" 
							rendered="#{loginBean.userLoggedIn}" 
							value="#{msgs['login.impersonated']} #{agencyUserBean.selectedAgencyUsername}"/>
					</h:form>						
				</sec:authorize>
			</h:panelGrid>				
		</pe:slideout>

		<h:form id="systemMessages_form">
			<p:notificationBar 
				id="systemMessages" 
				position="top"
				rendered="#{navigationTabsBean.showPopupMessages}"
				visible="#{navigationTabsBean.showPopupMessages}" 
				effect="slide"
				styleClass="top" 
				widgetVar="systemMessages">
				<h:panelGroup id="contenitore_monitors" layout="block"
					style="display:  table; width: 100%;">
					<ui:repeat var="mess" value="#{navigationTabsBean.messages}">
						<h:panelGroup layout="block" style="display:  table-row;">
							<h:panelGroup layout="block"
								style="display: table-cell; padding-left: 3px; vertical-align: top;">
								<h:graphicImage alt="#{mess.messageType}"
									title="#{mess.messageType}"
									url="/resources/images/alerts/big/#{mess.type}.gif" />
							</h:panelGroup>
							<h:panelGroup layout="block"
								style="display: table-cell; padding-left: 3px; vertical-align: top;">
								<h:outputText
									style="font-family: Verdana; font-size: 16px; left: 36px; position: relative;"
									value="#{mess.message}" />
							</h:panelGroup>
						</h:panelGroup>
					</ui:repeat>
				</h:panelGroup>
				<p:commandButton value="Hide" onclick="PF('systemMessages').hide()"
					type="button" icon="ui-icon-arrow-1-n" />
			</p:notificationBar>
		</h:form>

		<p:outputPanel>
			<p:autoUpdate />
			<p:growl 
				globalOnly="true" 
				showDetail="false" 
				sticky="true"
			/>
		</p:outputPanel>
		
		<!-- 
		<p:growl 
			globalOnly="true" 
			showDetail="false" 
			sticky="true" 
			autoUpdate="true"
		/>
		 -->
		 
		<p:layout id="layout_elemento" fullPage="true"
			widgetVar="layout_elemento">

 			<p:layoutUnit 
 				position="north" 
 				size="40" 
 				resizable="false"
				collapsible="false">

				<h:panelGrid 
					columns="3" 
					styleClass="logoandmenubtncls">
					<p:graphicImage url="/resources/images/decoration/menu-mobile.png"
						style="height: 40px; margin-right: 15px;"
						onclick="PF('layout_elemento').toggle('west'); return false;" />
					<h:outputLabel 
						value="#{loginBean.fullVersion}" 
						style="color: white;
						    position: relative;
						    float: left;
						    left: -60px;
						    top: +30px;
						    max-inline-size: fit-content;"/>											    
					<h:form>
							<h:commandLink 
								styleClass="logo" 
								action="homePage">
								<p:graphicImage
									url="/resources/images/decoration/logo_header.png"
									style="height: 24px;"/>
							</h:commandLink>
					</h:form>
				</h:panelGrid>
			</p:layoutUnit>
			
			<p:layoutUnit 
				id="pannello_menu" 
				position="west" 
				minSize="50"
				maxSize="180" 
				resizable="false" 
				size="180" 
				collapsible="true"
				collapseSize="0">
		
				<h:form id="form_menu_b">
					<p:accordionPanel activeIndex="#{navigationBean.menuIndex}">
					<!-- 
						<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_AGENCY,ROLE_STADMIN">
							<p:tab title="Home">
								<p:commandButton styleClass="ui-aladino_menu-button"
									value="#{msgs['home']}" action="home_management"
									icon="fa fa-fw fa-user">
								</p:commandButton>
							</p:tab>
						</sec:authorize>
 					-->
						<p:tab title="Home">
							<p:commandButton styleClass="ui-aladino_menu-button"
								value="#{msgs['home']}" action="home_management"
								icon="fa fa-fw fa-user">
							</p:commandButton>
						</p:tab>
							
						<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_AGENCY,ROLE_STADMIN,AGE_MAN_W,AGT_MAN_W,PRD_MAN_W,EPI_MAN_W,CAP_MAN_W,EMP_MAN_W,EMT_MAN_W,EPT_MAN_W,PRT_MAN_W,AGE_MAN_R,AGT_MAN_R,PRD_MAN_R,EPI_MAN_R,CAP_MAN_R,EMP_MAN_R,EMT_MAN_R,EPT_MAN_R,PRT_MAN_R"> -->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.production')}">
							<p:tab title="#{msgs['sections.production']}">
								<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,AGE_MAN_W,AGE_MAN_R"> -->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agency_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['agency_management']}"
										action="agency_management" icon="fa fa-fw fa-bank"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['agency_management'])}">
									</p:commandButton>
								</sec:authorize>
								<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,EMP_MAN_W,EMP_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('employee_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['employee_management']}"
										action="employee_management" icon="fa fa-fw fa-user"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['employee_management'])}">
									</p:commandButton>
								</sec:authorize>
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,PRD_MAN_W,PRD_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('production_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['production_management']}"
										action="production_management" icon="fa fa-fw fa-video-camera"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['production_management'])}">
									</p:commandButton>
								</sec:authorize>

								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,CAP_MAN_W,CAP_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('calendarProduction_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['calendarProduction_management']}"
										action="calendarProduction_management"
										icon="fa fa-fw fa-calendar">
									</p:commandButton>
								</sec:authorize>	

								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_AGENCY,ROLE_STADMIN,EPI_MAN_W,EPI_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('episode_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['episode_management']}"
										action="episode_management" icon="fa fa-fw fa-television"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['episode_management'])}">
									</p:commandButton>
								</sec:authorize>
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,AGT_MAN_W,AGT_MAN_R,PRT_MAN_W,PRT_MAN_R,EMP_MAN_W,EMP_MAN_R,EPT_MAN_W,EPT_MAN_R">-->
									<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,AGT_MAN_W,AGT_MAN_R">-->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agencyType_management')}">
										<p:commandButton styleClass="ui-aladino_menu-button"
											style="border-top: 1px solid white;"
											value="#{msgs['agencyType_management']}"
											action="agencyType_management" icon="fa fa-fw fa-cogs"
											actionListener="#{navigationBean.auditLogFunctionName(msgs['agencyType_management'])}">
										</p:commandButton> 
									</sec:authorize>
									<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,PRT_MAN_W,PRT_MAN_R">-->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionType_management')}">
										<p:commandButton styleClass="ui-aladino_menu-button"
											value="#{msgs['productionType_management']}"
											action="productionType_management" icon="fa fa-fw fa-cogs"
											actionListener="#{navigationBean.auditLogFunctionName(msgs['productionType_management'])}">
										</p:commandButton>
									</sec:authorize>
									<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,EMP_MAN_W,EMP_MAN_R">-->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('employeeType_management')}">									
										<p:commandButton styleClass="ui-aladino_menu-button"
											value="#{msgs['employeeType_management']}"
											action="employeeType_management" icon="fa fa-fw fa-cogs"
											actionListener="#{navigationBean.auditLogFunctionName(msgs['employeeType_management'])}">
										</p:commandButton>
									</sec:authorize>
									<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,EPT_MAN_W,EPT_MAN_R">-->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('episodeStatusType_management')}">	
										<p:commandButton styleClass="ui-aladino_menu-button"
											value="#{msgs['episodeStatusType_management']}"
											action="episodeStatusType_management" icon="fa fa-fw fa-cogs"
											actionListener="#{navigationBean.auditLogFunctionName(msgs['episodeStatusType_management'])}">
										</p:commandButton>
									</sec:authorize>
								<!--</sec:authorize>-->
							</p:tab>
						</sec:authorize>

						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,PRC_MAN_W,PRC_MAN_R,LOC_MAN_W,LOC_MAN_R,STU_MAN_W,STU_MAN_R,APP_MAN_W,APP_MAN_R,DIL_MAN_W,DIL_MAN_R">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.devices')}">	
							<p:tab title="#{msgs['sections.devices']}">
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,PRC_MAN_W,PRC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agencyUser_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['agencyUser_management']}"
										action="agencyUser_management"
										icon="fa fa-fw fa-sitemap"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['agencyUser_management'])}">
									</p:commandButton>
								</sec:authorize>								
								
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['productionCenter_management']}"
										action="productionCenter_management"
										icon="fa fa-fw fa-video-camera"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['productionCenter_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,LOC_MAN_W,LOC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('location_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['location_management']}"
										action="location_management" 
										icon="fa fa-fw fa-map-marker"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['location_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,STU_MAN_W,STU_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('studio_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['studio_management']}" action="studio_management"
										icon="fa fa-fw fa-trello"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['studio_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,APP_MAN_W,APP_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('apparatus_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['apparatus_management']}"
										action="apparatus_management" icon="fa fa-fw fa-wifi"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['apparatus_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,DIL_MAN_W,DIL_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('distributionList_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['distributionList_management']}"
										action="distributionList_management" icon="fa fa-fw fa-envelope-o"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['distributionList_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_STADMIN,EMC_MAN_W,EMC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailContact_management')}">								
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['emailContact_management']}"
										action="emailContact_management" icon="fa fa-fw fa-users"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['emailContact_management'])}">
									</p:commandButton>							
								</sec:authorize>
															
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,APT_MAN_W,APT_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('apparatusType_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['apparatusType_management']}"
										action="apparatusType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['apparatusType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,LOT_MAN_W,LOT_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('locationType_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['locationType_management']}"
										action="locationType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['locationType_management'])}">
									</p:commandButton>
								</sec:authorize>
							</p:tab>
						</sec:authorize>
						
						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SECURITY,ROLE_SUPERVISION,ROLE_AGENCY,ROLE_STADMIN,PRE_MAN_W,PRE_MAN_R,REC_MAN_W,REC_MAN_R,SIG_MAN_W,SIG_MAN_R">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.receptions')}">	
							<p:tab title="#{msgs['sections.receptions']}">
							
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SECURITY,ROLE_AGENCY,ROLE_SUPERVISION,ROLE_STADMIN,PRE_MAN_W,PRE_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('precheckin')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['precheckin']}" action="precheckin"
										icon="fa fa-fw fa-check"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['precheckin'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SECURITY,ROLE_SUPERVISION,ROLE_STADMIN,REC_MAN_W,REC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('reception')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['reception']}" action="reception"
										icon="fa fa-fw fa-empire"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['reception'])}">
									</p:commandButton>
								</sec:authorize>	
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SECURITY,ROLE_SUPERVISION,ROLE_STADMIN,SIG_MAN_W,SIG_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sign')}">
									<!-- <p:commandButton 
											styleClass="ui-aladino_menu-button"
											value="#{msgs['barcodeReader']}" 
											action="barcodeReader"
											icon="fa fa-fw fa-barcode"
											actionListener="#{navigationBean.auditLogFunctionName(msgs['barcodeReader'])}">
										</p:commandButton>-->
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['sign']}" action="sign"
										icon="fa fa-fw fa-sign-in"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['sign'])}">
									</p:commandButton>
								</sec:authorize>
							</p:tab>
						</sec:authorize>

						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SECURITY,ROLE_SUPERVISION,ROLE_STADMIN,INC_MAN_W,INC_MAN_R,BLK_MAN_W,BLK_MAN_R,MED_MAN_W,MED_MAN_R,INT_MED_W,INT_MED_R,SEV_MAN_W,SEV_MED_R,MET_MAN_W,MET_MAN_R,MST_MAN_W,MST_MAN_R,BLT_MAN_W,BLT_MAN_R">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.security')}">
							<p:tab title="#{msgs['sections.security']}">
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION,ROLE_STADMIN,INC_MAN_W,INC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('incident_management')}">								
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['incident_management']}"
										action="incident_management"
										icon="fa fa-fw fa-exclamation-triangle"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['incident_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_SUPERVISION,ROLE_STADMIN,BLK_MAN_W,BLK_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('blackList_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['blackList_management']}"
										action="blackList_management" icon="fa fa-fw fa-thumbs-o-down"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['blackList_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_SUPERVISION,ROLE_STADMIN,MED_MAN_W,MED_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('media_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['media_management']}" action="media_management"
										icon="fa fa-fw fa-id-card-o"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['media_management'])}">
									</p:commandButton>
								</sec:authorize>	
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,INT_MED_W,INT_MED_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('incidentType_management')}">									
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['incidentType_management']}"
										action="incidentType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['incidentType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,SEV_MAN_W,SEV_MED_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('severityLevel_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['severityLevel_management']}"
										action="severityLevel_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['severityLevel_management'])}">
									</p:commandButton>
								</sec:authorize>	
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,MET_MAN_W,MET_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('mediaType_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['mediaType_management']}"
										action="mediaType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['mediaType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,MST_MAN_W,MST_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('mediaStatusType_management')}">								
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['mediaStatusType_management']}"
										action="mediaStatusType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['mediaStatusType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,BLT_MAN_W,BLT_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('blackListType_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['blackListType_management']}"
										action="blackListType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['blackListType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
							</p:tab>
						</sec:authorize>
						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_AGENCY,ROLE_SUPERVISION,ROLE_STADMIN,SPE_MAN_W,SPE_MAN_R,SPC_MAN_W,SPC_MAN_R,DUT_MAN_W,DUT_MAN_R,SPT_MAN_W,SPT_MAN_R">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.personalData')}">	
							<p:tab title="#{msgs['sections.personalData']}">
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_AGENCY,ROLE_SUPERVISION,ROLE_STADMIN,SPE_MAN_W,SPE_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['spectator_management']}"
										action="spectator_management" icon="fa fa-fw fa-address-book"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['spectator_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_AGENCY,ROLE_SUPERVISION,ROLE_STADMIN,SPC_MAN_W,SPC_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectatorEpisodeCalendar_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['spectatorEpisodeCalendar_management']}"
										action="spectatorEpisodeCalendar_management"
										icon="fa fa-fw fa-file-text-o"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['spectatorEpisodeCalendar_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_STADMIN,DUT_MAN_W,DUT_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('documentType_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['documentType_management']}"
										action="documentType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['documentType_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_STADMIN,SPT_MAN_W,SPT_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectatorType_management')}">								
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['spectatorType_management']}"
										action="spectatorType_management" icon="fa fa-fw fa-cogs"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['spectatorType_management'])}">
									</p:commandButton>
								</sec:authorize>
							</p:tab>
						</sec:authorize>

						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,AUD_MAN_W,AUD_MAN_R,EMQ_MAN_W,EMQ_MAN_R,USR_MAN_W,USR_MAN_R,GRO_MAN_W,GRO_MAN_R,ROL_MAN_W,ROL_MAN_R>">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('sections.utility')}">	
							<p:tab title="#{msgs['sections.utility']}">
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,AUD_MAN_W,AUD_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('audit_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['audit_management']}" action="audit"
										icon="fa fa-fw fa-shield"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['audit_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,EMQ_MAN_W,EMQ_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailQueue_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['emailQueue_management']}"
										action="emailQueue_management" icon="fa fa-fw fa-calendar"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['emailQueue_management'])}">
									</p:commandButton>
								</sec:authorize>
							</p:tab>
						</sec:authorize>

						<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,USR_MAN_W,USR_MAN_R,GRO_MAN_W,GRO_MAN_R,ROL_MAN_W,ROL_MAN_R">-->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('users')}">
							<p:tab title="#{msgs['users']}">
							
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,USR_MAN_W,USR_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('users_management')}">								
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['users_management']}" action="users_management"
										icon="fa fa-fw fa-user"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['users_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,GRO_MAN_W,GRO_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('groups_management')}">	
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['groups_management']}" action="groups_management"
										icon="fa fa-fw fa-users"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['groups_management'])}">
									</p:commandButton>
								</sec:authorize>
								
								<!--<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN,ROL_MAN_W,ROL_MAN_R">-->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('roles_management')}">
									<p:commandButton styleClass="ui-aladino_menu-button"
										value="#{msgs['roles_management']}" action="roles_management"
										icon="fa fa-fw fa-key"
										actionListener="#{navigationBean.auditLogFunctionName(msgs['roles_management'])}">
									</p:commandButton>
								</sec:authorize>
							</p:tab>
						</sec:authorize>
					</p:accordionPanel>
				</h:form>
			</p:layoutUnit>
			<p:layoutUnit
				 id="layout_elemento_centro" 
				 position="center"
				style="border: 0 !important;">
				<ui:insert name="page-content" />	
			</p:layoutUnit>
		</p:layout>
	</h:body>
</f:view>
</html>