<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags">

	<pe:slideout id="slideoutContact" title="#{msgs['options']}"
		handleOffsetReverse="false" icon="fa fa-envelope" location="right"
		widgetVar="slideout" handleStyleClass="contact-handle"
		panelStyleClass="contact-panel" offset="2px" bounceTimes="5"
		bounceDistance="100px" rendered="#{loginBean.userLoggedIn}">

		<h:form id="form__header_options">
			<h:panelGrid columns="1" id="user_settings">
				<div style="height: 12px; width: 10px;" />
				<h:outputText rendered="#{loginBean.userLoggedIn}"
					value="#{loginBean.userDescription} " />
					
				<div style="height: 12px; width: 10px;" />

				<p:themeSwitcher value="#{styleBean.theme}" label="#{msgs['theme']}"
					id="advanced" style="width: 85%;" effect="fade" var="t">
					<f:selectItem itemLabel="#{msgs['chooseTheme']}" itemValue="" />
					<f:selectItem itemLabel="afterdark" itemValue="afterdark" />
					<f:selectItem itemLabel="aristo" itemValue="aristo" />
					<f:selectItem itemLabel="casablanca" itemValue="casablanca" />
					<f:selectItem itemLabel="cruze" itemValue="cruze" />
					<f:selectItem itemLabel="overcast" itemValue="overcast" />
					<f:selectItem itemLabel="themes-project" itemValue="themes-project" />
					<f:ajax render="@all" />
				</p:themeSwitcher>

				<p:selectOneMenu style="width: 85%;" label="#{msgs['language']}"
					labelPosition="top" value="#{languageBean.localeCode}"
					valueChangeListener="#{languageBean.countryLocaleCodeChanged}">
					<f:selectItems value="#{languageBean.countriesInMap}" />
					<f:ajax render="@all" />
				</p:selectOneMenu>

				<div style="height: 12px; width: 10px;" />

				<h:commandLink style="font-size: 85%;"
					value="#{msgs['change_password']}" action="userSettings">
					<p:ajax update="form_header" />
				</h:commandLink>

				<div style="height: 12px; width: 10px;" />
				<hr style="color: lightgray;" />

				<h:commandLink
					style="font-weight:bold; font-size: 90%;margin-right: 5px;"
					actionListener="#{loginBean.logout}" value="#{msgs['logout']}">
					<p:ajax update="form__header_options" />
				</h:commandLink>
			</h:panelGrid>
		</h:form>
	</pe:slideout>
	<h:form id="form_header" rendered="#{loginBean.userLoggedIn}">
		<table class="header_content_table">
			<tr>
				<td align="left" width="50px" style="text-align: right;">

					<div class="art-logo">
						<h:commandLink styleClass="logo" action="homePage">
							<p:graphicImage
								url="/resources/images/decoration/logo_header.png"
								style="height: 24px;" />
						</h:commandLink>
					</div>
				</td>
				<td align="right"><h:outputText
						style="position: relative;top: -5px;right: 10px;"
						rendered="#{loginBean.userLoggedIn and navigationBean.userGuest and navigationBean.guestRoomId ne null}"
						value="Room: #{navigationBean.roomName}">
					</h:outputText></td>
			</tr>
		</table>
		<!-- questo blocca l'interfaccia!!!  <ace:submitMonitor id="submitMonitor2" blockUI="@all" /> -->
		<p:notificationBar position="top"
			rendered="#{navigationTabsBean.showPopupMessages}"
			visible="#{navigationTabsBean.showPopupMessages}" effect="slide"
			styleClass="top" widgetVar="systemMessages">
			<h:panelGroup id="contenitore_monitors" layout="block"
				style="display:  table; width: 100%;">
				<ui:repeat var="mess" value="#{navigationTabsBean.messages}">

					<h:panelGroup layout="block" style="display:  table-row;">
						<h:panelGroup layout="block"
							style="display: table-cell; padding-left: 3px; vertical-align: top;">
							<h:graphicImage alt="#{mess.messageType}"
								title="#{mess.messageType}"
								url="/resources/images/alerts/big/#{mess.type}.gif" />
						</h:panelGroup>
						<h:panelGroup layout="block"
							style="display: table-cell; padding-left: 3px; vertical-align: top;">
							<h:outputText
								style="font-family: Verdana; font-size: 16px; left: 36px; position: relative;"
								value="#{mess.message}" />
						</h:panelGroup>
					</h:panelGroup>
				</ui:repeat>
			</h:panelGroup>
			<p:commandButton value="Hide" onclick="PF('systemMessages').hide()"
				type="button" icon="ui-icon-arrow-1-n" />
		</p:notificationBar>
		<p:growl globalOnly="false" for="@all" redisplay="false" life="7000" />
	</h:form>
</ui:composition>
