<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['agencyUser_management']}</ui:define>
	<ui:define name="page-content">
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agencyUser_management')}">
		<h:panelGroup id="main_container" layout="block">
			<p:dialog 
				modal="true" 
				widgetVar="updateStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>	
			<h:panelGroup layout="block" styleClass="page_title detailscls">#{msgs['agencyUser_management']}</h:panelGroup>
			<h:panelGrid 
				styleClass="layouteditcls" 
				style="width: 100%" 
				columns="1">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o"
								value="#{msgs['update']}"		
								update=":main_container"
								form="form_edit"						
								actionListener="#{agencyUserBean.updateAgencyUser}"
								onstart="PF('updateStatusDialog').show()"
								onsuccess="PF('updateStatusDialog').hide()" 
							/>							
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['agencyUser.Impersonate']}">
							</p:outputLabel>
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">	
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width:50%;">
									<p:selectOneRadio 
										id="agencyUser" 
										value="#{agencyUserBean.selectedAgencyUser}" 
										layout="pageDirection" 
										unselectable="true">
										<f:selectItems	value="#{agencyUserBean.agenciesUserList}"/>
									</p:selectOneRadio>
									<br />
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize >
	</ui:define>
</ui:composition>