<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['agencyy_management']}</ui:define>
	<ui:define name="page-content">
	    <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION">-->
	    <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('agency_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{agencyBean.agencyToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['agency_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_agency">
						<p:commandButton 
							style="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container" actionListener="#{agencyBean.addAgency}" />
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="agency_table"
									fileName="agency" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="agency_table"
									fileName="agency" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="agency_table"
									fileName="agency" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="agency_table"
							value="#{agencyBean.lazyModelAgency}" var="con" paginator="true"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" 
							lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['agencyType.description']}"
								filterBy="#{con.agencyType.description}"
								sortBy="#{con.agencyType.id}" filterMatchMode="contains">
								<h:outputText value="#{con.agencyType.description}" />
							</p:column>

							<p:column headerText="#{msgs['agency.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>

							<p:column headerText="#{msgs['agency.address1']}"
								filterBy="#{con.address1}" sortBy="#{con.address1}"
								filterMatchMode="contains">
								<h:outputText value="#{con.address1}" />
							</p:column>
							<p:column headerText="#{msgs['agency.city']}"
								filterBy="#{con.city}" sortBy="#{con.city}"
								filterMatchMode="contains">
								<h:outputText value="#{con.city.city}" />
							</p:column>
							<p:column headerText="#{msgs['agency.telephone']}"
								filterBy="#{con.telephone}" sortBy="#{con.telephone}"
								filterMatchMode="contains">
								<h:outputText value="#{con.telephone}" />
							</p:column>
							<p:column headerText="#{msgs['agency.mobile']}"
								filterBy="#{con.mobile}" sortBy="#{con.mobile}"
								filterMatchMode="contains">
								<h:outputText value="#{con.mobile}" />
							</p:column>
							<p:column headerText="#{msgs['agency.contact']}"
								filterBy="#{con.contact}" sortBy="#{con.contact}"
								filterMatchMode="contains">
								<h:outputText value="#{con.contact}" />
							</p:column>
							<p:column headerText="#{msgs['agency.email']}"
								filterBy="#{con.email}" sortBy="#{con.email}"
								filterMatchMode="contains">
								<h:outputText value="#{con.email}" />
							</p:column>
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{agencyBean.modifyAgency}">
										<f:param name="agencyId" value="#{con.idAgency}" />
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{agencyBean.confirmDeleteAgency}"
										disabled="#{(agencyBean.isRemovableAgency(con)) or (navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1')))}">
										<f:param name="agencyId" value="#{con.idAgency}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>

					</h:form>
					<p:dialog id="deleteDlg" header="#{msgs['agency.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['agencyBean.confirm_delete']}" />
									<br /> <br />
									<p:commandButton 
										styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_agency:agency_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{agencyBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_agency:agency_table"
										actionListener="#{agencyBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<p:dialog 
				modal="true" 
				widgetVar="saveStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>	
			
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{agencyBean.agencyToEdit ne null}">#{msgs['agency.details']}</h:panelGroup>
			<h:panelGrid  styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{agencyBean.agencyToEdit ne null}">
				<p:panel style="border: 0;">

					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"								
								icon="fa fa-fw fa-floppy-o" 
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{agencyBean.saveAgency}"
								update=":main_container" 
								onstart="PF('saveStatusDialog').show()"
								onsuccess="PF('saveStatusDialog').hide()" 		
							/>
							<p:commandButton styleClass="button_classe cancelbtncls"
										icon="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{agencyBean.cancelEditAgency}"
								update=":main_container" />

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['agency.edit']} #{agencyBean.agencyToEdit.name}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['agency.name']}:" />
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.name}" />
									<p:outputLabel for="selectedAgencyType"
										value="* #{msgs['agency.agencyType']}" />
									<p:selectOneMenu 
										id="selectedAgencyType" 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.selectedAgencyType}">
										<f:selectItems value="#{agencyBean.agencyTypes}" />
										<!-- <p:ajax event="change" update="msgtext" listener="#{agency.subjectSelectionChanged}" /> -->
									</p:selectOneMenu>

									<p:outputLabel value="* #{msgs['agency.city']}:" />
									<p:autoComplete 
										id="acCountryCode"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.city}"
										required="true"
										completeMethod="#{agencyBean.completeCountryCode}"
										emptyMessage="#{msgs['noresult']}:" var="cc" itemLabel="#{cc.city}"
										itemValue="#{cc}" converter="countryCodeConverter"
										forceSelection="false" style="display:inline-block;">
										<p:column>
											<h:outputText value="#{cc.city}" />
										</p:column>
										<p:column>
											<h:outputText value="#{cc.province.provDescription}" />
										</p:column>
									</p:autoComplete>
									<p:outputLabel value="* #{msgs['agency.address1']}:" />
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.address1}" />
									<p:outputLabel value="#{msgs['agency.address2']}:" />
									<p:inputText 
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.address2}" />
									<p:outputLabel value="* #{msgs['agency.telephone']}:" />
									<p:inputMask 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.telephone}" 
										mask="(99) ?9999-99999999"/>
									<p:outputLabel value="#{msgs['agency.mobile']}:" />
									<p:inputMask 
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.mobile}" 
										mask="(99) ?999-9999999"/>
									<p:outputLabel value="* #{msgs['agency.contact']}:" />
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.contact}" />
									<p:outputLabel for="email" value="* #{msgs['agency.email']}:" />
									<p:inputText
										id="email" 
										required="true" 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('agency_management_1'))}"	
										value="#{agencyBean.agencyToEdit.email}" 
										validatorMessage="#{agencyBean.agencyToEdit.email} #{msgs['agency.noValidEmail']}"
										>
										<!-- ((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)* -->
										<!-- <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />  -->
										<f:validateRegex pattern="((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)*" />
									</p:inputText>	
									<p:message for="email"/>
										
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
		</sec:authorize>
	</ui:define>
</ui:composition>