<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">#{msgs['blackList_management']}</ui:define>
	<ui:define name="page-content">
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('blackList_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{blackListSpectatorBean.blackListSpectatorToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['blackList_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_blacklist">
						<!-- Button Add Location -->
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							actionListener="#{blackListSpectatorBean.addBlackListSpectator}" />
						<!-- Button relativi all'export dei dati -->
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="blacklist_table"
									fileName="blackList" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="blacklist_table"
									fileName="blackList" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="blacklist_table"
									fileName="blackList" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<!-- DataTabel Location -->
						<p:dataTable id="blacklist_table"
							value="#{blackListSpectatorBean.lazyModelBlackListSpectator}" var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['blackList.surname']}"
								filterBy="#{con.spectator.surname}" 
								filterMatchMode="contains">
								<h:outputText value="#{con.spectator.surname}" />
							</p:column>

							<p:column headerText="#{msgs['blackList.name']}"
								filterBy="#{con.spectator.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.spectator.name}" />
							</p:column>
							
							<p:column headerText="#{msgs['type']}"
								filterBy="#{con.blackListType.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.blackListType.description}" />
							</p:column>
							
							
							<p:column headerText="#{msgs['blackList.data']}"
								sortBy="#{con.dateTimeBlackList}">
								<h:outputText value="#{con.dateTimeBlackList}">
									<f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"></f:convertDateTime>
								</h:outputText>
							</p:column>
							
							<p:column 
								headerText="#{msgs['blackList.reason']}" 
								rendered="true" 
								exportable="true"
								filterBy="#{con.reason}"
								sortBy="#{con.reason}"
								filterMatchMode="contains">
								<h:outputText 
									 
									value="#{con.reason}" 
								/>
							</p:column>
							
							<p:column headerText="#{msgs['blackList.incident']}"
								filterBy="#{con.incident.description}"
								sortBy="#{con.incident.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.incident.description}" />
							</p:column>
							
							
							<c:if test="${empty con.incident.description}">
								<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{blackListSpectatorBean.modifyBlackListSpectator}">
										<f:param name="blackListSpectatorId" value="#{con.idBlackListSpectator}" />
									</p:commandLink>

									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{blackListSpectatorBean.confirmDeleteBlackListSpectator}">
										<f:param name="blackListSpectatorId" value="#{con.idBlackListSpectator}" />
									</p:commandLink>
								</div>
								</p:column>		
							</c:if>
							
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="#{msgs['blackList.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['blackList.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_blacklist:blacklist_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{blackListSpectatorBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_blacklist:blacklist_table"
										actionListener="#{blackListSpectatorBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			<!-- Creo schermata contenente le associazioni varco / apparato -->
			<h:panelGroup layout="block" styleClass="page_title detailscls" rendered="#{blackListSpectatorBean.blackListSpectatorToEdit ne null}">#{msgs['blackList.detail']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%"
				columns="1" rendered="#{blackListSpectatorBean.blackListSpectatorToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o" form=":form_edit" 
								value="#{msgs['save']}"
								actionListener="#{blackListSpectatorBean.saveBlackListSpectator}"
								update=":main_container" />
							
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{blackListSpectatorBean.cancelEditBlackListSpectator}"
								update=":main_container" />
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="descrizione"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['blackList.edit']}" />
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid" styleClass="content-fluid-grid">
								<p:fieldset >
									<p:outputLabel value="* #{msgs['name']}:" />
									
									<p:autoComplete 
										id="acBlackListSpectator" 
										value="#{blackListSpectatorBean.blackListSpectatorToEdit.spectator}"  
										completeMethod="#{blackListSpectatorBean.completeSpectatorCode}" 
						         		emptyMessage="No results"  
						         		var="blS" 
						         		itemLabel="#{blS.fullName}"  
						         		itemValue="#{blS}"
						         		converter="blackListSpectatorConvert" 
						         		forceSelection="false"  
						         		minQueryLength="3" 
						         		maxResults="12"
						         		queryDelay="1000"
						         		>
										<p:column>
											<h:outputText  value="#{blS.surname}"/>
										</p:column>
										 
										<p:column>
											<h:outputText value="#{blS.name}" />
										</p:column> 
						          
						          	</p:autoComplete>
									<p:outputLabel value="* #{msgs['blackList.type']}:" />
									<p:selectOneMenu id="selectedBlackListType" value="#{blackListSpectatorBean.selectedBlackListType}">
										<f:selectItems value="#{blackListSpectatorBean.blackListType}" />
									</p:selectOneMenu>
									
									<p:outputLabel for="dateTimeIncident" value="#{msgs['blackList.date']}"/>
									<p:calendar 
										id="dateTimeIncident" 
										value="#{blackListSpectatorBean.blackListSpectatorToEdit.dateTimeBlackList}" 
										locale="#{msgs['locales']}" 
										pattern="dd/MM/yyyy HH:mm" 
										disabled="false" />
										
									<p:outputLabel 
										for="inReason" 
										value="#{msgs['blackList.reason']}"/>
									<p:inputTextarea 
										id="inReason" 
										value="#{blackListSpectatorBean.blackListSpectatorToEdit.reason}"
										rows="6">
									</p:inputTextarea>
									
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>	
	</ui:define>
</ui:composition>