<ui:composition
	template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['calendarProduction_management']}</ui:define>
	<ui:define  name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_AGENCY"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('calendarProduction_management')}">
		<h:panelGroup id="main_container" layout="block" >
			<h:panelGroup 
				rendered="#{calendarProductionBean.calendarProductionToEdit eq null}" 
				layout="block" 
				styleClass="page_content_layout_div"
				>
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['calendarProduction_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content" widgetVar="wCommands">
					<h:form id="form_calendarProduction">
					 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
					 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('calendarProduction_management_1')}">
						<p:commandButton 
							style="width: auto !important;" 
							styleClass="button_classe editbtn" 
							icon="fa fa-fw fa-pencil" 
							value="#{msgs['modify']}" 
							update="main_container"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('calendarProduction_management_2'))}" 
							actionListener="#{calendarProductionBean.modifyCalendarProduction}" >
						</p:commandButton>
						<p:commandButton 
							style="width: auto !important;" 
							styleClass="button_classe savebtncls" 
							icon="fa fa-fw fa-floppy-o" 
							value="#{msgs['save']}" 
							update="main_container" 
							rendered="#{calendarProductionBean.isOnEdit()}"
							actionListener="#{calendarProductionBean.saveCalendarProduction}" >
						</p:commandButton>
					</sec:authorize>
					</h:form>				
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{calendarProductionBean.calendarProductionToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<!-- Definisco con growl la message box in alto a DX-->
				<p:growl id="messages" showDetail="true" />
				<h:form id="calendarContainer">		
				
					<p:layout style="min-width:200px;min-height:850px;">
	    				<p:layoutUnit styleClass="calendartreetablecls" position="west" resizable="true"  size="330" minSize="40" maxSize="300">
							<p:treeTable 
								value="#{calendarProductionBean.root}" 
								var="document" 
								style="margin-bottom:20px" 
								resizableColumns="true"
								scrollable="true"
								>
							      <f:facet name="header">
							          #{msgs['calendarProduction']}
							      </f:facet>				      
							      <p:column headerText="#{msgs['calendarProduction.season']}" style="width:20%"> 
							          <h:outputText value="#{document.season}" />
							      </p:column>
							      <p:column headerText="#{msgs['calendarProduction.name']}" style="width:35%">
							          <h:outputText value="#{document.name}" />
							      </p:column>
							      <p:column headerText="#{msgs['calendarProduction.month']}" style="width:10%">
							          <h:outputText value="#{document.dateEpisode}" />
							      </p:column>

							      <p:column headerText="" exportable="false" tyle="width:20%" >
									<div style="text-align: center; width: 100%;">
										<p:commandLink  style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
											actionListener="#{calendarProductionBean.viewCalendarProduction}" 
											update="main_container" title="#{msgs['show']}" 
											 rendered="#{document.visible}" 											 
											 styleClass="fa fa-fw fa-search" >
											<f:param name="calendarEpisodeId" value="#{document.id}"></f:param>
										</p:commandLink>
									</div>
								</p:column>
 
							  </p:treeTable>
					    </p:layoutUnit>
					 
					    <p:layoutUnit position="center">
								<p:schedule 
									id = "schedule" 
									value = "#{calendarProductionBean.eventModel}" 
									widgetVar = "wSchedule" 
									style="width:100%;margin-left: 10px;"
									locale = "#{msgs['locales']}"  
									initialDate = "#{calendarProductionBean.dateSelect}"
									draggable="#{calendarProductionBean.isOnEdit()}"
									resizable="#{calendarProductionBean.isOnEdit()}"
									showHeader="true"
									timeFormat="HH:mm - "
									tooltip= "true"
									clientTimeZone="local"
									styleClass="calendarschedulecls">
									<p:ajax event="dateSelect" listener="#{calendarProductionBean.onDateSelect}" update="eventDialogId" /> 
									<p:ajax event="eventSelect" listener="#{calendarProductionBean.onEventSelect}" update="eventDialogId" oncomplete="PF('eventDialog').show();"/>
									<p:ajax event="eventMove" listener="#{calendarProductionBean.onEventMove}" update="messages" />
									<p:ajax event="eventResize" listener="#{calendarProductionBean.onEventResize}" update="messages" />
									
									<!-- <p:ajax event="viewChange" listener="#{calendarProductionBean.onDebug}" update="messages" /> -->
								</p:schedule>
								<p:tooltip for="schedule" 
									value="#{calendarProductionBean.event.title} - #{calendarProductionBean.event.data.studioName}" 
									trackMouse="true"
								/>
					    </p:layoutUnit>
					</p:layout>
					
		
					<p:dialog id="eventDialogId" widgetVar="eventDialog" header="#{msgs['calendarProduction.eventDetails']}" showEffect="clip" hideEffect="clip" position="center" >
						<h:panelGrid rendered="#{calendarProductionBean.event.data ne null}" id="eventDetails" columns="2">

							<p:outputLabel for="title" value="#{msgs['calendarProduction.production']}" />
							<p:inputText id="title" value="#{calendarProductionBean.event.title}" required="false" disabled="true" />
													
							<p:outputLabel for="from" value="#{msgs['calendarProduction.from']}"/>
							<p:calendar  
								id="from" 
								value="#{calendarProductionBean.event.startDate}" 
								locale="#{msgs['locales']}" 
								pattern="dd/MM/yyyy HH:mm" 
								disabled="#{calendarProductionBean.isOnEdit() eq false}">
								<p:ajax event="dateSelect" update="to"/>
							</p:calendar>	
							
							<p:outputLabel for="to" value="#{msgs['calendarProduction.to']}" />
							<p:calendar 
								id="to" 
								value="#{calendarProductionBean.event.endDate}"  
								locale="#{msgs['locales']}" 
								pattern="dd/MM/yyyy HH:mm" 
								disabled="#{calendarProductionBean.isOnEdit() eq false}"
								mindate="#{calendarProductionBean.event.startDate}">
								<p:ajax event="dateSelect"/>
							</p:calendar>	
							
							
							<p:outputLabel for="status" value="#{msgs['calendarProduction.episodeStatus']}" />
							<p:inputText 
								id="status" 
								value="#{calendarProductionBean.event.data.episodeStatus}" 
								required="false" 
								disabled="true" />

							<p:outputLabel for="studio" value="#{msgs['calendarProduction.studio']}" />
							<p:inputText 
								id="studio" 
								value="#{calendarProductionBean.event.data.studioName}" 
								required="false"  
								disabled="true" />

							<p:outputLabel for="reqSpect" value="#{msgs['calendarProduction.requestedSpectators']}" />
							<p:inputText 
								id="reqSpect" 
								value="#{calendarProductionBean.event.data.requestedSpectators}" 
								required="#{calendarProductionBean.isOnEdit() eq false}" 
								disabled="#{calendarProductionBean.isOnEdit() eq false}" 
								/>
							
							<p:outputLabel for="effSpect" value="#{msgs['calendarProduction.effectivetSpectators']}" />
							<p:inputText 
								id="effSpect" 
								value="#{calendarProductionBean.event.data.effectiveSpectators}" 
								required="false"  
								disabled="true"
								/>

							<h:panelGrid rendered="false" id="eventEditCommands" columns="2">
								<p:commandButton type="reset" value="#{msgs['reset']}" />
								<p:commandButton id="addButton" value="#{msgs['save']}" actionListener="#{calendarProductionBean.addEvent}"  oncomplete="PF('eventDialog').update();PF('eventDialog').hide();" />
							</h:panelGrid>
							<h:panelGrid rendered="true" id="eventViewCommands" columns="4">
							 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
							 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('calendarProduction_management_1')}">
								<p:commandButton 
									id="editButton" 
									value="#{msgs['edit']}" 
									actionListener="#{calendarProductionBean.modifyCalendarProduction}" 
									onclick="PF('eventDialog').show();"
									update="main_container"  
									immediate="false"
									disabled="#{(calendarProductionBean.isOnEdit() eq true) or (navigationBean.haveUserRole(navigationBean.getGrantString('calendarProduction_management_2')))}"
								/>
								
								<p:commandButton 
									id="cloneButton" 
									value="#{msgs['clone']}"
									disabled="#{calendarProductionBean.isOnEdit() eq false}" 
									actionListener="#{calendarProductionBean.cloneCalendarProduction}" 									
									onclick="PF('eventDialog').hide();"
									update="main_container"
									rendered="false"
								/>
								<p:commandButton 
									id="saveButton" 
									value="#{msgs['save']}"
									disabled="#{calendarProductionBean.isOnEdit() eq false}" 
									actionListener="#{calendarProductionBean.saveEvent}" 									
									onclick="PF('eventDialog').hide();"
									update="main_container"
								/>			
							 </sec:authorize>
								<p:commandButton 
									id="closeButton" 
									value="#{msgs['close']}" 
									onclick="PF('eventDialog').hide();"
								/>
									 
							</h:panelGrid>
						</h:panelGrid>
					</p:dialog>	
				</h:form>
				<script type="text/javascript">
				PrimeFaces.locales ['#{msgs['locales']}'] = {
						 closeText: '#{msgs['locales.closeText']}',
						 prevText: '#{msgs['locales.prevText']}',
						 nextText: '#{msgs['locales.nextText']}',
						 monthNames: #{msgs['locales.monthNames']},
						 monthNamesShort: #{msgs['locales.monthNamesShort']},
						 dayNames: #{msgs['locales.dayNames']},
						 dayNamesShort: #{msgs['locales.dayNamesShort']},
						 dayNamesMin: #{msgs['locales.dayNamesMin']},
						 weekHeader: '#{msgs['locales.weekHeader']}',
						 firstDay: #{msgs['locales.firstDay']},
						 isRTL: #{msgs['locales.isRTL']},
						 showMonthAfterYear: #{msgs['locales.showMonthAfterYear']},
						 yearSuffix:'#{msgs['locales.yearSuffix']}',
						 timeOnlyTitle: '#{msgs['locales.timeOnlyTitle']}',
						 timeText: '#{msgs['locales.timeText']}',
						 hourText: '#{msgs['locales.hourText']}',
						 minuteText: '#{msgs['locales.minuteText']}',
						 secondText: '#{msgs['locales.secondText']}',
						 currentText: '#{msgs['locales.currentText']}',
						 ampm: #{msgs['locales.ampm']},
						 month: '#{msgs['locales.month']}',
						 week: '#{msgs['locales.week']}',
						 day: '#{msgs['locales.day']}',
						 allDayText: '#{msgs['locales.allDayText']}'
					 };
				</script>
			</h:panelGroup>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>
