<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">
	
	<ui:define name="page-title">#{msgs['distributionList_management']}</ui:define>
	<ui:define name="page-content">
	 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('distributionList_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{distributionListBean.distributionListToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['distributionList_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_distributionList">
					   <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
					   <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('distributionList_management_1')}">
						<p:commandButton 
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
							style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container" actionListener="#{distributionListBean.addDistributionList}" />
						</sec:authorize>
						<p:dataTable 
							id="distributionList_table"
							value="#{distributionListBean.lazyModelDistributionList}" 
							var="con" 
							paginator="true"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['distributionList.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>
							
							<p:column headerText="#{msgs['distributionList.description']}"
								filterBy="#{con.description}" sortBy="#{con.description}"
								filterMatchMode="description">
								<h:outputText value="#{con.description}" />
							</p:column>
							
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{distributionListBean.modifyDistributionList}">
										<f:param name="distributionListId" value="#{con.id}" />
									</p:commandLink>
									<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('distributionList_management_1')}">
										<p:commandLink
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
											style="border: 1px solid lightgray; width: 18px; display: inline-block;"
											oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
											styleClass="fa fa-fw fa-trash deletebtncls"
											actionListener="#{distributionListBean.confirmDeleteDistributionList}">
											<f:param name="distributionListId" value="#{con.id}" />
										</p:commandLink>
									</sec:authorize>
								</div>
							</p:column>
						</p:dataTable>

					</h:form>
					<p:dialog id="deleteDlg" header="DistributionList delete"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['distributionList.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_distributionList:distributionList_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{distributionListBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_distributionList:distributionList_table"
										actionListener="#{distributionListBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup 
				layout="block" 
				styleClass="page_title detailscls"
				rendered="#{distributionListBean.distributionListToEdit ne null}">#{msgs['distributionList.details']}</h:panelGroup>
			<h:panelGrid 
				styleClass="layouteditcls" 
				style="width: 100%" 
				columns="1"
				rendered="#{distributionListBean.distributionListToEdit ne null}">
				
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
						    <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
						    <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('distributionList_management_1')}">
								<p:commandButton styleClass="button_classe savebtncls"
									disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
									icon="fa fa-fw fa-floppy-o" form=":form_edit"
									value="#{msgs['save']}"
									actionListener="#{distributionListBean.saveDistributionList}"
									update=":main_container" />
							</sec:authorize>
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{distributionListBean.cancelEditDistributionList}"
								update=":main_container" />
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['distributionList.edit']} #{distributionListBean.distributionListToEdit.name}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel 
										for="idName"
										value="* #{msgs['distributionList.name']}:" />
										
									<p:inputText 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
										required="true"
										id="idName"
										value="#{distributionListBean.distributionListToEdit.name}" />
										
									<p:outputLabel 
										for="idDescription"
										value="* #{msgs['distributionList.description']}" />
										
									<p:inputText 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
										required="true"
										id="idDescription"
										value="#{distributionListBean.distributionListToEdit.description}" />
	
									<p:outputLabel 
										for="idPickListEmailContacts"
										value="#{msgs['distributionList.emailContact']}" />	
									<p:outputLabel 
										for="idPickListEmailContacts"
										value=" - #{msgs['distributionList.emailContactNote']}" />										
									<p:pickList 
										id="idPickListEmailContacts" 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('distributionList_management_2'))}"
										value="#{distributionListBean.emailContacts}" 
										var="email" 
										converter="emailContactConverter"
										itemLabel=" #{email.surname} #{email.name}" 
										itemValue="#{email}"
										responsive="true" >
										    <p:column style="width:100%;">
            									<h:outputText value="#{email.surname} #{email.name}" />
        									</p:column>
									</p:pickList>														 
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>