<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">#{msgs['document_types_management']}</ui:define>
	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISOR,ROLE_AGENCY"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('documentType_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup
				rendered="#{documentTypeBean.documentTypeToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['document_types_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_documentType">
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['add']}" update=":main_container"
							actionListener="#{documentTypeBean.addDocumentType}"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('documentType_management_1'))}"  />

						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="documentType_table"
									fileName="documentType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="documentType_table"
									fileName="documentType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="documentType_table"
									fileName="documentType" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						
						<p:dataTable id="documentType_table"
							value="#{documentTypeBean.lazyModelDocumentType}" 
							var="doc"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">
							
							<p:column headerText="#{msgs['documentType.idDocumentType']}" filterBy="#{doc.idDocumentType}" sortBy="#{doc.idDocumentType}" filterMatchMode="contains">
								<h:outputText value="#{doc.idDocumentType}" />
							</p:column>
							
							<p:column headerText="#{msgs['documentType.description']}" filterBy="#{doc.description}" sortBy="#{doc.description}" filterMatchMode="contains">
								<h:outputText value="#{doc.description}" />
							</p:column>
							
							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;" >
									<p:commandLink rendered="#{doc.idDocumentType ne 1 and doc.idDocumentType ne 4}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('documentType_management_1'))}" 
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{documentTypeBean.modifyDocumentType}">
										<f:param name="documentTypeId" value="#{doc.id}" />
									</p:commandLink>
									<p:commandLink rendered="#{doc.idDocumentType ne 1 and doc.idDocumentType ne 4}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('documentType_management_1'))}" 
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{documentTypeBean.confirmDeleteDocumentType}">
										<f:param name="documentTypeId" value="#{doc.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog 
						id="deleteDlg"
						header="#{msgs['documentTypeBean.confirm_delete']}"
						widgetVar="deleteDlgWdgt" 
						showEffect="clip" 
						hideEffect="clip"
						resizable="false" 
						dynamic="true" 
						modal="true" 
						appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText
										value="#{msgs['documentTypeBean.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel"
										update=":form_documentType:documentType_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{documentTypeBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									
									<h:outputText value="  " />
									
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_documentType:documentType_table"
										actionListener="#{documentTypeBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{documentTypeBean.documentTypeToEdit ne null}">#{msgs['details']}</h:panelGroup>			
			<h:panelGrid 
				styleClass="layouteditcls" 
				style="width: 100%" columns="1"
				rendered="#{documentTypeBean.documentTypeToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" 
								value="#{msgs['save']}"
								actionListener="#{documentTypeBean.saveDocumentType}"
								update=":main_container" />
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times"
								immediate="true" 
								form=":form_edit" 
								value="#{msgs['cancel']}"
								actionListener="#{documentTypeBean.cancelEditDocumentType}"
								update=":main_container" />

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="descrizione"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['documentType.edit']} #{documentTypeBean.documentTypeToEdit.description}" />
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" 
					id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['documentType.idDocumentType']}:"/>
									<p:inputText required="true"
										value="#{documentTypeBean.documentTypeToEdit.idDocumentType}">
									</p:inputText>
									<p:outputLabel value="* #{msgs['documentType.description']}:" />
									<p:inputText required="true"
										value="#{documentTypeBean.documentTypeToEdit.description}">
									</p:inputText>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>

