<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['emailQueue_management']}</ui:define>
	<ui:define name="page-content">
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailQueue_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{emailQueueBean.emailQueueToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['emailQueue_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_emailQueue">
						<p:commandButton 
							style="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['add']}" update=":main_container"
							actionListener="#{emailQueueBean.addEmailQueue}"/>
						<p:commandButton 
							tyle="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
							oncomplete="PF('purgeDlgWdgt').show()" 
							title="#{msgs['emailQueue.purge']}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['purge']}" update=":main_container"
						/>	
		
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="emailQueue_table"
									fileName="emailQueue" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="emailQueue_table"
									fileName="emailQueue" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="emailQueue_table"
									fileName="emailQueue" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="emailQueue_table"
							value="#{emailQueueBean.lazyModelEmailQueue}" var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['emailQueue.id']}"
								filterBy="#{con.name}" sortBy="#{con.id}"
								filterMatchMode="contains">
								<h:outputText value="#{con.id}" />
							</p:column>

							<p:column headerText="EntityType"
								filterBy="#{con.entityType}" sortBy="#{con.entityType}"
								filterMatchMode="contains">
								<h:outputText value="#{con.entityType==''?'Custom':(con.entityType==1?'Lista':'Invito')}" />
							</p:column>

							<p:column headerText="EntityID"
								filterBy="#{con.entityID}" sortBy="#{con.entityID}"
								filterMatchMode="contains">
								<h:outputText value="#{con.entityID}" />
							</p:column>


							<p:column headerText="#{msgs['emailQueue.from']}"
								filterBy="#{con.fromEmail}" sortBy="#{con.fromEmail}"
								filterMatchMode="contains">
								<h:outputText value="#{con.fromEmail}" />
							</p:column>

							<p:column headerText="#{msgs['emailQueue.to']}"
								filterBy="#{con.toEmail}" sortBy="#{con.toEmail}"
								filterMatchMode="contains">
								<h:outputText value="#{con.toEmail}" />
							</p:column>

							<p:column headerText="#{msgs['emailQueue.cc']}"
								filterBy="#{con.ccEmail}" sortBy="#{con.ccEmail}"
								filterMatchMode="contains">
								<h:outputText value="#{con.ccEmail}" />
							</p:column>

							<p:column headerText="#{msgs['emailQueue.subject']}"
								filterBy="#{con.subject}"
								filterMatchMode="contains">
								<h:outputText value="#{con.subject}" />
							</p:column>
							
							<p:column headerText="#{msgs['emailQueue.body']}"
								filterBy="#{con.body}"
								filterMatchMode="contains">
								<h:outputText value="#{con.body}" />
							</p:column>
							<p:column headerText="#{msgs['emailQueue.pdfRepBase64Str']}"
								filterBy="#{con.pdfRepBase64Str!=''}"
								filterMatchMode="contains">
								<h:outputText value="#{con.pdfRepBase64Str!=''}" />
							</p:column>
							<p:column headerText="#{msgs['emailQueue.sendDate']}"
								filterBy="#{con.sendDate}" sortBy="#{con.sendDate}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.sendDate}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
								</p:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['emailQueue.sendStatus']}"
								filterBy="#{con.sendStatus}"
								filterMatchMode="contains">
								<h:outputText value="#{con.sendStatus}" />
							</p:column>

							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{emailQueueBean.modifyEmailQueue}">
										<f:param name="emailQueueId" value="#{con.id}"/>
									</p:commandLink>
									<p:commandLink
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{emailQueueBean.confirmDeleteEmailQueue}">
											<f:param name="emailQueueId" value="#{con.id}"/>
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="purgeDlg" header="#{msgs['emailQueue.purge']}"
						widgetVar="purgeDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['emailQueue.confirmPurge']}"/>
									<br />
									<br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_emailQueue:emailQueue_table"
										oncomplete="PF('purgeDlgWdgt').hide()"
										actionListener="#{emailQueueBean.purgeEmailQueue}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('purgeDlgWdgt').hide()"
										update=":form_emailQueue:emailQueue_table"
										value="#{msgs['cancel']}" />
									<br />
									<br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					
					<p:dialog id="deleteDlg" header="#{msgs['emailQueueBean.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['emailQueueBean.confirm_delete']}"/>
									<br />
									<br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_emailQueue:emailQueue_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{emailQueueBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_emailQueue:emailQueue_table"
										actionListener="#{emailQueueBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br />
									<br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{emailQueueBean.emailQueueToEdit ne null}">#{msgs['emailQueue.details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{emailQueueBean.emailQueueToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{emailQueueBean.saveEmailQueue}"
								update=":main_container"/>
							<p:commandButton styleClass="button_classe cancelbtncls"
										icon="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{emailQueueBean.cancelEditEmailQueue}"
								update=":main_container"/>
							<span class="ui-separator">
								<span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['emailQueue.edit']} #{emailQueueBean.emailQueueToEdit.id}"/>
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['emailQueue.from']}:"/>
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.fromEmail}"
										validatorMessage="#{emailQueueBean.emailQueueToEdit.fromEmail} #{msgs['emailQueue.noValidEmail']}">
										<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</p:inputText>
									<p:outputLabel value="* #{msgs['emailQueue.to']}:"/>
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.toEmail}"
										validatorMessage="#{emailQueueBean.emailQueueToEdit.toEmail} #{msgs['emailQueue.noValidEmail']}">
										<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</p:inputText>
									<p:outputLabel value="* #{msgs['emailQueue.cc']}:"/>
									<p:inputText 
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.ccEmail}"
										validatorMessage="#{emailQueueBean.emailQueueToEdit.ccEmail} #{msgs['emailQueue.noValidEmail']}">
										<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</p:inputText>
									
								    <p:outputLabel for="subject" value="* #{msgs['emailQueue.subject']}:"/>
									<h:outputText id="displaysub" />
									<p:inputTextarea
										id="subject"
										rows="10"
										cols="50"
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.subject}"
										counter="displaysub" 
										maxlength="100" 
										counterTemplate="{0} #{msgs['emailQueue.charleft']}." 
										autoResize="false"
									/>
									
									<p:outputLabel for="body" value="* #{msgs['emailQueue.body']}:"/>
									<h:outputText id="displaybody" />
									<p:inputTextarea
										id="body"
										rows="10"
										cols="50"
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.body}"
										counter="displaybody" 
										maxlength="500" 
										counterTemplate="{0} #{msgs['emailQueue.charleft']}." 
										autoResize="false"
									/>

									<p:outputLabel for="status" value=" #{msgs['emailQueue.sendStatus']}:" />
									<p:selectOneMenu 
										id="status"
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailQueue_management_1'))}"
										value="#{emailQueueBean.emailQueueToEdit.sendStatus}">
											<f:selectItem itemLabel="#{msgs['emailQueue.notSendIt']}" itemValue="1" />
											<f:selectItem itemLabel="#{msgs['emailQueue.SendIt']}" itemValue="0" />
									</p:selectOneMenu>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize> 	
	</ui:define>
</ui:composition>