<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">
	
	<ui:define name="page-title">#{msgs['emailContact_management']}</ui:define>
	<ui:define name="page-content">
	 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailContact_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{emailContactBean.emailContactToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['emailContact_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_emailContact">
					   <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
					   <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailContact_management_1')}">
						<p:commandButton 
							style="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container" actionListener="#{emailContactBean.addEmailContact}" />
						</sec:authorize>
						<p:dataTable 
							id="emailContact_table"
							value="#{emailContactBean.lazyModelEmailContact}" 
							var="con" 
							paginator="true"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['emailContact.surname']}"
								filterBy="#{con.surname}" sortBy="#{con.surname}"
								filterMatchMode="contains">
								<h:outputText value="#{con.surname}" />
							</p:column>
							
							<p:column headerText="#{msgs['emailContact.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>
							
							<p:column headerText="#{msgs['emailContact.managerEmail']}"
								filterBy="#{con.managerEmail}" sortBy="#{con.managerEmail}"
								filterMatchMode="description">
								<h:outputText value="#{con.managerEmail}" />
							</p:column>
														
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{emailContactBean.modifyEmailContact}">
										<f:param name="emailContactId" value="#{con.id}" />
									</p:commandLink>
									<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailContact_management_1')}">
										<p:commandLink
											style="border: 1px solid lightgray; width: 18px; display: inline-block;"
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
											oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
											styleClass="fa fa-fw fa-trash deletebtncls"
											actionListener="#{emailContactBean.confirmDeleteEmailContact}">
											<f:param name="emailContactId" value="#{con.id}" />
										</p:commandLink>
									</sec:authorize>
								</div>
							</p:column>
						</p:dataTable>

					</h:form>
					<p:dialog id="deleteDlg" header="EmailContact delete"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['emailContact.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_emailContact:emailContact_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{emailContactBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_emailContact:emailContact_table"
										actionListener="#{emailContactBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup 
				layout="block" 
				styleClass="page_title detailscls"
				rendered="#{emailContactBean.emailContactToEdit ne null}">#{msgs['emailContact.details']}</h:panelGroup>
			<h:panelGrid 
				styleClass="layouteditcls" 
				style="width: 100%" 
				columns="1"
				rendered="#{emailContactBean.emailContactToEdit ne null}">
				
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
						    <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
						    <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('emailContact_management_1')}">
							<p:commandButton styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o" form=":form_edit"
								value="#{msgs['save']}"
								actionListener="#{emailContactBean.saveEmailContact}"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
								update=":main_container" />
							</sec:authorize>
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{emailContactBean.cancelEditEmailContact}"
								update=":main_container" />
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['emailContact.edit']} #{emailContactBean.emailContactToEdit.name}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
								  
									<p:outputLabel 
										for="idName"
										value="* #{msgs['emailContact.name']}:" />
										
									<p:inputText 
										required="true"
										id="idName"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
										value="#{emailContactBean.emailContactToEdit.name}" />
										
									<p:outputLabel 
										for="idSurname"
										value="* #{msgs['emailContact.surname']}" />
										
									<p:inputText 
										required="true"
										id="idSurname"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
										value="#{emailContactBean.emailContactToEdit.surname}" />
										
									<p:outputLabel 
										for="idManagerEmail"
										value="* #{msgs['emailContact.managerEmail']}" />
										
									<p:inputText 
										required="true"
										id="idManagerEmail"
										value="#{emailContactBean.emailContactToEdit.managerEmail}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
										validatorMessage="#{emailContactBean.emailContactToEdit.managerEmail} #{msgs['emailContact.noValidEmail']}" 
										>
										<f:validateRegex pattern="((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)*" />
									</p:inputText>	
									<p:message for="idManagerEmail"/>
									
									<p:outputLabel 
										for="idPickDistributionList"
										value="#{msgs['emailContact.distributionList']}" />	
									<p:outputLabel 
										for="idPickDistributionList"
										value=" - #{msgs['emailContact.distributionListNote']}"  />										 	
									<p:pickList 
										id="idPickDistributionList" 
										value="#{emailContactBean.distributionListes}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('emailContact_management_2'))}"
										var="dl" 
										converter="distributionListConverter"
										itemLabel=" #{dl.name}" 
										itemValue="#{dl}"
										responsive="true" >
										    <p:column style="width:100%;">
            									<h:outputText value="#{dl.name}" />
        									</p:column>
									</p:pickList>	
									 									
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>