<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['employee_management']}</ui:define>
	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('employee_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{employeeBean.employeeToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['employee_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_employee">
						<p:commandButton 
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
							style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['add']}" update=":main_container"
							actionListener="#{employeeBean.addEmployee}">
						</p:commandButton>
						<h:panelGrid 
							columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="employee_table"
									fileName="employee" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="employee_table"
									fileName="employee" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="employee_table"
									fileName="employee" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="employee_table"
							value="#{employeeBean.lazyModelEmployee}" var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['employeeType.description']}"
								filterBy="#{con.employeeType.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.employeeType.description}" />
							</p:column>

							<p:column headerText="#{msgs['employee.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>

							<p:column headerText="#{msgs['employee.surname']}"
								filterBy="#{con.surname}" sortBy="#{con.surname}"
								filterMatchMode="contains">
								<h:outputText value="#{con.surname}" />
							</p:column>

							<p:column headerText="#{msgs['employee.telephone']}"
								filterBy="#{con.telephone}" sortBy="#{con.telephone}"
								filterMatchMode="contains">
								<h:outputText value="#{con.telephone}" />
							</p:column>

							<p:column headerText="#{msgs['employee.mobile']}"
								filterBy="#{con.mobile}" sortBy="#{con.mobile}"
								filterMatchMode="contains">
								<h:outputText value="#{con.mobile}" />
							</p:column>

							<p:column headerText="#{msgs['employee.internalExternal']}"
								filterBy="#{con.internalExternal}"
								sortBy="#{con.internalExternal}" filterMatchMode="contains">
								<h:outputText value="#{con.internalExternal? msgs['employee.internal']: msgs['employee.external'] }" />
							</p:column>

							<p:column headerText="#{msgs['employee.externalCompany']}"
								filterBy="#{con.externalCompany}"
								sortBy="#{con.externalCompany}" filterMatchMode="contains">
								<h:outputText value="#{con.externalCompany}" />
							</p:column>

							<p:column headerText="#{msgs['employee.email']}"
								filterBy="#{con.email}" sortBy="#{con.email}"
								filterMatchMode="contains">
								<h:outputText value="#{con.email}" />
							</p:column>
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{employeeBean.modifyEmployee}">
										<f:param name="employeeId" value="#{con.id}"></f:param>
									</p:commandLink>
									<p:commandLink
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{employeeBean.confirmDeleteEmployee}">
										<f:param name="employeeId" value="#{con.id}"></f:param>
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="#{msgs['employeeBean.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['employeeBean.confirm_delete']}"></h:outputText>
									<br />
									<br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_employee:employee_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{employeeBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_employee:employee_table"
										actionListener="#{employeeBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br />
									<br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			<p:dialog 
				modal="true" 
				widgetVar="saveStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>	
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{employeeBean.employeeToEdit ne null}">#{msgs['employee.details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{employeeBean.employeeToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
								styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{employeeBean.saveEmployee}"
								update=":main_container"
								onstart="PF('saveStatusDialog').show()"
								onsuccess="PF('saveStatusDialog').hide()" 
							/>
							<p:commandButton 
								styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{employeeBean.cancelEditEmployee}"
								update=":main_container"
							/>
							
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['employee.edit']} #{employeeBean.employeeToEdit.name}"></p:outputLabel>
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['employee.surname']}:"></p:outputLabel>
									<p:inputText required="true" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.employeeToEdit.surname}"></p:inputText>
									<p:outputLabel value="* #{msgs['employee.name']}:"></p:outputLabel>
									<p:inputText required="true" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.employeeToEdit.name}"></p:inputText>
									<p:outputLabel for="selectedEmployeeType"
										value="#{msgs['employee.employeeType']}"/>
									<p:selectOneMenu id="selectedEmployeeType" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.selectedEmployeeType}" required="true">
										<f:selectItems value="#{employeeBean.employeeTypes}" />
									</p:selectOneMenu>
									<p:outputLabel value="#{msgs['employee.telephone']}:"></p:outputLabel>
									<p:inputMask 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										required="false"
										value="#{employeeBean.employeeToEdit.telephone}"
										mask="(99) ?9999-99999999"/>
									<p:outputLabel value="#{msgs['employee.mobile']}:"></p:outputLabel>
									<p:inputMask
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}" 
										required="false"
										value="#{employeeBean.employeeToEdit.mobile}"
										mask="(99) ?999-9999999"/>
										
									<p:outputLabel for="internalExternal" value="* #{msgs['employee.internalExternal_Long']}:"></p:outputLabel>
									<br />
									<p:selectBooleanButton
										id="internalExternal"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.employeeToEdit.internalExternal}"
										onLabel="#{msgs['employee.internal']} " 
										offLabel="#{msgs['employee.external']} "
										onIcon="ui-icon-check" offIcon="ui-icon-close"
										style="width:160px"
										>
										<p:ajax update="form_edit:externalCompany" listener="#{employeeBean.chk()}" />
									</p:selectBooleanButton>
									<br />
									<p:outputLabel for = "externalCompany" value="#{msgs['employee.externalCompany_Long']}:"></p:outputLabel>
									<p:inputText 
										id="externalCompany"
										disabled="#{employeeToEdit.enab() and navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.employeeToEdit.externalCompany}"
										required="#{employeeToEdit.enab()}">
									</p:inputText>
									<p:outputLabel value="* #{msgs['employee.email']}:"></p:outputLabel>
									<p:inputText 
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('employee_management_1'))}"
										value="#{employeeBean.employeeToEdit.email}"
										validatorMessage="#{employeeBean.employeeToEdit.email} #{msgs['employee.noValidEmail']}"
										>
										<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</p:inputText>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize >
	</ui:define>
</ui:composition>