<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">#{msgs['episodeStatusType_management']}</ui:define>
	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('episodeStatusType_management')}"> 
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup
				rendered="#{episodeStatusTypeBean.episodeStatusTypeToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['episodeStatusType_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_episodeStatusType">
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('episodeStatusType_management_1'))}"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							actionListener="#{episodeStatusTypeBean.addEpisodeStatusType}" />
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="episodeStatusType_table"
									fileName="episodeStatusType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="episodeStatusType_table"
									fileName="episodeStatusType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="episodeStatusType_table"
									fileName="episodeStatusType" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="episodeStatusType_table"
							value="#{episodeStatusTypeBean.lazyModelEpisodeStatusType}"
							var="con" paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['episodeStatusType.idStatus']}"
								filterBy="#{con.idStatus}" sortBy="#{con.idStatus}"
								filterMatchMode="contains">
								<h:outputText value="#{con.idStatus}" />
							</p:column>
							<p:column headerText="#{msgs['name']}"
								filterBy="#{con.description}" sortBy="#{con.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.description}" />
							</p:column>
							<!--  
							<p:column headerText="#{msgs['episodeStatusType.owner']}"
								filterBy="#{con.owner}" sortBy="#{con.owner}"
								filterMatchMode="contains">
								<h:outputText value="#{con.owner}" />
							</p:column>
							-->
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" 
										title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('episodeStatusType_management_1'))}"
										actionListener="#{episodeStatusTypeBean.modifyEpisodeStatusType}">
										<f:param name="episodeStatusTypeId" value="#{con.id}" />
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" 
										title="Delete"
										rendered="false"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{episodeStatusTypeBean.confirmDeleteEpisodeStatusType}">
										<f:param name="episodeStatusTypeId" value="#{con.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg"
						header="#{msgs['episodeStatusType.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">

						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText
										value="#{msgs['episodeStatusType.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel"
										update=":form_episodeStatusType:episodeStatusType_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{episodeStatusTypeBean.delete}"
										value="#{msgs['confirm']}" />
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_episodeStatusType:episodeStatusType_table"
										actionListener="#{episodeStatusTypeBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{episodeStatusTypeBean.episodeStatusTypeToEdit ne null}">#{msgs['details']}</h:panelGroup>			
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{episodeStatusTypeBean.episodeStatusTypeToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{episodeStatusTypeBean.saveEpisodeStatusType}"
								update=":main_container" />
							<p:commandButton 
								styleClass="button_classe cancelbtncls"
								con="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{episodeStatusTypeBean.cancelEditEpisodeStatusType}"
								update=":main_container" />
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="descrizione"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['episodeStatusType.edit']} #{episodeStatusTypeBean.episodeStatusTypeToEdit.description}" />
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['episodeStatusType.idStatus']}:" />
									<p:inputText 
										required="true"
										disabled="true"
										value="#{episodeStatusTypeBean.episodeStatusTypeToEdit.idStatus}" />
									<p:outputLabel value="* #{msgs['name']}:" />
									<p:inputText required="true"
										value="#{episodeStatusTypeBean.episodeStatusTypeToEdit.description}" />
									<p:outputLabel 
										rendered="false"
										for="owner" 
										value="* #{msgs['episodeStatusType.owner']}:" />
							        <p:selectOneMenu 
							        	id="owner" 
							        	rendered="false"
							        	value="#{episodeStatusTypeBean.episodeStatusTypeToEdit.owner}" 
							        	required="true">
							            <f:selectItem itemLabel="#{msgs['episodeStatusType.application']}" itemValue="A" />
							            <f:selectItem itemLabel="#{msgs['episodeStatusType.system']}" itemValue="S" />
							        </p:selectOneMenu>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>