<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['episode_management']}</ui:define>
	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION,ROLE_AGENCY"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('episode_management')}"> 
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{episodeBean.episodeToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['episode_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_episode">
					<!-- 
					"#{navigationBean.getGrantString('episode_management_dis_add_1')}"
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							disabled="#{not((navigationBean.haveUserRole('ROLE_AGENCY'))or(navigationBean.haveUserRole('ROLE_AGENCY') and navigationBean.haveUserRole('ROLE_PRODUCTION')))}"
							actionListener="#{episodeBean.addEpisode}" />
					 -->		
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							disabled="#{not((navigationBean.haveUserRole(navigationBean.getGrantString('episode_management_dis_add_1')))or(navigationBean.haveUserRole(navigationBean.getGrantString('episode_management_dis_add_1')) and navigationBean.haveUserRole(navigationBean.getGrantString('episode_management_dis_add_2'))))}"
							actionListener="#{episodeBean.addEpisode}" />					 
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="episode_table"
									fileName="episode" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="episode_table"
									fileName="episode" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="episode_table"
									fileName="episode" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:panelGrid 
							columns="1" 
							layout="grid"
							styleClass="content-fluid-grid" style="font-size: 16px;">
							<p:outputLabel for="selectedAgency"
								value="#{msgs['episode.filterByAgency']}" />
							<p:selectOneMenu 
								id="selectedAgency"
								value="#{episodeBean.selectedAgency}"
								disabled="true">
								<f:selectItems value="#{episodeBean.agencies}" />
								<p:ajax 
									event="itemSelect"
									listener="#{episodeBean.selectedAgency}"
									update="form_episode:episode_table  main_container" />
							</p:selectOneMenu>
						</p:panelGrid>
						<p:dataTable id="episode_table"
							value="#{episodeBean.lazyModelEpisode}" 
							var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">
							<p:column headerText="#{msgs['episode.production']}"
								filterBy="#{con.production.name}" 
								filterMatchMode="contains"
								sortBy="#{con.production.name}">
								<h:outputText value="#{con.production.name}" />
							</p:column>
							<p:column headerText="#{msgs['episode.studio']}"
								filterBy="#{con.studio.name}" 
								filterMatchMode="contains">
								<h:outputText value="#{con.studio.name}" />
							</p:column>
							<p:column headerText="#{msgs['episode.episodeStatusType']}"
								filterBy="#{con.episodeStatus.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.episodeStatus.description}" />
							</p:column>
							<p:column headerText="#{msgs['episode.date']}"
								filterBy="#{con.dateFrom}" sortBy="#{con.dateFrom}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.dateFrom}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['episode.dateFrom']}"
								filterBy="#{con.dateFrom}" sortBy="#{con.dateFrom}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.dateFrom}">
									<f:convertDateTime pattern="HH:mm" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['episode.dateTo']}"
								filterBy="#{con.dateTo}" sortBy="#{con.dateTo}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.dateTo}">
									<f:convertDateTime pattern="HH:mm" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="#{msgs['episode.requestedSpectators']}"
								filterBy="#{con.requestedSpectators}"
								sortBy="#{con.requestedSpectators}" filterMatchMode="contains">
								<h:outputText value="#{con.requestedSpectators}" />
							</p:column>
							<p:column headerText="#{msgs['episode.effectiveSpectators']}"
								filterBy="#{con.effectiveSpectators}"
								sortBy="#{con.effectiveSpectators}" filterMatchMode="contains">
								<h:outputText value="#{con.effectiveSpectators}" />
							</p:column>
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
								
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" 
										title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										rendered="#{con.episodeStatus.idStatus eq 1 or con.episodeStatus.idStatus eq 2}"
										actionListener="#{episodeBean.modifyEpisode}">
										<f:param name="episodeId" value="#{con.id}" />
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										update=":main_container" 
										title="Clone"
										styleClass="fa fa-fw fa-clone deletebtncls"
										actionListener="#{episodeBean.cloneEpisode}">
										<f:param name="episodeId" value="#{con.id}" />
									</p:commandLink>									
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" 
										rendered="#{con.episodeStatus.idStatus eq 1 or con.episodeStatus.idStatus eq 2}"
										title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{episodeBean.confirmDeleteEpisode}">
										<f:param name="episodeId" value="#{con.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog 
						id="deleteDlg" 
						header="#{msgs['episode.delete']}"
						widgetVar="deleteDlgWdgt" 
						showEffect="clip" 
						hideEffect="clip"
						resizable="false" 
						dynamic="true" 
						modal="true" 
						appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['episode.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_episode:episode_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{episodeBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_episode:episode_table"
										actionListener="#{episodeBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			<p:dialog 
				modal="true" 
				widgetVar="saveStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>	
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{episodeBean.episodeToEdit ne null}">#{msgs['episode.details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%"
				columns="1" rendered="#{episodeBean.episodeToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o" form=":form_edit"
								value="#{msgs['save']}"
								actionListener="#{episodeBean.saveEpisode}"
								update=":main_container" 
								onstart="PF('saveStatusDialog').show()"
								onsuccess="PF('saveStatusDialog').hide()" 
								/>
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{episodeBean.cancelEditEpisode}"
								update=":main_container" />
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="id"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['episode.edit']} #{episodeBean.episodeToEdit.id}" />
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel for="selectedProduction"
										value="#{msgs['episode.production']}" />
									<p:selectOneMenu id="selectedProduction" required="true"
										value="#{episodeBean.selectedProduction}">
										<f:selectItems value="#{episodeBean.productions}" />
									</p:selectOneMenu>
									<p:outputLabel for="selectedStudio"
										value="#{msgs['episode.studio']}" />
									<p:selectOneMenu id="selectedStudio" required="true"
										value="#{episodeBean.selectedStudio}">
										<f:selectItems value="#{episodeBean.studios}" />
									</p:selectOneMenu>
									<!-- 
									<h:panelGroup
										rendered="#{episodeBean.episodeToEdit.id}">
										<p:outputLabel for="selectedEpisodeStatusType"
											value="#{msgs['episode.episodeStatus']}" />
										<p:selectOneMenu 
											id="selectedEpisodeStatusType" 
											required="true"
											value="#{episodeBean.selectedEpisodeStatusType}">
												<f:selectItems value="#{episodeBean.episodeStatusTypes}" />
										</p:selectOneMenu>
									</h:panelGroup>
									 -->
									<p:outputLabel value=" #{msgs['episode.dateFrom']}:" />
									<p:calendar id="idStartDate" pattern="dd/MM/yyyy HH:mm"
										 required="false"
										value="#{episodeBean.episodeToEdit.dateFrom}">
										<p:ajax event="dateSelect"
											listener="#{episodeBean.onDateFromChanged}"
											update="form_edit:idEndDate" />
									</p:calendar>

									<p:outputLabel value=" #{msgs['episode.dateTo']}:" />

										<p:calendar 
											id="idEndDate" 
											pattern="dd/MM/yyyy HH:mm"
											required="false"
											value="#{episodeBean.episodeToEdit.dateTo}"
											mindate="#{episodeBean.episodeToEdit.dateFrom}">
											<p:ajax event="dateSelect"/>
										</p:calendar>

									<p:outputLabel value=" #{msgs['episode.requestedSpectators']}:" />
									<p:inputText required="true"
										value="#{episodeBean.episodeToEdit.requestedSpectators}" />
									<p:outputLabel value=" #{msgs['episode.effectiveSpectators']}:" />
									<p:inputText required="false" readonly="true"
										value="#{episodeBean.episodeToEdit.effectiveSpectators}" />
										
										
									<p:outputLabel for="time" value=" #{msgs['episode.attendanceDateHour']}:" />
        							<p:calendar 
        								id="time" 
        								value="#{episodeBean.episodeToEdit.attendanceDateHour}" 
        								pattern="HH:mm" 
        								timeOnly="true"
        							/>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>