<ui:composition
	template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">Home</ui:define>
	<ui:define  name="page-content">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGrid columns="1" cellpadding="10">
				<sec:authorize ifAnyGranted="ROLE_ADMIN">
					<p:graphicImage name="#" />
					<h:outputText
						value="Amministratore Sistema Studios - Benvenuto nel Sistema di Gestione STUDIOS." style="font-style: italic; font-size: 180%;"
					/>
				</sec:authorize>	
				<sec:authorize ifNotGranted="ROLE_ADMIN">		
					<sec:authorize ifAnyGranted="ROLE_STADMIN">
						<p:graphicImage name="#" />
						<h:outputText
							value="Superuser Studios - Benvenuto nel Sistema di Gestione STUDIOS" style="font-style: italic; font-size: 180%;"
						/>				
					</sec:authorize>	
					
					<sec:authorize ifNotGranted="ROLE_STADMIN">								
						<sec:authorize ifAnyGranted="ROLE_SECURITY">
							<p:graphicImage name="#" />
							<h:outputText
								value="Responsabile della Vigilanza - Benvenuto nel Sistema di Gestione STUDIOS."  style="font-style: italic; font-size: 180%;"
							/>
						</sec:authorize>
						<sec:authorize ifAnyGranted="ROLE_AGENCY">
							<p:graphicImage name="#" />
							<h:outputText
								value="Agenzia Esterna - Benvenuto nel Sistema di Gestione STUDIOS" style="font-style: italic; font-size: 180%;"
							/>
						</sec:authorize>
						<sec:authorize ifAnyGranted="ROLE_PRODUCTION">
							<p:graphicImage name="#" />
							<h:outputText
								value="Responsabile della Produzione - Benvenuto nel Sistema di Gestione STUDIOS" style="font-style: italic; font-size: 180%;"
							/>
						</sec:authorize>	
						<sec:authorize ifAnyGranted="ROLE_SUPERVISION">
							<p:graphicImage name="#" />
							<h:outputText
								value="Responsabile della Sicurezza  - Benvenuto nel Sistema di Gestione STUDIOS" style="font-style: italic; font-size: 180%;"
							/>
						</sec:authorize>
					</sec:authorize>
				</sec:authorize>		
			</h:panelGrid>
		</h:panelGroup>
	</ui:define>
</ui:composition>