<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">

 
	<ui:define name="page-title">#{msgs['incident_management']}</ui:define>
	<ui:define  name="page-content">
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('incident_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{incidentBean.incidentToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['incident_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content">
					<h:form id="form_incident">
						<p:commandButton 
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}" 
							style="width: auto !important;" 
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" 
							value="#{msgs['add']}" 
							update=":main_container" 
							actionListener="#{incidentBean.addIncident}" />

						<!-- Button relativi all'export dei dati -->
						<h:panelGrid columns="3" style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="incident_table" fileName="incident" pageOnly="false"/>
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="incident_table" fileName="incident" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="incident_table" fileName="incident" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>  
						<!--  Tabella riepilogativa -->
						<p:dataTable 
							id="incident_table" 
							value="#{incidentBean.lazyModelIncident}" 
							var="con" 
							paginator="true" rows="10" 
		                 	paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
		                 	rowsPerPageTemplate="5,10,15" 
		                 	lazy="true" 
		                 	style="padding-top: 20px;">

							<p:column headerText="#{msgs['incident.description']}" filterBy="#{con.description}" sortBy="#{con.description}" filterMatchMode="contains">
								<h:outputText value="#{con.description}"/>
							</p:column>
							
							<p:column headerText="#{msgs['incident.description']}" filterBy="#{con.description}" sortBy="#{con.description}" filterMatchMode="contains">
								<h:outputText value="#{con.description}"/>
							</p:column>
							<p:column headerText="#{msgs['incident.dateTime']}" sortBy="#{con.date}" filterMatchMode="contains">
								<h:outputText value="#{con.dateTimeIncident}">
									<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['incident.typeIncident']}" filterBy="#{con.incidentType.description}" filterMatchMode="contains">
								<h:outputText value="#{con.incidentType.description}"/>
							</p:column>
							<p:column headerText="#{msgs['incident.severity']}" filterBy="#{con.severityLevel.description}" filterMatchMode="contains">
								<h:outputText value="#{con.severityLevel.description}"/>
							</p:column>

							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;">
									
									<p:commandLink 
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
										update=":main_container" 
										title="Edit" 
										styleClass="fa fa-fw fa-pencil editbtncls"  
										actionListener="#{incidentBean.modifyIncident}">
											<f:param name="incidentId" value="#{con.idIncident}"/>
									</p:commandLink>
									<p:commandLink 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}" 
										style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
										oncomplete="PF('deleteDlgWdgt').show()" 
										title="Delete" 
										styleClass="fa fa-fw fa-trash deletebtncls"  
										actionListener="#{incidentBean.confirmDeleteIncident}">
											<f:param name="incidentId" value="#{con.idIncident}"/>
									</p:commandLink> 
								</div> 
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="incident delete" widgetVar="deleteDlgWdgt"
			          showEffect="clip" hideEffect="clip" resizable="false" dynamic="true"  modal="true" appendTo="@(body)" > 

						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['incident.confirm_delete']}"/>
									<br/>
									<br/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" update=":form_incident:incident_table" oncomplete="PF('deleteDlgWdgt').hide()"
					       	  		actionListener="#{incidentBean.delete}" value="#{msgs['confirm']}" >
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-close" immediate="true" oncomplete="PF('deleteDlgWdgt').hide()" update=":form_incident:incident_table"
					        		actionListener="#{incidentBean.cancelDelete}" value="#{msgs['cancel']}" /> 
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<!-- Inizio Inserisco le modifiche sulla gestione dell'incidente -->

			<p:layout styleClass="layouteditcls" style="min-width:400px;min-height:850px;" rendered="#{incidentBean.incidentToEdit ne null}">
				<p:layoutUnit position="west" resizable="true" size="400" minSize="40" maxSize="600">
					<h:panelGroup>
						<p:panel>
							<p:toolbar>
								<f:facet name="left">
									<p:commandButton 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}" 
										styleClass="button_classe savebtncls" 
										icon="fa fa-fw fa-floppy-o" 
										form=":form_edit" 
										value="#{msgs['save']}" 
										actionListener="#{incidentBean.saveIncident}" 
										update=":main_container"/>
									<p:commandButton 
										styleClass="button_classe cancelbtncls" 
										icon="fa fa-fw fa-times" 
										immediate="true" 
										form=":form_edit" 
										value="#{msgs['cancel']}" 
										actionListener="#{incidentBean.cancelEditIncident}" 
										update=":main_container"/>
									<span class="ui-separator">
										<span class="ui-icon ui-icon-grip-dotted-vertical" />
									</span>
									<p:outputLabel id="descrizione" style="font-weight: bold;padding-left: 10px;" value="#{msgs['incident.edit']} #{incidentBean.incidentToEdit.description}"/>
								</f:facet>
							</p:toolbar>
						</p:panel>

						<p:panel id="layout_internal_center" style="border: 0;" >
							<h:form id="form_edit">
								<div class="ui-fluid">
									<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid">
										<p:fieldset style="max-width: 300px;" >
											<p:outputLabel value="* #{msgs['incident.name']}:" />
											<p:inputText
												disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
												required="true" 
												value="#{incidentBean.incidentToEdit.description}">
												<p:ajax event="blur" ></p:ajax>
											</p:inputText>
											<p:outputLabel value="* #{msgs['incident.gravityLevel']}:"/>
											<p:selectOneMenu 
												id="selectedSeverityLevel" 
												disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}" 
												value="#{incidentBean.selectedSeverityLevel}">
												<f:selectItems value="#{incidentBean.severityLevelList}"/>		          
												<p:ajax event="blur" ></p:ajax>              
											</p:selectOneMenu>
											<p:outputLabel value="* #{msgs['incident.typeIncident']}:"/>
											<p:selectOneMenu 
												id="selectedTypeIncident"
												disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
												value="#{incidentBean.selectedTypeIncident}">
												<f:selectItems value="#{incidentBean.typeIncidentList}"/>	
												<p:ajax event="blur" ></p:ajax>	                        
											</p:selectOneMenu>
											<!-- 
											<p:outputLabel value="* #{msgs['incident.production']}:"/>
											<p:selectOneMenu 
												id="selectedProduction" 
												value="#{incidentBean.selectedProduction}" 
												required="true">
												<f:selectItems value="#{incidentBean.productionList}" />
												<p:ajax event="itemSelect"
													listener="#{incidentBean.loadStudio}"
													update="form_edit:selectedEpisode" />
											</p:selectOneMenu>
											
											<p:outputLabel value="* #{msgs['incident.episode']}:"/>
											<p:selectOneMenu 
												id="selectedEpisode"
												required="true" 
												value="#{incidentBean.selectedEpisode}">
												<f:selectItems value="#{incidentBean.episodeList}" />
												<p:ajax event="itemSelect"
													listener="#{incidentBean.selectDateTime}"
													update="form_edit:nameStudio" />
											</p:selectOneMenu>
											
											<p:outputLabel value="* #{msgs['incident.studio']}:"/>
											<h:inputHidden value="#{incidentBean.selectedStudio}" id="selectedStudio"> </h:inputHidden>
											<p:inputText readonly="true" value="#{incidentBean.nameStudio}" id="nameStudio">
											</p:inputText>
											 -->
											<p:outputLabel for="dateTimeIncident" value="#{msgs['incident.dateTime']}"/>
											<p:calendar 
												id="dateTimeIncident"
												disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
												value="#{incidentBean.incidentToEdit.dateTimeIncident}" 
												locale="#{msgs['locales']}"
												required="true" 
												pattern="dd/MM/yyyy" >
												
												<p:ajax event="dateSelect" ></p:ajax>
												<p:ajax event="change" ></p:ajax>
											</p:calendar>
										</p:fieldset>
									</p:panelGrid>
								</div>
							</h:form>
						</p:panel>
					</h:panelGroup>
				</p:layoutUnit>

				<p:layoutUnit position="center" >
					<h:form>
						<p:outputLabel for="longDescription" value="#{msgs['incident.longDescription']}"/>
						<p:inputTextarea
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
							rows="6" 
							style="width: 98%;background: transparent !important; 
							color: black !important;" 
							id="longDescription" 
							value="#{incidentBean.incidentToEdit.longDescription}" >
							<p:ajax></p:ajax>
						</p:inputTextarea>
						<!-- <p:textEditor  id="longDescription" height="200" value="#{incidentBean.incidentToEdit.longDescription}"></p:textEditor> -->
					</h:form>
					<br></br>
					
					<h:panelGroup>
						<p:tabView id="tabview" activeIndex="#{incidentBean.activeTab}">
							<p:tab id="spectatorTab" title="#{msgs['incident.spectators']}" >
								<h:panelGroup >
									<p:panel >
										<p:toolbar id="rightLocations">
											<f:facet name="left">
												<h:panelGroup rendered="#{(incidentBean.incidentToEdit ne null) and (incidentBean.spectatorToEdit eq null)}">
													<p:commandButton 
														styleClass="button_classe addbtncls"
														disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}" 
														icon="fa fa-fw fa-plus-circle"
														value="#{msgs['add']}" 
														form="tabview:form_manage_spectators"
														update="main_container"
														actionListener="#{incidentBean.addSpectator}"/>		
												</h:panelGroup>

												<h:panelGroup rendered="#{(incidentBean.incidentToEdit ne null) and (incidentBean.spectatorToEdit ne null)}">
													<p:commandButton 
														styleClass="button_classe updatebtncls" 
														icon="fa fa-fw fa-floppy-o"
														value="#{msgs['update']}" 
														form="tabview:form_edit_spectator"
														actionListener="#{incidentBean.saveIncidentSpectator}"
														update="main_container tabview:form_manage_spectators:spectator_table"/>
														
													<p:commandButton 
														styleClass="button_classe cancelbtncls" 
														icon="fa fa-fw fa-times" 
														value="#{msgs['cancel']}" 
														immediate="true" 
														form="tabview:form_edit_spectator"
														actionListener="#{incidentBean.cancelEditSpectator}" 
														update="main_container tabview:form_manage_spectators:spectator_table"/>
												</h:panelGroup>
											</f:facet>
										</p:toolbar>
									</p:panel>

									<p:panel>
										<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: inline-block" rendered="#{incidentBean.spectatorToEdit eq null}">
											<h:form id="form_manage_spectators">
												<p:dataTable 
													id="spectator_table" 
													value="#{incidentBean.incidentToEdit.spectatorIncident}" 
													var="spectators" paginator="true" rows="10" 
													paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
													rowsPerPageTemplate="5,10,15" style="padding-top: 20px;">

													<p:column headerText="#{msgs['incident.spectators']}" filterBy="#{spectators.spectator.name}" sortBy="#{spectators.spectator.name}" filterMatchMode="contains">
														<h:outputText value="#{spectators.spectator.surname}"/> - <h:outputText value="#{spectators.spectator.name}"/>
													</p:column>

													<p:column headerText="" exportable="false" >
														<div style="text-align: center; width: 100%;">

															<p:commandLink
																disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
																style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
																update=":main_container :tabview:form_edit_spectator" 
																title="Edit" styleClass="fa fa-fw fa-pencil editbtncls"  
																actionListener="#{incidentBean.modifySpectator}">
																<f:param name="spectatorId" value="#{spectators.spectator.id}"/>
															</p:commandLink>

															<p:commandLink
																disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('incident_management_1'))}"  
																style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
																oncomplete="PF('deleteSpectatorDlgWdgt').show()" 
																title="Delete" styleClass="fa fa-fw fa-trash deletebtncls"  
																actionListener="#{incidentBean.confirmDeleteSpectator}">
																<f:param name="spectatorId" value="#{spectators.spectator.id}"/>
															</p:commandLink>
														</div>
													</p:column>
												</p:dataTable>
											</h:form>

											<p:dialog 
													id="deleteLocationDlg" 
													header="#{msgs['incident.spectators_delete']}" 
													widgetVar="deleteSpectatorDlgWdgt" 
													showEffect="clip" 
													hideEffect="clip" 
													resizable="false" 
													dynamic="true"  
													modal="true" 
													appendTo="@(body)">    
												<h:panelGroup styleClass="popupBody">
													<h:form id="form_spectatorDelete">
														<center>
															<br/>
															<h:outputText value="#{msgs['spectator.confirm_delete']}"/>
															<br/>
															<br/>
															<p:commandButton 
																styleClass="button_classe" 
																icon="ui-icon-cancel" 
																update="tabview:form_manage_spectators:spectator_table" 
																oncomplete="PF('deleteSpectatorDlgWdgt').hide()"
																actionListener="#{incidentBean.deleteSpectator}" 
																value="#{msgs['delete']}" >
															</p:commandButton>
															<h:outputText value="  "/>
															<p:commandButton 
																styleClass="button_classe" 
																icon="ui-icon-close" 
																immediate="true" 
																oncomplete="PF('deleteSpectatorDlgWdgt').hide()" 
																update="tabview:form_manage_spectators:spectator_table"
																actionListener="#{indicentBean.cancelDeleteSpectator}" 
																value="#{msgs['cancel']}" /> 
															<br/>
															<br/>
														</center>
													</h:form>
												</h:panelGroup>
											</p:dialog>
										</p:panelGrid>

										<h:form id="form_edit_spectator">
											<div class="ui-fluid" style="border:0;"> 
												<p:panelGrid 
													columns="1" 
													layout="grid" 
													styleClass="content-fluid-grid" 
													style="display: inline-block" 
													rendered="#{incidentBean.spectatorToEdit ne null}">
													<p:fieldset >
														<p:outputLabel 
															for="selectedSpectatorIncident" 
															value="#{msgs['incident.spectators']}" />
														<p:autoComplete 
															id="selectedSpectatorIncident" 
															value="#{incidentBean.spectatorToEdit}"
															completeMethod="#{incidentBean.completeSpectator}"
															emptyMessage="No results"
															var="sp"
															itemLabel="#{sp.fullName}" 
															itemValue="#{sp}"
															converter="SpectatorIncidentConverter" 
															forceSelection="false"
															minQueryLength="3" 
															disabled="false" >
															<h:panelGrid columns="3" >
																<p:column>
																	<h:outputText value="#{sp.name}" />
																</p:column>
																<p:column>
																	<h:outputText value="#{sp.surname}" />
																</p:column>
																<p:column>
																	<h:outputText value="#{sp.birthDate}" />
																</p:column>
															</h:panelGrid>
														</p:autoComplete>

														<!-- 
														<p:outputLabel for="selectedSpectatorIncident" value="#{msgs['incident.spectators']}"/>
														<p:selectOneMenu id="selectedSpectatorIncident" value="#{incidentBean.selectedSpectatorIncident}">
															<f:selectItems value="#{incidentBean.spectatorList}"/>		                        
														</p:selectOneMenu>
														 -->
														<p:outputLabel for="selectedTypeBlackList" value="#{msgs['typeBlackList.type']}"/>
														<p:selectOneMenu id="selectedTypeBlackList" value="#{incidentBean.selectedTypeBlackList}">
															<f:selectItems value="#{incidentBean.typeBlackList}"/>		                        
														</p:selectOneMenu>
													</p:fieldset>
												</p:panelGrid>	
											</div>	
										</h:form>
									</p:panel>
								</h:panelGroup>
							</p:tab>
						</p:tabView>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
			<!-- Fine Inserisco le modifiche sulla gestione dell'incidente -->
		</h:panelGroup>
	</sec:authorize>	
	</ui:define>
</ui:composition>