<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">#{msgs['location_management']}</ui:define>
	<ui:define name="page-content">
	 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('location_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{locationBean.locationToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['location_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_location">
						<!-- Button Add Location -->
						<p:commandButton 
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}" 
							style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							actionListener="#{locationBean.addLocation}" 
							/>
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="location_table"
									fileName="location" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="location_table"
									fileName="location" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="location_table"
									fileName="location" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<!-- DataTabel Location -->
						<p:dataTable id="location_table"
							value="#{locationBean.lazyModelLocation}" var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['location.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>
							
							<p:column headerText="#{msgs['location.description']}"
								filterBy="#{con.description}" sortBy="#{con.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.description}" />
							</p:column>
							
							<p:column headerText="#{msgs['locationType.type']}"
								filterBy="#{con.locationType.description}"
								sortBy="#{con.locationType.description}"
								filterMatchMode="contains">
								<h:outputText value="#{con.locationType.description}" />
							</p:column>

							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{locationBean.modifyLocation}">
										<f:param name="locationId" value="#{con.id}" />
									</p:commandLink>
									
									<p:commandLink
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}" 
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{locationBean.confirmDeleteLocation}">
										<f:param name="locationId" value="#{con.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="#{msgs['location.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['location.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_location:location_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{locationBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_location:location_table"
										actionListener="#{locationBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			<!-- Creo schermata contenente le associazioni varco / apparato -->
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{locationBean.locationToEdit ne null}">#{msgs['location.details']}</h:panelGroup>
			<p:layout styleClass="layouteditcls"
				style="min-width:400px;min-height:850px;"
				rendered="#{locationBean.locationToEdit ne null}">
				<p:layoutUnit position="west" resizable="true" size="400"
					minSize="40" maxSize="600">
					<h:panelGroup>
						<!-- Disegno la pulsantiera contenente le azioni sul salvataggio e annulla -->
						<p:panel>
							<p:toolbar>
								<f:facet name="left">
									<p:commandButton 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}" 
										styleClass="button_classe savebtncls"
										icon="fa fa-fw fa-floppy-o" form=":form_edit"
										value="#{msgs['save']}"
										actionListener="#{locationBean.saveLocation}"
										update=":main_container" />
									<p:commandButton 
										styleClass="button_classe cancelbtncls"
										icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
										value="#{msgs['cancel']}"
										actionListener="#{locationBean.cancelEditLocation}"
										update=":main_container" />
									<span class="ui-separator"> <span
										class="ui-icon ui-icon-grip-dotted-vertical" />
									</span>
									<p:outputLabel id="description"
										style="font-weight: bold;padding-left: 10px;"
										value="#{msgs['location.edit']} #{locationBean.locationToEdit.description}" />
								</f:facet>
							</p:toolbar>
						</p:panel>
						<!-- Disegno la maschera contenente i campi da modificare -->
						<p:panel id="layout_internal_center" style="border: 0;">
							<h:form id="form_edit">
								<div class="ui-fluid">
									<p:panelGrid columns="1" layout="grid"
										styleClass="content-fluid-grid">
										<p:fieldset style="max-width: 300px;">
										
											<p:outputLabel value="* #{msgs['location.name']}:" />
											<p:inputText required="true" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}" 
												value="#{locationBean.locationToEdit.name}" />										
										
											<p:outputLabel value="#{msgs['location.description']}:" />
											<p:inputText required="false" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}"
												value="#{locationBean.locationToEdit.description}" />

											<p:outputLabel value="* #{msgs['locationType.type']}:" />
											<p:selectOneMenu 
												id="selectedLocationType"
												disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}"
												value="#{locationBean.selectedLocationType}"
												required="true">
												<f:selectItems value="#{locationBean.locationTypes}" />
											</p:selectOneMenu>
										</p:fieldset>
									</p:panelGrid>
								</div>
							</h:form>
						</p:panel>
					</h:panelGroup>
				</p:layoutUnit>
				<p:layoutUnit position="center">
					<h:panelGroup>
						<p:tabView id="tabview" activeIndex="#{locationBean.activeTab}">
							<p:tab id="apparatusTab" title="#{msgs['apparatus']}">
								<h:panelGroup>
									<p:panel>
										<p:toolbar id="rightApparatus">
											<f:facet name="left">
												<h:panelGroup
													rendered="#{(locationBean.locationToEdit ne null) and (locationBean.apparatusToEdit eq null)}">
													
													<p:commandButton 
														styleClass="button_classe addbtncls"
														disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}"
														icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
														form="tabview:form_manage_apparatus"
														update="main_container"
														actionListener="#{locationBean.addLocationApparatus}" />
													
													<!-- <p:commandButton styleClass="button_classe clearbtncls"
														icon="fa fa-fw fa-share" value="#{msgs['clear']}"
														form="tabview:form_manage_apparatus"
														actionListener="#{locationBean.wipeApparatus}"
														update="tabview:form_manage_apparatus:apparatu_table" /> -->
												</h:panelGroup>

												<h:panelGroup
													rendered="#{(locationBean.locationToEdit ne null) and (locationBean.apparatusToEdit ne null)}">
													<p:commandButton styleClass="button_classe updatebtncls"
														icon="fa fa-fw fa-floppy-o" value="#{msgs['update']}"
														form="tabview:form_edit_apparatu"
														actionListener="#{locationBean.saveLocationApparatu}"
														update="main_container tabview:form_manage_apparatus:apparatu_table" />
													<p:commandButton styleClass="button_classe cancelbtncls"
														icon="fa fa-fw fa-times" value="#{msgs['cancel']}"
														immediate="true" form="tabview:form_edit_apparatu"
														actionListener="#{locationBean.cancelEditApparatus}"
														update="main_container tabview:form_manage_apparatus:apparatu_table" />
												</h:panelGroup>
											</f:facet>
										</p:toolbar>
									</p:panel>

									<p:panel>
										<p:panelGrid columns="1" layout="grid"
											styleClass="content-fluid-grid" style="display: inline-block"
											rendered="#{locationBean.apparatusToEdit eq null}">
											<h:form id="form_manage_apparatus">
												<p:dataTable id="apparatu_table"
													value="#{locationBean.listLocationApparatus}" var="appas"
													paginator="true" rows="10"
													paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
													rowsPerPageTemplate="5,10,15" style="padding-top: 20px;">

													<p:column headerText="#{msgs['apparatus.description']}"
														filterBy="#{appas.apparatus.description}"
														sortBy="#{appas.apparatus.description}"
														filterMatchMode="contains">
														<h:outputText value="#{appas.apparatus.description}" />
													</p:column>

													<p:column headerText="" exportable="false">
														<div style="text-align: center; width: 100%;">
															<p:commandLink
																disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}"
																style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
																update=":main_container" title="Edit"
																styleClass="fa fa-fw fa-pencil editbtncls"
																actionListener="#{locationBean.modifyApparatus}">
																<f:param name="apparatusId"
																	value="#{appas.apparatus.id}" />
															</p:commandLink>
															<p:commandLink
															 	disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('location_management_1'))}"
																style="border: 1px solid lightgray; width: 18px; display: inline-block;"
																oncomplete="PF('deleteApparatusDlgWdgt').show()"
																title="Delete" styleClass="fa fa-fw fa-trash editbtncls"
																actionListener="#{locationBean.confirmDeleteApparatus}">
																<f:param name="apparatusId"
																	value="#{appas.apparatus.id}" />
															</p:commandLink>
														</div>
													</p:column>
												</p:dataTable>
											</h:form>

											<p:dialog id="deleteApparatusDlg"
												header="#{msgs['apparatus.delete']}"
												widgetVar="deleteApparatusDlgWdgt" showEffect="clip"
												hideEffect="clip" resizable="false" dynamic="true"
												modal="true" appendTo="@(body)">
												<h:panelGroup styleClass="popupBody">
													<h:form id="form_apparatusDelete">
														<center>
															<br />
															<h:outputText value="#{msgs['apparatus.confirm_delete']}" />
															<br /> <br />
															<p:commandButton styleClass="button_classe"
																icon="ui-icon-cancel"
																update="tabview:form_manage_apparatus:apparatu_table"
																oncomplete="PF('deleteApparatusDlgWdgt').hide()"
																actionListener="#{locationBean.deleteApparatus}"
																value="#{msgs['delete']}">
															</p:commandButton>
															<h:outputText value="  " />
															<p:commandButton styleClass="button_classe"
																icon="ui-icon-close" immediate="true"
																oncomplete="PF('deleteApparatusDlgWdgt').hide()"
																update="tabview:form_manage_apparatus:apparatu_table"
																actionListener="#{locationBean.cancelDeleteApparatus}"
																value="#{msgs['cancel']}" />
															<br /> <br />
														</center>
													</h:form>
												</h:panelGroup>
											</p:dialog>
										</p:panelGrid>
										<h:form id="form_edit_apparatu">
											<div class="ui-fluid" style="border: 0;">
												<p:panelGrid columns="1" layout="grid"
													styleClass="content-fluid-grid"
													style="display: inline-block"
													rendered="#{locationBean.apparatusToEdit ne null}">
													<p:fieldset>
														<p:outputLabel value="* #{msgs['locationType.type']}:" />
														<p:selectOneMenu id="selectedApparatus"
															value="#{locationBean.selectedApparatus}">
															<f:selectItems value="#{locationBean.locationApparatus}" />
														</p:selectOneMenu>
													</p:fieldset>
												</p:panelGrid>
											</div>
										</h:form>
									</p:panel>
								</h:panelGroup>
							</p:tab>
						</p:tabView>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>