<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">Tipologia Location</ui:define>

	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('locationType_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup
				rendered="#{locationTypeBean.locationTypeToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['locationType_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_locationType">
						<p:commandButton 
							style="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('locationType_management_1'))}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['add']}" update=":main_container"
							actionListener="#{locationTypeBean.addLocationType}" />

						<!-- Button relativi all'export dei dati -->
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="locationType_table"
									fileName="locationType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="locationType_table"
									fileName="locationType" pageOnly="false" />
							</h:commandLink>

							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="locationType_table"
									fileName="locationType" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>

						<!--  Tabella riepilogativa -->

						<p:dataTable id="locationType_table"
							value="#{locationTypeBean.lazyModelLocationType}" var="con"
							paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="Descrizione" filterBy="#{con.description}"
								sortBy="#{con.description}" filterMatchMode="contains">
								<h:outputText value="#{con.description}" />
							</p:column>
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{locationTypeBean.modifyLocationType}">
										<f:param name="locationTypeId" value="#{con.id}" />
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" 
										rendered="#{con.id gt 3}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('locationType_management_1'))}"
										title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{locationTypeBean.confirmDeleteLocationType}">
										<f:param name="locationTypeId" value="#{con.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="#{msgs['locationType.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">

						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['locationType.confirm_delete']}" />
									<br /> <br />
									<p:commandButton 
										styleClass="button_classe"
										icon="ui-icon-cancel"
										update=":form_locationType:locationType_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{locationTypeBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_locationType:locationType_table"
										actionListener="#{locationTypeBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{locationTypeBean.locationTypeToEdit ne null}">#{msgs['details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{locationTypeBean.locationTypeToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('locationType_management_1'))}"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{locationTypeBean.saveLocationType}"
								update=":main_container" />
							<p:commandButton 
								styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{locationTypeBean.cancelEditLocationType}"
								update=":main_container" />

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="descrizione"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['locationType.edit']} #{locationTypeBean.locationTypeToEdit.description}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['name']}:" />
									<p:inputText 
										required="true"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('locationType_management_1'))}"
										value="#{locationTypeBean.locationTypeToEdit.description}">
									</p:inputText>
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>