<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['media_management']}</ui:define>
	<ui:define name="page-content">
	<h:form id="form_poll">
		<p:poll immediate="true" async="true" interval="5" listener="#{mediaBean.heartbeat}"  /> <!-- Mi serve per dire che la pagina è ancora viva -->
	</h:form>
	 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_SECURITY, ROLE_SUPERVISION"> -->
	 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('media_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{mediaBean.mediaToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['media_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_media">
						<p:commandButton 
							style="width: auto !important;"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle"
							value="#{msgs['add']}" update=":main_container"
							actionListener="#{mediaBean.addMedia}"></p:commandButton>
						<p:outputLabel style="position: relative;top: -7px;font-size: 120%; margin-right: 10px;" for="desk" value="#{msgs['desk']}" />
						<p:selectOneMenu 
							id="desk" 
							value="#{mediaBean.selectedDesk}"
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"> 
							<!-- 
							disabled="#{mediaBean.selectedDesk ne null}">
							 -->
								<f:selectItems value="#{mediaBean.desks}" />
							<p:ajax 
								event="itemSelect" 
								listener="#{mediaBean.deskChanged()}" 
								update="@this">
							</p:ajax>
						</p:selectOneMenu>
							
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="media_table" fileName="media"
									pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="media_table" fileName="media"
									pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="media_table" fileName="media"
									pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="media_table" value="#{mediaBean.lazyModelMedia}"
							var="con" paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['media.code']}"
								filterBy="#{con.code}" sortBy="#{con.code}"
								filterMatchMode="contains">
								<h:outputText value="#{con.code}" />
							</p:column>
							<!-- sortBy="#{con.mediaType.description}"   -->
							<p:column headerText="#{msgs['mediaType.description']}"
								filterBy="#{con.mediaType.description}"
								
								filterMatchMode="contains">
								<h:outputText value="#{con.mediaType.description}" />
							</p:column>

							<!-- sortBy="#{con.mediaStatusType.description}"  -->
							<p:column headerText="#{msgs['mediaStatusType.description']}"
								filterBy="#{con.mediaStatusType.description}"
								
								filterMatchMode="contains">
								<h:outputText value="#{con.mediaStatusType.description}" />
							</p:column>

							<p:column headerText="#{msgs['media.label']}"
								filterBy="#{con.label}" 
								sortBy="#{con.label}"
								filterMatchMode="contains">
								<h:outputText value="#{con.label}" />
							</p:column>

							<p:column headerText="#{msgs['media.barcode']}"
								filterBy="#{con.barCode}" 
								sortBy="#{con.barCode}"
								filterMatchMode="contains">
								<h:outputText value="#{con.barCode}" />
							</p:column>

							<p:column headerText="#{msgs['media.active']}"
								filterBy="#{con.active}" 
								sortBy="#{con.active}"
								filterMatchMode="contains">
								<h:outputText value="#{con.active}" />
							</p:column>

							<p:column headerText="#{msgs['media.startDate']}"
								filterBy="#{con.startDate}" 
								sortBy="#{con.startDate}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:outputLabel>
							</p:column>

							<p:column headerText="#{msgs['media.endDate']}"
								filterBy="#{con.endDate}" 
								sortBy="#{con.endDate}"
								filterMatchMode="contains">
								<p:outputLabel value="#{con.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:outputLabel>
							</p:column>
							
							<p:column headerText="#{msgs['spectator']}">
								<p:outputLabel value="#{mediaBean.getSpectatorOwnerName(con.id)}"> 
								</p:outputLabel>
							</p:column>
							

							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="#{msgs['media.unlock']}"
										styleClass="fa fa-fw fa-unlock-alt editbtncls"
										actionListener="#{mediaBean.fastUnlockMedia}"
										disabled="#{(not(con.mediaStatusType.idStatus eq 2) or (con.mediaStatusType.idStatus eq 6)) or (navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))) }">
										<f:param name="mediaId" value="#{con.id}"></f:param>
									</p:commandLink>								
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{mediaBean.modifyMedia}">
										<f:param name="mediaId" value="#{con.id}"></f:param>
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{mediaBean.confirmDeleteMedia}">
										<f:param name="mediaId" value="#{con.id}"></f:param>
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
						<p:socket onMessage="handleBadgeMessage" channel="/badge/#{session.getId()}">
							<p:ajax event="message" update="form_edit:media_code" />
						</p:socket> 
						
					</h:form>
					
					<script type="text/javascript">
						function handleBadgeMessage(data) {
							// Viene richiamato prima dell'update del ajax event

							if (data != null) {
								if (data != '') {
									//alert(data);
									$('#error_messages').html(
											"<b>" + data + "</b>");
									PF('warn_dialog').show();
								}
							}
						}
					</script>
					<p:dialog id="dialog_error" header="#{msgs['sign']}"
						widgetVar="warn_dialog" minHeight="40" modal="true"
						appendTo="@(body)">
						<br />
						<h:outputText id="error_messages" value=" " />
						<br />
						<br />
					</p:dialog>
					
					<p:dialog id="deleteDlg" header="#{msgs['media.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['media.confirm_delete']}"></h:outputText>
									<br />
									<br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_media:media_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{mediaBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_media:media_table"
										actionListener="#{mediaBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br />
									<br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{mediaBean.mediaToEdit ne null}">#{msgs['details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{mediaBean.mediaToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton 
								styleClass="button_classe savebtncls"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
								icon="fa fa-fw fa-floppy-o"
								form=":form_edit" value="#{msgs['save']}"
								actionListener="#{mediaBean.saveMedia}" update=":main_container">
							</p:commandButton>
							<p:commandButton 
								styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times"
								immediate="true" form=":form_edit" value="#{msgs['cancel']}"
								actionListener="#{mediaBean.cancelEditMedia}"
								update=":main_container">
							</p:commandButton>
							
							<p:commandButton 
								styleClass="button_classe cancelbtncls"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
								icon="fa fa-unlock-alt"
								immediate="true" form=":form_edit" value="#{msgs['media.unlock']}"
								actionListener="#{mediaBean.unlockMedia}"
								update=":main_container">
							</p:commandButton>
							
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['media.edit']} #{mediaBean.mediaToEdit.code}"></p:outputLabel>
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<!--  -->
									<p:outputLabel 
										value="* #{msgs['media.code']}:"/>
									<p:inputText 
										id="media_code"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										required="true"
										value="#{mediaBean.mediaToEdit.code}">
									</p:inputText>

									<p:outputLabel for="selectedMediaType"
										value="* #{msgs['media.mediaType']}" />
									<p:selectOneMenu 
										id="selectedMediaType"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										value="#{mediaBean.selectedMediaType}"
										required="true">
											<f:selectItems value="#{mediaBean.mediaTypes}" />
									</p:selectOneMenu>

									<p:outputLabel for="selectedMediaStatusType"
										value="* #{msgs['media.mediaStatusType']}" />
									<p:selectOneMenu 
										id="selectedMediaStatusType"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										value="#{mediaBean.selectedMediaStatusType}"
										required="true">
											<f:selectItems value="#{mediaBean.mediaStatusTypes}" />
									</p:selectOneMenu>

									<p:outputLabel for="mediaLabel" value="* #{msgs['media.label']}:"/>
									<p:inputText
										id="mediaLabel"
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										value="#{mediaBean.mediaToEdit.label}"/>

									<p:outputLabel for="idBarcode" value="#{msgs['media.barcode']}:"/>
									<p:inputText 
										id="idBarcode"
										required="false"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										value="#{mediaBean.mediaToEdit.barCode}"/>

									<p:outputLabel value="* #{msgs['media.active']}:"/>
									<br />
									<p:selectBooleanButton 
										value="#{mediaBean.mediaToEdit.active}"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
										onLabel="#{msgs['yes']}" offLabel="#{msgs['no']}"
										onIcon="ui-icon-check" offIcon="ui-icon-close"
										style="width:60px">
									</p:selectBooleanButton>
									<br />
									<p:outputLabel value="*#{msgs['media.startDate']}:">
										<p:calendar 
											id="StartDate"
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
											pattern="dd/MM/yyyy"
											required="true" 
											value="#{mediaBean.mediaToEdit.startDate}">
											<p:ajax event="dateSelect" update="endDate"/>
										</p:calendar>
									</p:outputLabel>

									<p:outputLabel value="*#{msgs['media.endDate']}:">
										<p:calendar
											id="endDate"
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('media_management_1'))}"
											pattern="dd/MM/yyyy" 											
											required="true" 
											value="#{mediaBean.mediaToEdit.endDate}"
											mindate="#{mediaBean.mediaToEdit.startDate}"/>
									</p:outputLabel>

								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>