<ui:composition
	template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['productionCenter_management']}</ui:define>
	<ui:define  name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{productionCenterBean.productionCenterToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['productionCenter_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content">
					<h:form id="form_productionCenter">
						<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION"> -->
						<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management_1')}">
							<p:commandButton 
								style="width: auto !important;" 
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"
								styleClass="button_classe addbtncls" 
								icon="fa fa-fw fa-plus-circle" 
								value="#{msgs['add']}" 
								update=":main_container" 
								actionListener="#{productionCenterBean.addProductionCenter}" />
						</sec:authorize>
						<h:panelGrid columns="3" style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="productionCenter_table" fileName="productionCenter" pageOnly="false"/>
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="productionCenter_table" fileName="productionCenter" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="productionCenter_table" fileName="productionCenter" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid> 
						<p:dataTable 
							id="productionCenter_table" 
							value="#{productionCenterBean.lazyModelProductionCenter}" 
							var="con" 
							paginator="true" 
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" 
							lazy="true" 
							style="padding-top: 20px;">
							<p:column headerText="#{msgs['productionCenter.name']}" filterBy="#{con.name}" sortBy="#{con.name}" filterMatchMode="contains">
								<h:outputText value="#{con.name}"/>
							</p:column>
							<p:column headerText="#{msgs['productionCenter.description']}" filterBy="#{con.description}" sortBy="#{con.description}" filterMatchMode="contains">
								<h:outputText value="#{con.description}"/>
							</p:column>
							<p:column headerText="#{msgs['productionCenter.locality']}" filterBy="#{con.locality}" sortBy="#{con.locality}" filterMatchMode="contains">
								<h:outputText value="#{con.locality}"/>
							</p:column>
							<p:column headerText="#{msgs['productionCenter.address1']}" filterBy="#{con.address1}" sortBy="#{con.address1}" filterMatchMode="contains">
								<h:outputText value="#{con.address1}"/>
							</p:column>
							<p:column headerText="#{msgs['productionCenter.address2']}" filterBy="#{con.address2}" sortBy="#{con.address1}" filterMatchMode="contains">
								<h:outputText value="#{con.address2}"/>
							</p:column>
							<p:column headerText="#{msgs['productionCenter.telephone']}" filterBy="#{con.telephone}" sortBy="#{con.telephone}" filterMatchMode="contains">
								<h:outputText value="#{con.telephone}"/>
							</p:column>
							<!--  
							<p:column headerText="#{msgs['productionCenter.email']}" filterBy="#{con.email}" sortBy="#{con.email}" filterMatchMode="contains">
								<h:outputText value="#{con.email}"/>
							</p:column>
							-->
							<p:column headerText="#{msgs['productionCenter.distributionList']}" filterBy="#{con.distributionList.name}" sortBy="#{con.distributionList.name}" filterMatchMode="contains">
								<h:outputText value="#{con.distributionList.name}"/>
							</p:column>
							
							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;">
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management_1')}"></sec:authorize >
										<p:commandLink 											
											style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
											update=":main_container" 
											title="Edit" 
											styleClass="fa fa-fw fa-pencil editbtncls"  
											actionListener="#{productionCenterBean.modifyProductionCenter}">
												<f:param name="productionCenterId" value="#{con.id}"/>
										</p:commandLink>
										<p:commandLink 
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"
											style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
											oncomplete="PF('deleteDlgWdgt').show()" 
											title="Delete" 
											styleClass="fa fa-fw fa-trash deletebtncls" 
											actionListener="#{productionCenterBean.confirmDeleteProductionCenter}">
												<f:param name="productionCenterId" value="#{con.id}"/>
										</p:commandLink>
									
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog 
						id="deleteDlg" 
						header="#{msgs['productionCenter.delete']}" 
						widgetVar="deleteDlgWdgt"
						showEffect="clip" 
						hideEffect="clip" 
						resizable="false" 
						dynamic="true"  
						modal="true" 
						appendTo="@(body)" > 
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['productionCenter.confirm_delete']}"/>
									<br/>
									<br/>
									<p:commandButton 
										styleClass="button_classe" 
										icon="ui-icon-cancel" 
										update=":form_productionCenter:productionCenter_table" 
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{productionCenterBean.delete}" 
										value="#{msgs['confirm']}" >
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton 
										styleClass="button_classe" 
										icon="ui-icon-close" 
										immediate="true" 
										oncomplete="PF('deleteDlgWdgt').hide()" 
										update=":form_productionCenter:productionCenter_table"
										actionListener="#{productionCenterBean.cancelDelete}" 
										value="#{msgs['cancel']}" /> 
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls" rendered="#{productionCenterBean.productionCenterToEdit ne null}">#{msgs['productionCenter.details']}</h:panelGroup>			
			<p:layout styleClass="layouteditcls" style="min-width:400px;min-height:850px;" rendered="#{productionCenterBean.productionCenterToEdit ne null}"  >
				<p:layoutUnit position="west" resizable="true" size="400" minSize="40" maxSize="600">
					<h:panelGroup>
						<!-- Inserisco il pannello con i button -->
						<p:panel>
							<p:toolbar>
								<f:facet name="left"> 
								<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION"> -->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management_1')}">
									<p:commandButton 
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"
										styleClass="button_classe savebtncls"
										icon="fa fa-fw fa-floppy-o" 
										form=":form_edit" 
										value="#{msgs['save']}" 
										actionListener="#{productionCenterBean.saveProductionCenter}" 
										update=":main_container"/>
								</sec:authorize>
									<p:commandButton 
										styleClass="button_classe cancelbtncls" 
										icon="fa fa-fw fa-times" 
										immediate="true" 
										form=":form_edit" 
										value="#{msgs['cancel']}" 
										actionListener="#{productionCenterBean.cancelEditProductionCenter}" 
										update=":main_container"/>
								
									<span class="ui-separator">
										<span class="ui-icon ui-icon-grip-dotted-vertical" />
									</span>
									<p:outputLabel id="descrizione" style="font-weight: bold;padding-left: 10px;" value="#{msgs['productionCenter.edit']} #{productionCenterBean.productionCenterToEdit.description}"/>
								</f:facet>
							</p:toolbar>
						</p:panel>
						
						<p:panel id="layout_internal_center" style="border: 0;" >
							<h:form id="form_edit">
								<div class="ui-fluid">
									<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid">
									<p:fieldset style="max-width: 300px;" >							
										<p:outputLabel value="* #{msgs['productionCenter.name']}:"/>
										<p:inputText disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" required="true" value="#{productionCenterBean.productionCenterToEdit.name}"/>
										<p:outputLabel value="* #{msgs['productionCenter.description']}:"/>
										<p:inputText disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" required="true" value="#{productionCenterBean.productionCenterToEdit.description}"/>
										<p:outputLabel value="* #{msgs['productionCenter.locality']}:"/>
										<p:inputText disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" required="true" value="#{productionCenterBean.productionCenterToEdit.locality}"/>
										<p:outputLabel value="* #{msgs['productionCenter.address1']}:"/>
										<p:inputText disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" required="true" value="#{productionCenterBean.productionCenterToEdit.address1}"/>
										<p:outputLabel value="#{msgs['productionCenter.address2']}:"/>
										<p:inputText disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" required="false" value="#{productionCenterBean.productionCenterToEdit.address2}"/>		                        
										<p:outputLabel value="* #{msgs['productionCenter.telephone']}:"/> <p:message for="telNumber" />
										<p:inputMask 
											id="telNumber"
											required="false"
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"  
											value="#{productionCenterBean.productionCenterToEdit.telephone}"
											mask="(99) ?9999-99999999">
										</p:inputMask>
										<!-- 
										<p:outputLabel 
											value="#{msgs['productionCenter.email']}:"/>
										<p:inputText 
											id="email"
											required="true" 
											value="#{productionCenterBean.productionCenterToEdit.email}"
											validatorMessage="#{productionCenterBean.productionCenterToEdit.email} #{msgs['productionCenter.noValidEmail']}"
										>
											<f:validateRegex pattern="((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)*" />	
										</p:inputText>	
										<p:message for="email"/>
										 -->
										<p:outputLabel 
											for="selectedDistributionList" 
											value="#{msgs['productionCenter.distributionList']}:"/>
										<p:selectOneMenu 
											id="selectedDistributionList" 
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" 
											value="#{productionCenterBean.selectedDistributionList}" 
											required="true">
												<f:selectItems value="#{productionCenterBean.distributionLists}"/>   
										</p:selectOneMenu>	                    		                        
									</p:fieldset>
								</p:panelGrid>
								</div>
							</h:form>
						</p:panel>
					</h:panelGroup>
				</p:layoutUnit>
				<p:layoutUnit position="center" >
					<h:panelGroup>
						<p:tabView id="tabview" activeIndex="#{productionCenterBean.activeTab}">
							<p:tab id="locationTab" title="#{msgs['productionCenter.locations']}" >
								<h:panelGroup >
									<p:panel >
										<p:toolbar id="rightLocations">
											<f:facet name="left">
												<h:panelGroup rendered="#{(productionCenterBean.productionCenterToEdit ne null) and (productionCenterBean.locationToEdit eq null)}">
													<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION"> -->
													<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management_1')}">
													<p:commandButton 
														disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}" 
														styleClass="button_classe addbtncls" 
														icon="fa fa-fw fa-plus-circle"
														value="#{msgs['add']}" 
														form="tabview:form_manage_locations"
														update="main_container"
														actionListener="#{productionCenterBean.addProductionCenterLocation}"/>
													</sec:authorize>
<!-- 													<p:commandButton  -->
<!-- 															styleClass="button_classe clearbtncls"  -->
<!-- 															icon="fa fa-fw fa-share" -->
<!-- 														value="#{msgs['clear']}"  -->
<!-- 														form="tabview:form_manage_locations" -->
<!-- 														actionListener="#{productionCenterBean.wipeLocations}"  -->
<!-- 														update="tabview:form_manage_locations:locations_table" -->
<!-- 													/>	  -->
												</h:panelGroup>
													
												<h:panelGroup rendered="#{(productionCenterBean.productionCenterToEdit ne null) and (productionCenterBean.locationToEdit ne null)}">
													<p:commandButton 
														styleClass="button_classe updatebtncls" 
														icon="fa fa-fw fa-floppy-o"
														value="#{msgs['update']}" 
														form="tabview:form_edit_location"
														actionListener="#{productionCenterBean.saveProductionCenterLocation}"
														update="main_container tabview:form_manage_locations:locations_table"
													/>
													<p:commandButton 
														styleClass="button_classe cancelbtncls" 
														icon="fa fa-fw fa-times" 
														value="#{msgs['cancel']}" 
														immediate="true" 
														form="tabview:form_edit_location"
														actionListener="#{productionCenterBean.cancelEditLocation}" 
														update="main_container tabview:form_manage_locations:locations_table"
													/>	
												</h:panelGroup>
											</f:facet>
										</p:toolbar>
									</p:panel>
									<p:panel>
										<p:panelGrid 
											columns="1" 
											layout="grid" 
											styleClass="content-fluid-grid" 
											style="display: inline-block" 
											rendered="#{productionCenterBean.locationToEdit eq null}">
											<h:form id="form_manage_locations">
												<p:dataTable 
													id="locations_table" 
													value="#{productionCenterBean.productionCenterToEdit.getLocations() }" 
													var="locats" paginator="true" 
													rows="10" 
													paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
													rowsPerPageTemplate="5,10,15" 
													style="padding-top: 20px;">
													<p:column headerText="#{msgs['productionCenter.locations']}" filterBy="#{locats.description}" sortBy="#{locats.description}" filterMatchMode="contains">
														<h:outputText value="#{locats.description}"/>
													</p:column>
													<p:column headerText="" exportable="false" >
														<div style="text-align: center; width: 100%;">
														<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION"> -->
														<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('productionCenter_management_1')}">
															<p:commandLink 
																disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"
																style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
																update=":main_container" 
																title="Edit" 
																styleClass="fa fa-fw fa-pencil editbtncls"  
																actionListener="#{productionCenterBean.modifyLocation}">
																<f:param name="locationId" value="#{locats.id}"/>
															</p:commandLink>
															
															<p:commandLink 
																disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('productionCenter_management_2'))}"
																style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
																oncomplete="PF('deleteLocationDlgWdgt').show()" 
																title="Delete" styleClass="fa fa-fw fa-trash deletebtncls"  
																actionListener="#{productionCenterBean.confirmDeleteLocation}">
																<f:param name="locationId" value="#{locats.id}"/>
															</p:commandLink>
															</sec:authorize>
														</div>
													</p:column>
												</p:dataTable>
											</h:form>
											
											<p:dialog 
													id="deleteLocationDlg" 
													header="#{msgs['productionCenter.locations.delete']}" 
													widgetVar="deleteLocationDlgWdgt" 
													showEffect="clip" 
													hideEffect="clip" 
													resizable="false" 
													dynamic="true"  
													modal="true" 
													appendTo="@(body)">    
													<h:panelGroup styleClass="popupBody">
														<h:form id="form_locationDelete">
															<center>
																<br/>
																<h:outputText value="#{msgs['location.confirm_delete']}"/>
																<br/>
																<br/>
																<p:commandButton 
																	styleClass="button_classe" 
																	icon="ui-icon-cancel" 
																	update="tabview:form_manage_locations:locations_table" 
																	oncomplete="PF('deleteLocationDlgWdgt').hide()"
																	actionListener="#{productionCenterBean.deleteLocation}" 
																	value="#{msgs['delete']}" >
																</p:commandButton>
																<h:outputText value="  "/>
																<p:commandButton 
																	styleClass="button_classe" 
																	icon="ui-icon-close" 
																	immediate="true" 
																	oncomplete="PF('deleteLocationDlgWdgt').hide()" 
																	update="tabview:form_manage_locations:locations_table"
																	actionListener="#{productionCenterBean.cancelDeleteLocation}" 
																	value="#{msgs['cancel']}" /> 
																<br/>
																<br/>
															</center>
														</h:form>
													</h:panelGroup>
												</p:dialog>
										</p:panelGrid>
										<h:form id="form_edit_location">
											<div class="ui-fluid" style="border:0;"> 
												<p:panelGrid 
													columns="1" 
													layout="grid" 
													styleClass="content-fluid-grid" 
													style="display: inline-block" 
													rendered="#{productionCenterBean.locationToEdit ne null}">
													<p:fieldset >
														<p:outputLabel for="selectedProductionCenterLocation" value="* #{msgs['productionCenter.locations']}"/>
														<p:selectOneMenu 
															id="selectedProductionCenterLocation" 
															value="#{productionCenterBean.selectedProductionCenterLocation}">
																<f:selectItems value="#{productionCenterBean.productionCenterLocations}"/>		                        
														</p:selectOneMenu>
													</p:fieldset>
												</p:panelGrid>	
											</div>	
										</h:form>
									</p:panel>
								</h:panelGroup>
							</p:tab>
						</p:tabView>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>