<ui:composition
	template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">Produzione</ui:define>
	<ui:define  name="page-content">
 	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('production_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{productionBean.productionToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['production_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content">
					<h:form id="form_production">
						<p:commandButton 
							style="width: auto !important;" 
							styleClass="button_classe addbtncls" 
							icon="fa fa-fw fa-plus-circle" 
							value="#{msgs['add']}" 
							update=":main_container" 
							actionListener="#{productionBean.addProduction}" 
							disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
						/>
						<p:dataTable 
							id="production_table"  
							widgetVar="production_tableWdg"
							value="#{productionBean.lazyModelProduction}" 
							var="con" 
							paginator="true" 
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink}  {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" 
							lazy="true" 
							style="padding-top: 20px;"
							>
							<p:column headerText="#{msgs['production.name']}"  filterBy="#{con.name}" sortBy="#{con.name}" filterMatchMode="contains">
								<h:outputText value="#{con.name}"/>
							</p:column>

							<p:column headerText="#{msgs['productionType.description']}" filterBy="#{con.productionType.description}" filterMatchMode="contains">
								<h:outputText value="#{con.productionType.description}"/>
							</p:column>

							<p:column headerText="#{msgs['production.owner']}" filterBy="#{con.owner.name}" filterMatchMode="contains">
								<h:outputText value="#{con.owner.name}"/>
							</p:column>

							<!-- <p:column headerText="#{msgs['production.description']}" filterBy="#{con.description}" sortBy="#{con.description}" filterMatchMode="contains">
								<h:outputText value="#{con.description}"/>
							</p:column> -->

							<p:column headerText="#{msgs['production.season']}" filterBy="#{con.season}" sortBy="#{con.season}" filterMatchMode="contains">
								<h:outputText value="#{con.season}"/>
							</p:column>

							<p:column headerText="#{msgs['production.episodesNum']}" filterBy="#{con.episodesNum}" sortBy="#{con.episodesNum}" filterMatchMode="contains">
								<h:outputText value="#{con.episodesNum}"/>
							</p:column>
							<p:column headerText="#{msgs['production.spectatorsReq']}" filterBy="#{con.spectatorsReq}" sortBy="#{con.spectatorsReq}" filterMatchMode="contains">
								<h:outputText value="#{con.spectatorsReq}"/>
							</p:column>

							<p:column headerText="#{msgs['production.startDate']}" filterBy="#{con.startDate}" sortBy="#{con.startDate}" filterMatchMode="contains">  
								<p:outputLabel value="#{con.startDate}">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</p:outputLabel>
							</p:column>

							<p:column headerText="#{msgs['production.endDate']}" filterBy="#{con.endDate}" sortBy="#{con.endDate}" filterMatchMode="contains">  
								<p:outputLabel value="#{con.endDate}">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</p:outputLabel>
							</p:column>

							<p:column headerText="#{msgs['production.agency']}" filterBy="#{con.agency.name}" filterMatchMode="contains">
								<h:outputText value="#{con.agency.name}"/>
							</p:column>

							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;">
									<p:commandLink 
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
										update=":main_container" 
										title="Edit" 										
										styleClass="fa fa-fw fa-pencil editbtncls"  
										actionListener="#{productionBean.modifyProduction}">
										<f:param name="productionId" value="#{con.id}"/>
									</p:commandLink>
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										update=":main_container" 
										title="Clone"
										styleClass="fa fa-fw fa-clone deletebtncls"
										actionListener="#{productionBean.cloneProduction}"
										disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}">
										<f:param name="productionId" value="#{con.id}" />
									</p:commandLink>									
									<p:commandLink 
										styleClass="fa fa-fw fa-trash deletebtncls" 
										style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
										oncomplete="PF('deleteProductionDlgWdgt').show()" 
										title="Delete" 
										actionListener="#{productionBean.confirmDeleteProduction}"
										disabled="#{(!productionBean.isLoggedAnProductionAgency()) or productionBean.isRemovableProduction(con) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}">
										<f:param name="productionId" value="#{con.id}"/>
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog 
						id="deleteDlg" 
						header="Production delete" 
						widgetVar="deleteProductionDlgWdgt" 
						showEffect="clip" 
						hideEffect="clip" 
						resizable="false" 
						dynamic="true"  
						modal="true" 
						appendTo="@(body)" 
					>    
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['production.confirm_delete']}"/>
									<br/>
									<br/>
									<p:commandButton 
										styleClass="button_classe" 
										icon="ui-icon-cancel" 
										update=":form_production:production_table" 
										oncomplete="PF('deleteProductionDlgWdgt').hide()"
										actionListener="#{productionBean.delete}" 
										value="#{msgs['confirm']}" >
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton 
										styleClass="button_classe" 
										icon="ui-icon-close" 
										immediate="true" 
										oncomplete="PF('deleteProductionDlgWdgt').hide()" 
										update=":form_production:production_table"
										actionListener="#{productionBean.cancelDelete}" 
										value="#{msgs['cancel']}" /> 
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			
			<h:panelGroup layout="block" styleClass="page_title detailscls" rendered="#{productionBean.productionToEdit ne null}">#{msgs['production.details']}</h:panelGroup>
			<p:dialog 
				modal="true" 
				widgetVar="saveStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>			
						
			<p:layout styleClass="layouteditcls" style="min-width:400px;min-height:900px;" rendered="#{productionBean.productionToEdit ne null}"  >
				<p:layoutUnit position="west" resizable="true" size="400" minSize="40" maxSize="600">
					<h:panelGroup>
						<p:panel >
							<p:toolbar>
								<f:facet name="left"> 
									<p:commandButton 
										styleClass="button_classe savebtncls" 
										icon="fa fa-fw fa-floppy-o" 
										form=":form_edit" 
										value="#{msgs['save']}" 
										actionListener="#{productionBean.saveProduction}" 
										update=":main_container" 
										onstart="PF('saveStatusDialog').show()"
										onsuccess="PF('saveStatusDialog').hide()" 
										oncomplete="PF('production_tableWdg').filter()"
										disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
									/>
									<p:commandButton 
										styleClass="button_classe cancelbtncls" 
										icon="fa fa-fw fa-times" 
										immediate="true" 
										form=":form_edit" 
										value="#{msgs['cancel']}" 
										actionListener="#{productionBean.cancelEditProduction}" 
										update=":main_container" 
										oncomplete="PF('production_tableWdg').filter()"
									/>
									<p:commandButton 
										styleClass="button_classe savebtncls" 
										icon="fa fa-fw fa-arrow-circle-right" 
										form=":form_edit" 
										value="#{msgs['procedi']}" 
										actionListener="#{productionBean.saveProduction2}" 
										update=":main_container tabview" 
										onstart="PF('saveStatusDialog').show()"
										onsuccess="PF('saveStatusDialog').hide()" 
										disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
									/>
									<span class="ui-separator">
										<span class="ui-icon ui-icon-grip-dotted-vertical" />
									</span>
									<p:outputLabel 
										id="name" 
										style="font-weight: bold;padding-left: 10px;" 
										value="#{productionBean.productionToEdit.name}"
									/>
								</f:facet>
							</p:toolbar>

						</p:panel>
						
						<p:panel id="layout_internal_center" style="border: 0;"  >

							<h:form id="form_edit" >
								<div class="ui-fluid" style="border:0;">

									<p:panelGrid 
										columns="1"
										layout="grid" 
										styleClass="content-fluid-grid">
										<p:fieldset >
											<p:outputLabel  
												for="name" 
												value="#{msgs['production.name']}:"/>
											<p:inputText 
													disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
													id="name"
													required="true" 
													value="#{productionBean.productionToEdit.name}"/>
											<p:outputLabel 
												for="selectedProductionType" 
												value="#{msgs['production.productionType']}"/>
											<p:selectOneMenu 
												id="selectedProductionType" 
												value="#{productionBean.selectedProductionType}"
												required="true"
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
											>
												<f:selectItems value="#{productionBean.productionTypes}"/>                    
											</p:selectOneMenu>

											<p:outputLabel 
												for="selectedDescription" 
												value="#{msgs['production.description']}:"/>
											<p:inputText 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												id="selectedDescription" 
												required="true" 
												value="#{productionBean.productionToEdit.description}"/>		                        

											<p:outputLabel 
												for="selectedSeason" 
												value="#{msgs['production.season']}:"/>
											<p:inputText 
												id="selectedSeason" 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												required="true" 
												value="#{productionBean.productionToEdit.season}"/>

											<p:outputLabel 
												for="selectedEpisodesNum"  
												value="#{msgs['production.episodesNum']}:"/>
											<p:message for="selectedEpisodesNum"/>		
											<p:inputText 
												id="selectedEpisodesNum" 
												required="true" 
												value="#{productionBean.productionToEdit.episodesNum}"
												validatorMessage="#{msgs['production.noValidEpisodesNum']}"
												disabled="true"
												>
												<f:validateDoubleRange minimum="1" maximum="500" />
											</p:inputText>


											<p:outputLabel 
												for="selectedSpectatorsReq" 
												value="#{msgs['production.spectatorsReq_Long']}:"/>
											<p:inputText 
												id="selectedSpectatorsReq" 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												required="true" 
												value="#{productionBean.productionToEdit.spectatorsReq}"
												validatorMessage="#{msgs['production.noValidSpectatorsReq']}"
												>
												<f:validateDoubleRange minimum="1" maximum="5000" />
											</p:inputText>	

											<p:outputLabel 
												for="selectedStartDate" 
												value="#{msgs['production.startDate']}: *">
												<p:calendar 
													id="selectedStartDate" 
													disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
													pattern="dd/MM/yyyy" 
													required="true" 
													value="#{productionBean.productionToEdit.startDate}">
													<p:ajax event="dateSelect" update="selectedEndDate"/>
												</p:calendar>
											</p:outputLabel>

											<p:outputLabel 
												for="selectedEndDate" 
												value="#{msgs['production.endDate']}: *">
												<p:calendar 
													id="selectedEndDate" 
													disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
													pattern="dd/MM/yyyy"  
													required="true" 
													value="#{productionBean.productionToEdit.endDate}"
													mindate="#{productionBean.productionToEdit.startDate}">
													<p:ajax event="dateSelect"/>
												</p:calendar>	
											</p:outputLabel>

											<p:outputLabel 
												for="selectedAgency" 
												value="#{msgs['production.agency']}:"/>
											<p:selectOneMenu 
												id="selectedAgency"
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}" 
												value="#{productionBean.selectedAgency}" 
												required="true">
													<f:selectItems value="#{productionBean.agencies}"/>   
											</p:selectOneMenu>
											
											<p:outputLabel 
												for="productionManagerEmail" 
												value="#{msgs['production.managerEmail']}:"
												rendered="false" 
												/>
											<p:inputText
												id="productionManagerEmail" 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												required="true" 
												value="#{productionBean.productionToEdit.managerEmail}" 
												validatorMessage="#{productionBean.productionToEdit.managerEmail} #{msgs['production.noValidEmail']}"
												rendered="false"
												>
												<!-- ((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)* -->
												<!-- <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />  -->
												<f:validateRegex pattern="((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([;])*)*" />
											</p:inputText>	
											<p:message for="productionManagerEmail"/>
											
											<p:outputLabel 
												for="selectedDistributionList" 
												value="#{msgs['production.distributionList']}:"/>
											<p:selectOneMenu 
												id="selectedDistributionList" 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												value="#{productionBean.selectedDistributionList}" 
												required="true">
													<f:selectItems value="#{productionBean.distributionLists}"/>   
											</p:selectOneMenu>											

											<p:outputLabel 
												for="selectedFeatures" 
												value="#{msgs['production.features']}:"/>
											<p:inputText 
												id="selectedFeatures" 
												disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
												required="false" 
												value="#{productionBean.productionToEdit.features}"/>
										</p:fieldset>
									</p:panelGrid>
								</div>	
							</h:form>
						</p:panel>	
					</h:panelGroup>
				</p:layoutUnit>
				<p:layoutUnit position="center" >		
					<h:panelGroup >
						<p:panel>
						
							<h:form>
								<p:outputLabel style="display:none;" for="logo_prod" value="#{msgs['logo']}:"/>
								<h:panelGrid columns="2" style="width: 100%" >
									<p:graphicImage 
										id="image_logo" 
										stream="false" 
										cache="false" 
										height="70" 
										value="#{productionBean.productionToEdit.logoResource}"></p:graphicImage> 
								    <h:panelGrid columns="1" style="width: 100%" >
									    <p:fileUpload 
									    	id="logo_prod" 
									    	rendered="#{! navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
									    	fileUploadListener="#{productionBean.handleFileUpload}" 
									    	mode="advanced" 
									    	disabled="#{(! productionBean.isLoggedAnProductionAgency())}"
											update="image_logo"  
											auto="true" 
											sizeLimit="100000" 
											allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
									    <h:message for="logo_prod"></h:message>
								    </h:panelGrid>
								</h:panelGrid>
							</h:form>
						
							<p:tabView id="tabview" styleClass="tabviewEpEmpCls" activeIndex="#{productionBean.activeTab}">
								<p:tab id="episodesTab" title="#{msgs['production.episodes']}" >
									<h:panelGroup >
										<p:panel >
											<p:toolbar id="rightEpisodes">
												<f:facet name="left">
													<h:panelGroup rendered="#{(productionBean.productionToEdit ne null and productionBean.productionToEdit.id ne null) and (productionBean.episodeToEdit eq null)}">

														<p:commandButton
															styleClass="button_classe addbtncls" 
															icon="fa fa-fw fa-plus-circle"
															value="#{msgs['add']}" 
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														 >
														<p:ajax form=":form_edit" listener="#{productionBean.presetEpisodes}" update=":main_container scheduleWizardDlg" onsuccess="PF('scheduleDialogDLgWdg').show()"/>
														</p:commandButton>
														<p:commandButton 
															styleClass="button_classe clearbtncls" 
															icon="fa fa-fw fa-share"
															oncomplete="PF('wipeEpisodesDlgWdgt').show()" 
															value="#{msgs['clear']}" 
															form="tabview:form_manage_episodes"
															actionListener="#{productionBean.confirmWipeEpisodes}" 
															update="tabview:form_manage_episodes:episodes_table"
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"/>
													</h:panelGroup>
													
													<h:panelGroup rendered="#{(productionBean.productionToEdit ne null) and (productionBean.episodeToEdit ne null)}">
														<p:commandButton 
															styleClass="button_classe updatebtncls"
															icon="fa fa-fw fa-floppy-o"  
															value="#{msgs['update']}" 
															form="tabview:form_edit_episode"
															actionListener="#{productionBean.saveEpisode}" 
															update="main_container tabview:form_manage_episodes:episodes_table"
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														/>
														<p:commandButton 
															styleClass="button_classe cancelbtncls" 
															icon="fa fa-fw fa-times" 
															value="#{msgs['cancel']}" 
															immediate="true" 
															form="tabview:form_edit_episode"
															actionListener="#{productionBean.cancelEditEpisode}" 
															update="main_container tabview:form_manage_episodes:episodes_table"
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														/>	
													</h:panelGroup>														
												</f:facet>
											</p:toolbar>
										</p:panel>
										<p:dialog 
											id="wipeEpisodesDlg" 
											header="Episodes wipe" 
											widgetVar="wipeEpisodesDlgWdgt" 
											showEffect="clip" 
											hideEffect="clip" 
											resizable="false" 
											dynamic="true"  
											modal="true" 
											appendTo="@(body)" 
											>    
											<h:panelGroup styleClass="popupBody">
												<h:form id="form_episodesWipe">
													<center>
														<br/>
														<h:outputText value="#{msgs['production.confirm_wipe']}"/>
														<br/>
														<br/>
														<p:commandButton 
															styleClass="button_classe" 
															icon="ui-icon-cancel" 
															update="main_container tabview:form_manage_episodes:episodes_table"
															oncomplete="PF('wipeEpisodesDlgWdgt').hide()"
															actionListener="#{productionBean.wipeEpisodes}" 
															value="#{msgs['confirm']}"
															onstart="PF('saveStatusDialog').show()"
															onsuccess="PF('saveStatusDialog').hide()" >
														</p:commandButton>
														<p:commandButton 
															styleClass="button_classe" 
															icon="ui-icon-close" 
															immediate="true" 
															oncomplete="PF('wipeEpisodesDlgWdgt').hide()" 
															update="main_container tabview:form_manage_episodes:episodes_table"
															actionListener="#{productionBean.cancelWipeEpisodes}"  
															value="#{msgs['cancel']}" /> 
														<br/>
														<br/>
													</center>
												</h:form>
											</h:panelGroup>
										</p:dialog>
										<p:panel>
											<p:panelGrid 
												columns="1" 
												layout="grid" 
												styleClass="content-fluid-grid" 
												style="display: inline-block" 
												rendered="#{productionBean.episodeToEdit eq null}">
												<h:form id="form_manage_episodes">
													<p:dataTable 
														id="episodes_table" 											
														value="#{productionBean.productionToEdit.getEpisodes()}" 
														var="epis" 
														paginator="true" 
														rows="10"
														paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
														rowsPerPageTemplate="5,10,15" 
														style="padding-top: 20px;"
														>				                  
														<p:column headerText="#{msgs['episode.studio']}" filterBy="#{epis.studio.name}" sortBy="#{epis.studio.name}" filterMatchMode="contains">
															<h:outputText value="#{epis.getStudio().name}"/>
														</p:column> 

														<p:column headerText="#{msgs['episode.dateEpisode']}" filterBy="#{epis.dateFrom}" sortBy="#{epis.dateFrom}" filterMatchMode="contains">
															<h:outputLabel value="#{epis.dateFrom}">
																<f:convertDateTime pattern="EEE dd/MM/yyyy"/>
															</h:outputLabel>
														</p:column>

														<p:column headerText="#{msgs['episode.dateFrom']}" filterBy="#{epis.dateFrom}" sortBy="#{epis.dateFrom}" filterMatchMode="contains">
															<h:outputLabel value="#{epis.dateFrom}">
																<f:convertDateTime pattern="HH:mm"/>
															</h:outputLabel>
														</p:column>

														<p:column headerText="#{msgs['episode.dateTo']}" filterBy="#{epis.dateTo}" sortBy="#{epis.dateTo}" filterMatchMode="contains">
															<h:outputLabel value="#{epis.dateTo}">
																<f:convertDateTime  pattern="HH:mm"/>
															</h:outputLabel>
														</p:column>

														<p:column headerText="#{msgs['episode.episodeStatusType']}" filterBy="#{epis.episodeStatus.description}" sortBy="#{epis.episodeStatus.description}" filterMatchMode="epistains">
															<h:outputText value="#{epis.episodeStatus.description}"/>
														</p:column> 		                  

														<p:column headerText="#{msgs['episode.requestedSpectators']}" filterBy="#{epis.requestedSpectators}" sortBy="#{epis.requestedSpectators}" filterMatchMode="contains">
															<h:outputText value="#{epis.requestedSpectators}"/>
														</p:column>
														
														<p:column headerText="" exportable="false" >
															<div style="text-align: center; width: 100%;">
																<p:commandLink 
																	style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
																	update=":main_container" 
																	disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
																	title="Edit" 
																	styleClass="fa fa-fw fa-pencil editbtncls"  
																	actionListener="#{productionBean.modifyEpisode}">
																	<f:param name="episodeId" value="#{epis.id}"/>
																</p:commandLink>
																<p:commandLink 
																	style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
																	oncomplete="PF('deleteEpisodeDlgWdgt').show()"
																	title="Delete" styleClass="fa fa-fw fa-trash deletebtncls"  
																	actionListener="#{productionBean.confirmDeleteEpisode}"
																	disabled="#{!((epis.episodeStatus.idStatus==1) || (epis.episodeStatus.idStatus==5)) or (!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}">
																	<f:param name="episodeId" value="#{epis.id}"/>
																</p:commandLink>
															</div>
														</p:column>
													</p:dataTable>
												</h:form>
											</p:panelGrid>
											<h:form id="form_edit_episode">
												<div class="ui-fluid" style="border:0;"> 
													<p:panelGrid 
														columns="1" 
														layout="grid" 
														styleClass="content-fluid-grid" 
														style="display: inline-block" 
														rendered="#{productionBean.episodeToEdit ne null}">
														<p:fieldset >
															<p:outputLabel 
																for="selectedStudio" 
																value="#{msgs['episode.studio']}"/>
															<p:selectOneMenu 
																id="selectedStudio" 
																value="#{productionBean.selectedStudio}"
																required="true">
																<f:selectItems value="#{productionBean.studios}"/>		                        
															</p:selectOneMenu>
															
															<p:outputLabel 
																for="selectedDateFrom" 
																value="#{msgs['episode.dateFrom']}: *">
																<p:calendar 
																	id="selectedDateFrom" 
																	pattern="dd/MM/yyyy HH:mm" 
																	mask="true" 
																	required="false" 
																	value="#{productionBean.episodeToEdit.dateFrom}">
																	<p:ajax event="dateSelect" update="selectedDateto"/>
																</p:calendar>
															</p:outputLabel>	                        
															<p:outputLabel 
																for="selectedDateto"
																value=" #{msgs['episode.dateTo']}: *">
																<p:calendar 
																	id="selectedDateto" 
																	pattern="dd/MM/yyyy HH:mm" 
																	mask="true"   
																	required="true" 
																	value="#{productionBean.episodeToEdit.dateTo}"
																	mindate="#{productionBean.episodeToEdit.dateFrom}">
																	<p:ajax event="dateSelect"/>
																</p:calendar>	
															</p:outputLabel>
															<p:outputLabel 
																for="requestedSpectators"  
																value="#{msgs['episode.requestedSpectators']}:"/>
															<p:inputText 
																id="requestedSpectators" 
																required="true" 
																value="#{productionBean.episodeToEdit.requestedSpectators}"/>
														</p:fieldset>
													</p:panelGrid>	
												</div>	
											</h:form>							
										</p:panel>
									</h:panelGroup>
								</p:tab>
								<p:tab id="employeeTab" title="#{msgs['production.employees']}">
									<h:panelGroup >
										<p:panel >
											<p:toolbar id="rightEpisodes2">
												<f:facet name="left">
													<h:panelGroup rendered="#{(productionBean.productionToEdit ne null) and (productionBean.productionEmployeeToEdit eq null)}">
														<p:commandButton 
															style="width:auto !important;" 
															styleClass="button_classe addbtncls"
															icon="fa fa-fw fa-plus-circle"
															value="#{msgs['add']}" 
															update="main_container" 
															actionListener="#{productionBean.addProductionEmployee}" 
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														/>	
													</h:panelGroup>	
													<h:panelGroup rendered="#{(productionBean.productionToEdit ne null) and (productionBean.productionEmployeeToEdit ne null)}">
														<p:commandButton 
															styleClass="button_classe updatebtncls"
															icon="fa fa-fw fa-floppy-o" 
															value="#{msgs['update']}" 
															form="tabview:form_edit_employee"
															actionListener="#{productionBean.saveProductionEmployee}" 
															update="main_container tabview:form_manage_employees:employees_table"
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														/>
														<p:commandButton 
															styleClass="button_classe cancelbtncls" 
															icon="fa fa-fw fa-times" 
															value="#{msgs['cancel']}" 
															actionListener="#{productionBean.cancelEditProductionEmployee}" 
															update="main_container tabview:form_manage_employees:employees_table"
															disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
														/>	
													</h:panelGroup>														
												</f:facet>
											</p:toolbar>
										</p:panel>	
										<p:panel>
											<p:panelGrid 
												columns="1" 
												layout="grid" 
												styleClass="content-fluid-grid" 
												style="display: inline-block" 
												rendered="#{productionBean.productionEmployeeToEdit eq null}">
												<h:form id="form_manage_employees">
													<p:dataTable 
														id="employees_table" 											
														value="#{productionBean.productionToEdit.getProductionEmployee()}" 
														var="empl" 
														paginator="true" 
														rows="10"
														paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
														rowsPerPageTemplate="5,10,15" 
														style="padding-top: 20px;"
														>
																
														<p:column headerText="#{msgs['employee.surname']}" filterBy="#{empl.employee.surname}" sortBy="#{empl.employee.surname}" filterMatchMode="contains">
															<h:outputText value="#{empl.employee.surname}"/>
														</p:column> 
														
														<p:column headerText="#{msgs['employee.name']}" filterBy="#{empl.employee.name}" sortBy="#{empl.employee.name}" filterMatchMode="contains">
															<h:outputText value="#{empl.employee.name}"/>
														</p:column> 

														<p:column headerText="#{msgs['productionEmployee.role']}" filterBy="#{empl.role}" sortBy="#{empl.role}" filterMatchMode="contains">
															<h:outputText value="#{empl.role}"/>
														</p:column> 
															
														<p:column headerText="" exportable="false" >
															<div style="text-align: center; width: 100%;">
																<p:commandLink 
																	style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
																	disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
																	update=":main_container" 
																	title="Edit" 
																	styleClass="fa fa-fw fa-pencil editbtncls"
																	actionListener="#{productionBean.modifyProductionEmployee}"
																	>
																	<f:param name="productionEmployeeId" value="#{empl.id}"/>
																</p:commandLink>
																<p:commandLink 
																	style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
																	disabled="#{(!productionBean.isLoggedAnProductionAgency()) or navigationBean.haveUserRole(navigationBean.getGrantString('production_management_1'))}"
																	oncomplete="PF('deleteProductionEmployeeDlgWdgt').show()" 
																	title="Delete" 
																	styleClass="fa fa-fw fa-trash deletebtncls" 
																	actionListener="#{productionBean.confirmDeleteProductionEmployee}"
																	>
																	<f:param name="productionEmployeeId" value="#{empl.id}"/>
																</p:commandLink>
															</div>
														</p:column>
													</p:dataTable>
												</h:form>
												<p:dialog 
													id="deleteEmployeeDlg" 
													header="Employee delete" 
													widgetVar="deleteProductionEmployeeDlgWdgt" 
													showEffect="clip" 
													hideEffect="clip" 
													resizable="false" 
													dynamic="true"  
													modal="true" 
													appendTo="@(body)" 
													>    
													<h:panelGroup styleClass="popupBody">
														<h:form id="form_employeeDelete">
															<center>
																<br/>
																<h:outputText value="#{msgs['productionEmployee.confirm_delete']}"/>
																<br/>
																<br/>
																<p:commandButton 
																	styleClass="button_classe" 
																	icon="ui-icon-cancel" 
																	update="main_container tabview:form_manage_employees:employees_table" 
																	oncomplete="PF('deleteProductionEmployeeDlgWdgt').hide()"
																	actionListener="#{productionBean.deleteProductionEmployee}" 
																	value="#{msgs['confirm']}">
																</p:commandButton>
																<p:commandButton 
																	styleClass="button_classe" 
																	icon="ui-icon-close" 
																	immediate="true" 
																	oncomplete="PF('deleteProductionEmployeeDlgWdgt').hide()" 
																	update="main_container tabview:form_manage_employees:employees_table"
																	actionListener="#{productionBean.cancelDeleteProductionEmployee}" 
																	value="#{msgs['cancel']}" /> 
																<br/>
																<br/>
															</center>
														</h:form>
													</h:panelGroup>
												</p:dialog>
											</p:panelGrid>	
											<h:form id="form_edit_employee">
												<div class="ui-fluid" style="border:0;"> 
													<p:panelGrid 
														columns="1" 
														layout="grid" 
														styleClass="content-fluid-grid" 
														style="display: inline-block" 
														rendered="#{productionBean.productionEmployeeToEdit ne null}">
														<p:fieldset >
															<p:outputLabel 
																for="selectedProductionEmployee" 
																value="#{msgs['productionEmployee.employee']}"/>
															<p:selectOneMenu 
																id="selectedProductionEmployee" 
																required="true"
																value="#{productionBean.selectedProductionEmployee}">
																<f:selectItems value="#{productionBean.productionEmployees}"/>		                        
															</p:selectOneMenu>
															<p:outputLabel 
																for="selectedRole" 
																value="#{msgs['productionEmployee.role']}"/>
															<p:inputText 
																id="selectedRole" 
																required="false" 
																value="#{productionBean.productionEmployeeToEdit.role}"/>		                        
														</p:fieldset>
													</p:panelGrid>	
												</div>	
											</h:form>										
										</p:panel>	
									</h:panelGroup >
								</p:tab>
							</p:tabView>
						</p:panel>
						<p:dialog 
							id="deleteEpisodeDlg" 
							header="Episode delete" 
							widgetVar="deleteEpisodeDlgWdgt" 
							showEffect="clip" 
							hideEffect="clip" 
							resizable="false" 
							dynamic="true"  
							modal="true" 
							appendTo="@(body)" 
						>    
							<h:panelGroup styleClass="popupBody">
								<h:form id="form_episodeDelete">
									<center>
										<br/>
										<h:outputText value="#{msgs['episode.confirm_delete']}"/>
										<br/>
										<br/>
										<p:commandButton 
											styleClass="button_classe" 
											icon="ui-icon-cancel" 
											update=":main_container tabview:form_manage_episodes:episodes_table" 
											oncomplete="PF('deleteEpisodeDlgWdgt').hide()"
											actionListener="#{productionBean.deleteEpisode}" 
											value="#{msgs['delete']}" >
										</p:commandButton>
										<h:outputText value="  "/>
										<p:commandButton 
											styleClass="button_classe" 
											icon="ui-icon-close" 
											immediate="true" 
											oncomplete="PF('deleteEpisodeDlgWdgt').hide()" 
											update="tabview:form_manage_episodes:episodes_table"
											actionListener="#{productionBean.cancelDeleteEpisode}" 
											value="#{msgs['cancel']}" /> 
										<br/>
										<br/>
									</center>
								</h:form>
							</h:panelGroup>
						</p:dialog>

						<p:dialog 
							id="scheduleWizardDlg" 
							widgetVar="scheduleDialogDLgWdg" 
							showEffect="clip" 
							hideEffect="clip" 
							resizable="false" 
							dynamic="true"  
							modal="true" 
							appendTo="@(body)" width="600"  height="340"
						>
							<h:panelGroup styleClass="popupBody">
								<h:form id="form_scheduleWizard">
									<p:wizard  
										flowListener="#{productionBean.onFlowProcess}" 
										nextLabel="#{msgs['production.next']}"
										backLabel="#{msgs['production.back']}"
										>
										<p:tab id="eventtype" title="#{msgs['production.eventType']}">
											<p:panel header="#{msgs['production.eventTypeDetail']}">
												<h:panelGrid columns="2" columnClasses="label, value">	

													<p:outputLabel 
														for="studio" 
														value="#{msgs['production.studio']}"/>
													<p:selectOneMenu 
														id="studio" 
														value="#{productionBean.selectedStudio4Schedule}"
														required="true"
														>
														<f:selectItems value="#{productionBean.studios}"/>
													</p:selectOneMenu>

													<p:outputLabel 
														for="scheduleFrom" 
														value="#{msgs['production.startDate_Long']}"/>
													<p:calendar  
														required="true"
														id="scheduleFrom" 
														value="#{productionBean.episodesToSchedule.episode.dateFrom}" 
														mindate="#{productionBean.productionToEdit.startDate}"
														maxdate="#{productionBean.addDays(productionBean.productionToEdit.endDate,1)}"
														locale="#{msgs['locales']}" 
														pattern="dd/MM/yyyy HH:mm" 
														disabled="false">
														<p:ajax event="dateSelect" update="scheduleTo"/>
													</p:calendar>	
													<p:outputLabel 
														for="scheduleTo" 
														value="#{msgs['production.endDate_Long']}" />
													<p:calendar 
														id="scheduleTo"
														required="true" 
														value="#{productionBean.episodesToSchedule.episode.dateTo}"  
														locale="#{msgs['locales']}" 
														pattern="dd/MM/yyyy HH:mm" 
														disabled="false"
														mindate="#{productionBean.episodesToSchedule.episode.dateFrom}"
														maxdate="#{productionBean.addDays(productionBean.episodesToSchedule.episode.dateFrom,1)}">
														<p:ajax event="dateSelect"/>
													</p:calendar>		

													<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
														<p:outputLabel for="eventTypeRadio" value="#{msgs['production.eventType']}" />
														<p:selectOneRadio id="eventTypeRadio" value="#{productionBean.episodesToSchedule.eventTypeS}">
															<f:selectItem itemLabel="#{msgs['production.singleEvent']}" itemValue="occasional"/>
															<f:selectItem itemLabel="#{msgs['production.repeatedEvent']}" itemValue="repeated"/>
															<p:ajax 
																event="change" 
																process="@this"
																listener="#{productionBean.handleEventTypeSelected}"
															/> 
														</p:selectOneRadio>
													</h:panelGrid>		
													<!-- -->		
												</h:panelGrid>
											</p:panel>
										</p:tab>
										<p:tab id="frequencytype" title="#{msgs['production.frequencyType']}" >		
											<p:panel header="#{msgs['production.frequencyTypeDetail']}" disabled="#{productionBean.episodesToSchedule.getEventTypeS ne 'repeated'}">
												<h:panelGrid columns="3" columnClasses="label, value">
													<p:outputLabel for="frequencyPeriod" value="#{msgs['production.everyStep']}" />
													<p:inputText id ="frequencyPeriod" value="#{productionBean.episodesToSchedule.everyStep}">
														<p:ajax 
															event="change" 
															listener="#{productionBean.getStepLabel()}" 
															update="frequencyPeriodLabel"
														/> 
													</p:inputText>
													<p:outputLabel id="frequencyPeriodLabel" value="#{productionBean.getStepLabel()}" />
												</h:panelGrid>
												<h:panelGrid  columns="1" columnClasses="grid">
													<h:panelGrid columns="2" columnClasses="label, value">
														<p:outputLabel 
															for="frequency" 
															value="#{msgs['production.frequency']}" />
														<p:selectOneMenu 
															id="frequency" 
															value="#{productionBean.episodesToSchedule.frequencyType}" >
															<f:selectItems 
																value="#{productionBean.episodesToSchedule.frequencyTypes}"
																 var="frequencyItem" 
																 itemLabel="#{productionBean.getFrequencyTypeLabel(frequencyItem)}"
																/>
																
															<p:ajax 
																event="itemSelect" 
																listener="#{productionBean.handleWeeklySelected}" 
																update="form_scheduleWizard:gridWeek frequencyPeriodLabel"
															/>                  
														</p:selectOneMenu>
													</h:panelGrid>
													<!--  -->
													<h:panelGrid columns="2" columnClasses="label, value">
														<p:selectManyCheckbox 
															id="gridWeek" 
															disabled="#{!productionBean.weeklySelected}"
															value="#{productionBean.episodesToSchedule.selectedWeekdays}" 
															layout="grid" 
															columns="4">
															<f:selectItems 
																value="#{productionBean.episodesToSchedule.weekdays}" 
																var="weekday" 
																itemLabel="#{productionBean.getWeekDayLabel(weekday)}" 
																itemValue="#{weekday}" 
															/>
														</p:selectManyCheckbox>
													</h:panelGrid>
													<h:panelGrid columns="2" columnClasses="label, value">
														<p:outputLabel for="durationType" value="#{msgs['production.duration']}" />
														<p:selectOneMenu id="durationType" value="#{productionBean.episodesToSchedule.durationType}" >
															<!--  <f:selectItem itemLabel="#{msgs['production.always']}" itemValue="ALWAYS"/>  -->
															<f:selectItem itemLabel="#{msgs['production.someEvents']}" itemValue="FOR_SOME_EVENTS"/>
															<f:selectItem itemLabel="#{msgs['production.upToDate']}" itemValue="UP_TO_A_DATE"/>
															<p:ajax 
																event="itemSelect" 
																listener="#{productionBean.handleDurationSelected}" 
																update="form_scheduleWizard:gridDuration"
															/>                  
														</p:selectOneMenu>
													</h:panelGrid>
													<h:panelGrid id="gridDuration" columns="2" columnClasses="label, label">
														<p:outputLabel for="eventsNumber" value="#{msgs['production.episodesNum']}" />
														<p:inputText 
															id ="eventsNumber" 
															value="#{productionBean.episodesToSchedule.eventsNumber}"
															disabled="#{productionBean.episodesToSchedule.durationType!='FOR_SOME_EVENTS'}"
														/>
														<p:outputLabel for="upToADate" value="#{msgs['production.upToDate']}" />																	
														<p:calendar  
															id="upToADate" 
															value="#{productionBean.episodesToSchedule.upToaDate}" 
															locale="#{msgs['locales']}" 
															pattern="dd/MM/yyyy" 
															disabled="#{productionBean.episodesToSchedule.durationType!='UP_TO_A_DATE'}"
															mindate="#{productionBean.productionToEdit.startDate}">
															<p:ajax event="dateSelect"/>
														</p:calendar>	
													</h:panelGrid>
												</h:panelGrid>
											</p:panel>
										</p:tab>
										<p:tab id="summarytab" title="#{msgs['production.summary']}">
											<p:panel header="#{msgs['production.summaryDetail']}">
												<h:panelGrid  columns="1" >

													<h:panelGrid columns="2">
														<h:outputText value="Studio:"/>
														<h:outputText value="#{productionBean.selectedStudio4ScheduleLabel}"/>
														<h:outputText value="Date From:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.episode.dateFrom}">
															<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm" />
														</h:outputText>
														<h:outputText value="Date To:"/>
														<h:outputText value="#{productionBean.episodesToSchedule.episode.dateTo}">
															<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm" />
														</h:outputText> 
													</h:panelGrid>

													<h:panelGrid columns="2">
														<h:outputText value="Event Type:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.eventTypeS}"/>
														<h:outputText value="Frequency Type:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.frequencyType}"/>
														<h:outputText value="Weekdays:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.selectedWeekdays}"/>
													</h:panelGrid>

													<h:panelGrid columns="2">
														<h:outputText value="Duration time:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.durationType}"/>
														<h:outputText value="Events Number"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.eventsNumber}"/>
														<h:outputText value="Up to a date:"/> 
														<h:outputText value="#{productionBean.episodesToSchedule.upToaDate}"/>
													</h:panelGrid>
												</h:panelGrid>
												<p:commandButton 
													value="#{msgs['production.submit']}" 
													actionListener="#{productionBean.addEpisodes}" 
													update="main_container, tabview:form_manage_episodes:episodes_table" 
													process="@this"
													oncomplete="PF('scheduleDialogDLgWdg').hide()" 
													form="tabview:form_edit_episode"
												/>
											</p:panel>
										</p:tab>
									</p:wizard>
								</h:form>
							</h:panelGroup>
						</p:dialog>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>