<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['spectatorEpisode_management']}</ui:define>
	<ui:define  name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectatorEpisode_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{spectatorEpisodeBean.spectatorEpisodeToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<!--  <h:panelGroup layout="block" styleClass="page_title">#{msgs['spectatorEpisode_management']}</h:panelGroup>-->
				<p:panel  style="margin-bottom:10px;">
					<f:facet name="header">#{msgs['spectatorEpisode_management']}</f:facet>	
					<h:form id="form_spectatorEpisode">
						<h:panelGrid columns="1" style="width:100%">
							<h:panelGrid columns="1" style="width:100%">
								<p:outputLabel for="selectedProduction" value="#{msgs['production']}"/>
								<p:selectOneMenu id="selectedProduction" value="#{spectatorEpisodeBean.selectedProduction}">
									<f:selectItems value="#{spectatorEpisodeBean.productions}"/>
									<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.prodSelected}" update="form_spectatorEpisode:selectedEpisode" />		                        
								</p:selectOneMenu> 
								<br />
								<!-- <h:outputText id="selectedProd" value="#{msgs['selected']}: #{spectatorEpisodeBean.selectedProduction}"/>  -->
							</h:panelGrid>
							<h:panelGrid columns="1" style="width:100%">
								<p:outputLabel for="selectedEpisode" value="#{msgs['episode']}"/>
								<p:selectOneMenu id="selectedEpisode" value="#{spectatorEpisodeBean.selectedEpisode}"  >  
									<!--  <f:selectItems value="#{spectatorEpisodeBean.getEpisodesListByProductionId(spectatorEpisodeBean.selectedProduction)}" /> -->
									<f:selectItems value="#{spectatorEpisodeBean.episodes}" var="ep" itemValue="#{ep}" />	
									<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.epSelected}" update="form_spectatorEpisode:episode_table" />
								</p:selectOneMenu>			        
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="1" class="selectspectcls">
							<p:outputLabel value="#{msgs['spectatorEpisode.insertSpectator']}" for="acSpectatorSurname" />
							<p:autoComplete 
								id="acSpectatorSurname" 
								value="#{spectatorEpisodeBean.spectatorToInsert}"  
								completeMethod="#{spectatorEpisodeBean.completeSpectator}" 
								emptyMessage="No results"  
								var="sp" 
								itemLabel="#{sp.surname}"  
								itemValue="#{sp}"
								converter="spectatorConverter" 
								forceSelection="false"  
								style="display:inline-block;"
								queryDelay="500">
								<p:column>
									<h:outputText  value="#{sp.name}"/>
								</p:column>
								<p:column>
									<h:outputText value="#{sp.surname}" />
								</p:column> 
								<p:column>
									<h:outputText value="#{sp.birthDate}" />
								</p:column>	         
								<p:ajax event="itemSelect" update="addSpecDlg" listener="#{spectatorEpisodeBean.handleSelectSpectator}"/>
								<p:ajax event="itemUnselect" update="addSpecDlg" listener="#{spectatorEpisodeBean.handleUnSelectSpectator}"/>         
								<p:ajax event="change" update="addSpecDlg" process="@this"/>

							</p:autoComplete>
							<p:commandButton  style="display:inline-block;" icon="fa fa-fw fa-plus"  actionListener="#{spectatorEpisodeBean.addSpectatorButton}" oncomplete="PF('addSpectatorDlgWdgt').show()" />  

						</h:panelGrid>
						<h:panelGrid columns="1" cellpadding="5">
							<p:dataTable 
								var="con" 
								id="episode_table" 
								value="#{spectatorEpisodeBean.lazyModelSpectatorEpisode}" 
								lazy="true" 
								style="padding-top: 20px;" 
								paginator="true" 
								rows="10">
								<p:column headerText="#{msgs['spectator.name']}">
									<h:outputText value="#{con.spectator.name}" />
								</p:column>
								<p:column headerText="#{msgs['spectator.surname']}">
									<h:outputText value="#{con.spectator.surname}" />
								</p:column>		    
								<p:column headerText="#{msgs['spectator.birthDate']}">
									<h:outputText value="#{con.spectator.birthDate}" >
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msgs['spectator.telephone']}">
									<h:outputText value="#{con.spectator.telephone}" />
								</p:column>

								<p:column headerText="#{msgs['spectator.gender']}">
									<h:outputText value="#{con.spectator.gender}" />
								</p:column>
								<p:column headerText="" exportable="false" >
									<div style="text-align: center; width: 100%;">
										<p:commandLink 
											style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
											update=":main_container" 
											title="Edit" 
											styleClass="fa fa-fw fa-edit"  
											actionListener="#{spectatorEpisodeBean.modifySpectatorEpisode}">
											<f:param name="spectatorEpisodeId" value="#{con.id}"/>
										</p:commandLink>
										<p:commandLink 
											style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
											oncomplete="PF('deleteDlgWdgt').show()" 
											title="Delete" 
											styleClass="fa fa-fw fa-remove"  
											actionListener="#{spectatorEpisodeBean.confirmDeleteSpectatorEpisode}">
											<f:param name="spectatorEpisodeId" value="#{con.id}"/>
										</p:commandLink>
									</div>
								</p:column>			    
							</p:dataTable>
						</h:panelGrid>  
					</h:form>
				</p:panel>
				<p:dialog 
					id="deleteDlg" 
					header="#{msgs['spectatorEpisode.spectatorEpisode.delete']}" 
					widgetVar="deleteDlgWdgt"
					showEffect="clip" 
					hideEffect="clip" 
					resizable="false" 
					dynamic="true"  
					modal="true" 
					appendTo="@(body)" > 
					<h:panelGroup styleClass="popupBody">
						<h:form>
							<center>
								<br/>
								<h:outputText value="#{msgs['spectatorEpisode.confirm_delete']}"/>
								<br/>
								<br/>
								<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" update=":form_spectatorEpisode" oncomplete="PF('deleteDlgWdgt').hide()"
				       	  		actionListener="#{spectatorEpisodeBean.delete}" value="#{msgs['confirm']}" >
								</p:commandButton>
								<h:outputText value="  "/>
								<p:commandButton styleClass="button_classe" icon="ui-icon-close" immediate="true" oncomplete="PF('deleteDlgWdgt').hide()" update=":form_spectatorEpisode"
				        		actionListener="#{spectatorEpisodeBean.cancelDelete}" value="#{msgs['cancel']}" /> 
								<br/>
								<br/>
							</center>
						</h:form>
					</h:panelGroup>
				</p:dialog>
				<p:dialog id="addSpecDlg" header="#{msgs['spectator']}" height="500" widgetVar="addSpectatorDlgWdgt" showEffect="clip" hideEffect="clip" >
					<h:form id="form_edit_spec_dlg">
						<div class="ui-fluid">
							<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;" >
									<p:outputLabel value="* #{msgs['spectator.surname']}:"/>
									<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToInsert.surname}"/>
									<p:outputLabel value="* #{msgs['spectator.name']}:"/>
									<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToInsert.name}"/>
									<p:outputLabel value=" #{msgs['spectator.birthDate']}:">
										<p:calendar pattern="dd/MM/yyyy" required="false" value="#{spectatorEpisodeBean.spectatorToInsert.birthDate}"/>
									</p:outputLabel>			         	             
									<p:outputLabel   value="#{msgs['spectator.spectatorType']}"/>
									<p:selectOneMenu id="selectedSpectatorType"  value="#{spectatorEpisodeBean.selectedSpectatorType}">
										<f:selectItems value="#{spectatorEpisodeBean.spectatorTypes}"  />		                        
									</p:selectOneMenu>
									<p:outputLabel value=" #{msgs['spectator.gender']}:"/>
									<p:selectOneMenu id="selectedSpectatorGender" value="#{spectatorEpisodeBean.spectatorToInsert.gender}">
										<f:selectItems value="#{spectatorEpisodeBean.spectatorToInsert.getGenders().values}"/>		                        
									</p:selectOneMenu>			                   		
									<p:outputLabel value=" #{msgs['episode']}:"/>
									<p:inputText required="false" readonly="true" value="#{spectatorEpisodeBean.selectedEpisode}"/>   

								</p:fieldset>
							</p:panelGrid>	           
						</div>
					</h:form>
					<center>
						<p:commandButton value="Submit" form="form_edit_spec_dlg"  icon="ui-icon-check" update="form_spectatorEpisode:episode_table  :form_edit_spec_dlg" style="width:100px;"
		           oncomplete="PF('addSpectatorDlgWdgt').hide()" actionListener="#{spectatorEpisodeBean.addSpectator}" />
						<p:commandButton value="#{msgs['cancel']}" onclick="addSpecDlg.hide()"  style="width:100px;"  />
					</center>
				</p:dialog>
			</h:panelGroup>	

			<h:panelGrid style="width: 100%" columns="1" rendered="#{spectatorEpisodeBean.spectatorEpisodeToEdit ne null}">
				<p:panel style="border: 0;" >
					<p:toolbar>
						<f:facet name="left"> 
							<p:commandButton styleClass="button_classe" icon="ui-icon-disk" form=":form_edit_spEp" value="#{msgs['save']}" actionListener="#{spectatorEpisodeBean.saveSpectatorEpisode}" update=":main_container"/>
							<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" immediate="true" form=":form_edit_spEp" value="#{msgs['cancel']}" actionListener="#{spectatorEpisodeBean.cancelEditSpectatorEpisode}" update=":main_container"/>

							<span class="ui-separator">
								<span class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<!-- <p:outputLabel id="name" style="font-weight: bold;padding-left: 10px;" value="#{msgs['spectatorEpisode.edit']} #{spectatorEpisodeBean.spectatorEpisodeToEdit.name}"></p:outputLabel> -->
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit_spEp">
						<div class="ui-fluid">
							<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: inline-block;float: left;">
								<p:outputLabel value=" #{msgs['spectator']}" />
								<p:fieldset style="max-width: 400px;" >
									<p:outputLabel value="#{msgs['spectator.surname']}:"/>
									<p:inputText  value="#{spectatorEpisodeBean.spectatorToEdit.surname}"/>
									<p:outputLabel value="* #{msgs['spectator.name']}:"/>
									<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToEdit.name}"/>
									<p:outputLabel value=" #{msgs['spectator.fiscalCode']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.fiscalCode}"/>   
									<p:outputLabel for="selectedSpectatorType" value="#{msgs['spectator.spectatorType']}"/>
									<p:selectOneMenu id="selectedSpectatorType" value="#{spectatorEpisodeBean.spectatorToEdit.spectatorType.id}">
										<f:selectItems value="#{spectatorBean.spectatorTypes}"/>		                        
									</p:selectOneMenu>
									<p:outputLabel value=" #{msgs['spectator.idMunicipality']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.idMunicipality}"/>

									<p:outputLabel value=" #{msgs['spectator.birthDate']}:">
										<p:calendar pattern="dd/MM/yyyy"  required="false" value="#{spectatorEpisodeBean.spectatorToEdit.birthDate}"/>
									</p:outputLabel>	                        
									<p:outputLabel value=" #{msgs['spectator.address1']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.address1}"/>		                        
									<p:outputLabel value=" #{msgs['spectator.address2']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.address2}"/>
									<p:outputLabel value=" #{msgs['spectator.telephone']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.telephone}"/>
									<p:outputLabel value=" #{msgs['spectator.mobile']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.mobile}"/>
									<p:outputLabel value=" #{msgs['spectator.gender']}:"/> 
									<p:selectOneMenu id="selectedSpectatorGender" value="#{spectatorEpisodeBean.spectatorToEdit.gender}">
										<f:selectItems value="#{spectatorEpisodeBean.spectatorToEdit.getGenders().values}"/>		                        
									</p:selectOneMenu>
									<p:outputLabel value=" #{msgs['spectator.email']}:"/>
									<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.email}"/>

								</p:fieldset>
							</p:panelGrid>
							<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid"  style="display: inline-block;">
								<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: block; margin-bottom:30px;">
									<p:outputLabel value=" #{msgs['production']}" />
									<p:fieldset style="max-width: 400px;" >
										<p:outputLabel value="#{msgs['production.name']}:"/>
										<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.production.name}"/>						
										<p:outputLabel value="#{msgs['production.description']}:"/>
										<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.production.description}"/>
									</p:fieldset>
								</p:panelGrid>
								<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: block;">
									<p:outputLabel value=" #{msgs['episode']}" />
									<p:fieldset style="max-width: 400px;" >
										<p:outputLabel value=" #{msgs['name']}:"/>
										<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.getVirtualName()}"/>
										<p:outputLabel value=" #{msgs['episode.requestedSpectators']}:"/> 
										<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.requestedSpectators}"/>		                        
										<p:outputLabel value=" #{msgs['episode.effectiveSpectators']}:"/> 
										<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.effectiveSpectators}"/>						
									</p:fieldset>
								</p:panelGrid>
							</p:panelGrid>	
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</sec:authorize>
	</ui:define>
</ui:composition>

