<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['spectator_management']}</ui:define>
	<ui:define name="page-content">
	<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION,ROLE_AGENCY,ROLE_PRODUCTION"> -->
	<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{spectatorBean.spectatorToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['spectator_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_spectator">
					<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
					<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_1')}">
						<p:commandButton style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container"
							actionListener="#{spectatorBean.addSpectator}" 
							rendered="#{spectatorBean.isMultiAgenzia() and ( not navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_9'))) }" />
						<h:outputText 
							value="L'utente appartiene ad un gruppo di produzione che non gestisce Eventi e pertanto non ha pubblico da gestire." 
							style="font-style: italic; 
							font-size: 180%;"
							rendered="#{!spectatorBean.isMultiAgenzia()}" />
					</sec:authorize>
						<!-- Button relativi all'export dei dati -->
						<h:panelGrid columns="3"
							style="position:absolute; right:0; top: 35px;" 
							rendered="#{spectatorBean.isMultiAgenzia()}" >
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="spectator_table"
									fileName="spectator" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="spectator_table"
									fileName="spectator" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="spectator_table"
									fileName="spectator" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:panelGrid 
							columns="1" 
							layout="grid"
							styleClass="content-fluid-grid" 
							style="font-size: 16px;"
							rendered="#{spectatorBean.isMultiAgenzia()}">
							<p:outputLabel for="selectedAgency"
								value="#{msgs['spectator.filterByAgency']}" />

							<p:selectOneMenu id="selectedAgency"
								value="#{spectatorBean.selectedAgency}"
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_2'))}">
								<f:selectItems value="#{spectatorBean.agencies}" />
								<p:ajax event="itemSelect"
									listener="#{spectatorBean.agSelected}"
									update="form_spectator:spectator_table  main_container" />
							</p:selectOneMenu>
							
						</p:panelGrid>
						<p:dataTable 
							id="spectator_table"
							value="#{spectatorBean.lazyModelAgencySpectator}" 
							var="con"
							rendered="#{spectatorBean.isMultiAgenzia()}" 
							widgetVar="spectator_tableWdg"
							paginator="true" rows="10"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;" reflow="true">
							<!-- <f:facet name="header">#{msgs['spectator_management']}</f:facet>  -->
							<p:column headerText="#{msgs['spectator.surname']}"
								filterBy="#{con.spectator.surname}" 
								filterMatchMode="contains"
								sortBy="#{con.spectator.surname}"> 
								<h:outputText value="#{con.spectator.surname}" />
							</p:column>							
							<p:column headerText="#{msgs['spectator.name']}"
								filterBy="#{con.spectator.name}" 
								filterMatchMode="contains"
								sortBy="#{con.spectator.name}">
								<h:outputText value="#{con.spectator.name}" />
							</p:column>
							<p:column headerText="#{msgs['spectator.birthDate']}"
								filterBy="#{con.spectator.birthDate}" filterMatchMode="contains"
								sortBy="#{con.spectator.birthDate}">
								<h:outputText value="#{con.spectator.birthDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msgs['spectatorType.description']}"
								filterBy="#{con.spectator.spectatorType.description}"
								filterMatchMode="contains">
								<!-- sortBy="#{con.spectator.spectatorType.description}" da errore sql di ordinamento perchè va inserira nella select  -->
								<h:outputText value="#{con.spectator.spectatorType.description}" />
							</p:column>

							<p:column headerText="#{msgs['spectator.mobile']}"
								filterBy="#{con.spectator.mobile}" filterMatchMode="contains">
								<!-- sortBy="#{con.spectator.mobile}" da errore sql di ordinamento perchè va inserira nella select  -->
								<h:outputText value="#{con.spectator.mobile}" />
							</p:column>

							<p:column headerText="#{msgs['spectator.email']}"
								filterBy="#{con.spectator.email}" filterMatchMode="contains">
								<!-- sortBy="#{con.spectator.email}" da errore sql di ordinamento perchè va inserira nella select  -->
								<h:outputText value="#{con.spectator.email}" />
							</p:column>
							
							<p:column 
								headerText="#{msgs['spectator.toReview']}"
								filterBy="#{con.spectator.toReview}" 
								filterMatchMode="equals">
								<f:facet name="filter">

									<p:selectBooleanCheckbox 
										styleClass="custom-filter"
										onchange="PF('spectator_tableWdg').filter()"/>
								</f:facet>
							<h:outputText value="#{con.spectator.toReview ? msgs['spectator.toRev']: ''}" />
								
							</p:column>							
							
							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;">
								<!-- update=":main_container form_edit:documents_table form_edit:documentTypePhoto" -->
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_9'))}"
										update=":main_container form_edit:documents_table"
										title="Edit" styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{spectatorBean.modifySpectator}">
										<f:param name="spectatorId" value="#{con.spectator.id}" />
									</p:commandLink>
									<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->	
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_1')}">								
										<p:commandLink
											disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_9'))}"
											style="border: 1px solid lightgray; width: 18px; display: inline-block;"
											oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
											styleClass="fa fa-fw fa-trash deletebtncls"
											actionListener="#{spectatorBean.confirmDeleteSpectator}">
											<f:param name="spectatorId" value="#{con.spectator.id}" />
										</p:commandLink>
									</sec:authorize>
								</div>
							</p:column>
						</p:dataTable>
						<!-- Caricamento massivo spettatori -->
						<!-- 
						<p:panelGrid
							rendered="#{navigationBean.haveUserRole('ROLE_AGENCY')}"
							columns="1" cellpadding="5" layout="grid"
							styleClass="content-fluid-grid"
							style="font-size: 16px;margin-top: 20px;">
							<p:outputLabel value="#{msgs['spectator.loadMore']}" />
						 -->	
						<p:panelGrid 
							rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_3')) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_9'))))}"
							columns="1" cellpadding="5" layout="grid"
							styleClass="content-fluid-grid"
							style="font-size: 16px;margin-top: 20px;">
							<p:outputLabel value="#{msgs['spectator.loadMore']}" />							
							
							<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
							<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_4')}">
								<p:fileUpload id="excelSpectatorsUpload" mode="advanced"
									label="#{msgs['spectator.choose']}"
									cancelLabel="#{msgs['spectator.cancel']}"
									uploadLabel="#{msgs['spectator.upload']}" style="width: 50%;"
									dragDropSupport="true" fileLimit="1" sizeLimit="30000000"
									allowTypes="/(\.|\/)(xls|xlsx)$/"
									fileUploadListener="#{spectatorBean.handleExcelSpectatorsUpload}"
									update="form_spectator:spectator_table form_spectator:spectatorNotAdded_table  main_container"
									widgetVar="uploadWdg"
									onstart="PrimeFaces.monitorDownload(start, stop);" />
							</sec:authorize>

						</p:panelGrid>
						<p:dialog modal="true" widgetVar="uploadStatusDialog"
							header="Status" draggable="false" closable="false"
							resizable="false">
							<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
						</p:dialog>
						<script type="text/javascript">
							function start() {
								PF('uploadStatusDialog').show();
							}
	
							function stop() {
								PF('uploadStatusDialog').hide();
							}
						</script>
						<!-- 
						<p:panelGrid
							rendered="#{navigationBean.haveUserRole('ROLE_AGENCY')}"
							columns="2" layout="grid" styleClass="content-fluid-grid">
						 --> 	
						<p:panelGrid
							rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_2')) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_9'))))}"
							columns="2" layout="grid" styleClass="content-fluid-grid">

							<p:dataTable id="spectatorNotAdded_table"
								value="#{spectatorBean.spectatorsNotAdded}" var="spec"
								style="padding-top: 20px;" reflow="true">
								<f:facet name="header">
								   #{msgs['spectator.notAdded']}
								</f:facet>
								<p:column headerText="#{msgs['spectator.surname']}">
									<h:outputText value="#{spec.surname}" />
								</p:column>								
								<p:column headerText="#{msgs['spectator.name']}">
									<h:outputText value="#{spec.name}" />
								</p:column>
								<p:column headerText="#{msgs['spectator.birthDate']}">
									<h:outputText value="#{spec.birthDate}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{msgs['spectator.note']}">
									<h:outputText value="#{spec.note}" style="color: red;" />
								</p:column>
							</p:dataTable>
						</p:panelGrid>

						<!-- end Caricamento massivo spettatori -->
					</h:form>
					
					<p:dialog id="deleteDlg" header="#{msgs['spectator.delete']}"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['spectator.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe confirmbtncls"
										icon="fa fa-fw fa-check"
										update=":form_spectator:spectator_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{spectatorBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe cancelbtncls"
										icon="fa fa-fw fa-ban" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_spectator:spectator_table"
										actionListener="#{spectatorBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>


				</h:panelGroup>

			</h:panelGroup>
			<p:dialog 
				modal="true" 
				widgetVar="saveStatusDialog"
				showHeader="false"
				draggable="false" 
				closable="false"
				resizable="false">
					<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
			</p:dialog>	
			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{spectatorBean.spectatorToEdit ne null}">#{msgs['details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%"
				columns="1" rendered="#{spectatorBean.spectatorToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">
						    <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
						    <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_1')}">
								<p:commandButton styleClass="button_classe savebtncls"
									icon="fa fa-fw fa-floppy-o" form=":form_edit"
									value="#{msgs['save']}"
									actionListener="#{spectatorBean.saveSpectator}"
									update=":main_container" 
									oncomplete="PF('spectator_tableWdg').filter()"
									onstart="PF('saveStatusDialog').show()"
									onsuccess="PF('saveStatusDialog').hide()" 
									/>
							</sec:authorize>
							<p:commandButton styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{spectatorBean.cancelEditSpectator}"
								update=":main_container" oncomplete="PF('spectator_tableWdg').filter()"/>

							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['spectator.edit']} #{spectatorBean.spectatorToEdit.name}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid"
							style="width: 40%; display: inline-block; vertical-align: top;">
							<p:panelGrid columns="1" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset>
									<p:outputLabel for="idSurname" value="#{msgs['spectator.surname']}:" />
									<p:inputText id="idSurname" required="true"
										value="#{spectatorBean.spectatorToEdit.surname}" />
									
									<p:outputLabel for = "idName" value="#{msgs['spectator.name']}:" />
									<p:inputText id="idName" required="true"
										value="#{spectatorBean.spectatorToEdit.name}" />

									<p:outputLabel for ="idFiscalCode" value=" #{msgs['spectator.fiscalCode']}:" />
									<p:inputText id="idFiscalCode" required="false"
										value="#{spectatorBean.spectatorToEdit.fiscalCode}"
										maxlength="16">
										<p:ajax update="outCheckCf acCountryCode birthDateCal selectedSpectatorGender"
											listener="#{spectatorBean.fiscalCodeInserted}"/>
										<h:outputText
											style="#{spectatorBean.fisCodWarningStyle} ; float: right;"
											id="outCheckCf" value="#{spectatorBean.checkCfInserted}" />
									</p:inputText>
									<br />
									<p:outputLabel for="idSelectedSpectatorType"
										value="#{msgs['spectator.spectatorType']}" />
									<p:selectOneMenu id="idSelectedSpectatorType"
										required="true"
										value="#{spectatorBean.selectedSpectatorType}">
										<f:selectItems value="#{spectatorBean.spectatorTypes}" />
									</p:selectOneMenu>
									<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION"> -->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_5')}">
										<p:outputLabel value=" #{msgs['spectator.agency']}:" />
										<p:selectManyCheckbox disabled="true" id="agencies"
											value="#{spectatorBean.selectedAgencies}">
											<f:selectItems
												value="#{spectatorBean.spectatorToEdit.agencies}"
												var="agency" itemLabel="#{agency.agency.name}"
												itemValue="#{agency}" />
										</p:selectManyCheckbox>
										<br />
									</sec:authorize> 
									<!-- spectator City  new  -->
									<p:outputLabel for ="acCountryCode" value=" #{msgs['spectator.city']}:" />
									<p:autoComplete id="acCountryCode"
										value="#{spectatorBean.spectatorToEdit.city}"
										completeMethod="#{spectatorBean.completeCountryCode}"
										emptyMessage="No results" var="cc" itemLabel="#{cc.city}"
										itemValue="#{cc}" converter="countryCodeConverter"
										minQueryLength="3" forceSelection="false"
										style="display:inline-block;">
										<p:column>
											<h:outputText value="#{cc.city}" />
										</p:column>
										<p:column>
											<h:outputText value="#{cc.province.provDescription}" />
										</p:column>
									</p:autoComplete>
									<p:outputLabel value=" #{msgs['spectator.birthDate']}:">
										<p:calendar id="birthDateCal" pattern="dd/MM/yyyy"
											required="false"
											value="#{spectatorBean.spectatorToEdit.birthDate}" />
									</p:outputLabel>
									<p:outputLabel value=" #{msgs['spectator.address1']}:" />
									<p:inputText required="false"
										value="#{spectatorBean.spectatorToEdit.address1}" />
									<p:outputLabel value=" #{msgs['spectator.address2']}:" />
									<p:inputText required="false"
										value="#{spectatorBean.spectatorToEdit.address2}" />
									<p:outputLabel value=" #{msgs['spectator.telephone']}:" />
									<p:inputMask 
										required="false"
										value="#{spectatorBean.spectatorToEdit.telephone}"
										mask="(99) ?9999-99999999"/>
									<p:outputLabel value=" #{msgs['spectator.mobile']}:" />
									<p:inputMask 
										required="false"
										value="#{spectatorBean.spectatorToEdit.mobile}"
										mask="(99) ?999-9999999"/>
									<p:outputLabel value=" #{msgs['spectator.gender']}:" />
									<p:selectOneMenu id="selectedSpectatorGender"
										value="#{spectatorBean.spectatorToEdit.gender}">
										<f:selectItems
											value="#{spectatorBean.spectatorToEdit.getGenders()}" />
									</p:selectOneMenu>
									<p:outputLabel for="email" value="#{msgs['spectator.email']}:" />
									<p:inputText 
										id="email" 
										required="false" 
										value="#{spectatorBean.spectatorToEdit.email}"
										validatorMessage="#{spectatorBean.spectatorToEdit.email} #{msgs['spectator.noValidEmail']}"
										>
										<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /> 
										<!-- <f:validateRegex pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$" />-->
									</p:inputText>
									<p:message for="email"/>
									
									<sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION,ROLE_SECURITY">
										<c:if test="${spectatorBean.checkBlackListSpectator(spectatorBean.spectatorToEdit)}">
											<b><p:outputLabel value="#{msgs['blackListSpectator.ispresent']}" /></b>
										</c:if>
									</sec:authorize>
								
								</p:fieldset>
							</p:panelGrid>
						</div>


						<div class="ui-fluid" style="width: 55%; display: inline-block;">
							<!--  documents spectator -->
							<p:panel id="document" header="#{msgs['spectator.document']}"
								style="margin-bottom:20px">
								<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
								<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_6')}"> 
									<h:panelGrid columns="2" cellpadding="10">
										<p:selectOneMenu id="documentType"
											value="#{spectatorBean.selectedDocumentType}">
											<f:selectItems value="#{spectatorBean.documentTypes}" />
											<p:ajax event="itemSelect"
												listener="#{spectatorBean.onDocumentTypeSelected}"
												update="form_edit:docUpload" />
										</p:selectOneMenu>
									</h:panelGrid>
									<h:panelGrid columns="1" styleClass="content-fluid-grid"
										cellpadding="10" style="width: 100%;">
										
										<p:fileUpload id="docUpload" mode="advanced" 
											label="#{msgs['spectator.choose']}"
											cancelLabel="#{msgs['spectator.cancel']}"
											uploadLabel="#{msgs['spectator.upload']}"
											dragDropSupport="true" fileLimit="1" sizeLimit="3000000"
											allowTypes="/(\.|\/)(pdf|doc|docx|jpe?g|png)$/"
											disabled="#{!spectatorBean.documentUploadEnabled}"
											fileUploadListener="#{spectatorBean.handleDocumentUpload}"
											update="form_edit:documents_table">
	
										</p:fileUpload>
										
									</h:panelGrid>
								</sec:authorize>

								<h:panelGrid columns="1" cellpadding="5">
									<p:dataTable var="doc" id="documents_table"
										widgetVar="docListWdgdt"
										value="#{spectatorBean.lazyModelDocumentSpectator}"
										lazy="true" style="padding-top: 20px;" paginator="true"
										rows="5">
										<f:facet name="header">
									        #{msgs['spectator.documentList']}
									    </f:facet>
										<p:column headerText="File">
											<p:commandButton value="Vedi" type="button" >
												<p:ajax 
													onsuccess="PF('dlg_document').show();" 
													listener="#{spectatorDynamicResourcesBean.setCurrentDocument(doc)}" 
													update="id_dlg_document_gr">
												</p:ajax>
											</p:commandButton>
										</p:column>
										
										<p:column headerText="#{msgs['documentType.description']}">
											<h:outputText value="#{doc.documentType.description}" />
										</p:column>
										
										<p:column headerText="#{msgs['document.creationDate']}">
											<h:outputText value="#{doc.documentCreationDate}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>
										
										<p:column headerText="#{msgs['document.beginValidityDate']}">
											<h:outputText value="#{doc.beginValidityDate}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msgs['document.endValidityDate']}">
											<h:outputText value="#{doc.endValidityDate}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>
										
										<p:column headerText="" exportable="false">
											<div style="text-align: center; width: 100%;">
												<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
												<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_1')}"> 
													<p:commandLink
														style="border: 1px solid lightgray; width: 18px; display: inline-block;"
														oncomplete="PF('deleteDocumentSpectatorDlgWdgt').show()"
														title="Delete" styleClass="fa fa-fw fa-trash deletebtncls"
														actionListener="#{spectatorBean.confirmDeleteDocumentSpectator}">
														<f:param name="documentSpectatorId" value="#{doc.id}"></f:param>
													</p:commandLink>
												</sec:authorize>
											</div>
										</p:column>
									</p:dataTable>
								</h:panelGrid>
							</p:panel>

							<p:panel id="photo" header="#{msgs['spectator.photo']}"
								style="margin-bottom:20px">
								<h:panelGrid columns="2" cellpadding="10">
									<h:panelGrid>
										<h:graphicImage id="imagePreview"
											value="data:image/png;base64,#{spectatorBean.spectatorPhotoAsBase64}"
											style="width: 200px; height: auto;" />
									</h:panelGrid>
									<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_AGENCY,ROLE_PRODUCTION"> -->
									<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_6')}"> 
										<h:panelGrid styleClass="content-fluid-grid" cellpadding="10">
											<p:selectOneMenu id="documentTypePhoto"
												style="width:200px; font-size: 16px;"
												value="#{spectatorBean.selectedDocumentTypePhoto}">
												<f:selectItems value="#{spectatorBean.documentTypePhoto}" />
												<p:ajax event="itemSelect"
													listener="#{spectatorBean.onDocumentTypePhotoSelected}"
													update="form_edit:photoUpload" />
											</p:selectOneMenu>
											
											<p:fileUpload id="photoUpload" mode="advanced"
												label="#{msgs['spectator.choose']}"
												cancelLabel="#{msgs['spectator.cancel']}"
												uploadLabel="#{msgs['spectator.upload']}"
												dragDropSupport="true" fileLimit="1" sizeLimit="3000000"
												allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
												disabled="#{spectatorBean.selectedDocumentTypePhoto eq null}"
												fileUploadListener="#{spectatorBean.handlePhotoUpload}"
												update="form_edit:documents_table form_edit:imagePreview">
											</p:fileUpload>
											
										</h:panelGrid>
									</sec:authorize>
								</h:panelGrid>
							</p:panel>
							<!-- end document Spectator  -->
							
							<!-- Partecipazioni a produzioni   -->
							<p:panel id="participation" style="margin-bottom:20px">
								<h:panelGrid columns="1" cellpadding="5">
									<p:dataTable var="part" id="participations_table"
										value="#{spectatorBean.lazyModelSpectatorEpisode}" lazy="true"
										style="padding-top: 20px;" paginator="true" rows="10">
										<f:facet name="header">
									        #{msgs['spectator.participation']}
									    </f:facet>
									    
										<p:column headerText="File">
											<p:commandButton value="Vedi" type="button" disabled="#{part.liberatoria eq null or part.liberatoria.pdfSignBase64Str eq null}">
												<p:ajax onsuccess="PF('dlg_liberatoria').show();" listener="#{spectatorDynamicResourcesBean.setCurrentPdfSign(part.liberatoria.pdfSignBase64Str)}" update="id_dlg_liberatoria_pdf"></p:ajax>
											</p:commandButton>
										</p:column>

										<p:column headerText="#{msgs['episode.name']}">
											<h:outputText value="#{part.episode.production.description}" />
										</p:column>
										
										<p:column headerText="#{msgs['episode_day']}">
											<h:outputText value="#{part.episode.dateFrom}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</h:outputText>
										</p:column>
									</p:dataTable>
								</h:panelGrid>
							</p:panel>
							
							<!--end  Partecipazioni a produzioni   -->
							
							
							<!-- Coinvolgimenti in Incidenti -->
							<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_SUPERVISION,ROLE_SECURITY"> -->
							<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectator_management_7')}"> 
								<p:panel id="incident" style="margin-bottom:20px">
								 	<h:panelGrid 
										columns="1" 
										cellpadding="5" 
										rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectator_management_8'))}">		
										<p:dataTable var="spettincident" id="incidents_table"
											value="#{spectatorBean.lazyModelSpectatorIncident}" lazy="true"
											style="padding-top: 20px;" paginator="true" rows="10">
											<f:facet name="header">
										        #{msgs['spectator.incident']}
										    </f:facet>
										    
											<p:column headerText="#{msgs['incident.description']}">
												<h:outputText value="#{spettincident.incident.description}" />
											</p:column>
											
											<p:column headerText="#{msgs['incident.dateTime']}">
												<h:outputText value="#{spettincident.incident.dateTimeIncident}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:column>
											
											<p:column headerText="#{msgs['typeBlackList.type']}">
												<h:outputText value="#{spectatorBean.getBlackListTypeDescription(spettincident.spectator)}" />
											</p:column>
											
											<p:column headerText="#{msgs['blackListSpectator.ispresent']}">
												<h:outputText value="#{spectatorBean.checkBlackListSpectator(spettincident.spectator)}" />
											</p:column>
										</p:dataTable> 
									</h:panelGrid>
								</p:panel>
							</sec:authorize>								
							<!-- end Coinvolgimenti in Incidenti -->	
													
						</div>
					</h:form>
					<p:dialog header="Liberatoria/Consenso" id="id_dlg_liberatoria" widgetVar="dlg_liberatoria" dynamic="true" modal="true" appendTo="@(body)" fitViewport="true" responsive="true" width="500" height="400">
					     <pe:documentViewer id="id_dlg_liberatoria_pdf" value="#{spectatorDynamicResourcesBean.fileLiberatoriaForSpectatorBean}" style="width: 99%; height: 99%;">
					     </pe:documentViewer>
					     <p:commandButton value="#{msgs['close']}" type="button" onclick="PF('dlg_liberatoria').hide();" />
					</p:dialog>  
					<p:dialog header="Documento" id="id_dlg_document" widgetVar="dlg_document" dynamic="true" modal="true" appendTo="@(body)" fitViewport="true" responsive="true" width="500" height="400">
						<h:panelGroup id="id_dlg_document_gr" layout="block">
							<p:graphicImage rendered="#{spectatorDynamicResourcesBean.currentDocumentExt eq '' or spectatorDynamicResourcesBean.currentDocumentExt eq 'jpg' or spectatorDynamicResourcesBean.currentDocumentExt eq 'jpeg' or spectatorDynamicResourcesBean.currentDocumentExt eq 'png'}" cache="false" value="#{spectatorDynamicResourcesBean.streamDocument}" stream="false" style="width: 99%; height: 99%;"/>
							<pe:documentViewer rendered="#{spectatorDynamicResourcesBean.currentDocumentExt ne '' and spectatorDynamicResourcesBean.currentDocumentExt ne 'jpg' and spectatorDynamicResourcesBean.currentDocumentExt ne 'jpeg' and spectatorDynamicResourcesBean.currentDocumentExt ne 'png'}" value="#{spectatorDynamicResourcesBean.streamDocument}" style="width: 99%; height: 99%;">
						    </pe:documentViewer>
					    </h:panelGroup>
					    <p:commandButton value="#{msgs['close']}" type="button" onclick="PF('dlg_document').hide();" />
					</p:dialog>
					<p:dialog id="deleteDocumentSpectatorDlg"
						header="#{msgs['documentSpectator.delete']}"
						widgetVar="deleteDocumentSpectatorDlgWdgt" showEffect="clip"
						hideEffect="clip" resizable="false" dynamic="true" modal="true"
						appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText
										value="#{msgs['documentSpectator.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe confirmbtncls"
										icon="fa fa-fw fa-check"
										update="form_edit:documents_table form_edit:imagePreview"
										oncomplete="PF('deleteDocumentSpectatorDlgWdgt').hide()"
										actionListener="#{spectatorBean.deleteDocumentSpectator}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe cancelbtncls"
										icon="fa fa-fw fa-ban" immediate="true"
										oncomplete="PF('deleteDocumentSpectatorDlgWdgt').hide()"
										update="form_edit:documents_table"
										actionListener="#{spectatorBean.cancelDeleteDocumentSpectator}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"
						draggable="false" closable="false" resizable="false">
						<p:graphicImage url="/resources/images/ajaxloadingbar.gif" />
					</p:dialog>
					<script type="text/javascript">
						function start() {
							PF('statusDialog').show();
						}

						function stop() {
							PF('statusDialog').hide();
						}
					</script>
				</p:panel>
			</h:panelGrid>

		</h:panelGroup>
		</sec:authorize>
	</ui:define>
	
</ui:composition>