<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:sec="http://www.springframework.org/security/tags" xmlns:util="http://crismasecurity.com/faces/utils/functions">
	<ui:define name="page-title">#{msgs['spectatorEpisodeCalendar_management']}</ui:define>
	<ui:define name="page-content">
		<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_AGENCY,ROLE_SUPERVISION"> -->
		<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('spectatorEpisodeCalendar_management')}">
			<script type="text/javascript">
				function handleStatusMessage(data) {
				// Viene richiamato prima dell'update del ajax event
				//if (data!=null){
				//	if (data!='') {
				//alert(data);
				//$('#error_messages').text(data);
				//$('#error_messages').html("<b>"+data+"</b>");
				//		PF('warn_dialog').show();
				//	}
				}
			</script>
			<h:panelGroup id="main_container" layout="block">
				<h:panelGroup rendered="#{spectatorEpisodeBean.selectedEpisode eq null}" layout="block" styleClass="page_content_layout_div">
					<h:panelGroup layout="block" styleClass="page_title">#{msgs['spectatorEpisodeCalendar_management']}</h:panelGroup>
					<h:form id="calendarSpectatorEpisodeContainer">
						<p:layout styleClass="layoutcalendarcls" style="min-width:200px;min-height:850px;">
							<p:layoutUnit position="west" resizable="true" size="330" minSize="40" maxSize="400" styleClass="leftfilterscls">
								<f:facet name="header">#{msgs['agency']}</f:facet>
								<h:panelGrid columns="1" style="width:100%" styleClass="agencyfiltercls">
									<p:outputLabel for="selectedAgency" value="#{msgs['agency']}"/>
									<!-- 
									<p:selectOneMenu
										 id="selectedAgency" 
										 value="#{spectatorEpisodeBean.selectedAgency}" 
										 disabled="#{navigationBean.haveUserRole('ROLE_AGENCY') and not navigationBean.haveUserRole('ROLE_PRODUCTION')}">
										 
										 disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_1')) and not navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_2'))}">
									 -->	 
									<p:selectOneMenu
										 id="selectedAgency" 
										 value="#{spectatorEpisodeBean.selectedAgency}" 
										 disabled="true">										 
										<f:selectItems value="#{spectatorEpisodeBean.agencies}"/>
										<p:ajax 
											event="itemSelect" 
											listener="#{spectatorEpisodeBean.agSelected}" 
											update="calendarSpectatorEpisodeContainer:selectedProduction calendarSpectatorEpisodeContainer:schedule"/>
									</p:selectOneMenu>
									<br/>
								</h:panelGrid>
								<h:panelGrid columns="1" style="width:100%" styleClass="productionfiltercls">
									<p:outputLabel for="selectedProduction" value="#{msgs['production']}"/>
									<p:selectOneMenu id="selectedProduction" value="#{spectatorEpisodeBean.selectedProduction}">
										<f:selectItems value="#{spectatorEpisodeBean.productions}" itemDescription=""/>
										<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.prodSelected}" update="calendarSpectatorEpisodeContainer:schedule"/>
									</p:selectOneMenu>
									<br/>
								</h:panelGrid>
								<h:panelGrid columns="1" style="width:100%" styleClass="legendcls">
									<p:outputLabel value="#{msgs['spectatorEpisode.legend']}"/>
									<p:menu class="menulegendcalendarcls">
										<p:menuitem value="#{msgs['spectatorEpisode.new']}" icon="fa fa-square" style="color:green;"/>
										<p:menuitem value="#{msgs['spectatorEpisode.onWork']}" icon="fa fa-square" style="color:orange;"/>
										<p:menuitem value="#{msgs['spectatorEpisode.complete']}" icon="fa fa-square" style="color:blue;"/>
										<p:menuitem value="#{msgs['spectatorEpisode.approved']}" icon="fa fa-square" style="color:yellow;"/>
										<p:menuitem value="#{msgs['spectatorEpisode.finished']}" icon="fa fa-square" style="color:red;"/>
									</p:menu>
								</h:panelGrid>
							</p:layoutUnit>
							<p:layoutUnit position="center">
								<p:schedule id="schedule" value="#{spectatorEpisodeBean.eventModel}" widgetVar="wSchedule" style="width:100%; margin-left: 10px;" locale="#{msgs['locales']}" initialDate="#{spectatorEpisodeBean.dateSelect}" draggable="false" resizable="false" showHeader="true" tooltip="true" timeFormat="HH:mm - " clientTimeZone="local" styleClass="calendarschedulecls">
									<p:ajax event="eventSelect" listener="#{spectatorEpisodeBean.onEventSelect}" update="form_spectatorEpisode:episode_table  main_container form_spectatorEpisode:episode_spectator_desc"/>
								</p:schedule>
							</p:layoutUnit>
						</p:layout>
					</h:form>
					<script type="text/javascript">
						PrimeFaces.locales ['#{msgs['locales']}'] = {
						closeText: '#{msgs['locales.closeText']}',
						prevText: '#{msgs['locales.prevText']}',
						nextText: '#{msgs['locales.nextText']}',
						monthNames: #{msgs['locales.monthNames']},
						monthNamesShort: #{msgs['locales.monthNamesShort']},
						dayNames: #{msgs['locales.dayNames']},
						dayNamesShort: #{msgs['locales.dayNamesShort']},
						dayNamesMin: #{msgs['locales.dayNamesMin']},
						weekHeader: '#{msgs['locales.weekHeader']}',
						firstDay: #{msgs['locales.firstDay']},
						isRTL: #{msgs['locales.isRTL']},
						showMonthAfterYear: #{msgs['locales.showMonthAfterYear']},
						yearSuffix:'#{msgs['locales.yearSuffix']}',
						timeOnlyTitle: '#{msgs['locales.timeOnlyTitle']}',
						timeText: '#{msgs['locales.timeText']}',
						hourText: '#{msgs['locales.hourText']}',
						minuteText: '#{msgs['locales.minuteText']}',
						secondText: '#{msgs['locales.secondText']}',
						currentText: '#{msgs['locales.currentText']}',
						ampm: #{msgs['locales.ampm']},
						month: '#{msgs['locales.month']}',
						week: '#{msgs['locales.week']}',
						day: '#{msgs['locales.day']}',
						allDayText: '#{msgs['locales.allDayText']}'
						};
					</script>
				</h:panelGroup>
				<!--  end new calendar section  -->
				<h:panelGroup layout="block" styleClass="page_title detailscls" rendered="#{spectatorEpisodeBean.selectedEpisode ne null and spectatorEpisodeBean.spectatorEpisodeToEdit eq null}">#{msgs['details']}</h:panelGroup>
				<h:panelGroup styleClass="page_content_layout_div layouteditcls" rendered="#{spectatorEpisodeBean.selectedEpisode ne null and spectatorEpisodeBean.spectatorEpisodeToEdit eq null}" layout="block">
					<h:panelGrid>
						<p:commandButton icon="fa fa-long-arrow-left" actionListener="#{spectatorEpisodeBean.backToCalendar}" value="#{msgs['spectatorEpisode.back']}" update="main_container"/>
					</h:panelGrid>
					<p:panel style="margin-bottom:10px;">
						<!-- <f:facet name="header"> #{msgs['spectatorEpisodeCalendar_management']}   </f:facet>  -->
						<h:form id="form_spectatorEpisode">
							<h:panelGrid columns="1" style="width:100%" class="spEpContainerCls">
								<h:panelGrid columns="1" style="width:100%">
									<p:outputLabel for="selectedProduction" value="#{msgs['production']}"/>
									<p:selectOneMenu id="selectedProduction" value="#{spectatorEpisodeBean.selectedProduction}">
										<f:selectItems value="#{spectatorEpisodeBean.productions}"/>
										<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.prodSelected}" update="form_spectatorEpisode:selectedEpisode"/>
									</p:selectOneMenu>
									<br/>
									<!-- <h:outputText id="selectedProd" value="#{msgs['selected']}: #{spectatorEpisodeBean.selectedProduction}"/>  -->
								</h:panelGrid>
								<h:panelGrid columns="1" style="width:100%">
									<p:outputLabel for="selectedEpisode" value="#{msgs['episode']}"/>
									<p:selectOneMenu id="selectedEpisode" value="#{spectatorEpisodeBean.selectedEpisode}">
										<!--  <f:selectItems value="#{spectatorEpisodeBean.getEpisodesListByProductionId(spectatorEpisodeBean.selectedProduction)}" /> -->
										<f:selectItems value="#{spectatorEpisodeBean.episodes}" var="ep" itemValue="#{ep}"/>
										<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.epSelected}" update="form_spectatorEpisode:episode_table  main_container form_spectatorEpisode:episode_spectator_desc"/>
									</p:selectOneMenu>
								</h:panelGrid>
							</h:panelGrid>
							<h:panelGrid columns="1" class="selectspectcls" id="addSpectatorPanel">
								<p:outputLabel 
									value="#{msgs['spectatorEpisode.insertSpectator']}" 
									for="acSpectatorSurname"/>
								<p:autoComplete 
									id="acSpectatorSurname" 
									value="#{spectatorEpisodeBean.spectatorToInsert}" 
									completeMethod="#{spectatorEpisodeBean.completeSpectator}" 
									emptyMessage="No results" 
									var="sp" 
									itemLabel="#{sp.fullName}" 
									itemValue="#{sp}" 
									converter="SpectatorConverter" 
									forceSelection="false" 
									disabled="#{spectatorEpisodeBean.disableAddSpecBtn()}">
									<h:panelGrid columns="3">
										<p:column>
											<h:outputText value="#{sp.name}"/>
										</p:column>
										<p:column>
											<h:outputText value="#{sp.surname}"/>
										</p:column>
										<p:column>
											<h:outputText value="#{sp.birthDate}"/>
										</p:column>
									</h:panelGrid>
									<p:ajax event="itemSelect" update="addSpecDlg" listener="#{spectatorEpisodeBean.handleSelectSpectator}"/>
									<p:ajax event="itemUnselect" update="addSpecDlg" listener="#{spectatorEpisodeBean.handleUnSelectSpectator}"/>
									<p:ajax event="change" update="addSpecDlg" process="@this"/>
								</p:autoComplete>
								<!--  
								<p:commandButton 
									actionListener="#{spectatorEpisodeBean.addSpecBtn}" 
									disabled="#{spectatorEpisodeBean.disableAddSpecBtn()}" 
									rendered="#{navigationBean.haveUserRole('ROLE_ADMIN') or navigationBean.haveUserRole('ROLE_AGENCY')}" 
									style="display:inline-block;" icon="fa fa-fw fa-plus" 
									onclick="PF('addSpectatorDlgWdgt').show()" 
									update="form_edit_spec_dlg"/>
									-->
								<p:commandButton 
									actionListener="#{spectatorEpisodeBean.addSpecBtn}" 
									disabled="#{spectatorEpisodeBean.disableAddSpecBtn()}" 
									rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_3'))}" 
									style="display:inline-block;" icon="fa fa-fw fa-plus" 
									onclick="PF('addSpectatorDlgWdgt').show()" 
									update="form_edit_spec_dlg"/>	
							</h:panelGrid>
							<h:panelGrid style="padding-top: 20px;" columns="1" cellpadding="5">
								<h:outputText id="episode_spectator_desc" value="#{msgs['requested_spectators']}: #{spectatorEpisodeBean.requestedSpectators}, #{msgs['loaded_spectators']}: #{spectatorEpisodeBean.effectiveSpectators}"/>
								<p:dataTable widgetVar="episode-table" var="con" id="episode_table" value="#{spectatorEpisodeBean.lazyModelSpectatorEpisode}" paginator="true" paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {Exporters}" rowsPerPageTemplate="5,10,15" lazy="true" style="padding-top: 5px;" rows="10">
									<f:facet name="{Exporters}">
										<h:commandLink style="float:right;">
											<p:graphicImage name="/images/export/excel.png" width="24"/>
											<p:dataExporter type="xls" target="episode_table" fileName="spectators"/>
										</h:commandLink>
										<h:commandLink style="float:right;">
											<p:graphicImage name="/images/export/pdf.png" width="24"/>
											<p:dataExporter type="pdf" target="episode_table" fileName="spectators"/>
										</h:commandLink>
										<h:commandLink style="float:right;">
											<p:graphicImage name="/images/export/csv.png" width="24"/>
											<p:dataExporter type="csv" target="episode_table" fileName="spectators"/>
										</h:commandLink>
										<h:commandLink style="float:right;">
											<p:graphicImage name="/images/export/xml.png" width="24"/>
											<p:dataExporter type="xml" target="episode_table" fileName="spectators"/>
										</h:commandLink>
									</f:facet>
									<p:column headerText="#{msgs['spectator.surname']}" sortBy="#{con.spectator.surname}" filterBy="#{con.spectator.surname}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.surname}"/>
									</p:column>
									<p:column headerText="#{msgs['spectator.name']}" filterBy="#{con.spectator.name}" filterMatchMode="contains" sortBy="#{con.spectator.name}">
										<h:outputText value="#{con.spectator.name}"/>
									</p:column>
									<p:column headerText="#{msgs['description']}" sortBy="#{con.description}" filterBy="#{con.description}" filterMatchMode="contains">
										<h:outputText value="#{con.description}"/>
									</p:column>
									<p:column headerText="#{msgs['spectator.birthDate']}" filterBy="#{con.spectator.birthDate}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.birthDate}">
											<f:convertDateTime pattern="dd/MM/yyyy"/>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msgs['spectator.telephone']}" filterBy="#{con.spectator.telephone}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.telephone}"/>
									</p:column>
									<p:column headerText="#{msgs['spectator.gender']}">
										<h:outputText value="#{con.spectator.gender}"/>
									</p:column>
									<p:column headerText="#{msgs['spectator.vip']}">
										<h:outputText value="#{con.vip?msgs['yes']:msgs['no']}"/>
									</p:column>
									<p:column headerText="" exportable="false">
										<div style="text-align: center; width: 100%;">
										<!-- 
											<p:commandLink 
												rendered="#{spectatorEpisodeBean.renderCommand()}" 
												disabled="#{((con.vip eq true) or spectatorEpisodeBean.disableCommand()) and (not(navigationBean.haveUserRole('ROLE_PRODUCTION') or navigationBean.haveUserRole('ROLE_ADMIN')))}" 
												style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
												update=":main_container" 
												title="Edit" 
												styleClass="fa fa-fw fa-pencil editbtncls" 
												actionListener="#{spectatorEpisodeBean.modifySpectatorEpisode}">
													<f:param name="spectatorEpisodeId" value="#{con.id}"/>
											</p:commandLink>
										 -->	
										 
										 	<p:commandLink 
												rendered="#{spectatorEpisodeBean.renderCommand()}" 
												disabled="#{((con.vip eq true) or spectatorEpisodeBean.disableCommand()) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_4'))))}" 
												style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
												update=":main_container" 
												title="Edit" 
												styleClass="fa fa-fw fa-pencil editbtncls" 
												actionListener="#{spectatorEpisodeBean.modifySpectatorEpisode}">
													<f:param name="spectatorEpisodeId" value="#{con.id}"/>
											</p:commandLink>
											<p:commandLink 
												rendered="#{spectatorEpisodeBean.renderCommand() and (not (spectatorEpisodeBean.onlyList))}" 
												disabled="#{not(spectatorEpisodeBean.documentIsAvailable()) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_4'))))}" 
												style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" 
												update=":main_container" 
												title="Send Email" 
												onclick="PrimeFaces.monitorDownload(start, stop);" 
												styleClass="fa fa-fw fa-envelope-o editbtncls" 
												actionListener="#{spectatorEpisodeBean.sendInvite}">
													<f:param name="spectatorEpisodeId" value="#{con.id}"/>
											</p:commandLink>
											<p:commandButton 
												rendered="#{spectatorEpisodeBean.renderCommand() and (not (spectatorEpisodeBean.onlyList))}" 
												ajax="false" 
												style="background: none; width: 18px; display: inline-block; margin-right: 8px;" 
												update=":main_container" 
												title="Print Invite" 
												disabled="#{not(spectatorEpisodeBean.documentIsAvailable()) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_4')))) }" 
												styleClass="editbtncls" 
												onclick="PrimeFaces.monitorDownload(start, stop);" 
												icon="fa fa-fw fa-download">
													<f:setPropertyActionListener target="#{spectatorEpisodeBean.spectatorEpisodeId}" value="#{con.id}"/>
													<p:fileDownload value="#{spectatorEpisodeBean.pdfInvite()}"/>
											</p:commandButton>
											<p:commandLink 
												rendered="#{spectatorEpisodeBean.renderCommand()}" 
												disabled="#{(con.vip eq true) and (not(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_4'))))}" 
												style="border: 1px solid lightgray; width: 18px; display: inline-block;" 
												oncomplete="PF('deleteDlgWdgt').show()" 
												title="Delete" 
												styleClass="fa fa-fw fa-trash deletebtncls" 
												actionListener="#{spectatorEpisodeBean.confirmDeleteSpectatorEpisode}">
													<f:param name="spectatorEpisodeId" value="#{con.id}"/>
											</p:commandLink>
										</div>
									</p:column>
								</p:dataTable>
							</h:panelGrid>
							<h:panelGrid columns="5" cellpadding="5">
								<p:outputLabel for="selectedEpisodeStatusType" value="#{msgs['episode.episodeStatus']}"/>
								<p:selectOneMenu disabled="#{spectatorEpisodeBean.disableEpStatusSelectMenu()}" id="selectedEpisodeStatusType" value="#{spectatorEpisodeBean.episodeToEdit.episodeStatus}" effect="fade" converter="episodeStatusTypeConverter" panelStyle="width:180px" var="t" style="width:160px">
									<f:selectItems value="#{spectatorEpisodeBean.episodeStatusTypeList}" var="c" itemLabel="#{c.description}"/>
									<p:column style="width:10%">
										<h:outputText styleClass="ui-theme-episodestatustype-#{spectatorEpisodeBean.getEpisodeStatus(t.id).getIdStatus()}" value=""/>
									</p:column>
									<p:column>
										<h:outputText value="#{spectatorEpisodeBean.getEpisodeStatus(t.id).getDescription()}"/>
									</p:column>
									<!-- <p:ajax event="itemSelect"
									listener="#{spectatorEpisodeBean.onEpisodeStatusSelected}"
									update="main_container calendarSpectatorEpisodeContainer:schedule form_spectatorEpisode:episode_table form_spectatorEpisode:episode_spectator_desc" /> -->
									<p:ajax event="itemSelect" listener="#{spectatorEpisodeBean.onEpisodeStatusSelected}" update="form_spectatorEpisode:selectedEpisodeStatusType"/>
								</p:selectOneMenu>
								<!-- Comandi di invio email -->
								<h:panelGroup layout="block" id="puls_abc">
									<p:commandButton id="downloadList" style="width:190px" rendered="#{(spectatorEpisodeBean.episodeToEdit.episodeStatus.idStatus eq 8)}" value="#{msgs['spectatorEpisode.downloadList']}" ajax="false" disabled="#{spectatorEpisodeBean.base64InviteListNotAvailable()}" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowstop-1-s">
										<p:fileDownload value="#{spectatorEpisodeBean.pdfInviteList()}"/>
									</p:commandButton>
									<p:commandButton id="resendList" style="width:190px" rendered="#{(spectatorEpisodeBean.episodeToEdit.episodeStatus.idStatus eq 8)}" value="#{msgs['spectatorEpisode.sendEmailList']}" actionListener="#{spectatorEpisodeBean.resendList()}">
									</p:commandButton>
									<p:commandButton id="sendInvite" oncomplete="PF('sendInvitesDlgWdgt').show()" title="sendInvite" style="width:190px" rendered="#{(spectatorEpisodeBean.episodeToEdit.episodeStatus.idStatus eq 8) and (not (spectatorEpisodeBean.onlyList))}" value="#{msgs['spectatorEpisode.sendInvites']}">
									</p:commandButton>
								</h:panelGroup>
								<p:socket onMessage="handleStatusMessage" channel="/status/#{session.getId()}">
									<p:ajax event="message" update="form_spectatorEpisode:selectedEpisodeStatusType form_spectatorEpisode:episode_table form_spectatorEpisode:puls_abc form_spectatorEpisode:pan_upload_spec form_spectatorEpisode:addSpectatorPanel"/>
								</p:socket>
							</h:panelGrid>
							<!-- Caricamento massivo spettatori -->
							<h:panelGroup layout="block" id="pan_upload_spec">
<!-- 							
								<p:panelGrid 
									rendered="#{(navigationBean.haveUserRole('ROLE_AGENCY') or navigationBean.haveUserRole('ROLE_ADMIN')) and !spectatorEpisodeBean.disableAddSpecBtn()}" 
									columns="1" 
									cellpadding="5" 
									layout="grid" 
									styleClass="content-fluid-grid" 
									style="font-size: 16px;margin-top: 20px;">
									<p:outputLabel value="#{msgs['spectator.loadMore']}"/>
									<p:fileUpload id="excelSpectatorsUpload" mode="advanced" label="#{msgs['spectator.choose']}" cancelLabel="#{msgs['spectator.cancel']}" uploadLabel="#{msgs['spectator.upload']}" style="width: 50%;" dragDropSupport="true" fileLimit="1" sizeLimit="30000000" allowTypes="/(\.|\/)(xls|xlsx)$/" fileUploadListener="#{spectatorEpisodeBean.handleExcelSpectatorsUpload}" update="form_spectatorEpisode:episode_table form_spectatorEpisode:spectatorNotAdded_table main_container form_spectatorEpisode:episode_spectator_desc" onstart="PrimeFaces.monitorDownload(start, stop);">
									</p:fileUpload>
								</p:panelGrid>
 -->								
 								<p:panelGrid 
									rendered="#{(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_5'))) and !spectatorEpisodeBean.disableAddSpecBtn()}" 
									columns="1" 
									cellpadding="5" 
									layout="grid" 
									styleClass="content-fluid-grid" 
									style="font-size: 16px;margin-top: 20px;">
									<p:outputLabel value="#{msgs['spectator.loadMore']}"/>
									<p:fileUpload 
										id="excelSpectatorsUpload" 
										mode="advanced" 
										label="#{msgs['spectator.choose']}" 
										cancelLabel="#{msgs['spectator.cancel']}" 
										uploadLabel="#{msgs['spectator.upload']}" 
										style="width: 50%;" 
										dragDropSupport="true" 
										fileLimit="1" 
										sizeLimit="30000000" 
										allowTypes="/(\.|\/)(xls|xlsx)$/" 
										fileUploadListener="#{spectatorEpisodeBean.handleExcelSpectatorsUpload}" 
										update="form_spectatorEpisode:episode_table form_spectatorEpisode:spectatorNotAdded_table main_container form_spectatorEpisode:episode_spectator_desc" 
										onstart="PrimeFaces.monitorDownload(start, stop);">
									</p:fileUpload>
								</p:panelGrid>
<!-- 								
								<p:panelGrid 
									rendered="#{(navigationBean.haveUserRole('ROLE_AGENCY') or navigationBean.haveUserRole('ROLE_ADMIN')) and !spectatorEpisodeBean.disableAddSpecBtn()}" 
									columns="2" 
									layout="grid" 
									styleClass="content-fluid-grid">
 -->									
								<p:panelGrid 
									rendered="#{(navigationBean.haveUserRole(navigationBean.getGrantString('spectatorEpisodeCalendar_management_5'))) and !spectatorEpisodeBean.disableAddSpecBtn()}" 
									columns="2" 
									layout="grid" 
									styleClass="content-fluid-grid">	
																	
									<p:dataTable id="spectatorNotAdded_table" value="#{spectatorEpisodeBean.spectatorsNotAdded}" var="spec" style="padding-top: 20px;" reflow="true">
										<f:facet name="header">
											#{msgs['spectator.notAdded']}
										</f:facet>
										<p:column headerText="#{msgs['spectator.name']}">
											<h:outputText value="#{spec.name}"/>
										</p:column>
										<p:column headerText="#{msgs['spectator.surname']}">
											<h:outputText value="#{spec.surname}"/>
										</p:column>
										<p:column headerText="#{msgs['spectator.birthDate']}">
											<h:outputText value="#{spec.birthDate}">
												<f:convertDateTime pattern="dd/MM/yyyy"/>
											</h:outputText>
										</p:column>
										<p:column headerText="#{msgs['spectator.note']}">
											<h:outputText value="#{spec.note}"/>
										</p:column>
									</p:dataTable>
								</p:panelGrid>
							</h:panelGroup>
							<p:dialog modal="true" widgetVar="uploadStatusDialog" header="Status" draggable="false" closable="false" resizable="false">
								<p:graphicImage url="/resources/images/ajaxloadingbar.gif"/>
							</p:dialog>
							<script type="text/javascript">
								function start() {
								PF('uploadStatusDialog').show();
								}
								function stop() {
								PF('uploadStatusDialog').hide();
								}
							</script>
							<!-- end Caricamento massivo spettatori -->
							<br/>
						</h:form>
					</p:panel>
					<p:dialog id="deleteDlg" header="SpectatorEpisode delete" widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip" resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['spectatorEpisode.confirm_delete']}"/>
									<br/>
									<br/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" update=":form_spectatorEpisode" oncomplete="PF('deleteDlgWdgt').hide()" actionListener="#{spectatorEpisodeBean.delete}" value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-close" immediate="true" oncomplete="PF('deleteDlgWdgt').hide()" update=":form_spectatorEpisode" actionListener="#{spectatorEpisodeBean.cancelDelete}" value="#{msgs['cancel']}"/>
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					<p:dialog id="sendInvitesDlg" header="SpectatorEpisode sendInvite" widgetVar="sendInvitesDlgWdgt" showEffect="clip" hideEffect="clip" resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['spectatorEpisode.confirmSendInvites']}"/>
									<br/>
									<br/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" update=":form_spectatorEpisode" oncomplete="PF('sendInvitesDlgWdgt').hide()" actionListener="#{spectatorEpisodeBean.sendInvites}" value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-close" immediate="true" oncomplete="PF('sendInvitesDlgWdgt').hide()" update=":form_spectatorEpisode" actionListener="#{spectatorEpisodeBean.cancelSendInvites}" value="#{msgs['cancel']}"/>
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
					<script type="text/javascript">
						function cleanWarningFiscalCode(){
						document.getElementById("form_edit_spec_dlg:outCheckCf").innerHTML="";
						}
					</script>
					<p:dialog onHide="cleanWarningFiscalCode()" id="addSpecDlg" header="#{msgs['spectator']}" height="650" widgetVar="addSpectatorDlgWdgt" showEffect="clip" hideEffect="clip">
						<h:form id="form_edit_spec_dlg">
							<div class="ui-fluid">
								<p:panelGrid rendered="#{spectatorEpisodeBean.spectatorToInsert ne null}" columns="1" layout="grid" styleClass="content-fluid-grid">
									<p:fieldset style="max-width: 800px;">
										<h:panelGroup rendered="#{spectatorEpisodeBean.spectatorToInsertInWarningBlackList()}">
											<p:outputLabel style="color: orange;" value="!! #{msgs['spectator_in_warn_blacklinst']} !!"/>
											<BR/>
										</h:panelGroup>
										<h:panelGroup rendered="#{spectatorEpisodeBean.spectatorToInsertInBlockedBlackList()}">
											<p:outputLabel style="color: red;" value="#{spectatorEpisodeBean.getUnwantedMessage()}"/>
											<BR/>
										</h:panelGroup>
										<p:outputLabel value="* #{msgs['spectator.surname']}:"/>
										<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToInsert.surname}"/>
										<p:outputLabel value="* #{msgs['spectator.name']}:"/>
										<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToInsert.name}"/>
										<p:outputLabel value=" #{msgs['spectator.fiscalCode']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToInsert.fiscalCode}" maxlength="16">
											<p:ajax update="outCheckCf acCountryCode birthDateCal selectedSpectatorGender" listener="#{spectatorEpisodeBean.fiscalCodeInserted}"/>
											<h:outputText style="#{spectatorEpisodeBean.fisCodWarningStyle} ; float: right;" id="outCheckCf" value="#{spectatorEpisodeBean.checkCfInserted}"/>
										</p:inputText>
										<br/>
										<p:outputLabel value=" #{msgs['spectator.city']}:"/>
										<p:autoComplete id="acCountryCode" value="#{spectatorEpisodeBean.spectatorToInsert.city}" completeMethod="#{spectatorEpisodeBean.completeCountryCode}" emptyMessage="No results" var="cc" itemLabel="#{cc.city}" itemValue="#{cc}" converter="countryCodeConverter" forceSelection="false" minQueryLength="3" style="display:inline-block;">
											<p:column>
												<h:outputText value="#{cc.city}"/>
											</p:column>
											<p:column>
												<h:outputText value="#{cc.province.provDescription}"/>
											</p:column>
										</p:autoComplete>
										<p:outputLabel for="birthDateCal" value=" #{msgs['spectator.birthDate']}:">
											<p:calendar id="birthDateCal" pattern="dd/MM/yyyy" required="false" value="#{spectatorEpisodeBean.spectatorToInsert.birthDate}"/>
										</p:outputLabel>
										<p:outputLabel for="selectedSpectatorType" value="#{msgs['spectator.spectatorType']}"/>
										<p:selectOneMenu id="selectedSpectatorType" value="#{spectatorEpisodeBean.selectedSpectatorType}" required="true">
											<f:selectItems value="#{spectatorEpisodeBean.spectatorTypes}"/>
										</p:selectOneMenu>
										<p:outputLabel for="selectedSpectatorGender" value=" #{msgs['spectator.gender']}:"/>
										<p:selectOneMenu id="selectedSpectatorGender" value="#{spectatorEpisodeBean.spectatorToInsert.gender}" required="true">
											<f:selectItems value="#{spectatorEpisodeBean.getGenders()}"/>
										</p:selectOneMenu>
										<p:outputLabel value=" #{msgs['episode']}:"/>
										<p:inputText required="false" readonly="true" value="#{spectatorEpisodeBean.selectedEpisode}"/>
										<p:outputLabel value=" #{msgs['description']}:"/>
										<p:inputText value="#{spectatorEpisodeBean.descriptionAddEpisode}"/>
									</p:fieldset>
								</p:panelGrid>
							</div>
						</h:form>
						<center>
							<p:commandButton value="Submit" form="form_edit_spec_dlg" disabled="#{spectatorEpisodeBean.spectatorToInsertInBlockedBlackList()}" icon="ui-icon-check" update="form_spectatorEpisode:episode_table :form_edit_spec_dlg form_spectatorEpisode:acSpectatorSurname form_spectatorEpisode:episode_spectator_desc" style="width:100px;" oncomplete="PF('addSpectatorDlgWdgt').hide()" actionListener="#{spectatorEpisodeBean.addSpectator}"/>
							<p:commandButton value="#{msgs['cancel']}" onclick="PF('addSpectatorDlgWdgt').hide()" style="width:100px;" update="form_spectatorEpisode:acSpectatorSurname" actionListener="#{spectatorEpisodeBean.closeDlgSpc}"/>
						</center>
					</p:dialog>
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="page_title detailscls" rendered="#{spectatorEpisodeBean.spectatorEpisodeToEdit ne null}">#{msgs['spectatorEpisode.details']}</h:panelGroup>
				<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1" rendered="#{spectatorEpisodeBean.spectatorEpisodeToEdit ne null}">
					<p:panel style="border: 0;">
						<p:toolbar>
							<f:facet name="left">
								<p:commandButton styleClass="button_classe savebtncls" icon="fa fa-fw fa-floppy-o" form=":form_edit_spEp" value="#{msgs['save']}" actionListener="#{spectatorEpisodeBean.saveSpectatorEpisode}" update=":main_container"/>
								<p:commandButton styleClass="button_classe cancelbtncls" icon="fa fa-fw fa-times" immediate="true" form=":form_edit_spEp" value="#{msgs['cancel']}" actionListener="#{spectatorEpisodeBean.cancelEditSpectatorEpisode}" update=":main_container"/>
								<span class="ui-separator">
									<span class="ui-icon ui-icon-grip-dotted-vertical"/>
								</span>
								<!-- <p:outputLabel id="name" style="font-weight: bold;padding-left: 10px;" value="#{msgs['spectatorEpisode.edit']} #{spectatorEpisodeBean.spectatorEpisodeToEdit.name}"></p:outputLabel> -->
							</f:facet>
						</p:toolbar>
					</p:panel>
					<p:panel style="border: 0;" id="layout_internal_center">
						<h:form id="form_edit_spEp">
							<div class="ui-fluid">
								<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: inline-block;float: left;">
									<p:outputLabel value=" #{msgs['spectator']}"/>
									<p:fieldset style="max-width: 400px;">
										<p:outputLabel value="#{msgs['spectator.surname']}:"/>
										<p:inputText value="#{spectatorEpisodeBean.spectatorToEdit.surname}" required="true"/>
										<p:outputLabel value="* #{msgs['spectator.name']}:"/>
										<p:inputText required="true" value="#{spectatorEpisodeBean.spectatorToEdit.name}"/>
										<p:outputLabel value=" #{msgs['spectator.fiscalCode']}:"/>
										<p:inputText readonly="true" required="false" value="#{spectatorEpisodeBean.spectatorToEdit.fiscalCode}"/>
										<p:outputLabel for="selectedSpectatorType" value="#{msgs['spectator.spectatorType']}"/>
										<p:selectOneMenu id="selectedSpectatorType" value="#{spectatorEpisodeBean.selectedSpectatorType}" required="true">
											<f:selectItems value="#{spectatorBean.spectatorTypes}"/>
										</p:selectOneMenu>
										<p:outputLabel value=" #{msgs['spectator.city']}:"/>
										<p:inputText required="false" readonly="true" rendered="#{spectatorEpisodeBean.spectatorToEdit.city ne null}" value="#{spectatorEpisodeBean.spectatorToEdit.city.city}"/>
										<p:inputText required="false" readonly="true" rendered="#{spectatorEpisodeBean.spectatorToEdit.city eq null}" value=""/>
										<p:outputLabel value=" #{msgs['spectator.birthDate']}:">
											<p:calendar pattern="dd/MM/yyyy" required="false" value="#{spectatorEpisodeBean.spectatorToEdit.birthDate}"/>
										</p:outputLabel>
										<p:outputLabel value=" #{msgs['spectator.address1']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.address1}"/>
										<p:outputLabel value=" #{msgs['spectator.address2']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.address2}"/>
										<p:outputLabel value=" #{msgs['spectator.telephone']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.telephone}"/>
										<p:outputLabel value=" #{msgs['spectator.mobile']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.mobile}"/>
										<p:outputLabel value=" #{msgs['spectator.gender']}:"/>
										<p:selectOneMenu id="selectedSpectatorGender" required="true" value="#{spectatorEpisodeBean.spectatorToEdit.gender}">
											<f:selectItems value="#{spectatorEpisodeBean.spectatorToEdit.getGenders()}"/>
										</p:selectOneMenu>
										<p:outputLabel value="#{msgs['spectator.vip']}:"/>
										<p:selectOneMenu id="selectedSpectatorVip" required="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.vip}">
											<f:selectItem itemLabel="#{msgs['no']}" itemValue="false"/>
											<f:selectItem itemLabel="#{msgs['yes']}" itemValue="true"/>
										</p:selectOneMenu>
										<p:outputLabel value=" #{msgs['spectator.email']}:"/>
										<p:inputText required="false" value="#{spectatorEpisodeBean.spectatorToEdit.email}"/>
										<p:outputLabel value=" #{msgs['description']}:"/>
										<p:inputText value="#{spectatorEpisodeBean.descriptionAddEpisode}"/>
									</p:fieldset>
								</p:panelGrid>
								<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: inline-block;">
									<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: block; margin-bottom:30px;">
										<p:outputLabel value=" #{msgs['production']}"/>
										<p:fieldset style="max-width: 400px;">
											<p:outputLabel value="#{msgs['production.name']}:"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.production.name}"/>
											<p:outputLabel value="#{msgs['production.description']}:"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.production.description}"/>
										</p:fieldset>
									</p:panelGrid>
									<p:panelGrid columns="1" layout="grid" styleClass="content-fluid-grid" style="display: block;">
										<p:outputLabel value=" #{msgs['episode']}"/>
										<p:fieldset style="max-width: 400px;">
											<p:outputLabel value=" #{msgs['name']}:"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.getVirtualName()}"/>
											<p:outputLabel value=" #{msgs['episode.requestedSpectators']}:"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.requestedSpectators}"/>
											<p:outputLabel value=" #{msgs['episode.effectiveSpectators']}:"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.effectiveSpectators}"/>
											<p:outputLabel value="#{msgs['episode.episodeStatus']}"/>
											<p:inputText readonly="true" value="#{spectatorEpisodeBean.spectatorEpisodeToEdit.episode.episodeStatus.description}"/>
										</p:fieldset>
									</p:panelGrid>
								</p:panelGrid>
							</div>
						</h:form>
					</p:panel>
				</h:panelGrid>
			</h:panelGroup>
		</sec:authorize>
	</ui:define>
</ui:composition>
