<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">#{msgs['studio_management']}</ui:define>
	<ui:define name="page-content">
	 <!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_PRODUCTION,ROLE_SUPERVISION"> -->
	 <sec:authorize ifAnyGranted="#{navigationBean.getGrantString('studio_management')}">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{studioBean.studioToEdit eq null}"
				layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['studio_management']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					<h:form id="form_studio">
						<p:commandButton 
							disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
							style="width: auto !important;"
							styleClass="button_classe addbtncls"
							icon="fa fa-fw fa-plus-circle" value="#{msgs['add']}"
							update=":main_container" actionListener="#{studioBean.addStudio}" />

						<p:dataTable 
							id="studio_table"
							value="#{studioBean.lazyModelStudio}" 
							var="con" 
							paginator="true"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" lazy="true"
							style="padding-top: 20px;">

							<p:column headerText="#{msgs['productionCenter.name']}"
								filterBy="#{con.productionCenter.name}"
								sortBy="#{con.productionCenter.name}" filterMatchMode="contains">
								<h:outputText value="#{con.productionCenter.name}" />
							</p:column>

							<p:column headerText="#{msgs['studio.name']}"
								filterBy="#{con.name}" sortBy="#{con.name}"
								filterMatchMode="contains">
								<h:outputText value="#{con.name}" />
							</p:column>

							<p:column headerText="#{msgs['studio.site']}"
								filterBy="#{con.site1}" sortBy="#{con.site}"
								filterMatchMode="contains">
								<h:outputText value="#{con.site}" />
							</p:column>
							
							<p:column headerText="#{msgs['studio.capacity']}"
								filterBy="#{con.capacity}" sortBy="#{con.capacity}"
								filterMatchMode="contains">
								<h:outputText value="#{con.capacity}" />
							</p:column>
							
							<p:column headerText="" exportable="false">
								<div style="text-align: center; width: 100%;">
									<p:commandLink
										style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;"
										update=":main_container" title="Edit"
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{studioBean.modifyStudio}">
										<f:param name="studioId" value="#{con.id}" />
									</p:commandLink>
									
									<p:commandLink
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
										style="border: 1px solid lightgray; width: 18px; display: inline-block;"
										oncomplete="PF('deleteDlgWdgt').show()" title="Delete"
										styleClass="fa fa-fw fa-trash deletebtncls"
										actionListener="#{studioBean.confirmDeleteStudio}">
										<f:param name="studioId" value="#{con.id}" />
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>

					</h:form>
					<p:dialog id="deleteDlg" header="Studio delete"
						widgetVar="deleteDlgWdgt" showEffect="clip" hideEffect="clip"
						resizable="false" dynamic="true" modal="true" appendTo="@(body)">
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br />
									<h:outputText value="#{msgs['studioBean.confirm_delete']}" />
									<br /> <br />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-cancel" update=":form_studio:studio_table"
										oncomplete="PF('deleteDlgWdgt').hide()"
										actionListener="#{studioBean.delete}"
										value="#{msgs['confirm']}">
									</p:commandButton>
									<h:outputText value="  " />
									<p:commandButton styleClass="button_classe"
										icon="ui-icon-close" immediate="true"
										oncomplete="PF('deleteDlgWdgt').hide()"
										update=":form_studio:studio_table"
										actionListener="#{studioBean.cancelDelete}"
										value="#{msgs['cancel']}" />
									<br /> <br />
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="page_title detailscls"
				rendered="#{studioBean.studioToEdit ne null}">#{msgs['studio.details']}</h:panelGroup>
			<h:panelGrid styleClass="layouteditcls" style="width: 100%" columns="1"
				rendered="#{studioBean.studioToEdit ne null}">
				<p:panel style="border: 0;">
					<p:toolbar>
						<f:facet name="left">   
							<p:commandButton
								disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}" 
								styleClass="button_classe savebtncls"
								icon="fa fa-fw fa-floppy-o" form=":form_edit"
								value="#{msgs['save']}"
								actionListener="#{studioBean.saveStudio}"
								update=":main_container"
								/>
							<p:commandButton
								styleClass="button_classe cancelbtncls"
								icon="fa fa-fw fa-times" immediate="true" form=":form_edit"
								value="#{msgs['cancel']}"
								actionListener="#{studioBean.cancelEditStudio}"
								update=":main_container" 
								/>
							<span class="ui-separator"> <span
								class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							
							<p:outputLabel id="name"
								style="font-weight: bold;padding-left: 10px;"
								value="#{msgs['studio.edit']} #{studioBean.studioToEdit.name}" />
						</f:facet>
					</p:toolbar>
				</p:panel>

				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid"
								styleClass="content-fluid-grid">
								<p:fieldset style="max-width: 800px;">
									<p:outputLabel value="* #{msgs['studio.name']}:" />
									<p:inputText required="true" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
										value="#{studioBean.studioToEdit.name}" />
									<p:outputLabel for="selectedProductionCenter"
										value="* #{msgs['studio.productionCenter']}" />
									<p:selectOneMenu 
										id="selectedProductionCenter"
										disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
										value="#{studioBean.selectedProductionCenter}" 
										required="true">
										<f:selectItems value="#{studioBean.productionCenters}" />
									</p:selectOneMenu>
									<p:outputLabel value="#{msgs['studio.site']}:" />
									<p:inputText required="false" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
										value="#{studioBean.studioToEdit.site}" />
									<p:outputLabel value="#{msgs['studio.capacity']}:" />
									<p:inputText required="false" disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('studio_management_1'))}"
										value="#{studioBean.studioToEdit.capacity}">
										 <f:validateDoubleRange minimum="0" maximum="5000" />
									</p:inputText>	
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	 </sec:authorize>
	</ui:define>
</ui:composition>