<ui:composition
	template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">Test</ui:define>
	<ui:define  name="page-content">
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup rendered="#{testBean.testToEdit eq null}" layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['employees_management']}</h:panelGroup>
				<h:panelGroup layout="block">
					<h:form >
						<p:menu model="#{testBean.model}"/>
					</h:form>
				</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content">
					<h:form id="form_employees">
						<p:commandButton style="width: auto !important;" styleClass="button_classe" icon="ui-icon-disk" value="#{msgs['add']}" update=":main_container" actionListener="#{testBean.addTest}" />
						<h:panelGrid columns="4" > 
							<h:panelGrid columns="2" id="startDateWrapper" >
								<p:outputLabel for="startDate" value=" #{msgs['from']}:" />
								<p:calendar widgetVar="startDate" id="startDate" pattern="dd/MM/yyyy" value="#{testBean.filterFrom}" >
									<p:ajax event="dateSelect" update=":form_employees:endDate :form_employees:employees_table" listener="#{testBean.filterByDate()}" /> 
								</p:calendar>
							</h:panelGrid>
							<h:panelGrid id="endDateWrapper" columns="2" >
								<p:outputLabel for="endDate" value=" #{msgs['to']}:" />
								<p:calendar id="endDate" pattern="dd/MM/yyyy" value="#{testBean.filterTo}" mindate="#{testBean.filterFrom}">
									<p:ajax event="dateSelect" update=":form_employees:startDate :form_employees:employees_table" listener="#{testBean.filterByDate()}" /> 
								</p:calendar>
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="3" style="position:absolute; right:0; top: 35px;">
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/excel.png" />
								<p:dataExporter type="xls" target="employees_table" fileName="employees" pageOnly="false"/>
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/pdf.png" />
								<p:dataExporter type="pdf" target="employees_table" fileName="employees" pageOnly="false" />
							</h:commandLink>
							<h:commandLink>
								<p:graphicImage url="/resources/images/export/csv.png" />
								<p:dataExporter type="csv" target="employees_table" fileName="employees" pageOnly="false" />
							</h:commandLink>
						</h:panelGrid>
						<p:dataTable id="employees_table" value="#{testBean.lazyModelTest}" var="con" paginator="true" rows="10"
		                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
		                 rowsPerPageTemplate="5,10,15" lazy="true" style="padding-top: 20px;">
							<p:column headerText="#{msgs['name']}" filterBy="#{con.test}" sortBy="#{con.test}" filterMatchMode="contains">
								<h:outputText value="#{con.test}"/>
							</p:column>
							<p:column headerText="#{msgs['date']}" >
								<p:outputLabel value="#{con.date}">
									<f:convertDateTime pattern="dd/MM/yyyy"/>
								</p:outputLabel>
							</p:column>
							<p:column headerText="" exportable="false" >
								<div style="text-align: center; width: 100%;">
									<p:commandLink style="border: 1px solid lightgray; width: 18px; display: inline-block; margin-right: 8px;" update=":main_container" title="Edit" styleClass="ui-icon ui-icon-search"  actionListener="#{testBean.modifyTest}">
										<f:param name="testId" value="#{con.id}"/>
									</p:commandLink>
									<p:commandLink style="border: 1px solid lightgray; width: 18px; display: inline-block;" oncomplete="PF('deleteDlgWdgt').show()" title="Delete" styleClass="ui-icon ui-icon-close"  actionListener="#{testBean.confirmDeleteTest}">
										<f:param name="testId" value="#{con.id}"/>
									</p:commandLink>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
					<p:dialog id="deleteDlg" header="Test delete" widgetVar="deleteDlgWdgt"
			          showEffect="clip" hideEffect="clip" resizable="false" dynamic="true"  modal="true" appendTo="@(body)" > 
						<h:panelGroup styleClass="popupBody">
							<h:form>
								<center>
									<br/>
									<h:outputText value="#{msgs['employee.confirm_delete']}"/>
									<br/>
									<br/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" update=":form_employees:employees_table" oncomplete="PF('deleteDlgWdgt').hide()"
					       	  		actionListener="#{testBean.delete}" value="#{msgs['confirm']}" >
									</p:commandButton>
									<h:outputText value="  "/>
									<p:commandButton styleClass="button_classe" icon="ui-icon-close" immediate="true" oncomplete="PF('deleteDlgWdgt').hide()" update=":form_employees:employees_table"
					        		actionListener="#{testBean.cancelDelete}" value="#{msgs['cancel']}" /> 
									<br/>
									<br/>
								</center>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGrid style="width: 100%" columns="1" rendered="#{testBean.testToEdit ne null}">
				<p:panel style="border: 0;" >
					<p:toolbar>
						<f:facet name="left"> 
							<p:commandButton styleClass="button_classe" icon="ui-icon-disk" form=":form_edit" value="#{msgs['save']}" actionListener="#{testBean.saveTest}" update=":main_container"/>
							<p:commandButton styleClass="button_classe" icon="ui-icon-cancel" immediate="true" form=":form_edit" value="#{msgs['cancel']}" actionListener="#{testBean.cancelEditTest}" update=":main_container"/>
							<span class="ui-separator">
								<span class="ui-icon ui-icon-grip-dotted-vertical" />
							</span>
							<p:outputLabel id="nome_impiegato" style="font-weight: bold;padding-left: 10px;" value="#{msgs['employee.edit']} #{testBean.testToEdit.test}"/>
						</f:facet>
					</p:toolbar>
				</p:panel>
				<p:panel style="border: 0;" id="layout_internal_center">
					<h:form id="form_edit">
						<div class="ui-fluid">
							<p:panelGrid columns="3" layout="grid" styleClass="content-fluid-grid">
								<p:fieldset>

									<p:outputLabel value="* #{msgs['name']}:"/>
									<p:inputText required="true" value="#{testBean.testToEdit.test}">
									</p:inputText>
									<p:outputLabel value="#{msgs['birthDate']}:"/>
									<p:calendar pattern="dd/MM/yyyy" timeZone="it_IT" value="#{testBean.testToEdit.date}">
									</p:calendar>
									<!--  <p:outputLabel value="#{msgs['residence']}:"></p:outputLabel>  -->      
								</p:fieldset>
							</p:panelGrid>
						</div>
					</h:form>
				</p:panel>
			</h:panelGrid>
		</h:panelGroup>
	</ui:define>
</ui:composition>