<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">

	
	<ui:define  name="page-content">
		<f:metadata>
		    <f:viewParam name="roleId" value="#{modifyRoleBean.roleId}" />
		    <f:event type="preRenderView" listener="#{modifyRoleBean.modifyRole}"/>
		</f:metadata>
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['roles_management']}</h:panelGroup>
	    <h:form id="form">
				<br />
		    	<h:outputLabel style="font-weight: bold;" for="role_name_a" value="#{msgs['roles.name']}"></h:outputLabel>
		    	<h:inputText id="role_name_a" size="80" value="#{modifyRoleBean.role.nome}"  disabled="true"></h:inputText>
		    	<h:message for="role_name_a" style="color: red;" ></h:message>
		    	<br/><br/>
		    	<h:outputText value="#{modifyRoleBean.role.descrizione}"></h:outputText>
		    	
		    	<br /><br />
		    	
	            <h:outputLabel 
	            	style="font-weight: bold;" 
	            	for="areasSelection" 
	            	value="Please select interested areas for messages notification:"></h:outputLabel>
		    	<h:panelGroup styleClass="selectionRadioGroup">
	                <h:selectManyCheckbox layout="pageDirection" id="areasSelection" value="#{modifyRoleBean.selectedAreas}">
	                    <f:selectItems value="#{modifyRoleBean.availablesAreaType}" />
	                </h:selectManyCheckbox>
	            </h:panelGroup>
		    	
		    	<br/>
		      
		         <p:commandButton style="display: inline-block;" rendered="#{modifyRoleBean.role.id!=null}" actionListener="#{modifyRoleBean.updateRole}" value="#{msgs['update']}"/>
		       	 <p:commandButton style="display: inline-block;" action="roles_list" value="#{msgs['cancel']}" immediate="true"/>

	</h:form>
	</h:panelGroup> 
	</ui:define>

</ui:composition>