<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	
	<ui:define  name="page-content">
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['roles_management']}</h:panelGroup>
		  
	    <h:form id="form_vr">
			<br/>
			
			<p:panel header="#{msgs['search']}">
	    		<table>
	    			<tr>
	    				<td><h:outputLabel for="searchBox" value="#{msgs['roles.name']}"></h:outputLabel></td>
	    				<td><h:inputText id="searchBox" value="#{viewRolesBean.nameFilter}"></h:inputText></td>
	    			</tr>
	    			<tr>
	    				<td>
	    				<br/>
								<p:commandButton update=":form_vr:list_r" action="#{viewRolesBean.search}" value="#{msgs['search']}"/>
						</td>
	    			</tr>
	    		</table>
	    	</p:panel>
	    
	    	<br />
	    	<table style="width:100%;">
	        	<tr>
	        		<td width="100%">
				       	 <p:dataTable 
				       	 	id="list_r" 
				       	 	
				       	 	var="role" 
				       	 	value="#{viewRolesBean.roles}"
				       	 	scrollable="true" 
	       	 				scrollHeight="500" 
	       	 				liveResize="true" 
	       	 				reflow="true" >
				       	 	
				       	 	<p:column headerText="#{msgs['roles.name']}" sortBy="#{role.nome}" filterBy="#{nome.id}" filterMatchMode="contains">
				       	 		<h:outputText value="#{role.nome}"/>
				       	 	</p:column>
				       	 	
				       	 	<p:column headerText="Descrizione" sortBy="#{role.descrizioneBreve}" filterBy="#{role.descrizioneBreve}" filterMatchMode="contains">
				       	 		<h:outputText value="#{role.descrizioneBreve}"/>
				       	 	</p:column>
				       	 	
				       	 	<p:column headerText="Azioni">
						       	 	<h:link 
						       	 		disabled="true"
						       	 		styleClass="imageButton" 
						       	 		outcome="modify_role">
					                    	<p:graphicImage  url="/resources/images/decoration/edit.png" />
					                    	<f:param name="roleId" value="#{role.id}"></f:param>
							                <f:ajax execute="@all" render="@all" />
				                    </h:link>
				       	 	</p:column>
				       	</p:dataTable>
		       		</td>
		        </tr>
			</table>   
	    </h:form>
	    </h:panelGroup>
	 </ui:define>

</ui:composition>