<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
	     xmlns:h="http://java.sun.com/jsf/html"
	     xmlns:f="http://java.sun.com/jsf/core"
	     xmlns:p="http://primefaces.org/ui"
	     xmlns:c="http://java.sun.com/jsp/jstl/core"
	     xmlns:ui="http://java.sun.com/jsf/facelets"
	     xmlns:pe="http://primefaces.org/ui/extensions"
	     xmlns:sec="http://www.springframework.org/security/tags">


	<ui:define name="page-title">Main</ui:define>

	<ui:define name="page-content">
		
		<!-- auto redirect -->
		<f:event type="preRenderView" listener="#{navigationBean.checkIfHaveToChangePage}" />
	
	
	<!-- 
		<p:layout id="layout_interno"  widgetVar="layout_interno" >
	 
		    <p:layoutUnit position="north" size="40" resizable="false" collapsible="false">
		    	<h:outputText value="Pulsanti salvataggio quando servono" />
		    </p:layoutUnit>
		    
		    <p:layoutUnit id="layout_internal_center" position="center" >
		    	<h:form id="form">

			    	<div class="ui-fluid">
						<p:panelGrid columns="2" layout="grid" styleClass="content-fluid-grid">
							<p:fieldset >	
								<h:outputText value="#{msgs['home.welcomeMessage']}" />
							</p:fieldset>
							
							<p:fieldset >	
								<h:outputText value="#{msgs['home.welcomeMessage']}" />
							</p:fieldset>
						</p:panelGrid>
						
					</div>
		
			    </h:form>
		    </p:layoutUnit>
		</p:layout> 
		-->
	    
	</ui:define>
</ui:composition>

