<ui:composition
        template="/WEB-INF/templates/baseTemplateSingleRow.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:pe="http://primefaces.org/ui/extensions">

       
	<ui:define  name="page-content">

		<h:panelGroup layout="block" styleClass="loginPanelCls" style="display: inline-block; height: 100%; vertical-align: top; width: 100%;text-align: center;"> 
		
			<h:panelGroup layout="block" styleClass="page_title">Password Expired! Please change password for user #{loginBean.userDescription}</h:panelGroup>
		    <h:form>
				<br/>
				<p:growl globalOnly="true" showDetail="false"	sticky="true" />
				<h:panelGrid style="width: 100%" columns="1">
	    			<h:outputText style="font-size: 12px; font-weight: bold; color: #fff !important;" value="Please specify a new password"></h:outputText>
	    			<h:inputSecret id="new_password" style="width: 300px;" value="#{loginBean.newPassword}" />
	    			<h:inputSecret id="new_password_confirm" style="width: 300px;" value="#{loginBean.newPasswordConfirm}" />
		    	</h:panelGrid>
				<br/>
				<br/>
		       	<p:commandButton actionListener="#{loginBean.changeExpiredPassword}" value="Change Password"/>
	
		    </h:form>
	    </h:panelGroup>
	</ui:define>

</ui:composition>