<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">System Access Management</ui:define>

	
	<ui:define  name="page-content">
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">Manage System access</h:panelGroup>
		    <h:form id="form">
			    	<br/> 
			        <h:commandLink value="" action="users_management">
			        	<h:panelGrid columns="2">
			        		<p:graphicImage style="height: 25px;" url="/resources/images/decoration/access_management.png" />
			        		<h:outputText value="Users Management"></h:outputText>
			        	</h:panelGrid>
			        </h:commandLink>
			        <br/><br/>
			        <h:commandLink value="" action="groups_management">
			        	<h:panelGrid columns="2">
			        		<p:graphicImage style="height: 25px;" url="/resources/images/decoration/userGroups.png" />
			        		<h:outputText value="Groups Management"></h:outputText>
			        	</h:panelGrid>
			        </h:commandLink>
			        <br/><br/>
			        <h:commandLink value="" action="roles_management"> 
			        	<h:panelGrid columns="2">
			        		<p:graphicImage style="height: 25px;" url="/resources/images/decoration/userRoles.png" />
			        		<h:outputText value="Roles Management"></h:outputText>
			        	</h:panelGrid>
			        </h:commandLink>
		    </h:form>
	    </h:panelGroup>
	</ui:define>
</ui:composition>
