<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	
	<ui:define  name="page-content">
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['users_management']}</h:panelGroup>
		  
	    	<h:form id="u_form">
	    	 <br />
	    	<p:panel header="#{msgs['search']}">
				<h:panelGrid columns="2" style="width: 100%;">
					<h:panelGrid columns="1">
						<h:outputLabel for="nameFilter" value="#{msgs['users.name']}"></h:outputLabel>
	    				<h:inputText style="width: 250px" id="nameFilter" value="#{manageUsersBean.nameFilter}"></h:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputLabel for="surnameFilter" value="#{msgs['users.surname']}"></h:outputLabel>
	    				<h:inputText style="width: 250px" id="surnameFilter" value="#{manageUsersBean.surnameFilter}"></h:inputText>
					</h:panelGrid>
					
					<h:panelGrid columns="1">
						<h:outputLabel for="loginFilter" value="#{msgs['users.login']}"></h:outputLabel>
	    				<h:inputText style="width: 250px" id="loginFilter" value="#{manageUsersBean.loginFilter}"></h:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputLabel for="searchGruppo" value="#{msgs['users.groups']}"></h:outputLabel>
	    				<h:selectOneMenu style="width: 250px" id="searchGruppo" value="#{manageUsersBean.groupFilter}" >
							<f:selectItems value="#{manageUsersBean.gruppiItemsList}" />
						</h:selectOneMenu>
					</h:panelGrid>
				</h:panelGrid>

				<p:commandButton action="#{manageUsersBean.search}" value="#{msgs['search']}"/>
	    	</p:panel>
	    	
	    	<br />
	    	
    		<p:commandButton 
    			action="#{manageUsersBean.newUser}" 
    			value="#{msgs['users.addnew']}" 
    			immediate="true"
    			disabled="#{navigationBean.haveUserRole(navigationBean.getGrantString('users_management_1'))}"/>
	    	

	       	 <p:dataTable 
	       	 	id="u_table"
				widgetVar="u_tableWdg"
	       	 	width="98%" 
	       	 	var="user" 
	       	 	value="#{manageUsersBean.users}" 
	       	 	scrollable="true" 
	       	 	scrollHeight="500" 
	       	 	liveResize="true" 
	       	 	reflow="true">
	       	 	<p:column headerText="#{msgs['users.name']}" sortBy="#{user.firstName}" filterBy="#{user.firstName}" filterMatchMode="contains">
	       	 		<h:outputText value="#{user.firstName}"/>
	       	 	</p:column>
	       	 	<p:column headerText="#{msgs['users.surname']}" sortBy="#{user.lastName}" filterBy="#{user.lastName}" filterMatchMode="contains">
	       	 		<h:outputText value="#{user.lastName}"/>
	       	 	</p:column>
	       	 	<p:column headerText="#{msgs['users.login']}" sortBy="#{user.login}" filterBy="#{user.login}" filterMatchMode="contains">
	       	 		<h:outputText value="#{user.login}"/>
	       	 	</p:column>
	       	 	<p:column headerText="#{msgs['users.groups']}" sortBy="#{user.groupsNames}" filterBy="#{user.groupsNames}" filterMatchMode="contains">
	       	 		<h:outputText value="#{user.groupsNames}"></h:outputText>
	       	 	</p:column>
	       	 	
	       	 	<p:column headerText="#{msgs['users.ldap']}" sortBy="#{user.ldapUser}">
	       	 		<h:outputText value="#{user.ldapUser}"></h:outputText>
	       	 	</p:column>
	       	 	<p:column headerText="#{msgs['users.adfs']}" sortBy="#{user.adfsUser}">
	       	 		<h:outputText value="#{user.adfsUser}"></h:outputText>
	       	 	</p:column>
				<p:column 
					headerText="#{msgs['users.disabled']}"
					filterBy="#{user.disabled}" 
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectBooleanCheckbox  
							styleClass="custom-filter"
							onchange="PF('u_tableWdg').filter()"/>
					</f:facet>
					<h:outputText value="#{user.disabled ? Disabled: ''}" />
				</p:column>	
	       	 	<p:column headerText="Actions"  >
	       	 			<!-- <p:commandLink styleClass="imageButton" action="modify_user" actionListener="#{manageUsersBean.modify}">
	                    	<p:graphicImage  url="/resources/images/decoration/edit.png" />
	                    	<f:param name="userId" value="#{user.id}"></f:param>
	                    </p:commandLink>  --> 
	                    <h:link styleClass="imageButton" outcome="modify_user">
	                    	<p:graphicImage  url="/resources/images/decoration/edit.png" />
	                    	<f:param name="userId" value="#{user.id}"></f:param>
	                    </h:link>  
	                    <p:commandLink oncomplete="PF('deleteDlgWdgt').show()" styleClass="imageButton" actionListener="#{manageUsersBean.confirmDelete}">
	                    	<p:graphicImage  url="/resources/images/decoration/delete.gif" />
	                    	<f:param name="userId" value="#{user.id}"></f:param>
	                    </p:commandLink> 
	       	 	</p:column>
	       	</p:dataTable>
	        </h:form>
	        
	        <p:dialog 
	        	id="deleteDlg" 
	        	header="User delete" 
	        	widgetVar="deleteDlgWdgt"
				showEffect="clip" 
				hideEffect="clip" 
				resizable="false" 
				dynamic="true"  
				modal="true" 
				appendTo="@(body)" > 
    
			        <h:panelGroup styleClass="popupBody">
			        	<h:form>
			            <center>
				        	<br/>
				       	  	<h:outputText value="#{msgs['users.delete']}"></h:outputText>
				       	  	<br/><br/>
				       	  		<p:commandButton update=":u_form:u_table :deleteDlg" oncomplete="PF('deleteDlgWdgt').hide()"
					       	  		actionListener="#{manageUsersBean.delete}" value="#{msgs['users.confirm']}" >
				       	  				<f:param name="userId" value="#{manageUsersBean.userToDelete}"></f:param>
				       	  		</p:commandButton>
				       	  		<h:outputText value="  "/>
					        	<p:commandButton immediate="true" oncomplete="PF('deleteDlgWdgt').hide()" update=":u_form:u_table"
					        		actionListener="#{manageUsersBean.cancelDelete}" value="#{msgs['users.cancel']}" />
					        	<br/><br/>
					    </center>
					    </h:form>
			        </h:panelGroup>
			</p:dialog>
		</h:panelGroup>
	 </ui:define>

</ui:composition>