<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">

	
	<ui:define  name="page-content">
		<f:metadata>
		    <f:viewParam name="userId" value="#{modifyUserBean.userId}" />
		    <f:event type="preRenderView" listener="#{modifyUserBean.modifyUser}"/>
		</f:metadata>
		
		<h:panelGroup layout="block" styleClass="page_content_layout_div">
			<h:panelGroup layout="block" styleClass="page_title">#{msgs['users_management']}</h:panelGroup>
	    <h:form id="form">
		    	<table>
		    		<tr>
		    			<td>
		    				<h:outputLabel for="login" value="#{msgs['users.login']}"></h:outputLabel>
		    			</td>
		    			<td>
		    				<h:inputText 
		    					style="width: 250px;" 
		    					disabled="#{modifyUserBean.user.id!=null}" 
		    					id="login" 
		    					value="#{modifyUserBean.user.login}" 
		    					required="true">
		    				</h:inputText>
		    				<h:message for="login" style="color: red;" ></h:message>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<h:outputLabel for="nome" value="#{msgs['users.name']}" ></h:outputLabel>
		    			</td>
		    			<td>
		    				<h:inputText style="width: 250px;" id="nome" value="#{modifyUserBean.user.firstName}"></h:inputText>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<h:outputLabel for="cognome" value="#{msgs['users.surname']}"></h:outputLabel>
		    			</td>
		    			<td>
		    				<h:inputText style="width: 250px;" id="cognome" value="#{modifyUserBean.user.lastName}"></h:inputText>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<h:outputLabel for="disabled" value="#{msgs['users.disabled']}"></h:outputLabel>
		    			</td>
		    			<td>
		    				<p:selectBooleanCheckbox  
		    					id="disabled" 
		    					value="#{modifyUserBean.user.disabled}" 
		    					disabled="#{modifyUserBean.adminRole}">
		    				</p:selectBooleanCheckbox>
		    			</td>
		    		</tr>		    		
		    		<tr>
		    			<td>
		    				<h:outputLabel for="ldap" value="#{msgs['users.ldap']} "></h:outputLabel>
		    			</td>
		    			<td>
		    				<p:selectBooleanButton id="ldap" value="#{modifyUserBean.user.ldapUser}" onLabel="#{msgs['yes']}" offLabel="#{msgs['no']}" style="width:60px" >
		    					<p:ajax update="form:new_password_wrapper form:new_password_wrapper_input"></p:ajax>
		    				</p:selectBooleanButton>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<h:outputLabel for="adfs" value="#{msgs['users.adfs']} "></h:outputLabel>
		    			</td>
		    			<td>
		    				<p:selectBooleanButton id="adfs" value="#{modifyUserBean.user.adfsUser}" onLabel="#{msgs['yes']}" offLabel="#{msgs['no']}" style="width:60px" >
		    					<p:ajax update="form:new_password_wrapper form:new_password_wrapper_input"></p:ajax>
		    				</p:selectBooleanButton>
		    			</td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<h:panelGroup id="new_password_wrapper" layout="block">
		    					<h:outputLabel rendered="#{!modifyUserBean.user.ldapUser and !modifyUserBean.user.adfsUser}" for="new_password" value="#{msgs['users.newpassword']}"></h:outputLabel>
		    				</h:panelGroup>
		    			</td>
		    			<td>
		    				<h:panelGroup id="new_password_wrapper_input" layout="block">
		    					<h:inputSecret rendered="#{!modifyUserBean.user.ldapUser and !modifyUserBean.user.adfsUser}" style="width: 250px;" id="new_password" value="#{modifyUserBean.user.newPassword}" />
		    				</h:panelGroup>
		    			</td>
		    		</tr>
		    	</table>
		    	<br/>
		    	<br/>
	
				<h:outputLabel style="font-weight: bold;" for="groupSelection" value="#{msgs['users.selectgroups']} "></h:outputLabel>
		    	<h:panelGroup styleClass="selectionRadioGroup">
	                <h:selectManyCheckbox layout="pageDirection" id="groupSelection" value="#{modifyUserBean.selectedGroups}">
	                    <f:selectItems value="#{modifyUserBean.allAvailableGroups}" />
	                    <p:ajax update="form:agencySelectionPanel" event="valueChange"></p:ajax>
	                </h:selectManyCheckbox>
	            </h:panelGroup>
		    	
		    	<h:panelGroup id="agencySelectionPanel" layout="block" style="width: 50%; padding-top: 50px;">			
					<p:pickList 
						id="idSelectedAgenciesGroup" 
						rendered="#{modifyUserBean.isSelectedAgenciesGroup()}"
						value="#{modifyUserBean.agencyListes}" 
						var="agency" 
						converter="agencyUserConverter"
						itemLabel=" #{agency.name}" 
						itemValue="#{agency}"
						responsive="true" >
						    <p:column style="width:100%;">
								<h:outputText value="#{agency.name}" />
							</p:column>
					</p:pickList>	
		    	</h:panelGroup>
		    			    	
				<br/>
				<h:panelGroup 
					id="userPanel" 
					layout="block" 
					style="width: 50%; text-align: center; padding-top: 10px;">
					<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN"> -->
					<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('user_management')}">					
		       			<p:commandButton 
		       				update=":form" 
		       				style="display: inline-block;" 
		       				rendered="#{modifyUserBean.user.id==null}"  
		       				action="#{modifyUserBean.addAsNew}" 
		       				value="#{msgs['users.addnew']}"/>
		       			<p:commandButton 
		       				update=":form" 
		       				style="display: inline-block;" 
		       				rendered="#{modifyUserBean.user.id!=null}"  
		       				action="#{modifyUserBean.updateUser}" 
		       				value="#{msgs['update']}" />
		       		</sec:authorize>
					<p:commandButton 
						style="display: inline-block;" 
						action="users_list" 
						value="#{msgs['cancel']}" 
						immediate="true"/>
				</h:panelGroup>
	    </h:form>
	   </h:panelGroup> 
	</ui:define>
</ui:composition>