<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:ace="http://www.icefaces.org/icefaces/components"
	    xmlns:ui="http://java.sun.com/jsf/facelets">


    <ui:define name="content">
    
	    <h:form>
	        <ace:panel layout="flow">
	            <h:outputText id="output1" value="Non hai i permessi per accedere alla pagina richiesta."/>
	        </ace:panel>
	        <ace:pushButton value="Ritorna alla pagina di Login" action="homePage"/>
	    </h:form>
		
    </ui:define>

</ui:composition>