<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">Error</ui:define>

	<ui:define  name="page-content">
    
		    <h:form id="form">
		        <h:outputText value="Si è verificato un errore imprevisto, se l'errore persiste, contattare l'amministratore."/>
		        <br />
		        <p:commandButton action="homePage" value="Torna alla pagina principale"></p:commandButton>
		    </h:form>

    </ui:define>

</ui:composition>
