<ui:composition
        template="/WEB-INF/includes/templates/page-template.jspx"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jstl/core"
        xmlns:ice="http://www.icesoft.com/icefaces/component"
        xmlns:ui="http://java.sun.com/jsf/facelets" >


	<ui:define name="navigation">
    </ui:define>


    <ui:define name="page-content">
                
		    <ice:form id="form">
		    	<br /><br /><br /><br /><br /><br /><br /><br /><br />
		        <ice:outputText style="font-size: 18px; font-weight: bolder;" value="Sei uscito con successo!"/>
		        <br /><br />
		        <ice:commandLink  style="font-size: 14px;" value="Ritorna alla pagina di Login" action="login"/>
		    </ice:form>
 		
    </ui:define>

</ui:composition>