<ui:composition
        template="/WEB-INF/templates/baseTemplateSingleRow.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:pe="http://primefaces.org/ui/extensions">


   

<ui:define  name="page-content">
		
		<f:metadata>
			<!-- auto redirect if already logged in (può succedere che già loggato e che punta a questa pagina) -->
	    	<f:event type="preRenderView" listener="#{loginBean.checkIfLoggedInAndHaveToChangePage}" />
		    <f:event type="preRenderView" listener="#{loginBean.checkAdfsAuth}"/>
		</f:metadata>


		<h:panelGroup layout="block" styleClass="loginPanelCls" style="display: inline-block; height: 100%; vertical-align: top; width: 100%;text-align: center;"> 
			
					
			<BR /><BR />	
			<h:form id="login_form"  > 
			
			
				<p:graphicImage style="max-height:170px;max-width: 240px; margin-top:30px;margin-bottom: 20px;" value="/resources/images/login/logo_Login.png"></p:graphicImage>
				<h:panelGrid columns="1" style="text-align:left;margin: 0 auto;font-size: 90%;">
					<h:outputText value="#{loginBean.errors}" style="color: red;"></h:outputText>
					<p:messages layout="table" style="color: red;"/>
					
					<p:outputLabel for="lan_comp" value="#{msgs['language']}"></p:outputLabel>
					<p:selectOneMenu id="lan_comp" style="width: 98%;margin-bottom: 20px;"  value="#{languageBean.localeCode}" valueChangeListener="#{languageBean.countryLocaleCodeChanged}">
	                	<f:selectItems value="#{languageBean.countriesInMap}" />
	                	<p:ajax update="login_form" />
	                </p:selectOneMenu> 
		            
		            <BR />
		            <p:link 
						style="color: #fff;border-radius: 2px;background-color: #0077c0;padding: 10px;font-size: 130%;text-decoration: none;font-weight: bold;" 
						value="Accedi con account aziendale" 
						immediate="true" 
						href="#{loginBean.adfsEndpointUrl}">
						</p:link> 

		            <h:panelGrid rendered="#{loginBean.basicLogin}" colums="1" style="text-align:left;margin: 0 auto;font-size: 90%; width: 100%;" >

			            <BR /><BR />
			            <center style="color: gray;">_________  Oppure  _________</center>
			            <BR /><BR />
			            
			            <p:outputLabel for="j_username" value="#{msgs['booking_number_username']}" rendered="#{!loginBean.showpassword}"></p:outputLabel>
					 	<p:inputText  styleClass="fields" id="j_username" value="#{loginBean.userId}" style="width: 100%; margin-bottom: 20px;" maxlength="40" ></p:inputText>
	
		                <p:outputLabel for="j_password" value="Password"></p:outputLabel>
		                <p:password id="j_password" value="#{loginBean.password}" required="true" style="width: 100%; margin-bottom: 20px;" />
						
				 	</h:panelGrid>
					
				</h:panelGrid>
				<h:panelGrid rendered="#{loginBean.basicLogin}" columns="2" style="text-align:left;margin: 0 auto;">
					<p:commandButton id="login_button" action="#{loginBean.login}" value="Login" update="login_form" />
					
					
					<!-- <p:commandButton value="Accedi con account aziendale" immediate="true" action="#{loginBean.adfsEndpointUrl}"></p:commandButton> -->
					
				</h:panelGrid>
				
				<input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
		    </h:form>
		    
	    </h:panelGroup>
	    
</ui:define>

</ui:composition>