<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
              	xmlns="http://www.w3.org/1999/xhtml"
              	xmlns:h="http://java.sun.com/jsf/html"
              	xmlns:f="http://java.sun.com/jsf/core"
              	xmlns:c="http://java.sun.com/jsp/jstl/core"
              	xmlns:p="http://primefaces.org/ui"
              	xmlns:pe="http://primefaces.org/ui/extensions"
              	xmlns:ui="http://java.sun.com/jsf/facelets"
              	xmlns:sec="http://www.springframework.org/security/tags"
              	xmlns:util="http://crismasecurity.com/faces/utils/functions">
	<ui:define name="page-title">Audit</ui:define>
	<ui:define name="page-content">
		<h:panelGroup id="main_container"
            			layout="block">
			<!-- <sec:authorize ifAnyGranted="ROLE_ADMIN,ROLE_STADMIN"> -->
			<sec:authorize ifAnyGranted="#{navigationBean.getGrantString('audit_management')}">
				<h:panelGroup layout="block"
            					styleClass="page_content_layout_div">
					<h:panelGroup layout="block"
            						styleClass="page_title">#{msgs['audit_management']}</h:panelGroup>
					<h:panelGroup style="padding-left: 10px; padding-right:10px;"
            						layout="block"
            						styleClass="page_content_content">
						<h:form id="form_audit">
							<h:panelGrid columns="2" >
								<h:panelGrid columns="1"
           									style="width:100%">
									<p:outputLabel for="startDate"
             										value="#{msgs['startDate']}" />
									<p:calendar id="startDate"
          										pattern="dd/MM/yyyy"
          										value="#{auditBean.filterFrom}" >
										<p:ajax event="dateSelect"
      											update=":form_audit:endDate :form_audit:audits_table"
      											listener="#{auditBean.filterByDate()}" />
									</p:calendar>
								</h:panelGrid>
								<h:panelGrid columns="1"
           									style="width:100%">
									<p:outputLabel for="endDate"
             										value="#{msgs['endDate']}" />
									<p:calendar id="endDate"
          										pattern="dd/MM/yyyy"
          										value="#{auditBean.filterTo}"
          										mindate="#{auditBean.filterFrom}">
										<p:ajax event="dateSelect"
      											update=":form_audit:startDate :form_audit:audits_table"
      											listener="#{auditBean.filterByDate()}" />
									</p:calendar>
								</h:panelGrid>
							</h:panelGrid>
							<h:panelGrid style="position:absolute; right:0; top: 35px; "
           								columns="3" >
								<h:commandLink>
									<p:graphicImage url="/resources/images/export/excel.png"
              										style="height: 25px;"/>
									<p:dataExporter type="xls"
              										target="audits_table"
              										fileName="audit"
              										pageOnly="false"/>
								</h:commandLink>
								<h:commandLink>
									<p:graphicImage url="/resources/images/export/pdf.png"
              										style="height: 25px;" />
									<p:dataExporter type="pdf"
              										target="audits_table"
              										fileName="audit"
              										pageOnly="false"
              										preProcessor="#{auditBean.preProcessPDF}" />
								</h:commandLink>
								<h:commandLink>
									<p:graphicImage url="/resources/images/export/csv.png"
              										style="height: 25px;"/>
									<p:dataExporter type="csv"
              										target="audits_table"
              										fileName="audit"
              										pageOnly="false" />
								</h:commandLink>
							</h:panelGrid>
							<p:dataTable var="con"
           								id="audits_table"
           								value="#{auditBean.lazyModelAudits}"
           								paginator="true"
           								rows="10"
           								paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
           								paginatorPosition="bottom"
           								rowsPerPageTemplate="5,10,15"
           								lazy="true"
           								selectionMode="single"
           								selection="#{auditBean.selectedAudit}">
								<p:ajax event="rowSelect"
      									listener="#{auditBean.onRowSelect}"
      									oncomplete="PF('infoDlgWdgt').show()"
      									update=":form_audit:infoDlg" />
								<p:column headerText="#{msgs['user']}"
        									filterBy="#{con.userLogin}"
        									sortBy="#{con.userLogin}">
									<h:outputText value="#{con.userLogin}"/>
								</p:column>
								<p:column headerText="#{msgs['date']}"
        									sortBy="#{con.timestamp}" >
									<p:outputLabel value="#{con.timestamp}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
                 											timeZone="Europe/Rome" />
									</p:outputLabel>
								</p:column>
								<p:column headerText="#{msgs['action']}"
        									filterBy="#{con.action}"
        									sortBy="#{con.action}" >
									<h:outputText value="#{con.action}"/>
								</p:column>
								<p:column headerText="#{msgs['object']}"
        									filterBy="#{con.object}"
        									sortBy="#{con.object}" >
									<h:outputText value="#{con.object}"/>
								</p:column>
								<p:column headerText="#{msgs['object_id']}"
        									filterBy="#{con.objectId}"
        									sortBy="#{con.objectId}" >
									<h:outputText value="#{con.objectId}"/>
								</p:column>
								<p:column headerText="#{msgs['subject']}"
        									filterBy="#{con.subject}"
        									sortBy="#{con.subject}" >
									<h:outputText value="#{con.subject}"/>
								</p:column>
								<p:column headerText="#{msgs['status']}"
        									filterBy="#{con.status}"
        									sortBy="#{con.status}" >
									<h:outputText value="#{con.status}"/>
								</p:column>
							</p:dataTable>
							<p:dialog id="infoDlg"
        								header="#{msgs['audit.details']}"
        								widgetVar="infoDlgWdgt"
        								showEffect="clip"
        								hideEffect="clip"
        								resizable="false"
        								dynamic="true"
        								modal="true"
        								appendTo="@(body)" >
								<h:panelGroup rendered="#{auditBean.selectedAudit ne null}"
            									styleClass="popupBody">
									<h:form>
										<p:scrollPanel mode="native"
             											style="max-width:100vw;min-width:50vw;max-height:90vh;">
											<h:panelGroup layout="block"
            												style="width: 95%; height: 100%; padding-left: 10px;padding-top: 10px;">
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.user']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.userLogin}"/>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.timestamp']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.timestamp}">
													<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
                 														timeZone="Europe/Rome" />
												</h:outputText>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.action']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.action}"/>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.object']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.object}"/>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.objectId']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.objectId}"/>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.subject']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.subject}"/>
												<br/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.status']}: "/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.status}"/>
												<br/>
												<br/>
											</h:panelGroup>
											<h:panelGrid columns="2"
           												style="width: 100%; border: 1px solid gray;"
           												columnClasses="colBgWhite,colBgGray">
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.oldValues']}"/>
												<h:outputText style="font-weight: bold;"
            													value="#{msgs['audit.newValues']}"/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.oldHtmlRecord}"/>
												<h:outputText escape="false"
            													value="#{auditBean.selectedAudit.newHtmlRecord}"/>
											</h:panelGrid>
											<br/>
											<br/>
											<center>
												<p:commandButton styleClass="button_classe"
               													icon="ui-icon-close"
               													immediate="true"
               													oncomplete="PF('infoDlgWdgt').hide()"
               													actionListener="#{auditBean.closeSelectedAudit}"
               													value="Close" />
											</center>
											<br/>
										</p:scrollPanel>
									</h:form>
								</h:panelGroup>
							</p:dialog>
						</h:form>
					</h:panelGroup>
				</h:panelGroup>
			</sec:authorize>
		</h:panelGroup>
	</ui:define>
</ui:composition>
