<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-title">Test</ui:define>

	<ui:define  name="page-content">
        <h:form id="aa">
            <div id="top">
                <h1>QR / Barcode Reader</h1>
            </div>
            <div id="content" class="center_content">
                <div style="text-align: center;">
                <div>
                    <p:photoCam width="#{barcodeBean.cameraWidth}" height="#{barcodeBean.cameraHeight}" jpegQuality="90" style="margin: 0 auto;" widgetVar="pc" update=":aa:rTxt" listener="#{barcodeBean.oncapture}" /> 
                    <p:poll widgetVar="poolAcquire" autoStart="false" interval="1" oncomplete="PF('pc').capture()"/> 
                     
                    <p:remoteCommand name="updateCameraParams" actionListener="#{barcodeBean.changeCameraOrientation}"  oncomplete="window.location.reload(false);" />
                    <script>
	                    function doOnOrientationChange() {
	                    	 
	                    	PF('poolAcquire').stop();
	                    	//alert(window.orientation); 
	                        switch(window.orientation) {   
	                        case -90:
	                        case 90:
	                            //alert('landscape');
	                            updateCameraParams([{name:'orientation', value:'landscape'}]);
	                            break; 
	                          default:
	                            //alert('portrait');
	                          	updateCameraParams([{name:'orientation', value:'portrait'}]);
	                            break; 
	                        }
	                    }
	                      
	                    window.addEventListener('orientationchange', doOnOrientationChange);
	                      
	                    jQuery(window).load(function () {
	                    	
	                    	//alert(Webcam.live); // indica che la telecamera è pronta e sta trasmettendo
	                    	
	                    	// Initial execution if needed
		                    var cr = '#{barcodeBean.cameraRotation}';
		                    var acr ='';
		                    switch(window.orientation) {   
	                        case -90:
	                        case 90:
	                        	acr ='landscape';
	                            break; 
	                          default:
	                        	  acr ='portrait';
	                            break; 
	                        }
		                    //alert(cr + "  actual " + acr);
		                    if (cr!=acr) doOnOrientationChange();
		                    else {
		                    	startCapturing();
		                    }

	                    });
	                    
	                    function startCapturing() {
	                    	if (Webcam.live) PF('poolAcquire').start();
	                    	else setTimeout(function() { startCapturing(); }, 500);
	                    }
	                    
                    
                    </script>
                    
                </div>
                <div style="margin-top: 30px;">
                	#{barcodeBean.cameraWidth} #{barcodeBean.cameraHeight}<BR />
                    <h:outputText id="rTxt" value="#{barcodeBean.resultText}"/>
                </div>
            </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
