<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title">#{msgs['precheckin']}</ui:define>
	<ui:define name="page-content">

		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['precheckin']}</h:panelGroup>
				<h:panelGroup style="padding-left: 10px; padding-right:10px;"
					layout="block" styleClass="page_content_content">
					
					<h:form id="form_main">

						<h:panelGroup rendered="#{precheckinBean.selectedEpisode eq null}">
							<p:outputLabel
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px;"
								for="desk" value="#{msgs['desk']}" />
								
							<p:selectOneMenu 
								disabled="#{precheckinBean.selectedDesk ne null}" 
								id="desk" 
								value="#{precheckinBean.selectedDesk}">
								<f:selectItems value="#{precheckinBean.desks}" />

								<p:ajax event="itemSelect"
									listener="#{precheckinBean.deskChanged()}"
									update="form_main:episodes form_main:spectators_list form_main:resetDesk @this ">
								</p:ajax>
								
							</p:selectOneMenu>
<!-- 							
							<p:commandButton
								id="resetDesk"
								rendered="#{navigationBean.haveUserRole('ROLE_ADMIN') or navigationBean.haveUserRole('ROLE_SUPERVISION')}"
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								disabled="#{precheckinBean.selectedDesk eq null}"
								styleClass="button_classe backbtncls"
								icon="fa fa-fw fa-mail-reply" 
								update="form_main form_main:episode"
								actionListener="#{precheckinBean.resetDesk()}">
							</p:commandButton>
 -->							
							<p:commandButton
								id="resetDesk"
								rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_1'))}"
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								disabled="#{precheckinBean.selectedDesk eq null}"
								styleClass="button_classe backbtncls"
								icon="fa fa-fw fa-mail-reply" 
								update="form_main form_main:episode"
								actionListener="#{precheckinBean.resetDesk()}">
							</p:commandButton>
							
							<p:outputLabel
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								for="episode_date" value="Data " />
							<p:calendar
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px;"
								id="episode_date" value="#{precheckinBean.episodeDate}">
								<p:ajax event="dateSelect"
									listener="#{precheckinBean.episodeDateChanged}"
									update="form_main form_main:episodes"></p:ajax>
							</p:calendar>
							<p:dataTable 
								id="episodes" 
								var="episode"
								value="#{precheckinBean.episodesList}">
								
								<p:column headerText="Logo">
									<p:graphicImage stream="false" cache="false" height="50" value="#{episode.production.logoResource}"></p:graphicImage>
								</p:column>
								
								<!-- <p:column headerText="Id">
									<h:outputText value="#{episode.id}" />
								</p:column> -->

								<p:column headerText="Produzione">
									<h:outputText value="#{episode.production.name}" />
								</p:column>

								<p:column headerText="Inizio">
									<h:outputText value="#{episode.dateFrom}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="Fine">
									<h:outputText value="#{episode.dateTo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="">
									<p:commandLink
										style="color: #333333 !important; width: 18px; display: inline-block; text-decoration: none;"
										update="form_main form_main:spectators_list"
										title="Edit" 
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{precheckinBean.selectEpisode}" 
										oncomplete="PF('spectatorTableWidget').filter();">
										<f:param name="episodeId" value="#{episode.id}" />
									</p:commandLink>
								</p:column>
								
							</p:dataTable>
						</h:panelGroup>

						<h:panelGroup layout="block" id="episode" styleClass="statisticsls"
							style="margin-top: 6px;">
							<h:panelGroup id="stats"
								rendered="#{precheckinBean.selectedEpisode ne null}">
								<p:commandButton
									style="position: absolute;z-index: 999;right: 16px;margin-top: 8px; width: auto !important;font-size: 120%; top: -5px;"
									styleClass="button_classe backbtncls"
									icon="fa fa-fw fa-mail-reply" value="#{msgs['back']}"
									update="form_main form_main:spectators_list form_main:episode"
									actionListener="#{precheckinBean.backToChangeEpisode}">
								</p:commandButton>

								<p:panelGrid
									style="width: 100%;text-align: center; border-collapse:separate;">
									<p:row styleClass="receptionepisodedetailscls" >
										<p:column
											style="width: 25%; font-weight: bold; border-color:#fff; border-width: 1px; position: relative;background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size: 16px; font-weight: 100;text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['production']}</span> <BR />
											 <span style="color: #0177c1; font-size: 18px;"><strong>#{precheckinBean.episode.production.name}</strong></span>
											 </div>
										</p:column>
										<p:column
											style="width: 25%; border-color:#fff; border-width: 1px; position: relative;background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:16px; font-weight:100; text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['episode_day']} <strong>#{precheckinBean.episode.dateFromOnlyDate}</strong></span><BR />
												<span>#{msgs['entrance_hour']} <strong>#{precheckinBean.episode.dateFromOnlyHours}</strong></span>
											</div>
										</p:column>
										<p:column
											style="width: 25%;font-weight: bold; border-color:#fff; border-width: 1px;position: relative; background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:16px; font-weight:100; text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['episode_day']} <strong>#{precheckinBean.episode.dateToOnlyDate}</strong></span><BR />
												<span>#{msgs['exit_hour']} <strong>#{precheckinBean.episode.dateToOnlyHours}</strong></span>
											</div>
										</p:column>								
										
										<p:column
											style="width: 25%;font-weight: bold; border-color:#fff; border-width: 1px;position: relative; background-color: white;">
											<h:panelGroup id="spectators_counter" layout="block" style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:16px; font-weight:100; text-transform: uppercase; line-height: 22px;">
												<span style=" font-size: 16px; text-transform: uppercase; font-weight: 100;">#{msgs['reception.precheckin']}</span> <BR />
												<!--  --> 
												<strong><span style="color: #ec135a; font-size: 20px">#{precheckinBean.precheckinedSpectatorsNumber}</span></strong>
												<strong><span style="color: #ec135a; font-size: 20px"> / #{precheckinBean.spectators.size()}</span></strong>
												
											</h:panelGroup>
										</p:column>
										
									</p:row>
								</p:panelGrid>
							</h:panelGroup>
						</h:panelGroup>

						<h:panelGroup id="spectators_list">
							<p:panel styleClass="receptionspectatorlistpanelcls"
								style="margin-top: 6px;" header="#{msgs['spectators']}"
								rendered="#{precheckinBean.selectedEpisode ne null}">

								<h:panelGrid columns="3"
									style="position:absolute; right: 22px; top: 93px;">
									<h:commandLink>
										<p:graphicImage url="/resources/images/export/excel.png" />
										<p:dataExporter type="xls" target="spectator_table"
											fileName="pre-checkin" pageOnly="false" />
									</h:commandLink>
									<h:commandLink>
										<p:graphicImage url="/resources/images/export/pdf.png" />
										<p:dataExporter type="pdf" target="spectator_table"
											fileName="pre-checkin" pageOnly="false" />
									</h:commandLink>
									<h:commandLink>
										<p:graphicImage url="/resources/images/export/csv.png" />
										<p:dataExporter type="csv" target="spectator_table" 
											fileName="pre-checkin" pageOnly="false" />
									</h:commandLink>
								</h:panelGrid>
								<!-- 
								<h:panelGrid 
									rendered="#{(navigationBean.haveUserRole('ROLE_ADMIN') or navigationBean.haveUserRole('ROLE_AGENCY'))}"
								-->
								<h:panelGrid 
									rendered="#{(navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_2')))}"	
									style="position:absolute; left: 22px; top: 99px;"
									columns="3" 
									class="selectspectcls" 
									id="addSpectatorPanel">
									<p:outputLabel
										value="#{msgs['precheckin.insertSpectator']}"
										for="acSpectatorSurname" />
										
										
									<!-- disabled="#{!(precheckinBean.disableAddSpecBtn() or navigationBean.haveUserRole('ROLE_AGENCY'))}" -->	
									<p:autoComplete 
										id="acSpectatorSurname"
										value="#{precheckinBean.spectatorToInsert}"
										completeMethod="#{precheckinBean.completeSpectator}"
										emptyMessage="No results" 
										var="sp"
										itemLabel="#{sp.fullSurname}" 
										itemValue="#{sp}"
										converter="SpectatorConverter" 
										forceSelection="false"
										maxResults="40"
										minQueryLength="3" 
										disabled="#{(! (precheckinBean.disableAddSpecBtn() or navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_3'))))}"
										queryDelay="500">
											<h:panelGrid columns="3" >
												<p:column>
													<h:outputText value="#{sp.name}" />
												</p:column>
												<p:column>
													<h:outputText value="#{sp.surname}" />
												</p:column>
												<p:column>
													<h:outputText value="#{sp.birthDate}" />
												</p:column>
											</h:panelGrid>
										<p:ajax event="itemSelect" 
											update="addSpecDlg"
											listener="#{precheckinBean.handleSelectSpectator}" />
										<p:ajax 
											event="itemUnselect" 
											update="addSpecDlg"
											listener="#{precheckinBean.handleUnSelectSpectator}" />
										<p:ajax 
											event="change" 
											update="addSpecDlg" 
											process="@this" />
									</p:autoComplete>								
<!-- 									
									<p:commandButton 
									    actionListener="#{precheckinBean.addSpecBtn}" 
										disabled="#{not( precheckinBean.disableAddSpecBtn() or navigationBean.haveUserRole('ROLE_AGENCY'))}"
										rendered="#{navigationBean.haveUserRole('ROLE_AGENCY')}"
										style="display:inline-block;" 
										icon="fa fa-fw fa-plus"
										onclick="PF('addSpectatorDlgWdgt').show()" 
										update="form_edit_spec_dlg" />
 -->					
 									<p:commandButton 
									    actionListener="#{precheckinBean.addSpecBtn}" 
										disabled="#{!( precheckinBean.disableAddSpecBtn() or navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_3')))}"
										rendered="#{navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_3'))}"
										style="display:inline-block;" 
										icon="fa fa-fw fa-plus"
										onclick="PF('addSpectatorDlgWdgt').show()" 
										update="form_edit_spec_dlg" />					
								</h:panelGrid>

 								
								<p:dataTable 
									id="spectator_table"  
									selection="#{precheckinBean.selectedSpectators}" 
									rowSelectMode="add" 
									disabledSelection="#{! navigationBean.haveUserRole(navigationBean.getGrantString('precheckin_management_3'))}"
									sortBy="#{con.spectator.surname}"
									value="#{precheckinBean.spectators}" 
									var="con" 
									scrollable="true"
									scrollHeight="1150" 
									style="padding-top: 20px;"
									widgetVar="spectatorTableWidget"
									rowKey="#{con.id}">
									
									<p:ajax event="rowSelect"
										listener="#{precheckinBean.onSpectatorRowSelect}" 
										update="@this form_main:spectators_counter" 
										oncomplete="PF('spectatorTableWidget').filter();"/>
									<p:ajax event="rowUnselect"
										listener="#{precheckinBean.onSpectatorRowUnselect}"
										update="confirmUnselectDlg" 
										oncomplete="PF('confirmUnselectDlgWdgt').show()"/>
									<p:ajax event="rowSelectCheckbox" 
										update="@this form_main:spectators_counter" 
										oncomplete="PF('spectatorTableWidget').filter();" 
										listener="#{precheckinBean.onSpectatorRowSelect}"/>
									<p:ajax event="rowUnselectCheckbox" 
										update="confirmUnselectDlg" 
										oncomplete="PF('confirmUnselectDlgWdgt').show()" 
										listener="#{precheckinBean.onSpectatorRowUnselect}"/>
									<!-- <p:ajax event="toggleSelect" update="form_main:checkout_all_selected_button" listener="#{receptionBean.onSpectatortoggleSelect}"/> -->

  									<p:column 
  										selectionMode="multiple" 
  										style="width:16px;text-align:center" 
  										exportable="false"
  										rendered="#{! precheckinBean.episodeTerminated}"
  									/>
  									<p:column 
  									    style="width:40px;text-align:center" 
  										filterStyle="width: 100%; max-width: 20px;"
										headerText="#{msgs['index']}"
										filterBy="#{con.order}"
										sortBy="#{con.order}" 
										filterMatchMode="contains">
										<h:outputText value="#{con.order}" />
									</p:column>
									
  									<p:column 
  										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['surname']}"
										filterBy="#{con.spectator.surname}"
										sortBy="#{con.spectator.surname}" 
										filterMatchMode="contains">
										<h:outputText value="#{con.spectator.surname}" />
									</p:column>
									
  									<p:column 
										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['name']}" filterBy="#{con.spectator.name}"
										sortBy="#{con.spectator.name}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.name}" />
									</p:column>
									
									<p:column filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['note']}"
										sortBy="#{con.description}"
										filterBy="#{con.description}"
										filterMatchMode="contains"								
										>
										<h:outputText value="#{con.description}" />
									</p:column>
								
									<p:column filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['spectator.gender']}"
										filterBy="#{con.spectator.gender}"
										sortBy="#{con.spectator.gender}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.gender}" />
									</p:column>
									<p:column filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['birthDate']}"
										sortBy="#{con.spectator.birthDate}">
										<h:outputText value="#{con.spectator.birthDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['age']}">
										<h:outputText value="#{con.spectator.age}" />
									</p:column>

									<p:column headerText="#{msgs['precheckin']}" visible="false">
										<h:outputText visible="false" value="#{con.preCheckin}"/>
									</p:column> 
									<p:column headerText="#{msgs['precheckin']}"
										exportable="false"
										sortBy="#{con.preCheckin}">
										<h:outputText rendered="#{con.preCheckin}"
											styleClass="fa fa-fw fa-check" style="color: green;" />
										<h:outputText rendered="#{!con.preCheckin}" 
											styleClass="fa fa-fw fa-close" style="color: red;" />
									</p:column>
 									

									
									<!-- <p:column headerText="#{msgs['badge']}" sortBy="#{con.media.label}">
										<h:outputText value="#{con.media.label}" />
									</p:column> -->
									
								</p:dataTable>
							</p:panel>
						</h:panelGroup>

						<BR />
					</h:form>
					<!-- -->
					<script type="text/javascript">
						 function cleanWarningFiscalCode(){
							 document.getElementById("form_edit_spec_dlg:outCheckCf").innerHTML="";
						 }
					</script>
					<p:dialog 
						id="addSpecDlg"
						onHide="cleanWarningFiscalCode()" 
						header="#{msgs['spectator']}" 
						height="650"
						widgetVar="addSpectatorDlgWdgt" 
						showEffect="clip" 
						hideEffect="clip">
						<h:form id="form_edit_spec_dlg">
							<div class="ui-fluid">
								<p:panelGrid 
									rendered="#{precheckinBean.spectatorToInsert ne null}" 
									columns="1" 
									layout="grid"
									styleClass="content-fluid-grid">
									
									<p:fieldset style="max-width: 800px;">
										<h:panelGroup 
											rendered="#{precheckinBean.spectatorToInsertInWarningBlackList()}">
											<p:outputLabel 
												style="color: orange;" 
												value="!! #{msgs['spectator_in_warn_blacklinst']} !!" />
											<BR />
										</h:panelGroup>
										<h:panelGroup 
											rendered="#{precheckinBean.spectatorToInsertInBlockedBlackList()}">
											<p:outputLabel 
												style="color: red;" 
												value="!! #{msgs['spectator_in_blocked_blacklinst']} !!" />
											<BR />
										</h:panelGroup>
										<p:outputLabel 
											value="* #{msgs['spectator.surname']}:" />
										<p:inputText 
											required="true"
											value="#{precheckinBean.spectatorToInsert.surname}" />
										<p:outputLabel 
											value="* #{msgs['spectator.name']}:" />
										<p:inputText 
											required="true"
											value="#{precheckinBean.spectatorToInsert.name}" />
										<p:outputLabel 
											value=" #{msgs['spectator.fiscalCode']}:" />
										<p:inputText 
											required="false"
											value="#{precheckinBean.spectatorToInsert.fiscalCode}"
											maxlength="16">
											<p:ajax 
												update="outCheckCf acCountryCode birthDateCal selectedSpectatorGender"
												listener="#{precheckinBean.fiscalCodeInserted}" />
											<h:outputText
												style="#{precheckinBean.fisCodWarningStyle} ; float: right;"
												id="outCheckCf"
												value="#{precheckinBean.checkCfInserted}" />
										</p:inputText>
										<br />
										<p:outputLabel 
											value=" #{msgs['spectator.city']}:" />
										<p:autoComplete 
											id="acCountryCode"
											value="#{precheckinBean.spectatorToInsert.city}"
											completeMethod="#{precheckinBean.completeCountryCode}"
											emptyMessage="No results" 
											var="cc" 
											itemLabel="#{cc.city}"
											itemValue="#{cc}" 
											converter="countryCodeConverter"
											forceSelection="false" 
											minQueryLength="3"
											style="display:inline-block;">
											<p:column>
												<h:outputText value="#{cc.city}" />
											</p:column>
											<p:column>
												<h:outputText value="#{cc.province.provDescription}" />
											</p:column>
										</p:autoComplete>
					
										<p:outputLabel 
											for="birthDateCal" 
											value=" #{msgs['spectator.birthDate']}:">
											<p:calendar 
												id="birthDateCal" 
												pattern="dd/MM/yyyy"
												required="false"
												value="#{precheckinBean.spectatorToInsert.birthDate}" />
										</p:outputLabel>
										
										<p:outputLabel 
											for="selectedSpectatorType" 
											value="#{msgs['spectator.spectatorType']}" />
									
										<p:selectOneMenu 
											id="selectedSpectatorType"
											value="#{precheckinBean.selectedSpectatorType}"
											required="true">
											<f:selectItems 
												value="#{precheckinBean.spectatorTypes}" />
										</p:selectOneMenu>
					
										<p:outputLabel 
											for="selectedSpectatorGender"  
											value=" #{msgs['spectator.gender']}:" />
										<p:selectOneMenu 
											id="selectedSpectatorGender"
											value="#{precheckinBean.spectatorToInsert.gender}"
											required="true">
											<f:selectItems value="#{precheckinBean.getGenders()}" />
										</p:selectOneMenu>
									
										<p:outputLabel 
											value=" #{msgs['episode']}:" />
										<p:inputText 
											required="false" 
											readonly="true"
											value="#{precheckinBean.selectedEpisode}" />
					
										<p:outputLabel 
											value=" #{msgs['description']}:" />
										<p:inputText 
											value="#{precheckinBean.descriptionAddEpisode}" />
									</p:fieldset>
								</p:panelGrid>
							</div>
						</h:form>
						<center>
							<p:commandButton 
								value="Submit" 
								form="form_edit_spec_dlg" 
								disabled="#{precheckinBean.spectatorToInsertInBlockedBlackList()}"
								icon="ui-icon-check"
								update="form_main:spectator_table form_main:spectators_counter"
								style="width:100px;"
								oncomplete="PF('addSpectatorDlgWdgt').hide(); PF('spectatorTableWidget').filter();"
								actionListener="#{precheckinBean.addSpectator}" />
							<p:commandButton 
								value="#{msgs['cancel']}"
								onclick="PF('addSpectatorDlgWdgt').hide()" 
								style="width:100px;" 
								update="form_main:spectator_table" 
								actionListener="#{precheckinBean.closeDlgSpc}" />
						</center>
					</p:dialog>	
					<!-- -->
					
					<!-- PANNELLO WEBCAM (nel dialog non funziona su explorer!) -->
					<h:panelGroup layout="block" id="cameraScannerPanel">
						<p:panel header="QR-Code Scanner"
							rendered="#{precheckinBean.scannerVisible}"
							style="position:absolute; top: 30px; left: 25%;">
							<h:form>
								<center>
									<br />
									<p:photoCam width="#{precheckinBean.cameraWidth}"
										height="#{precheckinBean.cameraHeight}" jpegQuality="80"
										style="margin: 0 auto;" widgetVar="pc"
										listener="#{precheckinBean.oncapture}" />
									<p:poll widgetVar="poolAcquire" autoStart="false" interval="1"
										oncomplete="try{PF('pc').capture()} catch(err){alert('ERROR:' + err.message)}" />

									<p:remoteCommand name="updateCameraParams"
										actionListener="#{precheckinBean.changeCameraOrientation}"
										oncomplete="window.location.reload(false);" />
									<script>
										function doOnOrientationChange() {

											PF('poolAcquire').stop();
											//alert(window.orientation); 
											switch (window.orientation) {
											case -90:
											case 90:
												//alert('landscape');
												updateCameraParams([ {
													name : 'orientation',
													value : 'landscape'
												} ]);
												break;
											default:
												//alert('portrait');
												updateCameraParams([ {
													name : 'orientation',
													value : 'portrait'
												} ]);
												break;
											}
										}

										window.addEventListener(
												'orientationchange',
												doOnOrientationChange);

										var cr = '#{precheckinBean.cameraRotation}';
										var acr = '';
										switch (window.orientation) {
										case -90:
										case 90:
											acr = 'landscape';
											break;
										default:
											acr = 'portrait';
											break;
										}
										//alert(cr + "  actual " + acr);
										if (cr != acr)
											doOnOrientationChange();
										else {
											startCapturing();
										}

										function startCapturing() {
											if (Webcam.live)
												PF('poolAcquire').start();
											else
												setTimeout(function() {
													startCapturing();
												}, 500);
										}
									</script>

									<p:commandButton style="width: auto !important;"
										styleClass="button_classe" icon="ui-icon-disk"
										value="#{msgs['close']}" update="cameraScannerPanel"
										actionListener="#{precheckinBean.closeCameraScanner}">
									</p:commandButton>
									<br /> <br />
								</center>
							</h:form>
						</p:panel>
					</h:panelGroup>
					<!-- PANNELLO CONFERMA UNSELECT -->
					<p:dialog id="confirmUnselectDlg" header="#{msgs['spectator_data']}"
						widgetVar="confirmUnselectDlgWdgt" closable="false"
						visible="#{precheckinBean.spectatorEpisodeToEdit.id ne null}"
						showEffect="clip" hideEffect="clip" resizable="false"
						dynamic="true" modal="true" appendTo="@(body)">

						<h:panelGroup>
							<h:form id="form_conf">
								<h:panelGroup rendered="#{precheckinBean.spectatorEpisodeToEdit.id ne null}">
									<p:outputLabel value="#{msgs['confirm_uselect_precheckin']}"></p:outputLabel>
									<div class="ui-fluid">
										<p:panelGrid columns="6"
											columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-3,ui-grid-col-6,ui-grid-col-3,ui-grid-col-6"
											layout="grid" styleClass="ui-panelgrid-blank">

											<p:outputLabel value="#{msgs['name']}: #{precheckinBean.spectatorEpisodeToEdit.spectator.name}"></p:outputLabel>
											<p:outputLabel value="#{msgs['surname']}: #{precheckinBean.spectatorEpisodeToEdit.spectator.surname}"></p:outputLabel>

										</p:panelGrid>
									</div>
									<p:commandButton
										style="width: auto !important;font-size: 100%; float:right;"
										styleClass="button_classe" icon="fa fa-fw fa-close"
										value="#{msgs['close']}" oncomplete="PF('confirmUnselectDlgWdgt').hide(); PF('spectatorTableWidget').filter();"
										title="Close" update="confirmUnselectDlg :form_main:spectators_list :form_main:spectators_counter"
										actionListener="#{precheckinBean.cancelConfirmSpectatorRUnselect}"></p:commandButton>
									<p:commandButton
										style="width: auto !important;font-size: 100%; float:right;"
										styleClass="button_classe" icon="fa fa-fw fa-check"
										value="#{msgs['confirm']}" oncomplete="PF('confirmUnselectDlgWdgt').hide(); PF('spectatorTableWidget').filter();"
										title="Confirm" update="confirmUnselectDlg :form_main:spectators_list :form_main:spectators_counter"
										actionListener="#{precheckinBean.confirmSpectatorUnselect}"></p:commandButton>
										
								</h:panelGroup>
							</h:form>
						</h:panelGroup>
					</p:dialog>												
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>

