<ui:composition template="/WEB-INF/templates/baseTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:util="http://crismasecurity.com/faces/utils/functions">

	<ui:define name="page-title"> - Accettazione</ui:define>
	<ui:define name="page-content">
	
		<script type="text/javascript">
			// Variabili di controllo
			var hidden, visibilityChange; 
			
			// Controllo tipo di evento
			if (typeof document.hidden !== "undefined") { //Per tutti i browser moderni
				hidden = "hidden";
				visibilityChange = "visibilitychange";
			} else if (typeof document.mozHidden !== "undefined") { // Firefox fino v17
				hidden = "mozHidden";
				visibilityChange = "mozvisibilitychange";
			} else if (typeof document.webkitHidden !== "undefined") { // Chrome fino v32, Android fino v4.4, Blackberry fino v10
				hidden = "webkitHidden";
				visibilityChange = "webkitvisibilitychange";
			}
			
			if (typeof document.addEventListener === "undefined" || typeof document.hidden === "undefined") {
				// Lascio un messaggio se il browser non supporta le Page Visibility API
				alert("Hai bisogno di un browser più recente per visualizzare le notifiche di Studios.");
			} else {
				if (Notification.permission !== 'denied') {
					  Notification.requestPermission(function (permission) {
						// Se è tutto a posto, creiamo una notifica
						if (permission === "granted") {
							//var notification = new Notification("Notifiche Studios attivate");
						}
					  });
				  }
			    // Se tutto va bene per test mi metto in ascolto dell'evento visibilityChange
			    // document.addEventListener(visibilityChange, handleVisibilityChange, false);				
			}	
			
			function notify(message) {
				  // Controlliamo se il browser supporta le notifiche
				  if (!("Notification" in window)) {
					alert("Per visualizzare le notifiche di Studios bisogna usare un browser più recente poichè questo non supporta le Notification API,");
				  }
			
				  // Controlliamo se l'utente accetta le nostre notifiche
				  else if (Notification.permission === "granted") {
					  // Se è tutto a posto, creiamo una notifica
					  var notification = new Notification(message);
					  notification.onshow = function () {
						setTimeout(notification.cancel(), 10000);
					  }
				  }
			
				  // Se l'utente non ha accettato le notifiche, chiediamo il permesso
				  else if (Notification.permission !== 'denied') {
					  Notification.requestPermission(function (permission) {
						// Se è tutto a posto, creiamo una notifica
						if (permission === "granted") {
							var notification = new Notification(message);
							notification.onshow = function () {
								setTimeout(notification.cancel(), 10000);
							}
						}
					  });
				  }
			}	
			
			function handleVisibilityChange() {
				if (document.hidden) {
				  // Messaggio se la pagina è nascosta
				  notify('Browser minimizzato! :\('); 
				} else {
				  // Messaggio se la pagina è visibile
				  notify('Browser aperto! :)'); 
				}
			}			
		</script>
		<h:form id="form_poll">
			<p:poll immediate="true" async="true" interval="5" listener="#{receptionBean.heartbeat}"  update=":form_employees:statistics" /> <!-- Mi serve per dire che la pagina è ancora viva -->
		</h:form>
		<h:form id="form_socket">
			<p:socket onMessage="handleSignMessage" channel="/sign/#{session.getId()}"  >
				<!-- <p:ajax event="message" update=":form_employees:updateStatisticAndList"></p:ajax>  -->
			</p:socket> 
		</h:form>
		<h:panelGroup id="main_container" layout="block">
			<h:panelGroup layout="block" styleClass="page_content_layout_div">
				<h:panelGroup layout="block" styleClass="page_title">#{msgs['reception']}</h:panelGroup>
				<h:panelGroup 
					style="padding-left: 10px; padding-right:10px;"
					layout="block" 
					styleClass="page_content_content">
					<h:form id="form_employees">
						<p:growl globalOnly="true" showDetail="false" id="local_message"/>
						<h:panelGroup rendered="#{receptionBean.selectedEpisode eq null}">
							<p:outputLabel
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px;"
								for="desk" value="#{msgs['desk']}" />
							<p:selectOneMenu id="desk" value="#{receptionBean.selectedDesk}" disabled="#{receptionBean.selectedDesk ne null}">
								<f:selectItems value="#{receptionBean.desks}" />
								<p:ajax event="itemSelect"
									listener="#{receptionBean.deskChanged()}"
									update="spectatorDlg form_employees:episodes form_employees:spectators_list form_employees:statistics form_employees:resetDesk @this"></p:ajax>
								<!-- form_employees:episode -->
							</p:selectOneMenu>

<!-- 
							<p:commandButton
								id="resetDesk"
								rendered="#{receptionBean.haveUserRole('ROLE_ADMIN') or receptionBean.haveUserRole('ROLE_SUPERVISION')}"
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								disabled="#{receptionBean.selectedDesk eq null}"
								styleClass="button_classe backbtncls"
								icon="fa fa-fw fa-mail-reply" 
								update="form_employees form_employees:episodes"
								actionListener="#{receptionBean.resetDesk()}">
							</p:commandButton>
 -->
 							<p:commandButton
								id="resetDesk"
								rendered="#{receptionBean.haveUserRole(navigationBean.getGrantString('reception_management_1'))}"
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								disabled="#{receptionBean.selectedDesk eq null}"
								styleClass="button_classe backbtncls"
								icon="fa fa-fw fa-mail-reply" 
								update="form_employees form_employees:episodes"
								actionListener="#{receptionBean.resetDesk()}">
							</p:commandButton>
							
							<p:outputLabel
								style="position: relative; top: -7px;font-size: 120%; margin-right: 10px; margin-left: 20px;"
								for="episode_date" value="Data " />
							<p:calendar
								style="position: relative;top: -7px;font-size: 120%; margin-right: 10px;"
								id="episode_date" value="#{receptionBean.episodeDate}">
								<p:ajax event="dateSelect"
									listener="#{receptionBean.episodeDateChanged}"
									update="form_employees:episodes"></p:ajax>
							</p:calendar>
							
							<p:dataTable id="episodes" var="episode"
									value="#{receptionBean.episodesList}">
								<p:column headerText="Logo">
									<p:graphicImage 
										stream="false" 
										cache="false" 
										height="50" 
										value="#{episode.production.logoResource}">
									</p:graphicImage> 
								</p:column>

								<p:column headerText="Id">
									<h:outputText value="#{episode.id}" />
								</p:column> 

								<p:column headerText="Produzione">
									<h:outputText value="#{episode.production.name}" />
								</p:column>

								<p:column headerText="Inizio">
									<h:outputText value="#{episode.dateFrom}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="Fine">
									<h:outputText value="#{episode.dateTo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="Stato">
									<h:outputText value="Checkout in corso" style="color: red;" rendered="#{episode.checkoutStarted and !episode.checkoutTerminated}"></h:outputText>
									<h:outputText value="Checkin in corso" style="color: green;" rendered="#{!episode.checkoutStarted and episode.checkinStarted and !episode.checkoutTerminated}"></h:outputText>
									<h:outputText value="Checkout terminato" style="color: gray;" rendered="#{episode.checkoutTerminated}"></h:outputText>
								</p:column>

								<p:column headerText="">
									<!-- spectatorDlg id_dlg_liberatoria id_dlg_document form_employees form_employees:spectators_list form_employees:statistics -->
									<p:commandLink
										disabled="#{receptionBean.haveUserRole(navigationBean.getGrantString('reception_management_2'))}"
										style="color: #333333 !important; width: 18px; display: inline-block; text-decoration: none;"
										update="spectatorDlg id_dlg_liberatoria id_dlg_document form_employees confirm_no_checkin"
										title="Edit" 
										styleClass="fa fa-fw fa-pencil editbtncls"
										actionListener="#{receptionBean.selectEpisode}" > <!-- oncomplete="PF('spectatorTableWidget').filter();" -->
										<f:param name="episodeId" value="#{episode.id}" />
									<!-- <p:confirm disabled="#{episode.checkinStarted or episode.checkoutStarted}" header="#{msgs['confirm']}" message="#{msgs['confirm_episode_edit_without_checkin_checkout']}" icon="fa fa-fw fa-warning" />  -->
									</p:commandLink>
									<p:commandLink 
										disabled="#{(episode.checkinStarted and !episode.checkoutStarted) or episode.checkoutTerminated or episode.episodeTerminated or receptionBean.haveUserRole(navigationBean.getGrantString('reception_management_2'))}"
										style="width: 18px; display: inline-block;text-decoration: none; margin-left: 20px;"
										update="form_employees spectatorDlg id_dlg_liberatoria id_dlg_document form_employees:spectators_list form_employees:statistics form_employees:episodes confirm_checkin_reopen"
										title="Start checkin" 
										styleClass="fa fa-sign-in"
										actionListener="#{receptionBean.startCheckinEpisode}" > <!-- oncomplete="PF('spectatorTableWidget').filter();" -->
										<f:param name="episodeIda" value="#{episode.id}" />
										<!-- <p:confirm disabled="#{!episode.checkoutStarted}" header="#{msgs['confirm']}" message="#{msgs['confirm_back_to_checkin']}" icon="fa fa-fw fa-warning" />  -->
									</p:commandLink>
									<p:commandLink
										disabled="#{episode.checkoutStarted  or !episode.checkinStarted}"
										style="width: 18px; display: inline-block;text-decoration: none; margin-left: 20px;"
										update="form_employees spectatorDlg id_dlg_liberatoria id_dlg_document form_employees:spectators_list form_employees:statistics form_employees:episodes"
										title="Start checkout" 
										styleClass="fa fa-sign-out"
										actionListener="#{receptionBean.estartCheckoutEpisode}" > <!-- oncomplete="PF('spectatorTableWidget').filter();" -->
										<f:param name="episodeIdb" value="#{episode.id}" />
										<!-- <p:confirm header="#{msgs['confirm']}" message="#{msgs['confirm_checkout_starting']}" icon="fa fa-fw fa-warning" />  -->
									</p:commandLink>
								</p:column>
							</p:dataTable>
							<p:confirmDialog 
								appendTo="@(body)" 
								global="true">
								<p:commandButton 
									value="#{msgs['yes']}" 
									type="button" 
									styleClass="ui-confirmdialog-yes" 
									icon="ui-icon-check"/>
								<p:commandButton 
									value="#{msgs['no']}" 
									type="button" 
									styleClass="ui-confirmdialog-no" 
									icon="ui-icon-close"/>
							</p:confirmDialog>
						<!-- 
						<p:outputLabel style="margin-left: 20px; position: relative;top: -7px;font-size: 120%; margin-right: 10px;" for="episode" value="#{msgs['episode']}"/>
						<p:selectOneMenu id="episode" value="#{receptionBean.selectedEpisode}">
							<f:selectItems value="#{receptionBean.episodes}"/>
							
							<p:ajax event="itemSelect" listener="#{receptionBean.episodeChanged()}" update="spectatorDlg form_employees:spectators_list form_employees:statistics"></p:ajax>
						</p:selectOneMenu>  
						-->
						</h:panelGroup>
						<h:panelGroup 
							layout="block" 
							id="statistics" 
							styleClass="statisticsls"
							style="margin-top: 6px;">
							<h:panelGroup 
								id="stats"
								rendered="#{receptionBean.selectedEpisode ne null}">
								<p:commandButton
									style="position: absolute;z-index: 999;right: 16px;margin-top: -30px; width: auto !important;font-size: 120%;"
									styleClass="button_classe backbtncls"
									icon="fa fa-fw fa-mail-reply" value="#{msgs['back']}"
									update="spectatorDlg id_dlg_liberatoria id_dlg_document form_employees form_employees:spectators_list form_employees:statistics"
									actionListener="#{receptionBean.backToChangeEpisode}">
								</p:commandButton>
								<p:panelGrid
									style="width: 100%;text-align: center; border-collapse:separate;">
									<p:row styleClass="receptionepisodedetailscls" >
									
										<p:column style="width: 25%; font-weight: bold; border-color:#fff; border-width: 1px; position: relative;background-color: white;">
											<div style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size: 16px; font-weight: 100;text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['production']}</span> <BR />
												<span style="color: #0177c1; font-size: 18px;"><strong>#{receptionBean.episode.production.name}</strong></span>
											</div>
										</p:column>
										
										<p:column
											style="width: 25%; border-color:#fff; border-width: 1px; position: relative;background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:16px; font-weight:100; text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['episode_day']} <strong>#{receptionBean.episode.dateFromOnlyDate}</strong></span><BR />
												<span>#{msgs['entrance_hour']} <strong>#{receptionBean.episode.dateFromOnlyHours}</strong></span>
											</div>
										</p:column>
										
										<p:column
											style="width: 25%;font-weight: bold; border-color:#fff; border-width: 1px;position: relative; background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:16px; font-weight:100; text-transform: uppercase; line-height: 22px;">
												<span>#{msgs['episode_day']} <strong>#{receptionBean.episode.dateToOnlyDate}</strong></span><BR />
												<span>#{msgs['exit_hour']} <strong>#{receptionBean.episode.dateToOnlyHours}</strong></span>
											</div>
										</p:column>
										<p:column
											style= "width: 12%;font-weight: bold; border-color:#fff; border-width: 1px;position: relative; background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:12px; font-weight:100; text-transform: uppercase; line-height: 15px;">
												<span>#{msgs['reception.pie1']}</span>
											</div>
										</p:column>									
										<p:column style="width: 12%;font-weight: bold; border-color:#fff; border-width: 1px;position: relative; background-color: white;">
											<div
												style="text-align: center; width: 100%; color: #c1c1c1; vertical-align: middle; font-size:12px; font-weight:100; text-transform: uppercase; line-height: 15px;">
												<span>#{msgs['reception.pie2']}</span>
											</div>
										</p:column>
									</p:row>
									<p:row styleClass="episodestatisticscls">
										<p:column
												style="font-weight: bold; border-color:#fff; border-width: 1px;position: relative;  z-index: 999; background-color: #c1c1c1;">
											<div
												style="text-align: center; width: 100%; color: #fff; vertical-align: middle; font-size: 180%;">
												<span style="font-size: 16px; text-transform: uppercase; font-weight: 100;">#{msgs['reception.total']}</span><BR />
												<span style="font-size: 30px; color: #0177c1">#{receptionBean.episodeSpectatorsNums}</span>
												<h:panelGroup layout="block" rendered="#{receptionBean.episode.requestedSpectators ne null}">
													<span style="font-size: 30px; color: #ec135a;"> / </span>
													<span style="font-size: 30px;">#{receptionBean.episode.requestedSpectators}</span>
												</h:panelGroup>
											</div>
										</p:column>
										<p:column
												style="font-weight: bold; border-color:#fff; border-width: 1px;position: relative;background-color: #c1c1c1;">
											<div
												style="text-align: center; width: 100%; color: #fff; vertical-align: middle; font-size: 180%;">
												<span style=" font-size: 16px; text-transform: uppercase; font-weight: 100;">#{msgs['reception.entrances']}</span><BR />
												<span style="color: #0a0a0a; font-size: 30px;">#{receptionBean.episodeSpectatorsNumsWithCheckin}</span>
												<span style="font-size: 30px; color: #ec135a;"> / </span>
												<span style="font-size: 30px; color: #0177c1;">#{receptionBean.episodeSpectatorsNums}</span>
												<span style="font-size: 25px; color: #ec135a; position: relative; top: -4px;"> | </span>
												<span style="color: #ec135a; position: relative; top: 0px; font-size: 30px;">#{receptionBean.episodeSpectatorsNumsWithCheckin-receptionBean.episodeSpectatorsNums}</span><BR />
											</div>
										</p:column>
										<p:column
											style="font-weight: bold; border-color:#fff; border-width: 1px;position: relative;background-color: #c1c1c1;">
											<div
												style="text-align: center; width: 100%; color: #fff; vertical-align: middle; font-size: 180%;">
												<span style=" font-size: 16px; text-transform: uppercase; font-weight: 100;">#{msgs['reception.exits']}</span> <BR />
												<span style="font-size: 30px; color: #8ec63f;">#{receptionBean.episodeSpectatorsNumsWithCheckout}</span>
												<span style="font-size: 30px; color: #ec135a;"> / </span>
												<span style="font-size: 30px; color: #0a0a0a;">#{receptionBean.episodeSpectatorsNumsWithCheckin}</span>
												<span style="font-size: 25px; color: #ec135a; position: relative; top: -4px;"> | </span>
												<span style="color: #ec135a; position: relative; top: 0px; font-size: 30px;">#{receptionBean.episodeSpectatorsNumsWithCheckout - receptionBean.episodeSpectatorsNumsWithCheckin}</span><BR />
											</div>
										</p:column>
										<p:column 
											style="width: 10%;  background-color: white;">
											<div style="text-align: center; margin: 0 auto; height: 80px;">
												<p:chart 
													type="donut"
													model="#{receptionBean.checkinChartModel}"
													style="position: relative; top: -38px; height:140px;"/>
												<div style="position: relative; top: -115px; font-size: 130%; font-weight: bold; text-align: center; color: #0177c1;">#{receptionBean.chartSubTitle}</div>
											</div>
										</p:column>
										<p:column 
											style="width: 10%; background-color: white;">
											<div style="text-align: center;  margin: 0 auto; height: 80px;">
												<p:chart 
													type="donut"
													model="#{receptionBean.checkinChartModel2}"
													style="position: relative; top: -38px; height:140px;"/>
												<div style="position: relative; top: -115px; font-size: 130%; font-weight: bold; text-align: center; color: #0177c1;">#{receptionBean.chartSubTitle2}</div>													
											</div>
										</p:column>										
									</p:row>
									<p:row style="border-color:#fff; border-width: 2px; border-top: 4px solid white;">
										<p:column 
											colspan="2"
											style="font-weight: bold; border-color:#fff; border-width: 1px;position: relative;background-color: #{receptionBean.checkinBackgroudColor};">
											<div
												style="text-align: center; width: 100%; vertical-align: middle; font-size: 160%; padding-top:5px; padding-botom: 5px;">
												<p:outputLabel 
													style="color: #fff !important;"
													rendered="#{receptionBean.episode.checkinStarted and !receptionBean.episode.checkoutStarted}"
													value="Checkin in corso..."></p:outputLabel>
												<p:outputLabel 
													style="color: #fff !important;"
													rendered="#{!receptionBean.episode.checkinStarted or receptionBean.episode.checkoutStarted}"
													value="Checkin chiuso"></p:outputLabel>
											</div>
										</p:column>
										<p:column 
											colspan="3"
											style="font-weight: bold; border-color:#fff; border-width: 1px;position: relative;background-color: #{receptionBean.checkoutBackgroudColor};">
											<div
												style="text-align: center; width: 100%; vertical-align: middle; font-size: 160%;">
												<p:outputLabel style="color: #fff !important;"
													rendered="#{receptionBean.episode.checkoutStarted and !receptionBean.episode.checkoutTerminated}"
													value="Checkout in corso..."></p:outputLabel>
												<p:outputLabel style="color: #fff !important;"
													rendered="#{!receptionBean.episode.checkoutStarted}"
													value="Checkout chiuso"></p:outputLabel>
												<p:outputLabel style="color: #fff !important;"
													rendered="#{receptionBean.episode.checkoutTerminated}"
													value="Checkout terminato"></p:outputLabel>													
											</div>
										</p:column>
									</p:row>
								</p:panelGrid>
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup id="spectators_list">
							<p:panel 
								styleClass="receptionspectatorlistpanelcls"
								style="margin-top: 6px;" header="#{msgs['spectators']}" 
								rendered="#{receptionBean.selectedEpisode ne null}">
								<p:graphicImage 
									stream="false" 
									cache="false" 
									height="30" 
									style="position:relative; top: -37px; left: 10px;" 
									value="#{receptionBean.episode.production.logoResource}">
								</p:graphicImage>
								<p:outputLabel style="padding-left: 8px; font-size: 120%;"
									value="#{msgs['search_spectator']}: "></p:outputLabel>
								<p:focus for="spectatorGuid"></p:focus>
								<p:inputText
									style="width: 60%; font-size: 120%; margin-right: 5px;"
									id="spectatorGuid"
									placeholder="#{msgs['search_spectator_by_guid']}"
									value="#{receptionBean.spectatorGuid}">
								</p:inputText>
								<p:commandButton style="width: auto !important;font-size: 120%;"
									styleClass="button_classe qrcodebtncls"
									icon="fa fa-fw fa-qrcode"
									value="#{msgs['scan_qr_code_by_camera']}"
									update="cameraScannerPanel"
									actionListener="#{receptionBean.openCameraScanner}"></p:commandButton>
								<p:defaultCommand target=":form_employees:cerca_guid" />
								<p:commandButton id="cerca_guid"
									style="width: auto !important;font-size: 120%;"
									styleClass="button_classe searchbtncls"
									icon="fa fa-fw fa-search" value="#{msgs['search']}"
									update=":form_spec:spectator_data form_spec:firma spectatorDlg id_dlg_liberatoria id_dlg_document :form_employees:spectatorGuid :form_employees:local_message"
									actionListener="#{receptionBean.spectatorGuidChanged}"></p:commandButton>
								<BR />
								<h:panelGroup 
									style="float:right; margin-right: 20px;" 
									rendered="#{receptionBean.episode.checkinStarted and !receptionBean.episode.checkoutStarted}">
									<p:outputLabel for="@next" value="#{msgs['show_all']}/solo precheckin " />
									<p:selectBooleanCheckbox value="#{receptionBean.allOrPrecheckinOnly}">
										<p:ajax update="form_employees:spectators_list form_employees:statistics" listener="#{receptionBean.allOrPrecheckinOnlyChanged()}" oncomplete="PF('spectatorTableWidget').filter();" />
									</p:selectBooleanCheckbox>
								</h:panelGroup>
								<h:panelGroup 
									style="float:right; margin-right: 20px;" 
									rendered="#{receptionBean.episode.checkinStarted and receptionBean.episode.checkoutStarted}">
									<p:outputLabel for="@next" value="#{msgs['show_all']}/solo checkin " />
									<p:selectBooleanCheckbox value="#{receptionBean.allOrCheckinOnly}">
										<p:ajax 
											update="form_employees:spectators_list form_employees:statistics" 
											listener="#{receptionBean.allOrCheckinOnlyChanged()}"  
											oncomplete="PF('spectatorTableWidget').filter();"/> 
									</p:selectBooleanCheckbox>									
								</h:panelGroup>
								<h:panelGroup 
									style="float:right; margin-right: 20px;" >
									<p:commandButton 
										value="#{msgs['refresh_list']}" 
										rendered="#{!receptionBean.episode.checkoutTerminated}">
										<p:ajax 
											update="form_employees:spectators_list form_employees:statistics" 
											listener="#{receptionBean.refreshList()}" 
											oncomplete="PF('spectatorTableWidget').filter();" />
									</p:commandButton>
									<p:commandButton 
										value="#{msgs['unlockBadge']}" 
										rendered="#{receptionBean.episode.checkoutTerminated}">
										<p:ajax 
											update="form_employees:spectators_list form_employees:statistics"  
											listener="#{receptionBean.unlockAllBadge()}" 
											oncomplete="PF('spectatorTableWidget').filter();" />
									</p:commandButton>									
								</h:panelGroup>
								<BR />
								<p:remoteCommand 
									name="onTableFilterSortCommand" 
									actionListener="#{receptionBean.onSortOrFilter}">
								</p:remoteCommand>

								<!-- 
									<p:dataTable 
									id="spectator_table" 
									value="#{receptionBean.spectators}" 
									var="con" 
									style="padding-top: 20px;" 
									widgetVar="spectatorTableWidget" 
									binding="#{spectatorsTable}" 
									rowKey="#{con.id}" 
									selection="#{receptionBean.selectedSpectators}" 
									rowStyleClass="#{con.preCheckin ? 'prececkin_color' : null}"> 
								-->
								<p:dataTable 
									id="spectator_table" 
									sortBy="#{con.checkin}" 
									sortOrder="DESCENDING"
									value="#{receptionBean.spectators}" 
									var="con" 
									scrollable="true"
									scrollHeight="300" 
									style="padding-top: 20px;" 
									rowIndexVar="row"
									widgetVar="spectatorTableWidget" 
									binding="#{spectatorsTable}"
									rowKey="#{con.id}" 
									selection="#{receptionBean.selectedSpectators}" 
									rowStyleClass="#{con.preCheckin ? 'prececkin_color' : null}">
									<!-- 
										<p:dataTable 
											id="spectator_table" 
											value="#{receptionBean.lazyModelSpectator}" 
											var="con" 
											paginator="true" 
											rows="10" 
											paginatorPosition="bottom"
											paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
											rowsPerPageTemplate="5,10,15" 
											lazy="true" 
											style="padding-top: 20px;" 
											selectionMode="single"  
											rowKey="#{con.id}"
										>  
									-->
									<p:ajax 
										event="rowSelect"
										listener="#{receptionBean.onSpectatorRowSelect}"
										update=":form_spec:spectator_data form_spec:firma spectatorDlg id_dlg_liberatoria id_dlg_document" oncomplete="PF('spectatorDlgWdgt').show()"/>
									<p:ajax 
										event="rowUnselect"
										listener="#{receptionBean.onSpectatorRowUnselect}"
										update=":form_spec:spectator_data form_spec:firma spectatorDlg id_dlg_liberatoria id_dlg_document" />
									<p:ajax 
										event="rowSelectCheckbox" 
										update="form_employees:checkout_all_selected_button" 
										listener="#{receptionBean.onSpectatorRowSelectCheckbox}"/>
									<p:ajax 
										event="rowUnselectCheckbox" 
										update="form_employees:checkout_all_selected_button" 
										listener="#{receptionBean.onSpectatorRowUnselectCheckbox}"/>
									<p:ajax 
										event="toggleSelect" 
										update="form_employees:checkout_all_selected_button" 
										listener="#{receptionBean.onSpectatortoggleSelect}"/>
									<p:column selectionMode="multiple" style="width:4%" />
									
									<p:ajax event="filter" oncomplete="onTableFilterSortCommand()" />
									<p:ajax event="sort" oncomplete="onTableFilterSortCommand()" />
									
									<p:column 
										style="width:40px;text-align:center" 
										filterStyle="width: 100%; max-width: 20px;"
										headerText="#{msgs['index']}"
										filterBy="#{con.order}"
										sortBy="#{con.order}" 
										filterMatchMode="contains">
										<h:outputText value="#{con.order}" />
									</p:column>	

									<p:column 
										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['surname']}"
										filterBy="#{con.spectator.surname}"
										sortBy="#{con.spectator.surname}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.surname}" />
									</p:column>  

									<p:column 
										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['name']}" filterBy="#{con.spectator.name}"
										sortBy="#{con.spectator.name}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.name}" />
									</p:column>

									<p:column 
										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['spectator.gender']}"
										filterBy="#{con.spectator.gender}"
										sortBy="#{con.spectator.gender}" filterMatchMode="contains">
										<h:outputText value="#{con.spectator.gender}" />
									</p:column>
									<p:column 
										filterStyle="width: 100%; max-width: 100px;"
										headerText="#{msgs['birthDate']}"
										sortBy="#{con.spectator.birthDate}">
										<h:outputText value="#{con.spectator.birthDate}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>
									</p:column>
									<p:column filterStyle="width: 100%; max-width: 100px;"
											headerText="#{msgs['age']}">
										<h:outputText value="#{con.spectator.age}" />
									</p:column>
									<!-- 
									<p:column filterStyle="width: 100%; max-width: 100px;" headerText="#{msgs['spectator.address1']}" filterBy="#{con.spectator.address1}" sortBy="#{con.spectator.address1}" filterMatchMode="contains">
									   <h:outputText value="#{con.spectator.address1}"/>
									</p:column>
									<p:column filterStyle="width: 100%; max-width: 100px;" headerText="#{msgs['spectator.address2']}" filterBy="#{con.spectator.address2}" sortBy="#{con.spectator.address2}" filterMatchMode="contains">
									   <h:outputText value="#{con.spectator.address2}"/>
									</p:column>
									<p:column filterStyle="width: 100%; max-width: 100px;" headerText="#{msgs['spectator.telephone']}" filterBy="#{con.spectator.telephone}" sortBy="#{con.spectator.telephone}" filterMatchMode="contains">
									   <h:outputText value="#{con.spectator.telephone}"/>
									</p:column>		  
									<p:column filterStyle="width: 100%; max-width: 100px;" headerText="#{msgs['spectator.mobile']}" filterBy="#{con.spectator.mobile}" sortBy="#{con.spectator.mobile}" filterMatchMode="contains">
									   <h:outputText value="#{con.spectator.mobile}"/>
									</p:column>

									<p:column filterStyle="width: 100%; max-width: 100px;" headerText="#{msgs['spectator.email']}" filterBy="#{con.spectator.email}" sortBy="#{con.spectator.email}" filterMatchMode="contains">
									   <h:outputText value="#{con.spectator.email}"/>
									</p:column> 
									-->
									<p:column headerText="#{msgs['spectator.agreement']}" sortBy="#{con.sign}">
										<h:panelGroup id="con_liberatoria" >	
											<!-- <h:outputText
												rendered="#{con.liberatoria ne null and con.liberatoria.pdfSignBase64Str ne null and con.liberatoria.pdfSignBase64Str ne ''}"
												styleClass="fa fa-fw fa-openid" style="color: green;" />
											<h:outputText rendered="#{con.liberatoria eq null or con.liberatoria.pdfSignBase64Str eq null or con.liberatoria.pdfSignBase64Str eq ''}"
												styleClass="fa fa-fw fa-close" style="color: red;" />  -->
										</h:panelGroup>
									</p:column>
									<!-- 
									<p:column headerText="#{msgs['document']}" sortBy="#{con.spectator.documentPath}">
										<h:panelGroup id="con_documents" >	
											<h:outputText
												rendered="#{con.spectator.documentPath ne null and con.spectator.documentPath ne ''}"
												styleClass="fa fa-fw fa-check" style="color: green;" />
											<h:outputText
												rendered="#{con.spectator.documentPath eq null or con.spectator.documentPath eq ''}"
												styleClass="fa fa-fw fa-close" style="color: red;" />
										</h:panelGroup>
									</p:column>  
									-->
									<p:column headerText="#{msgs['checkin']}" sortBy="#{con.checkinDate}">
										<h:panelGroup id="con_checkin" >
											<h:outputText rendered="#{con.checkin}" styleClass="fa fa-fw fa-check" style="color: green;" />
											<h:outputText rendered="#{con.checkin}" value=" (" />
											<h:outputText rendered="#{con.checkin}" value="#{con.checkinDate}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
											<h:outputText rendered="#{con.checkin}" value=")" />
											<h:outputText rendered="#{!con.checkin}" styleClass="fa fa-fw fa-close" style="color: red;" />
										</h:panelGroup>
									</p:column>
									<p:column headerText="#{msgs['entrance']}" sortBy="#{con.entranceDate}">
										<h:panelGroup id="con_entrance" >
											<h:outputText rendered="#{con.entranceDate ne null}" styleClass="fa fa-fw fa-check" style="color: green;" />
											<h:outputText rendered="#{con.entranceDate ne null}" value=" (" />
											<h:outputText rendered="#{con.entranceDate ne null}" value="#{con.entranceDate}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
											<h:outputText rendered="#{con.entranceDate ne null}" value=")" />
											<h:outputText rendered="#{con.entranceDate eq null}" styleClass="fa fa-fw fa-close" style="color: red;" />
										</h:panelGroup>
									</p:column>

									<p:column headerText="#{msgs['checkout']}" sortBy="#{con.checkoutDate}">
										<h:panelGroup id="con_checkout" >
											<h:outputText rendered="#{con.checkout}" styleClass="fa fa-fw fa-check" style="color: green;" />
											<h:outputText rendered="#{con.checkout}" value=" (" />
											<h:outputText rendered="#{con.checkout}" value="#{con.checkoutDate}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
											<h:outputText rendered="#{con.checkout}" value=")" />
											<h:outputText rendered="#{!con.checkout}" styleClass="fa fa-fw fa-close" style="color: red;" />
										</h:panelGroup>
									</p:column>
									<p:column headerText="#{msgs['badge']}" sortBy="#{con.media.label}">
										<h:panelGroup id="con_media_badge" >
											<h:outputText value="#{con.media.label}" />
											<h:outputText rendered="#{con.badgeReturnDate ne null}" styleClass="fa fa-fw fa-check" style="color: green;" /> <!-- spunta verde quando consegnano il badge - controllo che abbia fatto il checkin -->
											<h:outputText rendered="#{con.badgeReturnDate ne null}" value=" (" />
											<h:outputText rendered="#{con.badgeReturnDate ne null}"
													value="#{con.badgeReturnDate}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
											<h:outputText rendered="#{con.badgeReturnDate ne null}" value=")" />
										</h:panelGroup>
									</p:column>
								</p:dataTable>
								<p:commandButton id="checkout_all_selected_button"
									disabled="#{!receptionBean.episode.checkoutStarted or receptionBean.selectedSpectators eq null or receptionBean.selectedSpectators.size() eq 0}"
									style="width: auto !important;font-size: 120%;"
									styleClass="button_classe" icon="fa fa-fw fa-arrow-down"
									value="#{msgs['checkout']}"
									update="form_employees:spectators_list form_employees:statistics :form_employees:local_message"
									actionListener="#{receptionBean.checkouAllSelectedSpectators}"
									oncomplete="PF('spectatorTableWidget').filter();" ></p:commandButton> 
							</p:panel>
						</h:panelGroup>
						<BR />
						<p:remoteCommand 
							id="updateSpectsList" 
							name="updateSpectsList" 
							actionListener="#{receptionBean.updatespectatorsTable(spectatorsTable)}"/> <!-- update="#{receptionBean.spectatorRowNumElString}" oncomplete="PF('spectatorTableWidget').filter();" -->
						<p:remoteCommand 
							id="updateStatisticAndList" 
							name="updateStatisticAndList"  
							actionListener="#{receptionBean.updatespectatorsTable(spectatorsTable)}"  /> <!-- LE STATISTICHE VENGONO AGGIRNATE OGNI 5 SEC (non serve farlo qui)!!!! ..... update="form_employees:statistics" update="#{receptionBean.spectatorRowNumElString}" oncomplete="PF('spectatorTableWidget').filter();"  -->
						<!-- update="form_employees:spectators_list form_employees:statistics" -->
						<p:remoteCommand 
							name="updateSpectatorData" 
							update="form_spec:firma form_spec:documents form_spec:badge id_dlg_liberatoria id_dlg_document" />
						<!-- <p:ajax event="message" update="form_employees:spectators_list form_employees:statistics form_spec:firma form_spec:documents form_spec:badge" oncomplete="PF('spectatorTableWidget').filter();" /> -->
					</h:form>

					<p:dialog visible="#{receptionBean.selectEpisodeConfirmId ne null}" id="confirm_no_checkin">
						<h:outputLabel value="#{msgs['confirm_episode_edit_without_checkin_checkout']}"></h:outputLabel>
						<h:form>
							<p:commandButton value="#{msgs['yes']}" 
								icon="ui-icon-check" actionListener="#{receptionBean.selectEpisodeConfirm}" update="spectatorDlg id_dlg_liberatoria id_dlg_document form_employees confirm_no_checkin" />
							<p:commandButton value="#{msgs['no']}"
									icon="ui-icon-close" actionListener="#{receptionBean.selectEpisodeConfirmCancel}" update="confirm_no_checkin"/>
						</h:form>
					</p:dialog>
					<p:dialog visible="#{receptionBean.selectEpisodeCheckinReopenConfirmId ne null}" id="confirm_checkin_reopen">
						<h:outputLabel value="#{msgs['confirm_back_to_checkin']}"></h:outputLabel>
						<h:form>
							<p:commandButton 
								value="#{msgs['yes']}" 
								icon="ui-icon-check" 
								actionListener="#{receptionBean.selectEpisodeCheckinReopenConfirm}" 
								update="form_employees spectatorDlg id_dlg_liberatoria id_dlg_document form_employees:spectators_list form_employees:statistics form_employees:episodes confirm_checkin_reopen" />
							<p:commandButton 
								value="#{msgs['no']}"
								icon="ui-icon-close" 
								actionListener="#{receptionBean.selectEpisodeCheckinReopenConfirmCancel}" 
								update="confirm_checkin_reopen"/>
						</h:form>
					</p:dialog>

					<!-- PANNELLO WEBCAM (nel dialog non funziona su explorer!) -->
					<h:panelGroup layout="block" id="cameraScannerPanel">
						<p:panel header="QR-Code Scanner"
								rendered="#{receptionBean.scannerVisible}"
								style="position:absolute; top: 30px; left: 25%;">
							<h:form>
								<center>
									<br />
									<p:photoCam width="#{receptionBean.cameraWidth}"
											height="#{receptionBean.cameraHeight}" jpegQuality="80"
											style="margin: 0 auto;" widgetVar="pc"
											listener="#{receptionBean.oncapture}" />
									<p:poll widgetVar="poolAcquire" autoStart="false" interval="1"
											oncomplete="try{PF('pc').capture()} catch(err){alert('ERROR:' + err.message)}" />

									<p:remoteCommand name="updateCameraParams"
											actionListener="#{receptionBean.changeCameraOrientation}"
											oncomplete="window.location.reload(false);" />
									<script>
										var x = document.getElementById("alertAudio"); 

										function playAudio() { 
											x.play(); 
										} 

										function pauseAudio() { 
											x.pause(); 
										} 

										function doOnOrientationChange() {
											PF('poolAcquire').stop();
											//alert(window.orientation); 
											switch (window.orientation) {
												case -90:
												case 90:
													//alert('landscape');
													updateCameraParams(
														[ 
															{
																name : 'orientation',
																value : 'landscape'
															} 
														]
													);
													break;
												default:
													//alert('portrait');
													updateCameraParams(
														[ 
															{
																name : 'orientation',
																value : 'portrait'
															}
														]
													);
													break;
											}
										}

										window.addEventListener('orientationchange', doOnOrientationChange);

										var cr = '#{receptionBean.cameraRotation}';
										var acr = '';
										switch (window.orientation) {
											case -90:
											case 90:
												acr = 'landscape';
												break;
											default:
												acr = 'portrait';
												break;
										}

										//alert(cr + "  actual " + acr);
											if (cr != acr)
												doOnOrientationChange();
											else {
												startCapturing();
											}

										function startCapturing() {
											if (Webcam.live)
												PF('poolAcquire').start();
											else
												setTimeout(function() {
													startCapturing();
												}, 500);
										}
									</script>
									<p:commandButton style="width: auto !important;"
											styleClass="button_classe" icon="ui-icon-disk"
											value="#{msgs['close']}" update="cameraScannerPanel"
											actionListener="#{receptionBean.closeCameraScanner}"></p:commandButton>
									<br /> <br />
								</center>
							</h:form>
						</p:panel>
					</h:panelGroup>
					<!-- PANNELLO DATI SPETTATORE -->
					<p:dialog id="spectatorDlg" header="#{msgs['spectator_data']}"
						widgetVar="spectatorDlgWdgt"
						visible="#{receptionBean.spectatorToEdit.id ne null}"
						resizable="false"
						dynamic="true" 
						modal="true" 
						appendTo="@(body)"
					> <!-- showEffect="clip" hideEffect="clip" -->
						<p:ajax event="close" immediate="true" oncomplete="updateSpectsList();" listener="#{receptionBean.closeSpectator}" update="spectatorDlg" /> <!-- PF('spectatorTableWidget').filter(); -->

						<h:panelGroup id="sign_panel">
							<h:form id="form_spec">
								<h:panelGroup
										rendered="#{receptionBean.spectatorToEdit.id ne null}">
									<div class="ui-fluid">
										<p:panelGrid id="spectator_data" columns="6"
												columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-3,ui-grid-col-6,ui-grid-col-3,ui-grid-col-6"
												layout="grid" 
												styleClass="ui-panelgrid-blank">
											<p:outputLabel value="#{msgs['name']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.name}"></p:inputText>
											<p:outputLabel value="#{msgs['surname']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.surname}"></p:inputText>
											<p:outputLabel value="#{msgs['spectator.gender']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.gender}"></p:inputText>
											<p:outputLabel value="#{msgs['birthDate']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.birthDate}">
												<f:convertDateTime pattern="dd/MM/yyyy" />
											</p:inputText>
											<p:outputLabel value="#{msgs['age']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.age}" />
											<p:outputLabel value="#{msgs['address']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.address1}"></p:inputText>
											<!--
											<p:outputLabel for="selectedSpectatorType" value="#{msgs['spectator.spectatorType']}"/>
			                        		<p:selectOneMenu id="selectedSpectatorType" value="#{receptionBean.selectedSpectatorType}" disabled="true">
				                        	<f:selectItems value="#{receptionBean.spectatorTypes}"/>
			                        		</p:selectOneMenu>
											-->

											<p:outputLabel value="#{msgs['spectator.mobile']}:"></p:outputLabel>
											<p:inputText 
												readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.mobile}">
											</p:inputText>
											<p:outputLabel value="#{msgs['spectator.telephone']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.telephone}"></p:inputText>
											<p:outputLabel value="#{msgs['spectator.email']}:"></p:outputLabel>
											<p:inputText readonly="true"
												value="#{receptionBean.spectatorToEdit.spectator.email}"></p:inputText>
											<p:outputLabel value="#{msgs['spectator.toReview']}:"></p:outputLabel>
											<p:selectBooleanCheckbox
											   	id="idSpectatorToReview"
												readonly="false" 
												value="#{receptionBean.spectatorToEdit.spectatorToReview}"
												onchange="onChange_markSpectatorToReview()"
												/>
	
											<p:remoteCommand 
												name="onChange_markSpectatorToReview" 
												update="idSpectatorToReview" 
												action="#{receptionBean.markSpectatorToReview}"
												/>												
										</p:panelGrid>
										<BR />
										<p:panel header="* #{msgs['sign']}">
											<h:panelGrid columns="2" id="firma" style="width: 100%">
												<p:outputLabel
													rendered="#{receptionBean.spectatorToEdit.signDate ne null and receptionBean.spectatorToEdit.liberatoria ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne ''}"
													style="font-size: 16px; color:green;" value="Acquisita in data">
												</p:outputLabel>
												<p:outputLabel
													rendered="#{receptionBean.spectatorToEdit.signDate eq null and receptionBean.spectatorToEdit.liberatoria ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne ''}"
													style="font-size: 16px; color:green;" value="Acquisita">
												</p:outputLabel>
												<p:outputLabel
													rendered="#{receptionBean.spectatorToEdit.liberatoria eq null or receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str eq null or receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str eq ''}"
													style="font-size: 16px; color:red;" value="Non Acquisita">
												</p:outputLabel>

												<p:commandButton 
													value="Vedi" 
													type="button" 
													onclick="PF('dlg_liberatoria').show();" 
													disabled="#{receptionBean.spectatorToEdit.liberatoria eq null or receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str eq null or receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str eq ''}"
												/>
												<!--  -->
												<p:outputLabel												
													rendered="#{receptionBean.spectatorToEdit.signDate ne null and receptionBean.spectatorToEdit.liberatoria ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne null and receptionBean.spectatorToEdit.liberatoria.pdfSignBase64Str ne ''}"
													style="font-size: 16px; color:green;" 
													value="#{receptionBean.spectatorToEdit.signDate}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</p:outputLabel>
												<!-- 		
												<p:commandButton
													rendered="#{receptionBean.spectatorToEdit.sign ne null and receptionBean.spectatorToEdit.sign ne ''}"
													value="Download" ajax="false"
													onclick="PrimeFaces.monitorDownload(start, stop);"
													icon="fa fa-fw fa-download">
													<p:fileDownload value="#{receptionBean.fileLiberatoria}" />
												</p:commandButton>
												
												     <pe:documentViewer value="#{spectatorDynamicResourcesBean.fileLiberatoria}" width="300" height="300" >
												     	<f:param name="spectatorEpisodeId" value="#{receptionBean.spectatorToEdit.id}" />
												     </pe:documentViewer>

										     
												    <p:commandButton id="vediBtn" value="Vedi" type="button" />
												    <p:overlayPanel for="vediBtn" hideEffect="fade">
												        <p:media value="#{spectatorDynamicResourcesBean.fileLiberatoria}" player="pdf" width="100%" height="300px">
												        	<f:param name="spectatorEpisodeId" value="#{receptionBean.spectatorToEdit.id}" />
														    Your browser can't display pdf!
														</p:media>
												    </p:overlayPanel>
												-->	
											</h:panelGrid>
										</p:panel>
										<BR />
										<p:panel header="* #{msgs['badge']}">
											<h:panelGrid columns="2" id="badge" style="width: 100%">
												<p:outputLabel
													rendered="#{receptionBean.spectatorToEdit.media ne null}"
													style="font-size: 16px; color:green;" value="#{msgs['badge']}: #{receptionBean.spectatorToEdit.media.label}"></p:outputLabel>
												<p:outputLabel
													rendered="#{receptionBean.spectatorToEdit.media eq null}"
													style="font-size: 16px; color:red;" value="#{msgs['badge_not_assigned']}"></p:outputLabel>
												<p:commandButton
													disabled="#{receptionBean.spectatorToEdit.media eq null}"
													style="width: auto !important;font-size: 120%;"
													styleClass="button_classe" icon="fa fa-fw fa-arrow-up"
													value="#{msgs['remove_badge']}"
													update="form_spec:badge :form_employees:local_message"
													actionListener="#{receptionBean.removeBadgeFromSpectator}">
												</p:commandButton>
											</h:panelGrid>
										</p:panel>
										<BR />
										<p:panel id="documents" header="#{msgs['document']}">
											<p:fileUpload id="fffooo"
												disabled="#{receptionBean.spectatorToEdit.checkin}"
												fileUploadListener="#{receptionBean.handleFileUpload}"
												mode="advanced" auto="true" dragDropSupport="true"
												update=" form_spec:file_info"
												sizeLimit="1000000" allowTypes="/(\.|\/)(pdf|jpe?g|png)$/" />
											<!-- form_spec:files_messages <p:growl for="fffooo" id="files_messages" globalOnly="false"
												showDetail="true"  />  -->
											<h:panelGrid id="file_info" columns="3" style="width: 100%;">
												<p:graphicImage
													rendered="#{receptionBean.spectatorToEdit.spectator.documentFileDownload ne null}"
													cache="false" style="max-width: 120px;"
													value="#{receptionBean.spectatorToEdit.spectator.documentFileDownload}"
													stream="false" /> 

												<!-- <p:commandButton
													disabled="#{receptionBean.spectatorToEdit.spectator.documentFileDownload eq null}"
													style="width: 20px;" ajax="false"
													onclick="PrimeFaces.monitorDownload(start, stop);"
													icon="fa fa-fw fa-download">
													<p:fileDownload
														value="#{receptionBean.spectatorToEdit.spectator.documentFileDownload}" />
												</p:commandButton>
												 -->

												<p:commandButton value="Vedi" type="button" onclick="PF('dlg_document').show();" 
													disabled="#{receptionBean.spectatorToEdit.spectator.documentFileDownload eq null}"/>

												<!-- <h:outputText
													disabled="#{receptionBean.spectatorToEdit.spectator.documentFileDownload eq null}"
													value="#{receptionBean.spectatorToEdit.spectator.documentPath}" />  -->

												<p:commandButton
													disabled="#{receptionBean.spectatorToEdit.spectator.documentFileDownload eq null or receptionBean.spectatorToEdit.checkin}"
													style="width: auto !important;font-size: 100%; float:right;"
													styleClass="button_classe" icon="fa fa-fw fa-close"
													value="#{msgs['delete']}" update="form_spec:file_info :form_employees:local_message"
													title="Delete"
													actionListener="#{receptionBean.deleteDocumentFile}"></p:commandButton>
											</h:panelGrid>
										</p:panel>

									</div>

									<BR />
									<center>
										<!-- <p:commandButton
											style="width: auto !important;font-size: 120%; margin-right: 25px;"
											styleClass="button_classe" icon="fa fa-fw fa-close"
											value="#{msgs['close']}"
											update="spectatorDlg"
											actionListener="#{receptionBean.closeSpectator}" immediate="true"
											oncomplete="PF('spectatorTableWidget').filter(); updateSpectsList();"></p:commandButton> -->
										<!-- update="spectatorDlg form_employees:spectators_list" -->

										<p:commandButton
											id="do_checkin"
											disabled="#{!receptionBean.episode.checkinStarted or receptionBean.episode.checkoutStarted or receptionBean.spectatorToEdit.checkin}"
											style="width: auto !important;font-size: 120%; margin-right: 25px;"
											styleClass="button_classe" icon="fa fa-fw fa-arrow-up"
											value="#{msgs['checkin']}"
											update=":form_employees:statistics :form_employees:local_message"
											actionListener="#{receptionBean.checkinSpectator}"
											onsuccess="updateSpectsList();">
										</p:commandButton> 
										<!-- PF('spectatorTableWidget').filter(); -->
										<!-- update="form_employees:spectators_list form_employees:statistics" -->

										<p:commandButton
											disabled="#{!receptionBean.episode.checkoutStarted or !receptionBean.spectatorToEdit.checkin or receptionBean.spectatorToEdit.checkout or receptionBean.episode.checkoutTerminated}"
											style="width: auto !important;font-size: 120%;"
											styleClass="button_classe" icon="fa fa-fw fa-arrow-down"
											value="#{msgs['checkout']}"
											update=":form_employees:statistics :form_employees:local_message"
											actionListener="#{receptionBean.checkoutSpectator}"
											onsuccess="updateSpectsList();"></p:commandButton> <!-- PF('spectatorTableWidget').filter(); -->
										<!-- update="form_employees:spectators_list form_employees:statistics" -->
									</center>

									<!-- Current session id: #{session.getId()}  -->
								</h:panelGroup>
							</h:form>
						</h:panelGroup>
					</p:dialog>

					<p:dialog 
							header="Liberatoria/Consenso" 
							id="id_dlg_liberatoria" 
							widgetVar="dlg_liberatoria" 
							dynamic="true" 
							modal="true" 
							appendTo="@(body)" 
							fitViewport="true" 
							responsive="true" 
							width="500" 
							height="400">
						<pe:documentViewer 
								value="#{spectatorDynamicResourcesBean.fileLiberatoria}" 
								style="width: 99%; height: 99%;">
							<f:param name="spectatorEpisodeId" value="#{receptionBean.spectatorToEdit.id}" />
						</pe:documentViewer>
					</p:dialog>
					<p:dialog 
						header="Documento" 
						id="id_dlg_document" 
						widgetVar="dlg_document" 
						dynamic="true" 
						modal="true" 
						appendTo="@(body)" 
						fitViewport="true" 
						responsive="true" 
						width="500" 
						height="400">
						<p:graphicImage 
							cache="false" 
							value="#{receptionBean.spectatorToEdit.spectator.documentFileDownload}" 
							stream="false" 
							style="width: 99%; height: 99%;"/>
					</p:dialog>

					<script type="text/javascript">
						function handleSignMessage(data) {
							// Viene richiamato prima dell'update del ajax event
					
							if (data != null) {
								if (data != '') {
					
								if (data.startsWith('{"pfpd":"!checkout!') || data.startsWith('{"pfpd":"transitCheckin') || data.startsWith('{"pfpd":"transitCheckout')  || data.startsWith('!checkout!') || data.startsWith('transitCheckin') || data.startsWith('transitCheckout')) { 
									updateStatisticAndList();
								}
								else if (data.startsWith('{"pfpd":""}')) 
									updateSpectatorData();
								else if (document.hidden) 
							  		// Messaggio se la pagina è nascosta
									notify(data); 
								else {
										// Assegna a id error_message il message che è contenuto in data
										$('#error_messages').html("<b>" + data + "</b>");
										PF('warn_dialog').show();
									}
								}
								else updateSpectatorData();
							}
							else updateSpectatorData();
						}
					</script>

					<!-- 
					<script type="text/javascript">
						function handleSignMessage(data) {
						// Viene richiamato prima dell'update del ajax event

							if (data != null) {
								if (data != '') {
									//alert(data);
									if (data.startsWith('{"pfpd":"!checkout!') || data.startsWith('{"pfpd":"transitCheckin') || data.startsWith('{"pfpd":"transitCheckout')  || data.startsWith('!checkout!') || data.startsWith('transitCheckin') || data.startsWith('transitCheckout')) { 
										updateStatisticAndList();
									}
									else if (data.startsWith('{"pfpd":""}')) 
										updateSpectatorData();
									else {
										$('#error_messages').html("<b>" + data + "</b>");
										PF('warn_dialog').show();
									}
								}
								else updateSpectatorData();
							}
							else updateSpectatorData();
						}
					</script>
 					-->
 					
					<p:dialog id="dialog_error" header="#{msgs['sign']}"
							widgetVar="warn_dialog" minHeight="40" modal="true"
							appendTo="@(body)">
						<br />
						<h:outputText id="error_messages" value=" " />
						<br />
						<br />
					</p:dialog>

					<!-- NON VA SU EXPLORER <p:dialog id="cameraScannerDlg" header="QR-Code Scanner" widgetVar="cameraScannerDlgWdgt" closable="false" visible="#{receptionBean.scannerVisible}"
				          showEffect="clip" hideEffect="clip" resizable="false" dynamic="true"  modal="true" appendTo="@(body)" >
	    
				        <h:panelGroup styleClass="popupBody">
				        	<h:form>
				            <center>
					        	<br/>
					       	  	<p:photoCam width="#{receptionBean.cameraWidth}" height="#{receptionBean.cameraHeight}" jpegQuality="90" style="margin: 0 auto;" widgetVar="pc" listener="#{receptionBean.oncapture}" /> 
			                    <p:poll widgetVar="poolAcquire" autoStart="false" interval="1" oncomplete="try{PF('pc').capture()} catch(err){alert('ERROR:' + err.message)}"/> 
			                     
			                    <p:remoteCommand name="updateCameraParams" actionListener="#{receptionBean.changeCameraOrientation}"  oncomplete="window.location.reload(false);" />
			                    <script> 
				                    function doOnOrientationChange() {
				                    	 
				                    	PF('poolAcquire').stop();
				                    	//alert(window.orientation); 
				                        switch(window.orientation) {   
				                        case -90:
				                        case 90:
				                            //alert('landscape');
				                            updateCameraParams([{name:'orientation', value:'landscape'}]);
				                            break; 
				                          default:
				                            //alert('portrait');
				                          	updateCameraParams([{name:'orientation', value:'portrait'}]);
				                            break; 
				                        }
				                    }
				                      
				                    window.addEventListener('orientationchange', doOnOrientationChange);
				                      
				                    
				                    var cr = '#{receptionBean.cameraRotation}';
				                    var acr ='';
				                    switch(window.orientation) {   
			                        case -90:
			                        case 90:
			                        	acr ='landscape';
			                            break; 
			                          default:
			                        	  acr ='portrait';
			                            break; 
			                        }
				                    //alert(cr + "  actual " + acr);
				                    if (cr!=acr) doOnOrientationChange();
				                    else {
				                    	startCapturing();
				                    }
				                    
				                    function startCapturing() {
				                    	if (Webcam.live) PF('poolAcquire').start();
				                    	else setTimeout(function() { startCapturing(); }, 500);
				                    }
				                    
			                    
			                    </script>
			                    
						        <p:commandButton style="width: auto !important;" styleClass="button_classe" icon="ui-icon-disk" value="#{msgs['close']}" update=":cameraScannerDlg"  actionListener="#{receptionBean.closeCameraScanner}" ></p:commandButton>
					
				
						        <br/><br/>
						    </center>
						    </h:form>
				        </h:panelGroup>
				 </p:dialog>  -->
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>