<ui:composition
        template="/WEB-INF/templates/baseTemplate.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:p="http://primefaces.org/ui"
	    xmlns:pe="http://primefaces.org/ui/extensions"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:sec="http://www.springframework.org/security/tags"
        xmlns:util="http://crismasecurity.com/faces/utils/functions">


	<ui:define name="page-head_metas">
		<meta name='viewport' content='width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0' />
	</ui:define>
	 
	<ui:define name="page-title">Sign</ui:define> 

	<ui:define  name="page-content">
        <h:panelGroup id="main_container" layout="block">
		<h:panelGroup id="aa" layout="block" styleClass="page_content_layout_div">
			<h:panelGroup id="bb" layout="block" styleClass="page_title">#{msgs['waiver']}</h:panelGroup>
			<h:panelGroup id="cc" style="padding-left: 10px; padding-right:10px;" layout="block" styleClass="page_content_content">
				<h:form 
					id="form_sign" 
					style="font-size: 150%;">

					<p:outputLabel 
						for="desk" 
						value="#{msgs['desks']} " 
						style="position: relative; top: -8px;"/>
                    <p:selectOneMenu 
                    	id="desk" 
                    	value="#{signBean.selectedDesk}"  
                    	disabled="#{signBean.selectedDesk ne null}" >
                     	<f:selectItems 
                     	value="#{signBean.desks}"/>
                     	<p:ajax event="itemSelect"
							listener="#{signBean.deskChanged()}"
							update="form_sign:sign_panel form_sign:resetDesk">
						</p:ajax>
                    </p:selectOneMenu>

<!--                     
                  	<p:commandButton
						id="resetDesk"
						rendered="#{signBean.haveUserRole('ROLE_ADMIN') or signBean.haveUserRole('ROLE_SUPERVISION')}"
						style="position: relative; top: -8px;"
						disabled="#{signBean.selectedDesk eq null}"
						styleClass="button_classe backbtncls"
						icon="fa fa-fw fa-mail-reply" 
						update="form_sign form_sign:desk"
						actionListener="#{signBean.resetDesk()}">
					</p:commandButton>
 -->					
					<p:commandButton
						id="resetDesk"
						rendered="#{signBean.haveUserRole(navigationBean.getGrantString('sign_management_1'))}"
						style="position: relative; top: -8px;"
						disabled="#{signBean.selectedDesk eq null}"
						styleClass="button_classe backbtncls"
						icon="fa fa-fw fa-mail-reply" 
						update="form_sign form_sign:desk"
						actionListener="#{signBean.resetDesk()}">
					</p:commandButton>
					
					<h:panelGroup 
					id="sign_panel">
					<p:panel id="dd" rendered="#{signBean.selectedDesk ne null}"> 
						<BR />
						<p>
					    	<b>Informativa ai sensi dell’ art. 13 del Regolamento Europeo 2016/679 in materia di protezione dei dati personali.</b> <BR />
					    	<b>Disclosure pursuant to Article 13 of the European Regulation 2016/679 on the protection of personal data.</b>
					    </p> 
					    <BR />
						<p:scrollPanel mode="native" style="font-size: 160%;height:740px;margin:5px; width: -moz-calc(100% - 10px); width: -webkit-calc(100% - 10px);  width: -o-calc(100% - 10px);  width: calc(100% - 10px); max-width: 100% !important;">
						    <p>
						    	Ai sensi dell’art. 13 del Regolamento UE 2016/679 e della normativa privacy vigente Mediaset SpA, Titolare del trattamento, informa che i dati personali da Lei conferiti mediante la compilazione della parte sottostante verranno utilizzati dal Titolare e dalle altre società del Gruppo con o senza l’ausilio di strumenti elettronici e di ogni possibile software, ai fini di: a) garantire la sicurezza delle persone e tutelare il patrimonio aziendale; b) adempiere ad obblighi di legge; c) contestazioni ed eventuali contenziosi. Il fondamento giuridico del trattamento dei dati da parte del Titolare è il legittimo interesse dello stesso. <br /><br /> Il conferimento di tali dati è obbligatorio per le finalità indicate e in caso di mancato conferimento non potranno essere soddisfatte. I dati per la finalità di cui al punto a) verranno conservati per 180 giorni, fatta salva la conservazione degli stessi per un periodo ulteriore nelle ipotesi b) e c). <br /><br /> I trattamenti indicati potranno essere effettuati, per le descritte finalità, anche da persone fisiche o giuridiche che forniscono al titolare specifici servizi e che operano in qualità di Responsabili e/o di persone autorizzate al trattamento. <br /> In qualità di interessato, Le sono, comunque, riconosciuti i diritti di cui agli artt. 15 e seguenti del Regolamento e, in particolare, il diritto di accedere ai Suoi dati personali, conoscerne l’origine, chiederne la rettifica, l'aggiornamento e la cancellazione, la limitazione, la ricezione dei dati personali forniti dal Titolare e/o di chiedere al Titolare la trasmissione diretta ad un altro Titolare del trattamento, nonché di opporsi al loro trattamento per motivi legittimi, rivolgendo le richieste a: segreteriadirezionesicurezza@mediaset.it <br /> Titolare del trattamento ad ogni effetto di legge è Mediaset SpA, con sede legale in Milano, Via Paleocapa n. 3. <BR />Il Data Protection Officer può essere contattato all’indirizzo infoprivacy.dpo@mediaset.it. <br /><br />
						    
						    	<b>Io sottoscritto <h:panelGroup id="spectator"><p:outputLabel rendered="#{signBean.selectedSpectator ne null}" style="font-weight: bold;" value="#{signBean.selectedSpectator.spectator.surname} #{signBean.selectedSpectator.spectator.name}"></p:outputLabel> </h:panelGroup> </b> letta l’informativa che precede, esprimo il consenso al trattamento dei miei dati personali, nei limiti e per le finalità sopra indicate.<br /><br />
						    </p>
						    <center><p>****************************</p></center>
						    <center><p><b>INFORMATIVA PER VISITATORI – Norme generali per la sicurezza</b></p></center>
						    
						    <p>Al fine di prevenire e proteggere la Sua persona da eventuali infortuni, la informiamo, inoltre, che l’accesso al Centro di Produzione implica alcuni rischi e impone particolari divieti.</p>
						    
						    <p> 
						        <b>Principali rischi:</b>
						    </p>
						    
						    <ul><li>Rischio incendio dovuto al mancato rispetto dei divieti di fumo e di uso di fiamme libere</li>
						    	<li>Rischio panico in caso di emergenza dovuto alla non conoscenza e applicazione del piano di emergenza</li>
						    	<li>Rischio cadute a livello o da piccole altezze causate da inciampo</li>
						    	<li>Rischio contusioni al corpo causato dalla presenza di scenografie ed elementi mobili di arredo.</li></ul>
						    
						    <p>
						        <b>Principali divieti:</b>
						    </p>
						    
						    <ul><li>E' vietato fumare nelle aree in cui è espressamente specificato il divieto</li>
						    	<li>E' vietato manomettere e/o danneggiare i dispositivi di protezione e sicurezza e segnaletica in generale</li>
						    	<li>E' vietato utilizzare, manomettere o struggere mezzi e cose di proprietà della nostra società</li>
						    	<li>E' vietato accedere ai quadri elettrici</li></ul>
						    
						    <p>
						        Numeri di emergenza interni:
						    </p>
						    <p>
						        <b>02-2514 8383 --– 02-2514 3100 --- 02-2514 2323</b>
						    </p>
						    <p>
						        Lei dichiara di aver visionato e accettato tutte le disposizioni contenute nella presente informativa e si impegna, inoltre, a prendere visione del Piano di Emergenza e della planimetria delle uscite di sicurezza affissi all’interno degli studi televisivi.
						    </p>
						    
							<BR /><BR />
						
							<hr/>
							
							<BR /><BR />
							
							<!-- INGLESE -->
							
							<p>
						    	Pursuant to Article 13 of the Regulation EU 2016/679 and the privacy law in force, Mediaset SpA, the Data Controller, informs you that the personal data you have provided by filling in the form below will be used by the Data Controller and the other Group companies with or without electronic means and any possible programmes, in order to: a) ensure the safety of persons and protect corporate assets; b) comply with legal obligations; c) handle any claims and disputes. The legal basis for the Data Controller to process your data is the legitimate interest of the latter. <br /><br /> Such data must be mandatorily provided for the purposes above, which cannot be fulfilled if the data are not provided. The data for the purposes stated in point a) will be stored for 180 days; however, they can be filed for a longer period in cases b) and c). <br /><br /> The data may be processed, for the purposes mentioned above, also by natural or legal persons which supply specific services to the Data Controller and which act as Data Processors and/or Persons authorised to process the data.<BR /> As the Data Subject, however, you enjoy the rights set out in Articles 15 et seq. of the Regulation and, specifically, the right to access your personal data, know their origin, request their correction, updating and deletion, the restriction and receipt of personal data provided by the Data Controller and/or ask the Data Controller to transmit them directly to another Data Controller, and to oppose their processing for legitimate reasons, by submitting requests to: segreteriadirezionesicurezza@mediaset.it <BR />The Data Controller for all legal purposes is Mediaset SpA, with registered office in Milano, Via Paleocapa n. 3, Italy.<BR />The Data Protection Officer can be contacted at infoprivacy.dpo@mediaset.it.<BR /><BR />
						    
						    	<b>I, the undersigned <h:panelGroup id="spectator_en"><p:outputLabel rendered="#{signBean.selectedSpectator ne null}" style="font-weight: bold;" value="#{signBean.selectedSpectator.spectator.surname} #{signBean.selectedSpectator.spectator.name}"></p:outputLabel> </h:panelGroup> </b> having read the disclosure above, consent to the processing of my personal data, within the limits and for the purposes indicated above.<br /><br />
						    </p>
						    <center><p>****************************</p></center>
						    
						    <p>Mediaset Group to prevent and protect its guests/visitors from potential injuries wants to inform you of the main residual risks persistent within its working environment and of the main prohibitions.</p>
						    
						    <p>
						        <b>Main residual risks:</b>
						    </p>
						    
						    <ul><li>Risk of fire due to lack of respect for no smoking and no open flames prohibitions.</li>
						    	<li>Risk of panic in case of emergency due to lack of knowledge and application of the emergency plan.</li>
						    	<li>Risk of falling or stumble from steps or stairs.</li>
						    	<li>Risk of impacts and blows to the body due to the presence and movement of equipment, scenic elements and other material.</li></ul>
						    
						    <p>
						        <b>Main ban/prohibitions:</b>
						    </p>
						    
						    <ul><li>Smoking is forbidden except for the external smoking areas.</li>
						    	<li>It is forbidden to damage / tamper with security and protection signal devices.</li>
						    	<li>It is forbidden to use, to damage or destroy belongings of Mediaset Group.</li>
						    	<li>Access to electric panels is forbidden.</li></ul>
						    
						    <p>
						        Internal emergency numbers:
						    </p>
						    <p>
						        <b>02-2514 8383 --– 02-2514 3100 --- 02-2514 2323</b>
						    </p>
						    <p>
						        The undersigned declares he/she has viewed and accepted all the dispositions contained in this document and commits to preview the emergency plan and the layout of the security exits in case of emergency displayed inside at the TV studios.
						    </p>
							
							
							
							
							
							
							
							
							
							
						</p:scrollPanel>
						
						<p:poll interval="2" update=":form_sign:spectator :form_sign:spectator_en" />
						
					
						<BR /><BR />
						<center>
							<h:panelGroup layout="block" id="ff">
								<p:signature id="ee" style="width:1000px;height:400px" widgetVar="sig" value="#{signBean.signValue}" required="true" guideline="true"/>
			
								<h:panelGroup 
									layout="block"  
									style="margin-top:20px;margin-bottom:10px;" 
									rendered="#{signBean.haveUserRole(navigationBean.getGrantString('sign_management_1'))}">
							        <p:commandButton style="font-size: 160% !important;" value="#{msgs['confirm']}" id="save_sign_btn" icon="fa fa-fw fa-check" actionListener="#{signBean.sendSign}" oncomplete="PF('sig').clear()"/>
							        <p:commandButton style="font-size: 160% !important;" value="#{msgs['clear']}" id="clear_sign_btn" icon="fa fa-fw fa-eraser" type="button" onclick="PF('sig').clear()"/>
							    </h:panelGroup>
						   	</h:panelGroup>
						   	<p:blockUI block=":form_sign:ff" trigger=":form_sign:save_sign_btn" >
						    	Attendere...<br />
						    </p:blockUI>
					    </center>
				    </p:panel>
				    </h:panelGroup>
        		</h:form>
   			</h:panelGroup>
   			
   			
   			
   			<script>
	   			
	   			window.addEventListener("load",function(event) {
	   				PF('layout_elemento').toggle('west');
	   			},false);
	   			
   			</script>
   			
   			
   			
   			
   			
		</h:panelGroup>
		</h:panelGroup>
	</ui:define>
</ui:composition>
