body {
	font-family: "Montserrat", sans-serif;
	width: 100% !important
}

body .ui-layout-north {
	background-image: url('../resources/images/Med_10_blu_Cyan_blue.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100px !important;
}

#tabview form .ui-panelgrid-content{
	font-size: 15px !important;
}

#tabview form .ui-panelgrid-content .ui-fieldset-content .ui-selectonemenu,
#tabview form .ui-panelgrid-content .ui-fieldset-content input.ui-inputfield{
	margin-bottom: 25px;
}

/*
.ui-autocomplete-panel{
    height: 500px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    top: 105px !important;
    width: 500px !important;
}*/

/** Calendar prodution **/
#form_calendarProduction button.editbtn {
	border: none;
}

#form_calendarProduction button.editbtn .ui-button-text,
	#form_calendarProduction button.editbtn .ui-icon {
	color: #0177c1;
	background-color: white !important;
}

#calendarContainer .calendartreetablecls,
	#calendarSpectatorEpisodeContainer .ui-layout-pane-west {
	/*width: 330px !important;*/
	left: 5px !important;
	right: 5px !important;
}

#calendarContainer .calendartreetablecls .ui-treetable-scrollable .ui-widget-header,
	#calendarSpectatorEpisodeContainer .leftfilterscls .ui-widget-header {
	background: #0177c1;
	color: white;
	font-weight: 100;
	font-size: 14px;
}

#calendarSpectatorEpisodeContainer .leftfilterscls .agencyfiltercls {
	margin-top: 20px;
	text-align: left;
	margin-left: 5px;
}

#calendarSpectatorEpisodeContainer .leftfilterscls .productionfiltercls
	{
	text-align: left;
	margin-left: 5px;
}

#calendarSpectatorEpisodeContainer .leftfilterscls .legendcls {
	margin-left: 5px;
}

#calendarContainer .calendartreetablecls .ui-treetable-scrollable-header-box table thead th
	{
	background: #0177c1;
}

#calendarContainer .calendartreetablecls  table  tbody .fa-search {
	text-decoration: none;
	border: none !important;
	font-size: 15px;
	color: #0177c1;
}

#calendarContainer .calendartreetablecls  table  tbody .fa-search:focus
	{
	color: #0177c1;
	outline: none;
}

#layout_elemento_centro .calendartreetablecls .ui-layout-unit-content {
	margin-left: 0px;
}

#calendarContainer .calendarschedulecls .fc-toolbar .fc-button-group .fc-prev-button,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-button-group .fc-next-button,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-today-button,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-button-group .fc-prev-button,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-button-group .fc-next-button,
	#calendarSpectatorEpisodeContainer  .calendarschedulecls .fc-toolbar .fc-today-button
	{
	background: none;
	border: none;
}

#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-month-button,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaWeek-button,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaDay-button,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-right .fc-month-button,
	#calendarSpectatorEpisodeContainer  .calendarschedulecls .fc-toolbar .fc-right .fc-agendaWeek-button,
	#calendarSpectatorEpisodeContainer  .calendarschedulecls .fc-toolbar .fc-right .fc-agendaDay-button
	{
	background: none;
	color: #0177c1;
	border: none;
}

#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-month-button:hover,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaWeek-button:hover,
	#calendarContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaDay-button:hover,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-right .fc-month-button:hover,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaWeek-button:hover,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-right .fc-agendaDay-button:hover
	{
	color: black;
}

#calendarSpectatorEpisodeContainer .ui-layout-center .ui-layout-unit-content{
	overflow: hidden !important;
}

#calendarContainer .calendarschedulecls .fc-toolbar .fc-center h2,
	#calendarSpectatorEpisodeContainer .calendarschedulecls .fc-toolbar .fc-center h2
	{
	color: #0177c1;
}
/** end Calendar prodution **/

/**productions**/
button.addbtncls span.fa-plus-circle,
button.clearbtncls span.fa-share,
button.backbtncls span.fa-mail-reply{
	color: #0177c1;
}

.ui-dialog button.confirmbtncls,
.ui-dialog button.cancelbtncls{
	border: 1px solid #0177c1 !important;
	outline: none !important;
}

button.addbtncls,
button.clearbtncls,
button.backbtncls {
	background: none !important;
	border: none !important;
}

button.addbtncls span.fa-plus-circle+span.ui-button-text, 
button.clearbtncls span.fa-share+span.ui-button-text,
button.backbtncls span.fa-mail-reply+span.ui-button-text,
button.confirmbtncls span.fa-check+span.ui-button-text{
	color: #0177c1 !important;
}

.ui-paginator-rpp-options {
	background: none !important;
	color: #0177c1 !important;
	font-weight: bold !important;
	border: none !important;
	outline: none !important;
	margin-top: 8px !important;
}

table tbody .editbtncls,
table tbody .deletebtncls,
table tbody .updatebtncls{
	 border: none !important;
	 text-decoration: none !important;
	 color: #0177c1 !important;
}

button.savebtncls,
button.cancelbtncls,
button.updatebtncls,
button.qrcodebtncls,
button.searchbtncls,
button.confirmbtncls{
	 border: none !important;
	 background: none !important;
	 text-decoration: none !important;
	 color: #0077c0 !important;	
}

button.savebtncls .ui-button-text,
 button.cancelbtncls .ui-button-text,
 button.updatebtncls .ui-button-text,
 button.qrcodebtncls .ui-button-text,
 button.searchbtncls .ui-button-text,
 button.confirmbtncls .ui-button-text{
	color: #0077c0 !important;
}

.layouteditcls .ui-toolbar{
	background: none !important;
	border: none !important;
}

.layouteditcls .ui-panel{
	border: none;
}

#form_employees .percentpresencecls{
}


.layouteditcls #tabview{
	border: none !important;
}

.layouteditcls #tabview .ui-tabs-panel{
	border: 1px solid #c5c5c5; 
}
.layouteditcls #tabview .ui-tabs-nav{
	text-align: left !important;
	background: none !important;
	padding-left: 0px !important;
}

.layouteditcls #tabview .ui-tabs-nav li{
	background: #0177c1;
}

.layouteditcls .ui-layout-pane-west,
.layouteditcls .ui-layout-pane-center{
	border: none !important;

}

.layouteditcls .ui-layout-pane-west .ui-layout-unit-content{
	overflow: initial !important;
}

.layouteditcls .ui-layout-pane-west .ui-layout-unit-content .ui-toolbar-group-left .ui-outputlabel,
#layout_elemento_centro .layouteditcls .ui-toolbar .ui-outputlabel{
	color: #0177c1 !important;
}

 .layouteditcls .ui-layout-pane-west .ui-layout-unit-content .ui-toolbar{
	 width: 600px !important;
 }

.layouteditcls .ui-layout-pane-center{
	top: 50px !important;
	background: none !important;
}

.layouteditcls .ui-layout-pane-center .ui-layout-unit-content{
	margin-left: 0px;
}

.layouteditcls .ui-layout-pane-west #layout_internal_center{
	background: none !important;
}

#layout_elemento_centro  .ui-dialog-titlebar{
	background: #0177c1 !important;
	color: white !important;
}

.receptionspectatorlistpanelcls .ui-panel-titlebar{
	background: #c1c1c1;
}

.receptionspectatorlistpanelcls .ui-panel-titlebar .ui-panel-title{
	color: white;
	font-weight: 100;
}

.receptionepisodedetailscls td,
.episodestatisticscls td{
	border-right: 3px solid #9a9a9a !important; 
}

.receptionepisodedetailscls td:last-child{
	border-right: none !important; 
}

.statisticsls{
	margin-top: -7px !important;
}
.statisticsls table{
	border-collapse: collapse !important;
}

#slideoutContact {
	border-color: #0077c0 !important;
}

#slideoutContact #slideoutContact_handle {
	right: 10px !important;
	bottom: -70px !important;
	background-color: transparent !important;
}

#slideoutContact.ui-slideouttab-open #slideoutContact_handle {
	bottom: -40px !important;
	background-color: #0077c0 !important;
}

.logoandmenubtncls {
	margin-left: 10px;
	margin-top: 30px;
}

#form_spectatorEpisode .spEpContainerCls tr {
	width: 400px;
	display: inline-block;
	float: left;
}

.ui-selectonemenu-items-wrapper {
	font-size: 16px;
}

.menulegendcalendarcls span.ui-menuitem-text {
	color: black;
}
/* nuovo / aperto*/
.ui-selectonemenu-item .ui-theme-episodestatustype-1:before {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 15px;
	content: "\f008";
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-event-container .backgrdep_1,
	form#calendarContainer .fc-content-skeleton .fc-event-container .backgrdep_1
	{
	background: green;
}

/* in lavorazione */
.ui-selectonemenu-item .ui-theme-episodestatustype-2:before {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 15px;
	content: "\f044";
}

#calendarSpectatorEpisodeContainer .layoutcalendarcls{
	overflow: hidden !important;
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-event-container .backgrdep_2,
	form#calendarContainer .fc-content-skeleton .fc-event-container .backgrdep_2
	{
	background: orange;
}

/* completa */
.ui-selectonemenu-item .ui-theme-episodestatustype-3:before {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 15px;
	content: "\f05e";
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-event-container .backgrdep_3,
	form#calendarContainer .fc-content-skeleton .fc-event-container .backgrdep_3
	{
	background: blue;
}

/* approvato */
.ui-selectonemenu-item .ui-theme-episodestatustype-4:before {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 15px;
	content: "\f058";
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-event-container .backgrdep_4,
	form#calendarContainer .fc-content-skeleton .fc-event-container .backgrdep_4
	{
	background: yellow;
	color: black;
}

/* terminato */
.ui-selectonemenu-item .ui-theme-episodestatustype-5:before {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 15px;
	content: "\f057";
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-event-container .backgrdep_5,
	form#calendarContainer .fc-content-skeleton .fc-event-container .backgrdep_5
	{
	background: red;
}

form#calendarSpectatorEpisodeContainer .fc-content-skeleton .fc-day-grid-event .fc-content,
	form#calendarContainer .fc-content-skeleton .fc-day-grid-event .fc-content
	{
	font-size: 16px;
}

form#calendarSpectatorEpisodeContainer .ui-layout-west {
	font-size: 16px;
}

form#calendarSpectatorEpisodeContainer .ui-layout-west .ui-selectonemenu
	{
	min-width: 250px !important;
}

form#calendarSpectatorEpisodeContainer .ui-layout-west .ui-inputfield {
	padding-right: 0px;
	padding-left: 4px;
}

.ui-layout-unit .ui-layout-unit-content {
	background: transparent;
	padding-top: 0px !important;
}

#form_spectatorEpisode table.selectspectcls {
	margin-top: 20px;
}

#form_spectatorEpisode table.selectspectcls span.ui-autocomplete input {
	width: 290px;
}

.ui-autocomplete-panel .ui-autocomplete-table {
	font-size: 16px;
}

#form_spectatorEpisode table.selectspectcls tr:nth-child(2),
	#form_spectatorEpisode table.selectspectcls tr:nth-child(3) {
	display: inline-block;
}

#form_spectatorEpisode .ui-selectonemenu {
	min-width: 300px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-size: 16px !important;
}

#form_spectatorEpisode .ui-selectonemenu label.ui-inputfield {
	padding-right: 0px;
	padding-left: 4px;
}

#pannello_menu {
	background-image: url('../resources/images/backgrd_sidebar.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 18% !important;
	padding-left: 0px;
	padding-right: 0px;
	border-right: none;
	border-top: none;
	top: 105px !important;
}

#pannello_menu .ui-widget-content {
	background: transparent;
}

#pannello_menu .ui-layout-unit-content {
	height: auto !important;
	padding: 0px !important;
	overflow: hidden;
}

#pannello_menu .ui-accordion-header {
	color: white;
	font-weight: 100;
	font-size: 14px;
	background: transparent;
}

#pannello_menu .ui-accordion .ui-accordion-header .ui-icon {
	background-image:
		url(/MediasetStudios/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-anywall)
		!important;
}

/*
#pannello_menu .ui-accordion .ui-accordion-header .ui-icon{
	right: .5em !important;
	left: auto !important;
	background-position: -96px -16px ;
}

#pannello_menu .ui-accordion .ui-accordion-header:hover .ui-icon,
#pannello_menu .ui-accordion .ui-accordion-header:focus .ui-icon{
	background-position: -65px -16px !important;
}
*/
#pannello_menu .ui-accordion-header:hover, #pannello_menu .ui-accordion-header:focus
	{
	color: white;
	font-size: 16px;
	font-weight: bold;
}

body  #layout_elemento_centro.baseTemplateSingleRowCls {
	top: 0px !important;
}

#layout_elemento_centro {
	width: auto !important;
	left: 288px;
	top: 105px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#layout_elemento_centro .ui-layout-unit-content {
	margin-left: -6px;
}

#layout_elemento_centro .page_content_layout_div .page_title,
#layout_elemento_centro .detailscls {
	border: none;
	width: 99.9%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#layout_elemento_centro .layouteditcls{
	overflow: hidden !important;
}

#layout_elemento_centro .loginPanelCls {
	background-image:
		url('../resources/images/login/background_home_mediaset.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#layout_elemento_centro .loginPanelCls #login_form .ui-button {
	background: #0077c0;
	border: none;
}

#layout_elemento_centro .ui-dialog-content .ui-panelgrid {
	font-size: 16px;
}

#layout_elemento_centro .ui-dialog-content input,
	#layout_elemento_centro .ui-dialog-content .ui-selectonemenu {
	margin-bottom: 20px;
}

#layout_elemento_centro .ui-dialog-content .ui-selectonemenu .ui-selectonemenu-trigger
	{
	width: 32px;
}

#layout_elemento_centro .ui-widget-header {
	font-size: 16px;
	text-align: center;
}

#layout_elemento_centro .ui-datatable-tablewrapper thead th {
	background: #0077c0;
	color: black;
	font-weight: 700;
	font-size: 16px;
	outline: none;
}

#layout_elemento_centro .ui-datatable-tablewrapper thead th::first-letter,
	#layout_elemento_centro .ui-datatable-tablewrapper thead th span::first-letter
	{
	text-transform: uppercase;
}

#layout_elemento_centro .ui-datatable-tablewrapper tbody tr:hover {
	background-color: #eaeaea;
}

#login_form	label.ui-widget {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

#login_form {
	font-size: 16px;
}

.ui-selectonemenu {
	background: white !important;
	color: black;
}

.ui-selectonemenu-trigger {
	background: none !important
}

#login_form .ui-selectonemenu-label {
	background: white;
	color: black !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	color: white;
	background: #0177c1;
	/**background: #0177c11a;**/ 
	/**background:  #0177c1;**/
}



.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled,
.ui-state-disabled:hover, .ui-widget-content .ui-state-disabled:hover, .ui-widget-header .ui-state-disabled:hover {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-state-disabled {
	color: black !important;
}

.ui-accordion .ui-accordion-header {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	outline: none;
	line-height: 30px !important;
	border: none;
}

.ui-accordion .ui-accordion-header:hover {
	color: #ff0065;
}

#layout_elemento_centro label {
	color: black;
}

#layout_elemento_centro label.ui-inputfield {
	background: #eaeaea;
	padding-right: 0px;
	padding-left: 0px;
}

#layout_elemento_centro .ui-selectonemenu .ui-selectonemenu-trigger {
	width: 22px;
}

#form_spectatorEpisode table {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}

#form_spectatorEpisode table tbody.ui-datatable-data td {
	text-align: center;
}

.ui-accordion .ui-accordion-content {
	padding: 0px !important;
	overflow: hidden !important;
}

#pannello_menu .ui-accordion-content .ui-button {
	border: none;
	min-width: 100%;
	max-width: 100%;
	background: white;
	color: #0077c0;
}

#pannello_menu .ui-accordion-content .ui-button .ui-button-text {
	color: #0077c0;
}

#pannello_menu .ui-accordion-content .ui-button:hover .ui-button-text {
	color: #0177c1;
}

.ui-accordion-content .ui-button {
	min-height: 40px;
	max-height: 40px;
	min-width: 173px;
	max-width: 173px;
	color: #0177c1;
	background: white;
	outline: none;
}

.ui-accordion-content .ui-button .ui-button-text {
	margin-left: 15px;
	margin-top: 10px;
	color: #0177c1;
	/* font-size: 13px !important; */ 
	font-size: 13px;
}

.ui-accordion-content span.ui-button-icon-left {
	margin-left: 0px;
}

#pannello_menu .ui-accordion-content  .ui-button:hover {
	color: white;
	border-left: 3px solid white;
}

.ui-accordion-content  .ui-button:hover span {
	color: #0177c1;
}

div.page_title {
	color: white;
	font-family: "Montserrat", sans-serif;
	background: #0177c1;
	font-size: 15px;
	font-weight: 400;
}

.ui-button .ui-button-text {
	color: white;
}

#layout_elemento_centro input.ui-inputfield {
	background: white;
	color: black;
}

.ui-datatable .ui-column-filter {
	width: 90% !important;
}

.page_content_layout_div button, .ui-layout-unit-content .ui-toolbar-group-left button
	{
	font-size: 15px !important;
	outline: none;
}

.page_content_layout_div button:hover {
	opacity: 0.8;
}

#layout_internal_center #form_edit .ui-panelgrid-cell {
	width: 100%;
}

#layout_internal_center #form_edit .ui-fieldset  input {
	margin-top: 7px;
}

#layout_internal_center #form_edit .ui-fieldset  input,
	#layout_internal_center #form_edit .ui-fieldset .ui-selectonemenu {
	margin-bottom: 25px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

#layout_internal_center #form_edit .ui-fieldset label {
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
}

#layout_elemento_centro .ui-panel, #layout_elemento_centro .ui-panel  .ui-panel-content
	{
	padding-left: 0px;
	padding-right: 0px;
}

#layout_elemento_centro #form_edit_spEp {
	font-size: 13px;
}

#layout_elemento_centro #form_edit_spEp input.ui-inputfield,
	#layout_elemento_centro #form_edit_spEp .ui-selectonemenu {
	margin-bottom: 10px;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
}


#layout_elemento_centro .ui-toolbar label.ui-outputlabel {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

#layout_elemento_centro  form span.ui-column-title {
	font-size: 12px;
	font-family: "Montserrat", sans-serif;
	color: white;
	font-weight: 100;
}

#layout_elemento_centro  form .ui-datatable tbody td {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
}

#layout_elemento_centro  form .ui-datatable tbody td a::before {
	font-size: 18px;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	color: #0177c1
}




/** datatable customization**/
body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer
	{
	background-color: #f4f4f4;
	border: 1px solid #c8c8c8;
	color: #333333;
	padding: 0.571em 1em;
	border-bottom: 0 none;
	font-weight: 700;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}

body .ui-datatable .ui-paginator {
	padding: 0;
	font-size: 15px;
}

body .ui-datatable .ui-datatable-data td {
	text-align: center;
}

body .ui-datatable .ui-paginator.ui-paginator-top {
	border-bottom: 0 none;
}

body .ui-datatable .ui-paginator.ui-paginator-bottom {
	border-top: 0 none;
}

body .ui-datatable thead th {
	background-color: #ffffff;
	border: 1px solid #c8c8c8;
	color: #333333;
	padding: 0.429em 0.857em;
}

body .ui-datatable thead th * {
	font-weight: 400;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 700;
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-carat-2-n-s
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-carat-2-n-s:before
	{
	content: "";
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-triangle-1-n
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-triangle-1-n:before
	{
	content: "";
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-triangle-1-s
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-triangle-1-s:before
	{
	content: "";
}

/*
body .ui-datatable thead th.ui-state-hover {
	background-color: #eaeaea;
	color: #333333;
}
*/

body .ui-datatable thead th.ui-state-active {
	background-color: #007ad9;
	color: #ffffff;
}

body .ui-datatable .ui-datatable-data>tr {
	background-color: #ffffff;
	color: #333333;
	border: 1px solid #c8c8c8;
}

body .ui-datatable .ui-datatable-data>tr>td {
	padding: 0.429em 0.857em;
	border: inherit;
}

body .ui-datatable .ui-datatable-data>tr.ui-datatable-even {
	background-color: #f9f9f9;
}

body .ui-datatable .ui-datatable-data>tr.ui-state-hover {
	border: 1px solid #c8c8c8;
	background-color: #eaeaea;
	color: #333333;
}

body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
	border: 1px solid #c8c8c8;
	background-color: #007ad9;
	color: #ffffff;
	cursor: default;
}

body .ui-datatable .ui-datatable-data>tr.ui-datatable-selectable {
	cursor: pointer;
}

body .ui-datatable .ui-datatable-data>tr.ui-rowgroup-header, body .ui-datatable .ui-datatable-data>tr.ui-datatable-summaryrow
	{
	font-weight: 700;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor>a {
	width: 1em;
	height: 1em;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor>a.ui-row-editor-check
	{
	margin-right: 0.429em;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon {
	color: #737373;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-pencil
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-pencil:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-check
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
	margin-right: 0.429em;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-check:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-close
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-close:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon:hover {
	color: #333333;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler {
	color: #737373;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-e
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-e:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-s
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler.ui-icon-circle-triangle-s:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-row-toggler:hover {
	color: #333333;
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon
	{
	color: #737373;
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon:hover
	{
	color: #333333;
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon.ui-icon-circle-triangle-e
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon.ui-icon-circle-triangle-e:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon.ui-icon-circle-triangle-s
	{
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	font-size: 16px;
}

body .ui-datatable .ui-datatable-data>tr .ui-rowgroup-toggler .ui-rowgroup-toggler-icon.ui-icon-circle-triangle-s:before
	{
	content: "";
}

body .ui-datatable .ui-datatable-data>tr.ui-datatable-rowordering {
	background-color: #007ad9;
}

body .ui-datatable .ui-column-resizer-helper {
	background-color: #007ad9;
}

body .ui-datatable tfoot td {
	background-color: #ffffff;
	border: 1px solid #c8c8c8;
	color: #333333;
	padding: 0.429em 0.857em;
	font-weight: 700;
}

body .ui-datatable>.ui-icon-arrowthick-1-s {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	display: none !important;
}

body .ui-datatable>.ui-icon-arrowthick-1-s:before {
	content: "";
}

body .ui-datatable>.ui-icon-arrowthick-1-n {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
}

body .ui-datatable>.ui-icon-arrowthick-1-n:before {
	content: "";
}

body .ui-datatable .ui-datatable-scrollable-body {
	outline: 0 none;
}

body .ui-datatable .ui-datatable-scrollable-body::-webkit-scrollbar {
	-webkit-appearance: none;
	width: auto;
	background-color: #f8f8f8;
}

body .ui-datatable .ui-datatable-scrollable-body::-webkit-scrollbar-thumb
	{
	border-radius: 0;
	border: 0 none;
	background-color: #dadada;
}

body .ui-datatable .ui-datatable-scrollable-header, body .ui-datatable .ui-datatable-scrollable-footer
	{
	background-color: #ffffff;
}

body .ui-datatable .ui-selection-column .ui-chkbox-all {
	width: auto;
	height: auto;
}

@media ( max-width : 640px) {
	body .ui-datatable-reflow .ui-datatable-data tr:hover, body .ui-datatable-reflow .ui-datatable-data tr.ui-state-highlight
		{
		border-left: 0 none;
		border-right: 0 none;
	}
}

/**paginator**/
body .ui-paginator {
	background-color: #ffffff;
	border: 1px solid #c8c8c8;
	padding: 0;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev,
	body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last
	{
	color: #737373;
	width: 2.286em;
	height: 2.286em;
	margin: 0;
	border: 0 none;
	vertical-align: top;
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body .ui-paginator .ui-paginator-first span, body .ui-paginator .ui-paginator-prev span,
	body .ui-paginator .ui-paginator-next span, body .ui-paginator .ui-paginator-last span
	{
	display: none;
}

body .ui-paginator .ui-paginator-first.ui-state-hover, body .ui-paginator .ui-paginator-prev.ui-state-hover,
	body .ui-paginator .ui-paginator-next.ui-state-hover, body .ui-paginator .ui-paginator-last.ui-state-hover
	{
	background-color: #eaeaea;
	color: #333333;
}

body .ui-paginator .ui-paginator-first:before, body .ui-paginator .ui-paginator-prev:before,
	body .ui-paginator .ui-paginator-next:before, body .ui-paginator .ui-paginator-last:before
	{
	position: relative;
	line-height: inherit;
}

body .ui-paginator .ui-paginator-first {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	line-height: 2.286em;
}

body .ui-paginator .ui-paginator-first:before {
	content: "\f04a";
}

body .ui-paginator .ui-paginator-first:before {
	position: relative;
}

body .ui-paginator .ui-paginator-prev {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	line-height: 2.286em;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

body .ui-paginator .ui-paginator-prev:before {
	/*content: "\f0d9";*/
	content: url(../resources/images/pager_prev_icon.png);
	float: left;
	transform: rotate(180deg);
	right: -10px;
	top: -2px;
}

body .ui-paginator .ui-paginator-prev:before {
	position: relative;
}

body .ui-paginator .ui-paginator-next {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	line-height: 2.286em;
}

body .ui-paginator .ui-paginator-next:before {
	/* content: "\f0da"; */
	content: url(../resources/images/pager_next_icon.png);
	float: right;
	right: 10px;
	top: 2px;
}

body .ui-paginator .ui-paginator-next:before {
	position: relative;
}

body .ui-paginator .ui-paginator-last {
	background: none;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0px !important;
	text-align: center;
	line-height: 2.286em;
}

body .ui-paginator .ui-paginator-last:before {
	content: "\f04e";
}

body .ui-paginator .ui-paginator-last:before {
	position: relative;
}

body .ui-paginator .ui-paginator-current {
	color: #737373;
}

body .ui-paginator .ui-paginator-pages {
	padding: 0;
	vertical-align: top;
	display: inline-block;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
	padding: 0;
	border: 0 none;
	text-align: center;
	line-height: 2.286em;
	min-width: 2.286em;
	height: 2.286em;
	color: #737373;
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-default
	{
	background-color: transparent;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active
	{
	background-color: #007ad9;
	color: #ffffff;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover
	{
	background-color: #eaeaea;
	color: #333333;
}

body .ui-paginator .ui-paginator-current, body .ui-paginator .ui-paginator-rpp-options
	{
	margin: 0.429em;
	display: inline-block;
	vertical-align: middle;
}

#form_main\:spectator_table div.ui-chkbox.ui-chkbox-all.ui-widget {
    display: none;
}

.prececkin_color {
	background-color: #0177c180 !important;
}


