
@media (max-width: 768px) {
	div.functionsButtons button span  {
		line-height: 0; 
    	font-size: 0;
    	color: transparent; 
	}
	div.functionsButtons button {
	    min-width: auto;
	}
	div.functionsButtons button > span {
		margin-left: 0 !important;
	}
}

@media (max-width: 1000px) {
	th.class_service_price, td.class_service_price, th.class_service_type, td.class_service_type{
		display: none;
	}
	th.class_good_price, td.class_good_price, th.class_good_type, td.class_good_type{
		display: none;
	}
}

@media (max-width: 800px) {
	th.class_service_price, td.class_service_price, th.class_service_type, td.class_service_type, th.class_service_date, td.class_service_date {
		display: none;
	}
	th.class_good_price, td.class_good_price, th.class_good_type, td.class_good_type, th.class_good_date, td.class_good_date {
		display: none;
	}
}	
@media (max-width: 400px) {
	th.class_service_price, td.class_service_price, th.class_service_type, td.class_service_type, th.class_service_date, td.class_service_date, th.class_service_qty, td.class_service_qty {
		display: none;
	}
	th.class_good_price, td.class_good_price, th.class_good_type, td.class_good_type, th.class_good_date, td.class_good_date, th.class_good_qty, td.class_good_qty {
		display: none;
	}
}











/**** Dopo primefaces ***/
@media (max-width: 1000px) {
	.ui-aladino_menu-button span.ui-button-text{
		/*display: none;*/
		font-size: 80% !important;
		
	}
	.ui-aladino_menu-button {
		min-width: 36px;
		max-width: 36px;
		min-height: 36px;
		max-height: 36px;
	}
}

@media (max-width: 768px) {
	body {
  		font-size: 110%;
  	}
}


