html {
  
}


body {
  -webkit-overflow-scrolling: touch;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin:0px;
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  
}

span.welcome {
    margin-right: 20px;
}


.art-logo {
	text-align: center;
}
.art-logo a {
	text-decoration: none;
	font-weight: bold;
    font-size: 115%;
    font-size: 24px;
    color: #2e4488;
}


.activeViewerDropStyle {
	border: 1px solid green !important;
}
.hoverViewerDropStyle {
	border: 1px solid red !important;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.activeTrashcanDropStyle {
	border: 1px solid green !important;
}
.hoverTrashcanDropStyle {
	border: 1px solid red !important;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */ 
}




div.ui-accordion-content{
	padding-left: 0.2em !important;
	padding-right: 0.2em !important;
}


div.imageButton button, a.imageButton {
	/* background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; */
    border: medium none !important;
    padding: 0 !important;
    float: right;
}






tr.group-header {
	font-weight: bold !important;
	font-size: 90%;
}
.sourcesList, .sourcesList td {
	border: none !important;
}

.filtroSitiPerSource > span, .filtroSitiPerSource > span > div {
    width: 98% !important;
}

.if-tree {
	width: 99%;
}

.singolViewer div.ui-panel-content {
    height: 100%;
    padding: 0;
    position: relative;
    top: -28px;
}
.imgBackgroundViewer {
    height: 100%;
    width: 100% !important;
    z-index: -999;
}


div.accordionSourceMenu h3 {
	background-color: rgba(83, 167, 204, 0.3) !important;
    font-size: 80%;
    font-weight: bolder !important;
    height: 20px;
}

div.accordionSourceMenu, div.accordionSourceMenu div.ui-accordion {
    height: 99%;
}

div.accordionSourceMenu h3.ui-state-active {
	background-color: rgba(83, 167, 204, 0.8) !important;
    font-size: 80%;
    font-weight: bolder !important;
    height: 20px;
}

div.sourcesList tr.group-header {
	background-color: transparent !important;
    border: medium none !important;
    border-bottom: 2px solid gray !important;
}

div.sourcesList tr.group-header td span {
    color: black;
}

div.sourcesList tbody { 
    border: medium none !important;
}
div.accordionSourceMenu div.ui-accordion-content {
    padding-top: 5px !important;
}
div.accordionSourceMenu div.ui-accordion-content span.ui-widget-content {
    border: 0px !important;
}




#form_menu\:sources_content {
    height: 88%;
}
#form_menu\:sourcesFilter, #form_menu\:sourcesTree{
    height: 100% !important;
}

 
div.singleLayout div.ui-panel-content, div.singleSource div.ui-panel-content, div.singleSite div.ui-panel-content, div.singleVideowall div.ui-panel-content {
    padding: 0.4em 0;
    text-align: left;
    font-size: 90%;
}
div.buttons {
	position: absolute;
    z-index: 9999;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.6);
    right: 3px;
    margin-top: 3px;
}
.singleSource a, .singleVideowall a, .singleSite a {
    display: block;
    height: 20px;
    top: 4px;
}

/***** Sources Tree ***/
table.if-node-cnt, div.if-node-wrp {
    width: 99%;
}
td.if-node-sub td.if-node-sw div.if-node-ln {
    width: 0;
}
.if-node-sw {
    width: 0 !important;
}
.if-node-wrp {
	padding: 0;
}
div.ace-stackpane div.ui-panel-content.ui-widget-content {
    padding: 0;
}
.if-node-sw > div.if-node-ln > img {
    height: 1px;
    left: -14px;
    margin-left: 3px;
    position: absolute;
    top: 50%;
    width: 15px;
}
.if-tree table.if-node-cnt {
    margin: 1px 0 !important;
}
td.if-node {
    padding: 0;
}
/*******************************************/

div#form_videowalls_tabs:videowall {
	padding-top: 10px;
}

div.singolViewer div.ui-panel-content {
	background-color: lightgray;
}
div.layoutDivContentSingleViewer {
	/*position: absolute;
	bottom: 5px;*/
	text-align: center;
	/*height: 100%;*/
	width: 100%;
	border: 0 !important;
	padding: 0;
}
div.layoutDivContentSingleViewer div.ui-panel-content {
	position: relative; 
    top: 0px;
}



/*******    HELP *****************/
.helpvideowall {
    background-image: url('../resources/images/decoration/help/videowallhelp.png');
    background-repeat: no-repeat;
}
.helpsouces {
    background-image: url('../resources/images/decoration/help/souceshelp.png');
 	background-repeat: no-repeat;
}

.helptxtbox {
 min-height: 300px;
    padding-left: 30%;
    padding-top: 10%;
    position: relative;
    font-size: 130%;
 	padding-right: 5%;
 	color: #252525;
}

.helpsites {
    background-image: url('../resources/images/decoration/help/siteshelp.png');
 	background-repeat: no-repeat;
}
/*********************************/


.trashcanStyle {
	display: inline-block;
    width: 98%;
    background-color: #333333;
    
    
    position: absolute;
    bottom: 2px;
    left: 4px;
    width: 20vw;
}
div.trashcanStyle div.ui-panel-content {
	padding: 5px 0;
	text-align: center;
}

#form_menu\:contenitore_layouts {
	border: none;
}
#form_menu\:contenitore_layouts_content {
	padding: 0;
}
#form_menu\:sources_tree {
    border: medium none;
}
div.siteSource div.ui-panel-content {
    text-align: center;
}

span.ui-panel-titlebar-icons.header-text-right {
	cursor: pointer;
}


div.page_div_content div.ui-panel-titlebar {
    background-color: #333333 !important;
    border-radius: 0;
}
div.page_div_content {
	border-radius: 0;
	width: 99%;
	height: 99%;
	margin: 0 auto;
	display: table;
	padding: 0;
}
div.page_div_content span.ui-panel-title {
    color: #fff;
    text-shadow: 0 0 0 !important;
}
div.page_title {
	line-height: 22px;
	width: 99.7%;
	color: #ddb321;
	border: 1px solid #666666;
	margin-bottom: 8px;
	background: #333333 ;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 0;
	font-size: 120%;
}
div.page_content_layout_div {
	/*display: table-cell;*/
	height: 100%;
	vertical-align: top;
	width: 100%;
}
.service_drop {
	border: 2px solid green !important;
	/*background: #F0E68C !important;*/
}
.service_drop_hover {
	border: 2px solid red !important;
	/*background: #F0E68C !important;*/
}
.serviceImageStyle {
	width: 25%;
	max-width: 50px;
	min-width: 25px;
}
#form_services\:myservices_content, #form_services\:avl_services_content {
	padding: 0.5em 0em;
}
.ui-datatable-scrollable .ui-datatable-scrollable-header table, .ui-datatable-scrollable .ui-datatable-scrollable-footer table {
	width: 100% !important;
}
div.imageButton span button {
	margin: 0 !important;
	background: none !important;
	border: 0 !important;
}

#form_services\:servicesList table tbody tr td {
	padding: 1px 6px !important;
	border-color: lightgray;
	border-left: 0px;
	border-right: 0px;
}

#form_services\:myservices table tbody tr td {
	padding: 10px 6px !important;
	border-color: lightgray;
	border-left: 0px;
	border-right: 0px;
}
#form_services\:availableServices, #form_services\:guestsRequests {
	padding: 0 !important;
}
#form_services\:servicesTabSet_nav {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0;
	border-bottom: 1px solid #dddddd;
	background: transparent;
}
.ui-datatable thead .ui-sortable-column-icon .ui-icon-triangle-1-s, .ui-datatable thead .ui-sortable-column-icon .ui-icon-triangle-1-n {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}








/*******Nuove, dopo ins primefaces******/

#slideoutContact {
	font-size: 16px !important;
}
/* Custom styles for the SlideOut */  
.contact-panel {  
    border-color: #001d2f !important;  
    border-width: 5px !important;  
}  
.contact-handle {  
    padding: 8px !important;  
    font-size: 18px !important;  
    color: white !important;  
    background-color: #001d2f !important;  
}
span.contact-handle .ui-icon {
	width: 20px !important;
	height: 20px !important;
}

.ui-aladino_menu-button {
	min-width: 165px;
	max-width: 165px;
	min-height: 50px;
	max-height: 50px;
}
.ui-aladino_menu-button .ui-icon {
	font-size: 16px !important;
}
.ui-aladino_menu-icon {
    background-size: 16px auto;
    width: 16;
	height: 16px;
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
}
.ui-room_controll-icon {
    background-image: url('../resources/images/decoration/room_controll.png') !important;
}
.ui-access_management-icon {
	background-image: url('../resources/images/decoration/access_management.png') !important;
}
.ui-contracts_page-icon {
	background-image: url('../resources/images/decoration/services.png') !important;
}
.ui-report_page-icon{
	background-image: url('../resources/images/decoration/report.png') !important;
}
.ui-document_types-icon {
	background-image: url('../resources/images/decoration/doc_type.png') !important;
}
.ui-companies-icon {
	background-image: url('../resources/images/decoration/companies.png') !important;
}
.ui-employee-icon {
	background-image: url('../resources/images/decoration/employee.png') !important;
}
.ui-pdf-icon {
	background-image: url('../resources/images/export/pdf.png') !important;
	background-size: contain;
}


.ui-image_button_filter {
	background-size: 60px auto !important; 
	min-width: 60px;
	min-height: 60px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.ui-image_button_filter .ui-button-text{
	display:none;
}

.ui-aladino_menu-button .ui-button-text{
	/*font-size:80% !important;*/
	text-align: left;
	margin-left: 12px;
}

#dialogForm\:accordion_panel\:dati_prenotazione {
	
	background-color: lightgray !important;
	border: 1px solid gray !important;
}

div.detailsBookingDlg_class div.ui-dialog-content {
	padding: .2em .2em;
}



/************** Custom styles for the Timeline *************/  
    div.timeline-frame {  
        border-color: #5D99C3;  
        border-radius: 2px;  
    }  
 
    div.timeline-axis {  
        border-color: #5D99C3;  
        background-color: #5D99C3;  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0') alpha(opacity = 100);  
        background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0));  
        background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0);  
        -khtml-opacity: 1;  
        -moz-opacity: 1;  
        opacity: 1;  
    }  
 
    div.timeline-groups-axis {  
        border-color: #5D99C3;  
    }  
 
    div.timeline-groups-axis-onleft {  
        border-style: none solid none none;  
    }  
 
    div.timeline-axis-text {  
        color: white;  
    }  
 
    div.timeline-event {  
        color: white !important;  
        /*border-radius: 15px !important;*/
        border-radius: 0px 25px 25px 0px !important;
    }  
 
    div.timeline-event-content {  
        padding-left: 4px;
        margin: 4px;  
        text-shadow: none;
        line-height: 16px;
        border: none;  
    }  
    div.timeline-selectable div.timeline-event {
    	border-width: 1px;
    }
 
    div.booking {  
        background: #F03030 none !important;  /* red */  
        border-color: #000 !important;     /* red */  
    }  
 
    div.diretto {  
        background: #1AA11A none !important;  /* green */  
        border-color: #000 !important;     /* green */  
    }  
 
    div.expedia {  
        background: #FFA500 none !important;  /* orange */  
        border-color: #000 !important;     /* orange */  
    } 
    
    div.sito {  
        background: blue none !important;  /* blue */  
        border-color: #000 !important;     /* orange */  
    } 
    div.unvailable {  
        background: lightgray none !important;  /* grey */  
        border-color: #000 !important;     /* gray */  
    } 
    
 
    div.timeline-event-selected {  
        background: #BECEFE none !important;  
        border-color: #000 !important;  
    }  
    
    div.timeline-navigation-delete {
    	width: 18px;
		height: 18px;
		background-size: contain;
    }
    
    div.timeline-event.timeline-event-range {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	
	#form_timeline_reservations\:timeline div.timeline-groups-text {
		text-align: center;
		width: 100%;
		padding-left: 1px !important;
		padding-right: 1px !important;
	}
/***********************************************************/







#layout_internal_center, #layout_internal_center div.ui-layout-unit-content.ui-widget-content {
	background-color: #f4f4f4;
}
.content-fluid-grid .ui-panelgrid-content {
	background-color: transparent;
	border: none;
}


#form_edit\:masterCompanyAllegati5List_list_list, #form_edit\:masterCompanyEmployeeList_list_list {
	padding-left: 0px;
}


.button_classe {
	background-color: #333333 !important;
	color: #ddb321 !important;
}
button.button_classe > span.ui-icon {
    background-image: url("/MediasetStudios/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-anywall");
}

.ui-fieldset-legend {
	font-weight: bold !important;
}
.classWidth20Percent .ui-panelgrid-cell {
	width: 20%;
}
.classWidth33Percent .ui-panelgrid-cell {
	width: 33%;
}

.noBordersTable .ui-widget-content {
	/*border: none !important;*/
	border: 0px solid transparent !important;
}

div.ui-datalist-content ul {
	padding-left: 0;
} 
.contenutoCellaCentrato {
	text-align: center;
}
div.panelGridSenzaBordi div.ui-panelgrid-content {
    border: 0;
}



.company_locked_class {
	background-color: red !important;
}


/*************** Colori MediasetStudios ***********************************/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #666666;
    background: #333333;
    font-weight: normal;
    color: #ddb321;
}



span#form_employees\:stats div.jqplot-target div.jqplot-title {
	top: 85px !important;
	z-index: 1 !important;
	font-size: 200% !important;
}
span#form_employees\:stats div.jqplot-target canvas.jqplot-grid-canvas, span#form_employees\:stats div.jqplot-target canvas.jqplot-base-canvas{
	display: none;
}
span#form_employees\:stats div.jqplot-target canvas{
	top: 10px !important;
	left: 0 !important;
	width: 100% !important;
}

#form_sign\:save_sign_btn span.ui-button-icon-left.ui-icon.ui-c, #form_sign\:clear_sign_btn span.ui-button-icon-left.ui-icon.ui-c {
	height: 25px;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    text-align: left !important;
}


#form_main\:episodes.ui-datatable tbody td a::before, #form_main\:episodes.ui-datatable tbody td span::before, #form_employees\:episodes.ui-datatable tbody td a::before, #form_employees\:episodes.ui-datatable tbody td span::before {
    font-size: 26px !important;
}

.colBgWhite {
	background-color: #fff;
}
.colBgGray {
	background-color: lightgray;
}
.columnTop {
	vertical-align: top;
}